<tr>
    <th colspan="5">Notes for installing the packages below:<br>"pacman -U *pkg.tar.xz"</th>
</tr>

<tr>
    <th rowspan="3" id="Extra">Extra</th>
    <th rowspan="3" id="Extra.x86_64">x86_64</th>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/snapshots/binary/dvrescue/20200701-2/dvrescue-0.20.06.20200701-x86_64.Arch_Extra.pkg.tar.xz">v0.20.06.20200701</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr>
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/snapshots/binary/libmediainfo0/20200627/libmediainfo-20.03.20200627-x86_64.Arch_Extra.pkg.tar.xz">v20.03.20200627</a></td>
    <td>requires libzen</td>
</tr>
<tr>
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.38/libzen-0.4.38-x86_64.Arch_Extra.pkg.tar.xz">v0.4.38</a></td>
    <td>&nbsp;</td>
</tr>
