<tr>
    <th rowspan="3" id="8">8</th>
    <th rowspan="3" id="8.x86_64">x86_64</th>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/snapshots/binary/dvrescue/20200701-2/dvrescue-0.20.06.20200701.x86_64.CentOS_8.rpm">v0.20.06.20200701</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr>
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/snapshots/binary/libmediainfo0/20200627/libmediainfo-20.03.20200627.x86_64.CentOS_8.rpm">v20.03.20200627</a> <small>(<a href="//mediaarea.net/download/snapshots/binary/libmediainfo0/20200627/libmediainfo-devel-20.03.20200627.x86_64.CentOS_8.rpm">devel</a>, <a href="//mediaarea.net/download/snapshots/binary/libmediainfo0/20200627/libmediainfo-doc-20.03.20200627.x86_64.CentOS_8.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr>
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.38/libzen-0.4.38.x86_64.CentOS_8.rpm">v0.4.38</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.38/libzen-devel-0.4.38.x86_64.CentOS_8.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.38/libzen-doc-0.4.38.x86_64.CentOS_8.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="3" id="7">7</th>
    <th rowspan="3" id="7.x86_64">x86_64</th>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/snapshots/binary/dvrescue/20200701-2/dvrescue-0.20.06.20200701.x86_64.CentOS_7.rpm">v0.20.06.20200701</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr>
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/snapshots/binary/libmediainfo0/20200627/libmediainfo-20.03.20200627.x86_64.CentOS_7.rpm">v20.03.20200627</a> <small>(<a href="//mediaarea.net/download/snapshots/binary/libmediainfo0/20200627/libmediainfo-devel-20.03.20200627.x86_64.CentOS_7.rpm">devel</a>, <a href="//mediaarea.net/download/snapshots/binary/libmediainfo0/20200627/libmediainfo-doc-20.03.20200627.x86_64.CentOS_7.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr>
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.38/libzen-0.4.38.x86_64.CentOS_7.rpm">v0.4.38</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.38/libzen-devel-0.4.38.x86_64.CentOS_7.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.38/libzen-doc-0.4.38.x86_64.CentOS_7.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
