<tr>
    <th colspan="5">Notes for installing the packages below:<br>"sudo dpkg -i *deb"<br><br>If you get an error message, use:<br>"sudo apt-get -f install"</th>
</tr>
<tr>
    <th rowspan="3" id="10">10 (Buster)</th>
    <th rowspan="3" id="10.amd64">amd64</th>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/snapshots/binary/dvrescue/20191216/dvrescue_0.19.11.20191216-1_amd64.Debian_9.0.deb">v0.19.11.20191216</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/snapshots/binary/libmediainfo0/20191217/libmediainfo0v5_19.09.20191217-1_amd64.Debian_9.0.deb">v19.09.20191217</a> <small>(<a href="//mediaarea.net/download/snapshots/binary/libmediainfo0/20191217/libmediainfo-dev_19.09.20191217-1_amd64.Debian_9.0.deb">devel</a>, <a href="//mediaarea.net/download/snapshots/binary/libmediainfo0/20191217/libmediainfo-doc_19.09.20191217-1_amd64.Debian_9.0.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen0v5_0.4.37-1_amd64.Debian_9.0.deb">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-dev_0.4.37-1_amd64.Debian_9.0.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc_0.4.37-1_amd64.Debian_9.0.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="3" id="9">9 (Stretch)</th>
    <th rowspan="3" id="9.amd64">amd64</th>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/snapshots/binary/dvrescue/20191216/dvrescue_0.19.11.20191216-1_amd64.Debian_9.0.deb">v0.19.11.20191216</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/snapshots/binary/libmediainfo0/20191217/libmediainfo0v5_19.09.20191217-1_amd64.Debian_9.0.deb">v19.09.20191217</a> <small>(<a href="//mediaarea.net/download/snapshots/binary/libmediainfo0/20191217/libmediainfo-dev_19.09.20191217-1_amd64.Debian_9.0.deb">devel</a>, <a href="//mediaarea.net/download/snapshots/binary/libmediainfo0/20191217/libmediainfo-doc_19.09.20191217-1_amd64.Debian_9.0.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen0v5_0.4.37-1_amd64.Debian_9.0.deb">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-dev_0.4.37-1_amd64.Debian_9.0.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc_0.4.37-1_amd64.Debian_9.0.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
