<tr>
    <th colspan="5">Notes for installing the packages below:<br>"sudo dpkg -i *deb"<br><br>If you get an error message, use:<br>"sudo apt-get -f install"</th>
</tr>
<tr>
    <th rowspan="4" id="11">11 (Buster)</th>
    <th rowspan="4" id="11.amd64">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/dvrescue-gui/22.12/dvrescue-gui_22.12-1_amd64.Debian_11.deb">v22.12</a></td>
    <td></td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/dvrescue/22.12/dvrescue_22.12-1_amd64.Debian_11.deb">v22.12</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/22.09/libmediainfo0v5_22.09-1_amd64.Debian_11.deb">v22.09</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/22.09/libmediainfo-dev_22.09-1_amd64.Debian_11.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/22.09/libmediainfo-doc_22.09-1_amd64.Debian_11.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen0v5_0.4.39-1_amd64.Debian_11.deb">v0.4.39</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-dev_0.4.39-1_amd64.Debian_11.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-doc_0.4.39-1_amd64.Debian_11.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="4" id="10">10 (Buster)</th>
    <th rowspan="4" id="10.amd64">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/dvrescue-gui/22.12/dvrescue-gui_22.12-1_amd64.Debian_10.deb">v22.12</a></td>
    <td></td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/dvrescue/22.12/dvrescue_22.12-1_amd64.Debian_10.deb">v22.12</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/22.09/libmediainfo0v5_22.09-1_amd64.Debian_10.deb">v22.09</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/22.09/libmediainfo-dev_22.09-1_amd64.Debian_10.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/22.09/libmediainfo-doc_22.09-1_amd64.Debian_10.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen0v5_0.4.39-1_amd64.Debian_10.deb">v0.4.39</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-dev_0.4.39-1_amd64.Debian_10.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-doc_0.4.39-1_amd64.Debian_10.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="3" id="9">9 (Stretch)</th>
    <th rowspan="3" id="9.amd64">amd64</th>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/dvrescue/22.12/dvrescue_22.12-1_amd64.Debian_9.0.deb">v22.12</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/22.09/libmediainfo0v5_22.09-1_amd64.Debian_9.0.deb">v22.09</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/22.09/libmediainfo-dev_22.09-1_amd64.Debian_9.0.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/22.09/libmediainfo-doc_22.09-1_amd64.Debian_9.0.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen0v5_0.4.39-1_amd64.Debian_9.0.deb">v0.4.39</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-dev_0.4.39-1_amd64.Debian_9.0.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-doc_0.4.39-1_amd64.Debian_9.0.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
