<tr>
    <th colspan="5">Notes for installing the packages below:<br>"sudo dpkg -i *deb"<br><br>If you get an error message, use:<br>"sudo apt-get -f install"</th>
</tr>
<tr>
    <th rowspan="4" id="11">11 (Buster)</th>
    <th rowspan="4" id="11.amd64">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/snapshots/binary/dvrescue-gui/20211121/dvrescue-gui_0.21.11.20211121-1_amd64.Debian_11.deb">v0.21.11</a></td>
    <td></td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/snapshots/binary/dvrescue/20211121/dvrescue_0.21.11.20211121-1_amd64.Debian_11.deb">v0.21.11</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/snapshots/binary/libmediainfo0/20211119/libmediainfo0v5_21.09.20211119-1_amd64.Debian_11.deb">v21.09.20211119</a> <small>(<a href="//mediaarea.net/download/snapshots/binary/libmediainfo0/20211119/libmediainfo-dev_21.09.20211119-1_amd64.Debian_11.deb">devel</a>, <a href="//mediaarea.net/download/snapshots/binary/libmediainfo0/20211119/libmediainfo-doc_21.09.20211119-1_amd64.Debian_11.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen0v5_0.4.39-1_amd64.Debian_11.deb">v0.4.39</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-dev_0.4.39-1_amd64.Debian_11.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-doc_0.4.39-1_amd64.Debian_11.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="4" id="10">10 (Buster)</th>
    <th rowspan="4" id="10.amd64">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/snapshots/binary/dvrescue-gui/20211121-2/dvrescue-gui_0.21.11.20211121-1_amd64.Debian_10.deb">v0.21.11</a></td>
    <td></td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/snapshots/binary/dvrescue/20211121-2/dvrescue_0.21.11.20211121-1_amd64.Debian_10.deb">v0.21.11</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/snapshots/binary/libmediainfo0/20211119/libmediainfo0v5_21.09.20211119-1_amd64.Debian_10.deb">v21.09.20211119</a> <small>(<a href="//mediaarea.net/download/snapshots/binary/libmediainfo0/20211119/libmediainfo-dev_21.09.20211119-1_amd64.Debian_10.deb">devel</a>, <a href="//mediaarea.net/download/snapshots/binary/libmediainfo0/20211119/libmediainfo-doc_21.09.20211119-1_amd64.Debian_10.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen0v5_0.4.39-1_amd64.Debian_10.deb">v0.4.39</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-dev_0.4.39-1_amd64.Debian_10.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-doc_0.4.39-1_amd64.Debian_10.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="3" id="9">9 (Stretch)</th>
    <th rowspan="3" id="9.amd64">amd64</th>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/snapshots/binary/dvrescue/20201120/dvrescue_0.20.11.20201120-1_amd64.Debian_9.0.deb">v0.20.11.20201120</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/snapshots/binary/libmediainfo0/20201121/libmediainfo0v5_20.09.20201121-1_amd64.Debian_9.0.deb">v20.09.20201121</a> <small>(<a href="//mediaarea.net/download/snapshots/binary/libmediainfo0/20201121/libmediainfo-dev_20.09.20201121-1_amd64.Debian_9.0.deb">devel</a>, <a href="//mediaarea.net/download/snapshots/binary/libmediainfo0/20201121/libmediainfo-doc_20.09.20201121-1_amd64.Debian_9.0.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.38/libzen0v5_0.4.38-1_amd64.Debian_9.0.deb">v0.4.38</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.38/libzen-dev_0.4.38-1_amd64.Debian_9.0.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.38/libzen-doc_0.4.38-1_amd64.Debian_9.0.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
