<tr>
    <th colspan="5">Notes for installing the packages below:<br>"sudo dpkg -i *deb"<br><br>If you get an error message, use:<br>"sudo apt-get -f install"</th>
</tr>
<tr>
    <th rowspan="3" id="10">10 (Buster)</th>
    <th rowspan="3" id="10.amd64">amd64</th>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/snapshots/binary/dvrescue/20200529-2/dvrescue_0.20.05.20200529-1_amd64.Debian_10.deb">v0.20.05.20200529</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/snapshots/binary/libmediainfo0/20200523/libmediainfo0v5_20.03.20200523-1_amd64.Debian_10.deb">v20.03.20200523</a> <small>(<a href="//mediaarea.net/download/snapshots/binary/libmediainfo0/20200523/libmediainfo-dev_20.03.20200523-1_amd64.Debian_10.deb">devel</a>, <a href="//mediaarea.net/download/snapshots/binary/libmediainfo0/20200523/libmediainfo-doc_20.03.20200523-1_amd64.Debian_10.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.38/libzen0v5_0.4.38-1_amd64.Debian_10.deb">v0.4.38</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.38/libzen-dev_0.4.38-1_amd64.Debian_10.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.38/libzen-doc_0.4.38-1_amd64.Debian_10.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="3" id="9">9 (Stretch)</th>
    <th rowspan="3" id="9.amd64">amd64</th>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/snapshots/binary/dvrescue/20200529-2/dvrescue_0.20.05.20200529-1_amd64.Debian_9.0.deb">v0.20.05.20200529</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/snapshots/binary/libmediainfo0/20200523/libmediainfo0v5_20.03.20200523-1_amd64.Debian_9.0.deb">v20.03.20200523</a> <small>(<a href="//mediaarea.net/download/snapshots/binary/libmediainfo0/20200523/libmediainfo-dev_20.03.20200523-1_amd64.Debian_9.0.deb">devel</a>, <a href="//mediaarea.net/download/snapshots/binary/libmediainfo0/20200523/libmediainfo-doc_20.03.20200523-1_amd64.Debian_9.0.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.38/libzen0v5_0.4.38-1_amd64.Debian_9.0.deb">v0.4.38</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.38/libzen-dev_0.4.38-1_amd64.Debian_9.0.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.38/libzen-doc_0.4.38-1_amd64.Debian_9.0.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
