<tr>
    <th rowspan="4" id="35">35/th>
    <th rowspan="4" id="35.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/snapshots/binary/dvrescue-gui/20211121/dvrescue-gui-0.21.11.20211121.x86_64.Fedora_35.rpm">v0.21.11</a></td>
    <td></td>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/snapshots/binary/dvrescue/20211121/dvrescue-0.21.11.20211121.x86_64.Fedora_35.rpm">v0.21.11</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr>
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/snapshots/binary/libmediainfo0/20211119/libmediainfo-21.09.20211119.x86_64.Fedora_35.rpm">v21.09.20211119</a> <small>(<a href="//mediaarea.net/download/snapshots/binary/libmediainfo0/20211119/libmediainfo-devel-21.09.20211119.x86_64.Fedora_35.rpm">devel</a>, <a href="//mediaarea.net/download/snapshots/binary/libmediainfo0/20211119/libmediainfo-doc-21.09.20211119.x86_64.Fedora_35.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr>
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-0.4.39.x86_64.Fedora_35.rpm">v0.4.39</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-devel-0.4.39.x86_64.Fedora_35.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-doc-0.4.39.x86_64.Fedora_35.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="4" id="34">34/th>
    <th rowspan="4" id="34.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/snapshots/binary/dvrescue-gui/20211121/dvrescue-gui-0.21.11.20211121.x86_64.Fedora_34.rpm">v0.21.11</a></td>
    <td></td>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/snapshots/binary/dvrescue/20211121/dvrescue-0.21.11.20211121.x86_64.Fedora_34.rpm">v0.21.11</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr>
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/snapshots/binary/libmediainfo0/20211119/libmediainfo-21.09.20211119.x86_64.Fedora_34.rpm">v21.09.20211119</a> <small>(<a href="//mediaarea.net/download/snapshots/binary/libmediainfo0/20211119/libmediainfo-devel-21.09.20211119.x86_64.Fedora_34.rpm">devel</a>, <a href="//mediaarea.net/download/snapshots/binary/libmediainfo0/20211119/libmediainfo-doc-21.09.20211119.x86_64.Fedora_34.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr>
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-0.4.39.x86_64.Fedora_34.rpm">v0.4.39</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-devel-0.4.39.x86_64.Fedora_34.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-doc-0.4.39.x86_64.Fedora_34.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="4" id="33">33/th>
    <th rowspan="4" id="33.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/snapshots/binary/dvrescue-gui/20211121/dvrescue-gui-0.21.11.20211121.x86_64.Fedora_33.rpm">v0.21.11</a></td>
    <td></td>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/snapshots/binary/dvrescue/20211121/dvrescue-0.21.11.20211121.x86_64.Fedora_33.rpm">v0.21.11</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr>
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/snapshots/binary/libmediainfo0/20211119/libmediainfo-21.09.20211119.x86_64.Fedora_33.rpm">v21.09.20211119</a> <small>(<a href="//mediaarea.net/download/snapshots/binary/libmediainfo0/20211119/libmediainfo-devel-21.09.20211119.x86_64.Fedora_33.rpm">devel</a>, <a href="//mediaarea.net/download/snapshots/binary/libmediainfo0/20211119/libmediainfo-doc-21.09.20211119.x86_64.Fedora_33.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr>
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-0.4.39.x86_64.Fedora_33.rpm">v0.4.39</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-devel-0.4.39.x86_64.Fedora_33.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-doc-0.4.39.x86_64.Fedora_33.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
