<tr>
    <th rowspan="3" id="31">31</th>
    <th rowspan="3" id="31.x86_64">x86_64</th>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/snapshots/binary/dvrescue/20191216/dvrescue-0.19.11.20191216.x86_64.Fedora_30.rpm">v0.19.11.20191216</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr>
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/snapshots/binary/libmediainfo0/20191217/libmediainfo-19.09.20191217.x86_64.Fedora_30.rpm">v19.09.20191217</a> <small>(<a href="//mediaarea.net/download/snapshots/binary/libmediainfo0/20191217/libmediainfo-devel-19.09.20191217.x86_64.Fedora_30.rpm">devel</a>, <a href="//mediaarea.net/download/snapshots/binary/libmediainfo0/20191217/libmediainfo-doc-19.09.20191217.x86_64.Fedora_30.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr>
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-0.4.37.x86_64.Fedora_30.rpm">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-devel-0.4.37.x86_64.Fedora_30.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc-0.4.37.x86_64.Fedora_30.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="3" id="30">30</th>
    <th rowspan="3" id="30.x86_64">x86_64</th>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/snapshots/binary/dvrescue/20191216/dvrescue-0.19.11.20191216.x86_64.Fedora_30.rpm">v0.19.11.20191216</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr>
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/snapshots/binary/libmediainfo0/20191217/libmediainfo-19.09.20191217.x86_64.Fedora_30.rpm">v19.09.20191217</a> <small>(<a href="//mediaarea.net/download/snapshots/binary/libmediainfo0/20191217/libmediainfo-devel-19.09.20191217.x86_64.Fedora_30.rpm">devel</a>, <a href="//mediaarea.net/download/snapshots/binary/libmediainfo0/20191217/libmediainfo-doc-19.09.20191217.x86_64.Fedora_30.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr>
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-0.4.37.x86_64.Fedora_30.rpm">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-devel-0.4.37.x86_64.Fedora_30.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc-0.4.37.x86_64.Fedora_30.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
