<tr>
    <th rowspan="2" colspan="2">All in one package<br> for an easy and quick compilation<br> on Linux without install</th>
    <td class="table-OS" colspan="3" id="AllInOne">Source code, all in one package</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/dvrescue/0.20.05/dvrescue_CLI_0.20.05_GNU_FromSource.tar.xz">v0.20.05</a> (<a href="//mediaarea.net/download/binary/dvrescue/0.20.05/dvrescue_CLI_0.20.05_GNU_FromSource.tar.bz2">bz2</a> / <a href="//mediaarea.net/download/binary/dvrescue/0.20.05/dvrescue_CLI_0.20.05_GNU_FromSource.tar.gz">gz</a>)</td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="4" colspan="2">Split sources with .spec,<br>.desc and debian dir<br> for Linux package creation</th>
    <td class="table-OS" colspan="3" id="Split">Source code, split packages</td>
</tr>
<tr>
    <th><abbr title="Graphical User Interface">GUI</abbr>/<abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/source/dvrescue/0.20.05/dvrescue_0.20.05.tar.xz">v0.20.05</a> (<a href="//mediaarea.net/download/source/dvrescue/0.20.05/dvrescue_0.20.05.tar.bz2">bz2</a> / <a href="//mediaarea.net/download/source/dvrescue/0.20.05/dvrescue_0.20.05.tar.gz">gz</a>)</td>
    <td>requires libmediainfo</td>
</tr>
<tr>
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/snapshots/source/libmediainfo/20200523/libmediainfo_20.03.20200523.tar.xz">v20.03.20200523</a> (<a href="//mediaarea.net/download/snapshots/source/libmediainfo/20200523/libmediainfo_20.03.20200523.tar.bz2">bz2</a> / <a href="//mediaarea.net/download/snapshots/source/libmediainfo/20200523/libmediainfo_20.03.20200523.tar.gz">gz</a>)</td>
    <td>requires libzen</td>
</tr>
<tr>
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/source/libzen/0.4.38/libzen_0.4.38.tar.bz2">v0.4.38</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="2" colspan="2">Sources with all<br>third-party libs included,<br>(for quick compilation<br>with Microsoft Visual C++)</th>
    <td class="table-OS" colspan="3" id="Split">Source code, All included</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/source/dvrescue/0.20.05/dvrescue_0.20.05_AllInclusive.7z">v0.20.05</a></td>
    <td>&nbsp;</td>
</tr>
