<tr>
    <th colspan="5">Notes for installing the packages below:<br>"sudo dpkg -i *deb"<br><br>If you get an error message, use:<br>"sudo apt-get -f install"</th>
</tr>
<tr>
    <th rowspan="3" id="20.04">Ubuntu 20.04 (Focal Fossa)</th>
    <th rowspan="3" id="20.04.amd64">amd64</th>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/snapshots/binary/dvrescue/20200701-2/dvrescue_0.20.06.20200701-1_amd64.xUbuntu_20.04.deb">v0.20.06.20200701</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/snapshots/binary/libmediainfo0/20200627/libmediainfo0v5_20.03.20200627-1_amd64.xUbuntu_20.04.deb">v20.03.20200627</a> <small>(<a href="//mediaarea.net/download/snapshots/binary/libmediainfo0/20200627/libmediainfo-dev_20.03.20200627-1_amd64.xUbuntu_20.04.deb">devel</a>, <a href="//mediaarea.net/download/snapshots/binary/libmediainfo0/20200627/libmediainfo-doc_20.03.20200627-1_amd64.xUbuntu_20.04.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.38/libzen0v5_0.4.38-1_amd64.xUbuntu_20.04.deb">v0.4.38</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.38/libzen-dev_0.4.38-1_amd64.xUbuntu_20.04.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.38/libzen-doc_0.4.38-1_amd64.xUbuntu_20.04.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="3" id="18.04">Ubuntu 18.04 (Bionic Beaver)</th>
    <th rowspan="3" id="18.04.amd64">amd64</th>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/snapshots/binary/dvrescue/20200701-2/dvrescue_0.20.06.20200701-1_amd64.xUbuntu_18.04.deb">v0.20.06.20200701</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/snapshots/binary/libmediainfo0/20200627/libmediainfo0v5_20.03.20200627-1_amd64.xUbuntu_18.04.deb">v20.03.20200627</a> <small>(<a href="//mediaarea.net/download/snapshots/binary/libmediainfo0/20200627/libmediainfo-dev_20.03.20200627-1_amd64.xUbuntu_18.04.deb">devel</a>, <a href="//mediaarea.net/download/snapshots/binary/libmediainfo0/20200627/libmediainfo-doc_20.03.20200627-1_amd64.xUbuntu_18.04.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.38/libzen0v5_0.4.38-1_amd64.xUbuntu_18.04.deb">v0.4.38</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.38/libzen-dev_0.4.38-1_amd64.xUbuntu_18.04.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.38/libzen-doc_0.4.38-1_amd64.xUbuntu_18.04.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
