<tr>
    <th rowspan="2">Vista, 7, 8, 10, 11</th>
    <th rowspan="2">64 bit</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/dvrescue-gui/24.04/dvrescue_GUI_24.04_Windows.exe">v24.04</a> <small>(<a href="//mediaarea.net/download/binary/dvrescue-gui/24.04/dvrescue_GUI_24.04_Windows_x64.zip"> without installer</a>)</small></td>
    <td></td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/dvrescue/24.04/dvrescue_CLI_24.04_Windows_x64.zip">v24.04</a></td>
    <td></td>
</tr>
