<tr>
    <th rowspan="2">Vista, 7, 8, 10, 11</th>
    <th rowspan="2">64 bit</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/dvrescue-gui/0.22.10/dvrescue_GUI_0.22.10_Windows.exe">v0.22.10</a> <small>(<a href="//mediaarea.net/download/binary/dvrescue-gui/0.22.10/dvrescue_GUI_0.22.10_Windows_x64.zip"> without installer</a>)</small></td>
    <td></td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/dvrescue/0.22.10/dvrescue_CLI_0.22.10_Windows_x64.zip">v0.22.10</a></td>
    <td></td>
</tr>
