<tr>
    <th>Vista, 7, 8, 10</th>
    <th>64 bit</th>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/dvrescue/0.20.06/dvrescue_CLI_0.20.06_Windows_x64.zip">v0.20.06</a></td>
    <td></td>
</tr>
