<tr>
    <th rowspan="2">Vista, 7, 8, 10, 11</th>
    <th rowspan="2">64 bit</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/dvrescue-gui/22.12/dvrescue_GUI_22.12_Windows.exe">v22.12</a> <small>(<a href="//mediaarea.net/download/binary/dvrescue-gui/22.12/dvrescue_GUI_22.12_Windows_x64.zip"> without installer</a>)</small></td>
    <td></td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/dvrescue/22.12/dvrescue_CLI_22.12_Windows_x64.zip">v22.12</a></td>
    <td></td>
</tr>
