{% extends 'QCToolsBundle::base.html.twig' %}

{% block title %}QCTools - Recording Feature{% endblock %}

{% block body %}
<h1 id="qctools-recording-feature">QCTools Recording Feature</h1>

<p>QCTools now includes an experimental recording feature funded by the <a href="http://www.knightfoundation.org/grants/201449123/">Knight Foundation Prototype Fund</a>. The recording features utilize <a href="https://www.blackmagicdesign.com/support">Blackmagic’s SDK</a> to read audiovisual data from compatible Blackmagic capture hardware and record to a QuickTime file via FFmpeg. Currently the feature is experimental and provided for testing purposes only.</p>

<p>When QCTools is opened on a computer that has a supporting decklink device attachment a new Recording icon and toolbar menu will appear within the QCTools interface.</p>
<img src="/_/img/QCTools/record_in_toolbar.jpg" alt="Recording Button" />
<p>Clicking the icon will open a layout designed to set up recording instructions and the specifications of the resulting file.</p>
<img src="/_/img/QCTools/record_config.jpg" alt="Recording Configuration" />
<p>Options include starting and ending time of the recording as well as video bit depth, audio bit depth, audio channel count, video codec and audio codec.</p>

<p>The starting point (in time) of the recording may be provided in two ways:</p>

<ul>
  <li>From now</li>
  <li>Timecode</li>
</ul>

<p>Specifying the starting point of the recording via timecode is only enabled if an RS-422 connection and a timecode can be detected.
The ending point (out time) of the recording may be set in one of four ways:</p>

<ul>
  <li>Frame count</li>
  <li>Duration (time code)</li>
  <li>Duration (time stamp)</li>
  <li>Timecode from deck</li>
</ul>

<p>Where a time code is an expression of time in hours, minutes, seconds, and frames, a time stamp is an expression of time in hours, minutes, seconds, and milliseconds. To capture twelve and a half seconds either set ‘Duration (time stamp)’ to 00 00 12 500 or if the frame rate is NTSC set ‘Duration (time code)’ to 00 00 12 15.</p>

<p>Clicking ‘OK’ in this dialog will start the recording and initiate an analysis of the audiovisual frames.</p>

<p>Please feel free to use the <a href="https://github.com/bavc/qctools/issues/">QCTools issue tracker</a> to document recording issues while noticing the hardware involved, recording settings, and expected outcome.</p>
{% endblock %}
