{% extends 'DVRescueBundle::base.html.twig' %}

{% block title %}DVRescue(1){% endblock %}

{% block body %}


<table style="width: 100%;">
  <tbody><tr>
    <td style="text-align: left;">DVRescue(1)</td>
    <td style="text-align: center;">DV Rescue</td>
    <td style="text-align: right;">DVRescue(1)</td>
  </tr>
</tbody></table>
<div class="manual-text">
<h1 class="Sh" title="Sh" id="NAME"><a class="selflink" href="#NAME">NAME</a></h1>
<b>DVRescue</b> - Archivist-made software that supports data migration from DV tapes into digital
  files suitable for long-term preservation.
<h1 class="Sh" title="Sh" id="SYNOPSIS"><a class="selflink" href="#SYNOPSIS">SYNOPSIS</a></h1>
<b>dvrescue </b>[<i>option</i> ...] <i>file</i> ... [<i>option</i> ...]
<h1 class="Sh" title="Sh" id="OPTIONS"><a class="selflink" href="#OPTIONS">OPTIONS</a></h1>
<h2 class="Ss" title="Ss" id="GENERAL_OPTIONS"><a class="selflink" href="#GENERAL_OPTIONS">GENERAL
  OPTIONS</a></h2>
<dl class="Bl-tag">
  <dt class="It-tag"><b>--help |<b> -h</b></b></dt>
  <dd class="It-tag">Displays a help message.</dd>
</dl>
<dl class="Bl-tag">
  <dt class="It-tag"><b>--version</b></dt>
  <dd class="It-tag">Displays the installed version.</dd>
</dl>
<h1 class="Sh" title="Sh" id="COPYRIGHT"><a class="selflink" href="#COPYRIGHT">COPYRIGHT</a></h1>
Copyright (c) 2019-{{ "now"|date('Y') }} MIPoPS
<h1 class="Sh" title="Sh" id="LICENSE"><a class="selflink" href="#LICENSE">LICENSE</a></h1>
<b>DVRescue</b> is released under BSD 3-Clause License.
<h1 class="Sh" title="Sh" id="DISCLAIMER"><a class="selflink" href="#DISCLAIMER">DISCLAIMER</a></h1>
<b>DVRescue</b> is provided &quot;as is&quot; without warranty or support of
  any kind.</div>
<div>
<br>
<table style="width: 100%;">
  <tbody><tr>
    <td style="text-align: left;">24.01</td>
    <td style="text-align: center;">https://MediaArea.net/DVRescue</td>
    <td style="text-align: right;">DVRescue(1)</td>
  </tr>
</tbody></table>
</div>

{% endblock %}
