{% extends 'AppBundle::base.html.twig' %}

{% block title %}Contact MediaArea{% endblock %}
{% block description %}Contact MediaArea{% endblock %}
{% block keywords %}Contact MediaArea{% endblock %}

{% block body %}
<h1>Contact us</h1>

<h2>Contact us by email</h2>
You can <a href="mailto:info@mediaarea.net">send us an email</a> directly.

<h2>Leave us a message</h2>
<p>You can fill this form to send us a message.</p>
{{ form_start(form, {'attr': {'class': 'recaptcha-form'}}) }}
<div class="col-sm-10 col-sm-offset-2">
    {{ form_widget(form.recaptcha) }}
</div>
{{ form_widget(form) }}
<div class="clearfix"></div>
<div>
    <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <button type="submit" class="btn-default btn" id="btn-contact-send">Send message</button>
        </div>
    </div>
</div>
{{ form_end(form) }}

<hr>

<h2>Send us a mail</h2>
<p>You can also send us a message by post.</p>
<p>
    SysnDev<br>
    16 Rue Elise Deroche<br>
    34570 Pignan<br>
    France
</p>
{% endblock %}
