<div id="ad_{{ adSlotId }}"></div>
<script>
  window.tude = window.tude || { cmd: [] };
  tude.cmd.push(function() {
    tude.refreshAdsViaDivMappings([
      {
        divId: 'ad_{{ adSlotId }}',
        baseDivId: '{{ adSlotId }}',
      }
    ]);
  });
</script>