<div>
    <ins class="adsbygoogle"
         style="display:block;"
         data-ad-client="ca-pub-8386011224798635"
         data-ad-slot="{{ adSlotId }}"
         data-ad-format="horizontal"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
