<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}MediaInfo{% endblock %}</title>
        <meta name="Author" content="MediaArea" />
        <meta name="description" lang="en" content="{% block description %}MediaInfo{% endblock %}">
        <meta name="keywords" lang="en" content="{% block keywords %}MediaInfo{% endblock %}">
        <link rel="alternate" type="application/rss+xml" title="MediaInfo new releases feed" href="/rss/mediainfo_updates.xml" />
        <style>
            pre {
                display: block;
                padding: 9.5px;
                margin: 0 0 10px;
                font-size: 13px;
                line-height: 1.42857143;
                color: #333;
                word-break: break-all;
                word-wrap: break-word;
                background-color: #f5f5f5;
                border: 1px solid #ccc;
                border-radius: 4px;
                font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
                overflow: auto;
            }
        </style>
        {% image '@AppBundle/Resources/public/img/favicon.ico' %}
        <link rel="icon" type="image/x-icon" href="{{ asset_url }}" />
        {% endimage %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
