<table>
     <tr>
        <td class="address">
            <div>
            {% include 'AppBundle:MediaInfoDefault:Paypal/donate.html.twig' with {
                'country': 'DE',
                'languageCountry': 'de_DE',
                'currency': 'EUR',
                'currencyBefore': '',
                'currencyAfter': 'Euros',
                'currencyBase': 1,
                'currencyDonateDefault': 5,
                'currencySubscribeDefault': 1,
                } only %}
            </div>
        </td>
    </tr>
</table>
