{% extends 'MediaInfoBundle::base.html.twig' %}

{% block title %}MediaInfo - Bundled with a software distribution network{% endblock %}
{% block description %}{% trans %}about.page.description{% endtrans %}{% endblock %}
{% block keywords %}{% trans %}about.page.keywords{% endtrans %}{% endblock %}

{% block body %}
<h2>MediaArea products with 3rd party sponsored offers during the installation</h2>
Sometimes (returning visitor), MediaArea uses installCore advertising module from IronSource in its sponsored installation package. By using this version of the installer you support MediaArea products development. Thanks you!<br />
The software distributor displays advertisements during the <strong>installation</strong> of our software.<br />
These ads enable the end user to install the advertisers' programs if they want to. When you choose to install an advertised package, the generated revenue is shared between the distributor and MediaArea.<br/>
There is absolutely no post-installation advertising with MediaArea products. Nor is there any "call home" (except if you want to be informed of new releases - you can uncheck the corresponding checkbox in the preference screen, at any time, if you don't want to be informed of new versions).<br/>

<h2>Why did you partner with them?</h2>
In order to generate a little bit of revenue to help continue developing, offering, and supporting our software to our users - you.

<h2>Where can I learn more about the software distribution network?</h2>
Software distribution network website is located at <a href="//www.installcore.com">http://www.installcore.com</a>.<br/>
Their privacy policy is available at <a href="//www.installcore.com/legal/privacy/">http://www.installcore.com/legal/privacy/</a>.<br/>

<h2>Is it adware?</h2>
Some may consider this distribution "bundling" as adware. On the other hand, the distributor does not show the usual nasty negative traits of adware:
<ul>
    <li>Ads are shown only as one step in the MediaArea product installation. Once installed, no more ads! Really.</li>
    <li>No unwanted software is installed - sponsored offer is explicitely indicated as such. Totally your choice!</li>
    <li>No private information is gathered from you except for basic data polling such as language, OS and geographic location for advertisement selection during installation.</li>
</ul>
For details see the <a href="//www.installcore.com/legal/privacy/">software distribution network privacy policy</a>.

<h2>What if I have another ad or if I have an adware/spyware after installation?</h2>
There are great chances you don't have an installer published by us, trash this installer and use our installer. Verify the publisher name is "MediaArea.net":<br/>
{% image '@MediaInfoBundle/Resources/public/img/Bundled/MediaInfo_UAC.png' %}
<img class="center-img" src="{{ asset_url }}" width="460" height="259" alt="Bundled">
{% endimage %}

<h2>What if I still don't want to be pestered by these ads?</h2>
If you still don't want the software distribution network stuff, you can:
<ul>
    <li><a href="{{ path('mi_donate') }}">Donate</a>. With $1/1€ (is it so expensive? Really?), you will have an installer without the software distribution network and no ads on the website.</li>
    <li>Use the package without the installer in the download section (<a href="{{ path('mi_download_windows') }}">MediaInfo download section for Windows</a>)</li>
</ul>

<h2>What if I have questions?</h2>
If you have any questions, please feel free to contact the <a href="mailto:info@mediaarea.net">MediaArea team</a>.
{% endblock %}
