{% extends 'MediaInfoBundle::base.html.twig' %}

{% block title %}MediaInfo - Bundled with a software distribution network{% endblock %}
{% block description %}{% trans %}about.page.description{% endtrans %}{% endblock %}
{% block keywords %}{% trans %}about.page.keywords{% endtrans %}{% endblock %}

{% block body %}
<h2>MediaInfo may be bundled with 3rd party sponsored offers</h2>
In order to support MediaInfo development, MediaInfo may provide ads during installation and/or usage.
These ads may allow end users to install advertisers' programs or redirect them to the advertisers' websites. If you choose to install an advertised package or click on an ad, the generated revenue is shared between the distributor (if applicable) and MediaArea, the company that develops MediaInfo.

<h2>Why do you do that?</h2>
In order to generate a little bit of revenue to help continue developing, offering, and supporting our software for our users - you.

<h2>Is it adware?</h2>
Some people might consider this type of software distribution to be adware. However, the distributor does not exhibit the typical negative characteristics associated with adware:
<ul>
    <li>No unwanted software is installed and the sponsored offer is explicitly indicated as such. It's totally your choice!</li>
    <li>No private information is gathered from you except for basic data such as language, operating system and geographic location, which are used for selecting advertisements during installation and/or usage.</li>
</ul>
Additionally, we aim to strike a balance between not annoying users and generating revenue.

<h2>What if I have aggressive agressive ads?</h2>
There's a good chance that you don't have an installer published by us, delete this installer and use ours instead. Make sure the publisher name is "MediaArea.net":<br/>
{% image '@MediaInfoBundle/Resources/public/img/Bundled/MediaInfo_UAC.png' %}
<img class="center-img" src="{{ asset_url }}" width="460" height="259" alt="Bundled">
{% endimage %}<br/>

<h2>But isn't it open-source software?</h2>
It has been open-source software since day one and still is today, as you can see in the <a href="https://mediaarea.net/en/MediaInfo/License">license</a>.<br/>
<a href="https://en.wikipedia.org/wiki/Open_source">Open-source</a> doesn't prohibit ads.<br/>

<h2>This is always displayed!</h2>
For the largest ads, there is an "X" on the top right of the ad in the MediaInfo interface that you can click to close it (it won't reappear quickly).<br/>

<h2>This is an anti-feature!</h2>
It depends on your point of view. Empty software or software with fewer features may be considered less good than software with an ad.

<h2>What if I still don't want to be bothered by these ads?</h2>
If you still don't want the software distribution network stuff, you can <a href="{{ path('mi_donate') }}">donate</a>. For $1/1€ (is that so expensive? Really?), you will have an installer without the software distribution network and no ads on the website.<br/>

<h2>What if I have questions?</h2>
feel free to <a href="{{ path('ma_contact') }}">contact the team</a> with any questions.
{% endblock %}
