{% extends 'AppBundle::noLayout.html.twig' %}

{% block title %}{% trans %}about.page.title{% endtrans %}{% endblock %}
{% block description %}{% trans %}about.page.description{% endtrans %}{% endblock %}
{% block keywords %}{% trans %}about.page.keywords{% endtrans %}{% endblock %}

{% block body %}
<div>
    <pre>
MediaInfo change log:

Version 24.03, 2024-03-28
-------------
+ French, Italian, Russian and Ukrainian translations update
+ ADM: ADM v3, including profile element, support
+ ADM: conformance checks on AdvSS Emission profile
+ Dolby E: display more AC-3 metadata items
+ MOV/MP4: parsing of rtmd (real time metadata) tracks
+ PNG: packing kind (linear or indexed)
x WAV: support of 4+ GiB axml (useful for huge ADM content)
x MPEG-H: fix uninitialized values leading to random behavior
x PDF: fix crash with corrupted files
x MOV/MP4: fix bit depth info for some PCM tracks with pcmC box

Version 24.01, 2024-01-31
-------------
+ ADM: Dolby Atmos Master ADM Profile conformance checker (technology preview)
+ Dolby Vision: support of version 3, with compression info, and profile 20
+ Dolby Vision: explicit display of profile
+ HEVC: support of multiview profile signaled in VPS extension
+ MP4: parsing of vexu (Video Extended Usage) box
+ ICC: support of CCIP in ICC in JPEG, PNG, TIFF, MP4, raw files
+ MPEG-TS: detection of VVC and EVC
+ AVC: count of slices
+ PNG: support of color description chunks (CCIP CLLI MDCV)
+ GXF: support of AVC and VC-3
+ TrueHD: display of Dolby Surround EX & Dolby Pro Logic IIz
x Matroska: better fallback in case of buggy timecode
x I1940, MOV/MP4: fix slowness with some unrecognized metadata atoms
x HDR10/HDR10+: fix HDR10 info even if some characteristics are not met

Version 23.11, 2023-11-30
-------------
+ XMP: support of a couple of additional metadata
+ PNG: pixel aspect ratio, gamma, active bit depth
+ PNG: support of textual metadata
+ Detection of active width/height/DAR (based on FFmpeg), Windows only
+ Matroska: show ST-12 timecode of first frame
+ ADM: rounding of FFoA to 0 decimal and Start/End time codes to 2 decimals
+ WAV: support of big (1+ GB) axml chunks
+ ADM: support of big (1+ GB) files on 32-bit systems
x I1876, BWF: fix missing precision in TimeReference export
x I1607, MPEG-TS/PS: Less Inform() with Open(memory) than Open(file)
x MP4/MOV: show right time code of last frame with complex time code tracks
x Duration: timecode output should not use drop frame for 23.976fps
x AVC+HEVC: fix handling of DF timestamps
x SF1188, ID3v2: fix wrong handling of chunks having padding
x I1887, TS DVB: fix wrong handling of UTF-8 strings in service name
x I1892, Matroska: fix date readout if before the millennium

Version 23.10, 2023-10-04
-------------
+ Italian language update
+ Languages: add 'fil' (Filipino)
+ Support of MPEG-H in MPEG-TS
+ MOV/MP4: caption probing time expanded from ~15s to ~30s
+ MPEG-7 and DVD-Video: provide title duration based on frame rate
+ WAV: better display of buggy WAV files have 2 fmt/data chunks
x MOV/MP4: fix lack of detection of CEA-608/708 if junk at end of stream
x DVD-Video: fix duration if more than 1 menu

Version 23.09, 2023-09-14
-------------
+ DTS-UHD support (contribution from Xperi)
+ MPEG-7 output update, supporting collections for DVD Video
+ ISO 9660: more metadata
+ AVC: read out of time code
x DVD Video: better support of ISO having several episodes
x MPEG Video: fix duration not including last field duration (interlaced content only)
x I754, AVC&HEVC: fix risk of crash with some streams

Version 23.07, 2023-07-12
-------------
+ USAC conformance checker: update DRC presence check
+ USAC conformance checker: sbgp presence check
+ USAC conformance checker: difference between extra zero bytes and other extra bytes
+ ISO 9660: support of DVD video, with option for listing all contents
+ MPEG-7: support of collections (beta)
+ More Blackmagic RAW meta kinds
+ DTS-HD: DTSHDHDR header support (used for raw DTS-HD files)
x ADIF: fix wrong detection of lot of files as ADIF (Android and MediaInfoOnline)
x USAC conformance checker: fix arith context handling in some corner cases
x ADM: some tweaks about FFoA/Start/End time codes
x Remove curl default ca info message in stdout

Version 23.06, 2023-06-28
-------------
+ USAC/xHE-AAC conformance checker
+ S-ADM: support of SMPTE ST 2127-1 / SMPTE ST 2109 / SMPTE ST 2127-10 (S-ADM in MGA in MXF)
+ S-ADM: add S-ADM version and support of 1/1.001 frame rates
+ ADM: show FFoA/Start/End as timestamp and timecode
+ MPEG-7 output update with more extensions
+ MPEG-TS: support of JPEG XS
+ DTS-UHD: support of DTS-UHD (a.k.a. DTS-X P2) in MP4
+ MP4: detection of VVC
+ MP4: support of media characteristicd (spoken dialog, translation, easy to read...)
+ MP4: support of more Blackmagic RAW Codec IDs
+ MP4: support of ipcm CodecID
+ MP4: support of service kind
+ HEVC: support of SMPTE ST 2094-10
+ HDR: display of all formats if more than 1 format is detected
+ Matroska: support of SMPTE ST 12 in block additions
+ HEVC: time code SEI readout
+ AVC &amp; HEVC: active format description readout
+ MPEG-TS: support of SMPTE ST 2038 (ancillary data)
x ADM/Dolby: fix wrong FFoA with 1.001 frame rates
+ MOV/MP4: more info with tracks having unknown type
x MOV/MP4: avoid to parse too much content with non stripped timecodes
x MOV/MP4: avoid incoherent behavior if 2 tracks have the same ID
x TTML: fix default frame rate
x TimeCode: 1/1.001 frame rate was not always detected
x MediaTrace: fix some random blank outputs
x URL: remove query part of the URL in the FileExtension field
x Referenced files: fix handling of URL encoded with UTF-8 content
x Matroska: fix crash in support of HDR10+

Version 23.04, 2023-04-26
-------------
+ MXF: support of SMPTE ST 381-4 (AAC in MXF)
+ DTS: show MA or HRA tip in commercial name for DTS:X
+ DTS: detection of DTS:X not lossless
+ APT-X100 a.k.a. Cinema DTS: initial support
+ Matroska: support of HDR10+
+ MP4: more information about thumbnails
+ ID3v2: more information about thumbnails
+ VP9: initial support, for more information about chroma subsampling
+ AWS S3: support for reference files with AccessID:SecretKey@URL
x Windows installer: fix crash with Windows 10/11 having ASLR enabled (NSIS update)
x AWS S3: fix errors with some special chars in SecretKey
x AWS S3: fix random credential issues with non geolocated URLs
x DTS: fix freeze with some DTS-HD not DTS:X files
x MPEG-TS: fix crash in HEVC_timing_and_HRD
x AAC: fix samples per frame with SBR streams
x FLAC: fix missing Tbc Tbr in ChannelLayout

Version 23.03, 2023-03-29
-------------
+ DTS: Detection of IMAX Enhanced
+ MOV/MP4: Add HDR Vivid format support
+ HEVC: Add HDR Vivid format support
+ MXF/PCM: detect silent tracks (full parsing only)
+ Monkey's Audio: support of 32-bit files, show version
+ MP4 audioProfileLevelIndication: add Low Delay AAC v2 Profile
+ MP4/MOV: support of FLAC
+ MOV/MP4: support of TTML with images
+ MPEG-7: 3 modes (strict, relaxed, extended)
+ MPEG-7: more sub-termIDs (AudioPresentationCS)
+ MPEG-7: Add more PublicIdentifiers
+ MPEG-7: more sub-termIDs (MP4, WAV, AVC, ProRes)
+ AVI/WAV: display of the kind of fmt chunk
+ AVC: detection of more profiles
+ ChannelLayout: difference between M (Mono) and C (Center, part of multichannel content)
+ AC-3: detection of channel layout also for encrypted content
+ AC-4 and MPEG-H 3D Audio: Merged channel layout (all sub-streams together)
+ DTS: Detection of real bit depth e.g. 20 instead of only byte aligned bit depth (16 or 24)
+ FLAC: support of BWF in Vorbis comments
+ N19/STL: codepage, subtitle count, max line per subtitle, more metadata
+ ISAN: detection of descriptions referencing an ISAN
+ AAC: detection of eSBR (and fix of random wrong PS detection)
+ Extract of time codes, XML format, currently only for for MXF
x MP4/MOV: fix freezes with some unknown udta atoms
x FLV: fix duration of 0 with some buggy files
x AVC: fix PTS of last frame
x FFV1: fix potential crash with malformed files
x AV1: add HDR format line and fix HDR values
x AAC and WAV: fix of channel layout display for 5 front channels
x AC-4: Tl/Tr mapped to to Tsl/Tsr
x FLAC: fix sampling count
x ID3v2: fix Genre not showing ID 0 (Blues)
x MPEG-7: VBR fix
x JSON/XML: Remove minus sign from element names
x Normalization of date/time in report

Version 22.12, 2022-12-22
-------------
+ WebVTT: more information (duration, start/end timestamp, count of lines...)
+ MP4/MOV: support of FLAC
+ MP4/MOV: support of LanguageIETF
+ ProRes: parse FFmpeg glbl atom for getting color range
+ AVI/WAV: detection of character set
+ WAV: display MD5 of raw content
+ FLAC: display MD5 of unencoded content
+ USAC: trace of UsacFrame() up to after preroll
+ MOV/MP4: option for parsing only the header, no parsing of any frame
+ MXF: option for parsing only the header, no parsing of any frame
x MXF: quicker parsing when fast parsing is requested
x I662, WAV: fix false-positive detection of DTS in PCM
x I1637, MPEG-Audio: proper support of Helix MP3 encoder detection and encoder settings
x I661, MXF: fix UKDPP FpaPass value sometimes not outputted
x S1182, Teletext subtitle: prioritize subtitle metadata other overs
x Matroska: Better handling in case of buggy AVC stream
x 22.2 audio: Fix name of 1 channel (Tll --> Tsl)
x AAC: fix wrong parsing of some bitstreams
x Fix crash with stdin input and ctrl-c
x Fix memory leak in JSON output

Version 22.09, 2022-10-04
-------------
+ Italian language update
+ USAC: IOD and sampling rate coherency checking
+ ADM: support of nested objects and complementary objects
+ AC-4: Display of Custom downmix targets
+ IAB: Parsing of IAB bitstream and ADM-like output
+ Frame rate: store FrameRate_Num/Den also for integer values
+ MPEG-4/MOV: support of time codes >30 fps
+ MOV/MPEG-4: List of QuickTime time code discontinuities
+ Dolby Vision: add info about more profiles
x Text streams: show stream frame rate if not same as container frame rate
x CDP: fix rounding of frame rate
x SCC: fix of CEA-608 FirstDisplay_Delay_Frames
x SCC: fix TimeCode_Last
x MPEG-4/MOV: last time code value for all kind of QuickTime time codes
x MOV/MPEG-4: Fix frame count for NDF non-integer frame rates
x JSON: fix invalid output in some corner cases
x Several other parsing bug/crash fixes (thanks to fuzzing by users)

Version 22.06, 2022-06-23
-------------
+ MXF: FFV1 support
+ Dolby Vision: add info about more profiles
+ AAC: check of missing ID_END and incoherent count of channels
+ NSV: better handling of buggy StarDiva agenda negative timestamps
+ Text: Show text frame rate
+ Text: frame rate precise numerator/denominator also for text streams
+ CDP: readout of display aspect ratio
+ MPEG-4/MOV: support of time codes >30 fps
+ TTML: Support of more timeExpression flavors
x ADM: correctly map Dolby binaural render mode to track UID
x Dolby Audio Metadata: first frame of action in HH:MM:SS:FF format
x Dolby Vision: profiles and levels in decimal rather than in hexadecimal
x MXF: fix of Dolby Vision Metadata not displayed if HDR10 metadata is present
x MPEG-4/MOV: avoid buggy frame rates by taking frame rate from stts atom
x CDP: better catching of wrong line21_field value
x NSV: better handling of invalid frames
x MXF: Include frame count in SDTI and SystemScheme1 time codes to time stamp conversion
x TTML: do not show frame rate if it is from MediaInfo options
x DV: timecode trace in HH:MM:SS:FF format

Version 22.03, 2022-03-31
-------------
+ NSV (Nullsoft Video): full featured support
+ NSV: support of proprietary StarDiva metadata (by reverse engineering)
+ HEVC: CEA-608/708 support
+ Dolby Audio Metadata: First frame of action, binaural render modes
+ Dolby Audio Metadata: 5.1 and 5.1.x downmix, 5.1 to 2.0 downmix, associated video frame rate, trim modes
+ MOV/MP4, TTML, SCC, MXF TC: time code of last frame
+ EIA-608: first displayed caption type
+ EIA-608: Maximum count of lines per event and total count of lines
+ EIA-608: duration of the visible content
+ TTML: Total count of lines
+ TTML: Maximum count of lines per event (including overlapping times)
+ TTML: Frame count, display aspect ratio
+ TTML: Support of timestamps in frames
+ SCC: Delay
+ Matroska: Encoding settings metadata support
+ MOV/MP4: Gamma metadata output
+ MPEG-4/MOV: difference between audio Center and Mono when possible
+ MP4/MOV: Support of dec3 atom in wave atom
+ MPEG-4/MOV: show both values in case of chan atom ChannelLayoutTag / ChannelDescriptions mismatch
+ MP4/MOV: Support of dec3 atom in wave atom
+ MXF: better support of AVC streams without SPS/PPS
+ ADM: display channel index of trackUIDs
x WAV: fix freeze with 32-bit PCM
x DPX: fix regression with DPX files more than 64 MB
x Dolby E: fix crash with some invalid streams
x E-AC-3: service kind was not correctly handled
x EXR: fix of bad handling of files with long names in attributes
x TTML: correct handling of 29.97 DF time codes
x AV1: fix of the parsing of some streams, especially the ones with HDR metadata
x WebVTT: was not correctly handling WebVTT header with comment
x Matroska: fix false positive detection of bad CRC32
x Several other parsing bug/crash fixes
x Fix of random crash at startup

Version 21.09, 2021-09-17
-------------
+ Graph view for 3D audio streams (thanks to graphviz)
+ ADM: full featured support (programmes, content, objects, pack formats...)
+ ADM: in WAV (axml, bxml), MXF
+ S-ADM in AES3: support of Levels A1 and AX1
+ MOV/MP4: support of Dolby Vision Metadata XML
+ MXF: detection of IAB
+ SMPTE ST 337 (AES3): support of subframe mode
+ HEVC: CEA-608/708 caption support
+ MP4/QuickTime: Android slow motion real frame rate
+ JSON output: add creatingLibrary field
x MPEG-4: read too much data with some predecessor definitions
x EBUCore: fix of fields order and types

Version 21.03, 2021-03-26
-------------
+ WAV: ADM profile detection of Dolby Atmos Master or MPEG-H
+ SMPTE ST 337: support of AC-4
+ AC-3/AC-4: show top layer channels after Lw/Rw, as it becomes the defacto standard layout
+ Dolby Surround EX and Pro Logic IIz detection
+ Matroska: add DV support
+ JavaScript module: reduce binary size
+ JavaScript module: reserve less memory at startup
+ CLI: read from stdin
+ DV: remove check of zeroed bytes in timecode, considered again as valid timecode
+ TIFF; add support of compression codes 7 and 8
+ WAV: show bext (BWF) version in verbose mode / XML / JSON
+ MXF: detection fo DCI P3 mastering display color primaries
+ Options: add software version to text output (CLI or Windows GUI)
+ Options: add report creation timestamp to text output (CLI or Windows GUI)
+ macOS: native build for Apple Silicon (arm64)
x HDR: mastering max. luminance precision was wrong
x WM: fix EncodingTime parsing
x MOV/MP4: skip XMP huge atoms, fix
x MPEG-TS: fix inverted supplementary_audio_descriptor mix_type values
x AAC: fix File_Aac::is_intensity according to ISO/IEC 14496-3:2009
x I1353, MP4: Skip user data Xtra and free atoms
x FFV1: fix crash with some bitstreams parsing
x TIFF: fix division by 0
x RF64: fix the WAV malformed chunk size test
x macOS 10.9/10.10: fix crash at startup
x Supported platforms: this is the last version compatible with Windows XP, macOS 10.5-10.9, RHEL/CentOS 6

Version 20.09, 2020-10-09
-------------
+ Dolby ED2: full featured support (presentations, presentation targets, beds, objects)
+ MKV: support of Dolby Vision metadata
+ MXF: detection of Dolby E hidden in PCM tracks having more than 2 channels
+ WAV: detection of Dolby E hidden in PCM tracks having more than 2 channels
+ CineForm: display of color space (including Bayer), bit depth
x WAV: more precise sample count
x SMPTE ST 337: catch of streams starting later than usual (probing increased from 4 to 16 PCM "frames")
x PNG: detection of additional alpha plane in color space
x MXF: detection of additional alpha plane in color space
x AVI: detection of additional alpha plane in color space
x MPEG Audio: was wrongly flagging Xing info tag as CBR
x VorbisTag: does not skip DISCID
x Miscellaneous bug/crash fixes

Version 20.08, 2020-08-11
-------------
+ MPEG-H 3D Audio full featured support (group presets, switch groups, groups, signal groups)
+ MP4/MOV: support of more metadata locations
+ JSON and XML outputs: authorize "complete" output
+ MPEG-4: support of TrueHD
+ WM: show legacy value of performer if not same as modern one
+ WAV: trace of adtl (Associated Data List) chunk
x URL encoding detection fix for URL having a query part (issue with e.g. pre-signed AWS S3 URLs)
x Don't try to seek to the end (false positive range related error with HTTP)
x DPX: don't load the whole file in RAM
x Opus: fix wrong channel mapping
x Miscellaneous other bug fixes

Version 20.03, 2020-04-03
-------------
+ AC-4 full featured support (presentations, groups, substreams)
+ MPEG-H 3D Audio basic support
+ MPEG-TS: audio preselection descriptor support
+ Dolby Vision v2 detection
+ MPEG-4: support of colr/nclx (color information) box
x URL encoding option fixes, permitting to use URL encoded or non URL encoded links
x AAC: fix SBR frequency when in ADIF
x DPX: ColorimetricSpecification and TransferCharacteristic were inverted
x Several crash and memory leaks fixes

Version 19.09, 2019-09-10
-------------
+ AC-4: basic detection, raw, in MP4 or TS
+ AC-3/E-AC-3: display time code of the first frame
+ Don't show anymore by default "encoded" bit rates and stream sizes
+ MOV: Decode more language codes
x MXF: some metadata were missing
x AC-3: AC-3 actually has no bit depth, removing the default 16 value
x AC-3/E-AC-3: fix bitrate info (so duration) with streams having a time code
x AC-3: parse more frames also when in MP4, in order to better detect JOC (Atmos)
x MP4: do not show audio bit depth if it is the "default" 16 (value is not trustable enough)
x ProRes RAW: we know only width and height
x SubRip: bad handling of files having a quote character

Version 19.07, 2019-07-16
--------------
+ Mac App Store version: File comparison (InApp purchase)
+ Dolby E: readout of Dolby E program description
+ MXF: Detection of Dolby Vision
+ MP4: support of Spatial Audio Metadata
+ DV: color space is explicit
+ DV: audio format settings
+ Matroska: PCM bit rate
+ MOV, MXF: Time code frame rate
+ DV: DVCAM commercial name for locked audio and PAL 4:2:0
+ MXF: Time code track name
x USAC: frame rate was missing in case of non standard sampling rate
x USAC: fix infinite loop with some LATM streams
x WAV: MP3 delay should be added to BWF time reference
x TTML: fix wrong output with standalone files
x N19/STL: fix crash with some uncommon framerates
x VC-3: fix sub sampling with some v2 files
x DV: Time code frame number was wrong (divided by 2) for 50/60 fps content

Version 19.04, 2019-04-23
--------------
+ USAC: DRC effect types, Sample peak level, True peak level, Program loudness
+ HDR: SMPTE ST 2094 App 4 (including HDR10+) support
+ HDR: move HDR10, Dolby Vision and SL-HDR meta to specific generic "HDR Format" lines
+ Matroska: SMPTE ST 2086 (HDR10) support
+ Matroska: FieldOrder support
+ HEIF image format support
+ AV1: support of AV1 in MP4, HEIF, IVF
+ MOV: Add a lot more countries to AppleStoreCountry field internal list
+ MXF: Fix memory leak when fully parsing big file with acquisition metadata
+ HEVC: more HEVC profiles (Multiview, Scalable, Screen Content...)
+ AAC: better handling of corrupted streams
+ AAC: better handling of unknown channel layouts
+ AVC in MP4: better support of corrupted streams
x B1101, AVI: fix crash with some invalid streams
x B1101, SMPTE ST 337: fix crash with some invalid streams
x Matroska: chapters timestamp were not display if chapters have no name
x MXF: Fix false positive truncated file detection when there is no Random Index Pack
x AAC: channel layout typos (Rls instead of Lrs, Lr instead of Rb)
x ProRes: correctly show color space if alpha plane is present
x MPEG Audio: some VBR files use "Info" Xing header, so we ignore the  difference between "Info" and "Xing"
x I943, MPEG-4: wrong display aspect ratio in some corner cases (32-bit release only)
x I1096, OGG: assign METADATA_BLOCK_PICTURE tag to cover

Version 18.12, 2018-12-10
--------------
+ Android version: https://play.google.com/store/apps/details?id=net.mediaarea.mediainfo
+ DCP: support of multi-reel packages
+ EBUCore: added some FFV1 related metadata
+ JPEG: better info display of CYMK files
+ Provide source of the color related metadata (container or stream) (hidden by default)
+ MXF: display more information when wrapper/essence values are detected as not same
+ MXF: ProRes profiles
+ MPEG-4: ProRes RAW support
+ MPEG-TS: add support of parsing some ETSI TS 103-433 messages
x MPEG-2 Video: variable GOP detection fix
x MPEG-7 export: some fields were missing due to the removal of some legacy fields
x ADTS: Fix display of channel count for 8-channel streams
x ID3v2: fix some date related issues
x I298, ID3v2: fix wrong read of recording date in some cases
x I1032, PBCore2: fix essenceFrameSize with non Video tracks
x I1096, JPEG: fix crash with one file
x Several other crash and memory leak fixes

Version 18.08.1, 2018-09-10
--------------
x Fix XML/MPEG-7/PBCore2 output discarding non ANSI characters

Version 18.08, 2018-08-31
--------------
+ Dolby Atmos (in E-AC-3 or TrueHD): support of bed channel count/configuration + objects count + complexity index
+ AC-3/DTS/AAC: display of info about legacy decoders behavior removed
+ AC-3/DTS/AAC: some changes in how format is displayed
+ AC-3/DTS/AAC: better split between technical names and commercial names
+ AAC: support of profile information from MP4_IOD_Tag AudioProfileLevelIndication
+ USAC (xHE-AAC) support
+ Audio channel layout: using a new terminology, better suited for 3D Audio, see https://mediaarea.net/AudioChannelLayout
+ DSD (DSF &amp; DSDIFF) support
+ DXD (Digital eXtreme Definition) commercial name
+ Dolby Vision: use new form for profile (numbers instead of acronyms)
+ New format "Directory" when image sequence + audio file is detected (1 directory style for the moment)
+ PBCore2 export update, thanks to WGBH
+ MPEG-7 export update
+ NISO export update
+ AV1: support of AOmedia AV1 based on 1.0.0 specifications
+ ATRAC9 detection
+ Versionned RPMs
+ HEVC: better support of buggy SEI
+ ADTS: CodecID
+ Support of injection of external metadata
+ HTTPS: support of AWS extension "x-amz-*" in HTTPS headers, permitting to manage temporary credentials (AssumeRole)
+ MPEG-4, #1005: Obey edit list in QuickTime Timecode track
x MIXML: hide fields which were hidden in normal output
x Hybrid AC-3/E-AC-3 (in Blu-rays): bit rate info was wrong
x Lot of bug fixes, see full log for more info

Version 18.05, 2018-05-09
--------------
+ PBCore 2.1 export update, sponsored by WGBH as part of the NEH-funded PBCore Development and Preservation Project
+ TIFF: more IFDs are supported (density, software...)
+ NISO Z39.87 output
x Mastering Display Color Primaries: was always showing BT.709 instead of real value, when present
x Attachments: do not provide anymore attachments content in XML by default, fixes

Version 18.03.1, 2018-03-26
--------------
x Fix regression on Windows with directory names beginning by n or r.

Version 18.03, 2018-03-19
--------------
+ AV1: support of AOmedia AV1 based on latest specifications draft, raw (OBU) and in MKV
+ MXF: HDR metadata support
+ MXF: detection and parsing of ProRes (SMPTE RDD 44)
+ MXF: framerate container/stream incoherence detection
+ DPX: endianness, packing mode, compression mode
+ AVC: add consumer camera recording date/time
+ AVC: add consumer camera model name and iris F number
+ JPEG: ICC parsing, display of ICC color space
+ EBUCore: possibility to inject external metadata in the output from MediaInfo
+ JSON output
+ Attachments: do not provide anymore attachments content in XML by default, reducing XML output size
x colour description: trying (again!) to have more coherent labeling
x DCP/IMF: fix crash with some CPL files
x I782, FFV1: Golomb Rice parsing was wrong
x I210, FFV1: remove sar_den test must be 0 if sar_num is 0
x AAC: SBR parsing issue with 3+ channel streams, with sometimes false-positive PS detection
x BMP: was wrongly considering 4-bit without palette as with palette so wrong bit depth
x DPX: some elements in trace were wrongly displayed (wrong endianness)
x B1082, Ancillary data: fix infinite loop

Version 17.12, 2017-12-21
--------------
+ MediaInfoOnline: https://mediaarea.net/MediaInfoOnline
+ JavaScript build and example
+ Dolby Vision: detection of Dolby Vision and display of profile for MPEG-TS and MP4 files
+ MPEG-4: Support of external time code tracks (.qtc)
+ JPEG 2000: Support of IMF profiles
+ F523, BDMV: Support of UHD Blu-ray playlist
+ Endianness and Sign report for PCM Matroska tracks
+ MPEG-4: Resolume DXV display
+ MPEG-4: support of file names >64 chars long or non ASCII for referenced files
+ Slight binary size optimizations
+ colour_description: some changes in order to have more readable names (DCI P3, Display P3, sRGB)
x MP4: crash with some HEVC streams with Dolby Vision
x VC-3: frame rate should not be detected as wrong when there are several frames per block
x Matroska: wrong color range info
x Matroska: fix crash with some corrupted files
x MXF: better support of height when there is an incoherence between header and footer
x transfer_characteristics: fix BT.2020 difference between values 14 and 15
x Trace: fix freeze with some files
x Trace: invalid character encoding with some MOV files
x Some memory leak fixes

Version 17.10, 2017-11-02
--------------
+ We need your support! Visit https://mediaarea.net/SupportUs
+ Version scheme is now YY.MM (year dot month, 2 digits each)
+ New MediaInfo XML output, with XSD, more suitable for automatic parsing. Use Option("Inform", "OLDXML") for keeping previous behavior
+ New "Info_OutputFormats" option for listing supported output formats
+ Universal Ad ID: refactored display, better display of value and registry, XML name slightly modified
+ MOV: support of HDR metadata (MasteringDisplayColorVolume, MaxCLL, MaxFALL)
+ BWF: display of UMID and loudness info
+ AAC: show program_config_element in trace
+ MPEG Audio: frame rate info
+ PCM in WAV and Matroska: Support of ValidBitsPerSample
+ I197, EBUCore: 1.8 output uses now final version of XSD and final XSD location
+ Matroska: tweaking frame rate empirical detection for some corner cases
x I1070, LAME 3.100 info tag was incorrectly parsed
x B1068, MPEG Audio: Incoherent duration between General and Audio parts, Audio part duration fixed
x Matroska: showing "A_MS/ACM" Matroska CodecID
x MXF: Fix crash with some buggy files
x MXF: was not well supporting MXF referencing only 1 file
x PCM in WAV: 8-bit content is unsigned and without endianness
x PCM in WAV and Matroska: More coherency between Wave info and ExtensibleWave Info (bitdepth, sign)
x WAV: GUID display was with first 8 bytes in wrong order
x Several crash fixes

Version 0.7.99, 2017-09-11
--------------
+ EBUCore: JSON output (--Output=EBUCore_1.8_JSON)
+ EBUCore: add writingLibraryName and writingLibraryVersion attributes
+ Ad-ID identifier display on a single line ("Value (Registry)" format)
+ MPEG-4: Better display of format of VobSub tracks
+ MPEG-4: CodecID is stsd name + ObjectTypeId for mp4a, mp4v, mp4s
+ AVC: preferred_transfer_characteristics support
+ MPEG Video, MPEG-4 Visual, AVC, HEVC, MPEG-4, Matroska: correct detection of RGB
+ matrix_coefficients: detection of Y'D'zD'x and Chromaticity-derived
+ AAC: info about SBR/PS being implicit/explicit/NBC (Not Backward Compatible)
+ AAC: indicate audioObjectType in CodecID
x Fix a weird 1.334 DAR due to a rounding issue

Version 0.7.98, 2017-08-08
--------------
+ Matroska: handling of files with Tracks element after Cluster elements
+ Matroska: detection of Duration tag alone and use it even if tag writing date is not there.
+ Matroska: mapping of colour description elements, timecode and handler name to corresponding MediaInfo fields
x I169, WAV: too much aggressive detection of wrong 5-channel audio, now limited on AC-3 and DTS
x transfer_characteristics and matrix_coefficients slight change in order to have them unique per ISO integer value
x EBUCore: All XML elements are correctly escaped
x PBCore: All XML elements are correctly escaped

Version 0.7.97, 2017-06-30
--------------
+ Ubuntu 17.04 packages
+ HEVC: support of stream having VPS hrd_parameters
+ FLV: support of FLV files with an ID3v2 header
+ FLV: detect some incoherent frame rates in buggy files
+ TIFF: support of more tags
+ I518, AAC: consider 4 back channels as 2 side + 2 back channels
+ Matroska: integrate all elements from Matroska specs in MediaTrace
+ WAV: parsing of MPEG Audio extension "mext" chunk and displayed in MediaTrace
+ MPC: channels count
+ AAC: ADTS/ADIF duration in case of full parsing and/or "risky bitrate estimation" option
x MXF: less false-positive detection of some files as MXF
x B1053, WAV: metadata coherency, ignore "fact" chunk more often in order to avoid bad information when this chunk is buggy
x B1029, DPX: DPX endianness not considered with some fields in MediaTrace
x Custom template: can check "Other" part as any other parts
x Matroska: fix parsing issue with small byte blocks are taken from the file e.g. when reading from HTTP link
x Matroska: files with unknown block size were flagged as truncated
x MediaTrace: values with a \n were breaking the text report lines
x Some typos (RefFrames, SPF)

Version 0.7.96, 2017-06-01
--------------
+ MPEG-4: display of recorded date from DV substream
x I505, AC-3: crash with some potentially malformed frames
x I477, AVC: fix hang when open .mpls from some 3D BD
x MPEG-4: does not show "1904" year is raw value is 0 (Mac/Linux)
x Dedicated read thread disabled by default (rare dead locks)
x #B1027, MPEG-TS: some files where detected as MPEG-TS or BDAV but they aren't
x Sequence of files : frame count was wrong with sequence of MPEG-TS files (was count of files)
x MXF: detection of more 608/708 with parsing of few frames in the middle of the file was broken

Version 0.7.95, 2017-05-04
--------------
+ EBUCore: EBUCore 1.8 with acquisition metadata output.
+ Better support of growing files, especially when accessed by FTP
+ Matroska: better support of some broken files (high EBMLMaxSizeLength, padding before start of EBML)
+ EXR: showing Multipart and Deep flags
+ EXR: show image compression method
x EBUCore: fixed display aspect ratio (was using rational)
x EBUCore: fixed frame rate factor (was num/den instead of factor)
x AVC: some streams with dynamic frame type were having a wrong frame rate
x MPEG-4: some old AAC tracks were not correctly detected
x Matroska: was sometimes displaying "Bit depth: Bit0" when bit depth is unknown
x Nut: fix crash with some files
x FFV1: PixelAspectRatio was an integer, switched to 3-digit rational
x DTS: fix frame count
x Dolby E: fix frame count
x EBUCore: fix regression creating invalid XML files
x AVC: some streams with dynamic frame type were having a wrong frame rate
x I490, EXR: was not supporting valid 31-char attribute names

Version 0.7.94, 2017-03-31
--------------
+ VC-3: detection of embedded time code
+ VC-3: better support of stream with width 960 or 1440
+ VC-3: support of version 3 (a.k.a. DNxHR), including profile and level for version 1/2 (a.k.a. DNxHD)
+ Matroska trace feature: reduction of its size
+ MXF trace feature: reduction of its size
+ Visual Studio 2017 project files
x M143, MXF with Acquisition Metadata: crash fixed
x Several crash fixes

Version 0.7.93, 2017-02-28
--------------
+ Matroska: detection of native FFV1 CodecID ("V_FFV1")
+ AC-3/E-AC-3: detection of Atmos inside core streams
+ AC-3/E-AC-3: slight reorganization of metadata display for dual mono and surround
+ AC-3/E-AC-3: "complete main" and similar info moved to "Service kind" dedicated line
+ AC-3/E-AC-3: more precision about how is built a stream (e.g. "E-AC-3+Atmos / E-AC-3" or "TrueHD+Atmos / TrueHD / AC-3")
+ WTV: basic detection
+ MPEG-TS: Detection of Opus
+ URL: "URLEncode" option for saying if the input should be URL encoded or not (default is guess = no change except if it contains spaces)
x MediaTrace: for bitstreams (not bytestreams), bit offset was wrong
x HLS: duration was sometimes wrong, reading only the first TS file duration. Now full duration is displayed
x MPEG-TS: if stream is encrypted or invalid, level was sometimes not the expected one for AVC (e.g. "BaseLine@3.0" instead of "Baseline@3")
x Matroska: FFV1 stream width/height was not initialized when Matroska track header width/height is after CodecID
x FFV1: fix potential crash with some buggy slice headers
x Matroska: crash in case of big attachment and CRC32 present

Version 0.7.92.1, 2017-02-02
--------------
x Fix a performance regression in the matroska parser

Version 0.7.92, 2017-01-31
--------------
+ #F507, MXF: detection of HLG Transfer Characteristic
+ #F508, HEVC: support of preferred_transfer_characteristics SEI (from HEVC/H.265 draft, preferred method for HLG in DVB)
+ MXF: parsing of AVC descriptors and crosscheck with the essence content
+ MP4: more AppleStoreCountry values mapped to countries, show the country number if unknown
+ File extension: test if the file extension correspond to the container format
+ AVI/WAV: test of truncated file
+ MIXML output: Format_Profile divided in Format_Profile, Format_Level, Format_Tier
+ ID3v2: TCAP tag is mapped to new field "PodcastCategory"
x MIXML output: some *_Original values were missing
x MXF/Teletext: was not correctly detecting non subtitle streams
x ID3v2: TP2 tag was incorrectly mapped to "Accompaniment", now mapped to "Album_Performer"
x ID3v2: TSO2 tag was incorrectly mapped to "Performer_Sort", now mapped to "Album_Performer_Sort"
x ID3v2: TCMP tag was displayed twice (2 "Compilation" lines)
x Windows version was sometimes showing a long character string in Windows explorer, changed to a shorter character string

Version 0.7.91, 2016-11-30
--------------
+ Add TIFF extension to Windows shell extension
x Debian 9 and Ubuntu 16.10+: Remove unneeded dependency
+ IMF and PTX: more languages detected from file names (but the full list of common languages tags still need to be added)
+ IMF and PTX: support of non-standard but common "LAS" = "Spanish (Latin America)" language code
+ MXF: Support of color primaries, transfer characteristic, coding equations defined in SMPTE ST 2067-21:2016 e.g. xvYCC or BT.2020
+ Minor performance optimizations and cleanup (Thanks to Pavel Pimenov)
+ MediaTrace optimization for Matroska
x Fixed parsing of FFV1 v0/v1
x PTX: fix crash due to bad parsing of some file names while looking for track language

Version 0.7.90, 2016-10-31
--------------
+ #M94, WAV: support of file with a buggy RIFF header
+ Matroska: detection of segment size of zero (compatibility risks e.g. Windows 10 Media Player does not play such file)
+ MXF: detection of some incoherences between header and footer
+ MXF: display of Locked information
+ N19/STL: support of 48/50/60 fps content
+ N19/STL: display of time code of first frame
+ AC-3: bit depth
+ MPEG Video: CBR bitrate mode information based on vbv_delay
+ DXW: support of fake time code attribute
x Teletext in MPEG-TS: CodecID, format (classic teletext or subtitle), video delay were sometimes not displayed
x PDF: fixed crash with some files with full analysis set
x #B485, BMP height is negative
x Several minor fixes
    </pre>
</div>
<p>
    The full ChangeLog is available <a href="https://github.com/MediaArea/MediaInfo/blob/master/History_GUI.txt" target="_blank">here</a>.
</p>
{% endblock %}
