{% extends 'MediaInfoBundle::base.html.twig' %}

{% block title %}MediaInfo - Different means of use{% endblock %}
{% block description %}{% trans %}about.page.description{% endtrans %}{% endblock %}
{% block keywords %}{% trans %}about.page.keywords{% endtrans %}{% endblock %}

{% block body %}
<ul>
    <li>
        <a href="#Means">Different means of use the library</a>
        <ul>
            <li><a href="#DLL">Use it with DLL</a></li>
            <li><a href="#ActiveX">Use it with ActiveX</a></li>
            <li><a href="#Build_From_Sources">Build from source</a></li>
        </ul>
    </li>
</ul>

<h1 id="Means">Different means of use the library</h1>
You can use the library in these ways:
<ul>
    <li>
        Using the Dynamic-linked library (DLL):<br/>
        You can access the library from any language, if this language has "C" DLL support.<br/>
        This is the case of standart C compilers, Microsoft C++, Borland C++, Microsoft C#, Microsoft J#, Microsoft Visual Basic.<br/>
        Examples are provided with DLL, in most cases in the last version availble of the language.<br/>
        Exception: Microsoft Visual Basic 5 and 6 are supported too, thanks to contributors.
    </li>
    <li>
        Using ActiveX:<br/>
        Thanks to contributors, an ActiveX wrapper is provided too.<br/>
        You can use it in Microsoft Internet Explorer or a Visual Basic Script. Internet Explorer and VBS examples are provided.
    </li>
    <li>
        Using the static library (LIB):<br/>
        You can access the library from a C/C++ compiler.<br/>
        Microsoft C++, Borland C++, Bloodshed DevCpp, MinGW and GCC (Linux) IA32 libraries are provided (to be confirmed)
    </li>
    <li>From source:<br/>
        You can compile yourself the source.<br/>
        Microsoft C++, Borland C++,&nbsp;Bloodshed DevCpp, MinGW and GCC (Linux) makefiles are provided (to be confirmed)
    </li>
</ul>

<h2 id="DLL">Use it with DLL</h2>
With your compiler, you can access to the DLL with some interface code.<br/>
There are some examples in the DLL file released, please take a look on them.<br/>
Copy the code related to the DLL interface, into your code.

<h2 id="ActiveX">Use it with ActiveX</h2>
With a HTML editor or a VBS editor, you can access to the DLL with some interface code.<br/>
There are some examples in the DLL file released (in the "contrib" directory), please take a look on them

<h2 id="Build_From_Sources">Build from source</h2>
If you want to compile yourself, you need first some third party software, and only after this you will be able to compile MediaInfo.<br/>
There is a "How to" for <a href="{{ path('mi_support_build') }}">building from sources</a>.<br/>
<br/>
Note: You can compile it with or without UNICODE support. Best is to active UNICODE
{% endblock %}
