{% extends 'MediaInfoBundle::base.html.twig' %}

{% block title %}MediaInfo - More information about the interface{% endblock %}
{% block description %}{% trans %}about.page.description{% endtrans %}{% endblock %}
{% block keywords %}{% trans %}about.page.keywords{% endtrans %}{% endblock %}

{% block body %}
<ul>
 <li><a href="#More_Info">More information about the programming interface</a>
  <ul>
   <li><a href="#Complete_List">Complete list of interfaces</a></li>
   <li><a href="#Capacities">Capacities of the library</a></li>
   <li><a href="#Open_Files">Open files</a></li>
   <li><a href="#Open_Buffers">Open buffers</a></li>
   <li><a href="#Format">Formated text</a></li>
   <li><a href="#Get">Get a specific item</a></li>
   <li><a href="#Set">Set a specific item</a></li>
   <li><a href="#State">State of the library</a></li>
   <li><a href="#Close">Close files</a></li>
   <li><a href="#Save">Save files</a></li>
   <li><a href="#Language">Language</a></li>
   <li><a href="#Other">Other</a></li>
  </ul>
 </li>
</ul>

<a name="More_Info"></a><h1>More information about the programming interface</h1>
<a name="Capacities"></a><h2>Capacities of the library</h2>
<code>MediaInfo::Option("Info_Version")</code><br/>
<code>MediaInfo::Option("Info_Parameters")</code><br/>
<code>MediaInfo::Option("Info_Parameters_CSV")</code><br/>
<code>MediaInfo::Option("Info_Codecs")</code><br/>

<a name="Open_Files"></a><h2>Open files</h2>
<code>MediaInfo::Open("**FILENAME**")</code><br/>
<code>MediaInfoList::Open("**FILENAMES**")</code><br/>

<a name="Open_Buffers"></a><h2>Open buffers</h2>
<code>MediaInfo::Open("**Begin**", "**Begin_Size**", "**End**", "**End_Size**")</code><br/>
<code>MediaInfoList::Open("**Begin**", "**Begin_Size**", "**End**", "**End_Size**")</code><br/>

<a name="Format"></a><h2>Formated text</h2>
<h3>Get output</h3>
<code>MediaInfo::Inform(Option)</code><br/>

<h3>Customization</h3>
<code>MediaInfo::Option("Inform", "**YOUR_TEXT**")</code><br/>
<code>MediaInfo::Option("Inform_Get")</code><br/>
<code>MediaInfo::Option("Complete")</code><br/>
<code>MediaInfo::Option("Complete_Get")</code><br/>

<a name="Get"></a><h2>Get a specific item</h2>
<code>MediaInfo::Get("**StreamKind**, **StreamNumber**, **Parameter**, **InfoKind**")</code><br/>
<code>MediaInfo::Count_Get("**StreamKind**, **StreamNumber**")</code><br/>
<br/>
Note : If **StreamNumber** is -1, return the count of stream of that kind (equivalent but quicker than <code>MediaInfo::Get("**StreamKind**, 0, "StreamCount", Info_Text)</code>)<br/>
<br/>
Note : Only for "C" (DLL) interface:<br/>
<code>MediaInfo_GetI</code> is a replacement for <code>MediaInfo_Get</code> for **Parameter** with Integer, because C doesn't support operator overloading<br/>

<a name="Set"></a><h2>Set a specific item</h2>
Note : not yet implement, do not use it!<br/>

<a name="State"></a><h2>State of the library</h2>
Note : not yet implement, do not use it!<br/>

<a name="Close"></a><h2>Close files</h2>
<code>MediaInfo::Close()</code><br/>

<a name="Save"></a><h2>Save files</h2>
Note : not yet implement, do not use it!<br/>

<a name="Language"></a><h2>Language</h2>
<code>MediaInfo::Option("Language")</code><br/>
<code>MediaInfo::Option("Language_Get")</code><br/>
<code>MediaInfo::Option("Language_Update")</code><br/>

<a name="Other"></a><h2>Other</h2>
<h3>C++ specific : static options</h3>
Note for C++ developers : file independant options can be set without have created an object, with :<br/>
<code>MediaInfo::Option_Static(...)</code><br/>

<h3>Internet connection<code></code></h3>
<code>MediaInfo::Option("Internet")</code><br/>

<h3>Internet update</h3>
Note : not yet implement, do not use it!
{% endblock %}
