<tr>
    <th colspan="5">Notes for installing the packages below:<br>"pacman -U *pkg.tar.xz"</th>
</tr>

<tr>
    <th rowspan="4" id="Extra">Extra</th>
    <th rowspan="2" id="Extra.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/24.06/movmetaedit-gui-24.06-x86_64.Arch_Extra.pkg.tar.zst">v24.06</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/24.06/movmetaedit-24.06-x86_64.Arch_Extra.pkg.tar.zst">v24.06</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="Extra.i686">i686</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/17.10.1/movmetaedit-gui-17.10.1-i686.Arch_Extra.pkg.tar.xz">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/17.10.1/movmetaedit-17.10.1-i686.Arch_Extra.pkg.tar.xz">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
