<tr>
    <th colspan="4">For automatic update and easiest installation, enable MediaArea softwares repository for Debian<br />Search for "MOVMetaEdit" in your package manager<br />or "apt-get install movmetaedit-gui" (for GUI)<br /> or "apt-get install movmetaedit" (for CLI)</th>
    <td><a href='{{ path('ma_repos') }}'>Activate MediaArea Repository</a></td>
</tr>
<tr>
    <th colspan="5">Notes for installing the packages below:<br />"sudo dpkg -i *deb"</th>
</tr>

<tr>
    <th rowspan="4" id="9">9 (Stretch)</th>
    <th rowspan="2" id="9.amd64">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/17.10/movmetaedit-gui_17.10-1_amd64.Debian_9.0.deb">v17.10</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/17.10/movmetaedit_17.10-1_amd64.Debian_9.0.deb">v17.10</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="2" id="9.i386">i386</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/17.10/movmetaedit-gui_17.10-1_i386.Debian_9.0.deb">v17.10</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/17.10/movmetaedit_17.10-1_i386.Debian_9.0.deb">v17.10</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="4" id="8">8 (Jessie)</th>
    <th rowspan="2" id="8.amd64">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/17.10/movmetaedit-gui_17.10-1_amd64.Debian_8.0.deb">v17.10</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/17.10/movmetaedit_17.10-1_amd64.Debian_8.0.deb">v17.10</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="2" id="8.i386">i386</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/17.10/movmetaedit-gui_17.10-1_i386.Debian_8.0.deb">v17.10</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/17.10/movmetaedit_17.10-1_i386.Debian_8.0.deb">v17.10</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="4" id="7">7 (Wheezy)</th>
    <th rowspan="2" id="7.amd64">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/17.10/movmetaedit-gui_17.10-1_amd64.Debian_7.0.deb">v17.10</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/17.10/movmetaedit_17.10-1_amd64.Debian_7.0.deb">v17.10</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="2" id="7.i386">i386</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/17.10/movmetaedit-gui_17.10-1_i386.Debian_7.0.deb">v17.10</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/17.10/movmetaedit_17.10-1_i386.Debian_7.0.deb">v17.10</a></td>
    <td>&nbsp;</td>
</tr>
