<tr>
    <th colspan="4">For automatic update and easiest installation, enable MediaArea softwares repository for Fedora<br>search for "MOVMetaEdit" in your package manager<br>or "yum install movmetaedit-gui" (for GUI)<br> or "yum install movmetaedit" (for CLI)</th>
    <td><a href='{{ path('ma_repos') }}'>Activate MediaArea Repository</a></td>
</tr>

<tr>
    <th rowspan="2" id="42">42</th>
    <th rowspan="2" id="42.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/25.09/movmetaedit-gui-25.09.x86_64.Fedora_42.rpm">v25.09</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/25.09/movmetaedit-25.09.x86_64.Fedora_42.rpm">v25.09</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="2" id="41">41</th>
    <th rowspan="2" id="41.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/25.09/movmetaedit-gui-25.09.x86_64.Fedora_41.rpm">v25.09</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/25.09/movmetaedit-25.09.x86_64.Fedora_41.rpm">v25.09</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="40">40</th>
    <th rowspan="2" id="40.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/24.06/movmetaedit-gui-24.06.x86_64.Fedora_40.rpm">v24.06</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/24.06/movmetaedit-24.06.x86_64.Fedora_40.rpm">v24.06</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="39">39</th>
    <th rowspan="2" id="39.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/24.06/movmetaedit-gui-24.06.x86_64.Fedora_39.rpm">v24.06</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/24.06/movmetaedit-24.06.x86_64.Fedora_39.rpm">v24.06</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="38">38</th>
    <th rowspan="2" id="38.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/24.06/movmetaedit-gui-24.06.x86_64.Fedora_38.rpm">v24.06</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/24.06/movmetaedit-24.06.x86_64.Fedora_38.rpm">v24.06</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="28">28</th>
    <th rowspan="2" id="28.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/17.10.1/movmetaedit-gui-17.10.1.x86_64.Fedora_28.rpm">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/17.10.1/movmetaedit-17.10.1.x86_64.Fedora_28.rpm">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="26">26</th>
    <th rowspan="2" id="26.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/17.10.1/movmetaedit-gui-17.10.1.x86_64.Fedora_26.rpm">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/17.10.1/movmetaedit-17.10.1.x86_64.Fedora_26.rpm">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="25">25</th>
    <th rowspan="2" id="25.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/17.10.1/movmetaedit-gui-17.10.1.x86_64.Fedora_25.rpm">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/17.10.1/movmetaedit-17.10.1.x86_64.Fedora_25.rpm">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="25.i686">i686</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/17.10.1/movmetaedit-gui-17.10.1.i686.Fedora_25.rpm">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/17.10.1/movmetaedit-17.10.1.i686.Fedora_25.rpm">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="24">24</th>
    <th rowspan="2" id="24.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/17.10.1/movmetaedit-gui-17.10.1.x86_64.Fedora_24.rpm">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/17.10.1/movmetaedit-17.10.1.x86_64.Fedora_24.rpm">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="24.i686">i686</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/17.10.1/movmetaedit-gui-17.10.1.i686.Fedora_24.rpm">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/17.10.1/movmetaedit-17.10.1.i686.Fedora_24.rpm">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
