<tr>
    <th rowspan="2">10.5&nbsp;(Leopard),<br /> 10.6&nbsp;(Snow&nbsp;Leopard),<br />10.7&nbsp;(Lion),<br />10.8&nbsp;(Mountain&nbsp;Lion),<br />10.9&nbsp;(Mavericks),<br />10.10&nbsp;(Yosemite),<br />10.11&nbsp;(El&nbsp;Captain),<br />10.12&nbsp;(Sierra),<br />10.13&nbsp;(High&nbsp;Sierra)</th>
    <th rowspan="2">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/snapshots/binary/movmetaedit-gui/20171009-2/MOVMetaEdit_GUI_0.1.20171009_Mac.dmg">v0.1.20171009</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/snapshots/binary/movmetaedit/20171009-2/MOVMetaEdit_CLI_0.1.20171009_Mac.dmg">v0.1.20171009</a></td>
    <td>&nbsp;</td>
</tr>
