<tr>
    <th rowspan="2" colspan="2"><a href="https://geo.itunes.apple.com/app/movmetaedit/id1299543806">Mac App Store</a></th>
    <td class="table-OS" colspan="3">macOS 10.13 to 14, x86_64</td>
</tr>
<tr>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td colspan="2">Mac App Store is the simplest way to find and download apps for your Mac.<br><a href="https://geo.itunes.apple.com/app/movmetaedit/id1299543806">Get MOVMetaEdit 25.09 from Mac App Store!</a></td>
</tr>
<tr>
    <td colspan="5">&nbsp;<br>&nbsp;</td>
</tr>
<tr>
    <th rowspan="2">macOS 10.13 to 14</th>
    <th rowspan="2">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/25.09/MOVMetaEdit_GUI_25.09_Mac.dmg">v25.09</a></td>
    <td></td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/25.09/MOVMetaEdit_CLI_25.09_Mac.dmg">v25.09</a></td>
    <td>&nbsp;</td>
</tr>
