<tr>
    <th colspan="4">For automatic update and easiest installation, enable MediaArea softwares repository for OpenSUSE<br>search for "MOVMetaEdit" in your package manager<br>or "zypper install movmetaedit-gui" (for GUI)<br> or "zypper install movmetaedit" (for CLI)</th>
    <td><a href='{{ path('ma_repos') }}'>Activate MediaArea Repository</a></td>
</tr>

<tr>
    <th rowspan="2" id="Leap_15.5">Leap 15.5</th>
    <th rowspan="2" id="Leap_15.5.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/24.06/movmetaedit-gui-24.06.x86_64.openSUSE_Leap_15.5.rpm">v24.06</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/24.06/movmetaedit-24.06.x86_64.openSUSE_Leap_15.5.rpm">v24.06</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="2" id="Leap_15.4">Leap 15.4</th>
    <th rowspan="2" id="Leap_15.4.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/24.06/movmetaedit-gui-24.06.x86_64.openSUSE_Leap_15.4.rpm">v24.06</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/24.06/movmetaedit-24.06.x86_64.openSUSE_Leap_15.4.rpm">v24.06</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="2" id="Tumbleweed">Tumbleweed</th>
    <th rowspan="2" id="Tumbleweed.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/24.06/movmetaedit-gui-24.06.x86_64.openSUSE_Tumbleweed.rpm">v24.06</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/24.06/movmetaedit-24.06.x86_64.openSUSE_Tumbleweed.rpm">v24.06</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="Leap_42.3">Leap 42.3</th>
    <th rowspan="2" id="Leap_42.3.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/17.10.1/movmetaedit-gui-17.10.1.x86_64.openSUSE_Leap_42.3.rpm">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/17.10.1/movmetaedit-17.10.1.x86_64.openSUSE_Leap_42.3.rpm">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="Tumbleweed">Tumbleweed</th>
    <th rowspan="2" id="Tumbleweed.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/17.10.1/movmetaedit-gui-17.10.1.x86_64.openSUSE_Tumbleweed.rpm">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/17.10.1/movmetaedit-17.10.1.x86_64.openSUSE_Tumbleweed.rpm">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="Tumbleweed.i586">i586</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/17.10.1/movmetaedit-gui-17.10.1.i586.openSUSE_Tumbleweed.rpm">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/17.10.1/movmetaedit-17.10.1.i586.openSUSE_Tumbleweed.rpm">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="Leap_42.2">Leap 42.2</th>
    <th rowspan="2" id="Leap_42.2.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/17.10.1/movmetaedit-gui-17.10.1.x86_64.openSUSE_Leap_42.2.rpm">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/17.10.1/movmetaedit-17.10.1.x86_64.openSUSE_Leap_42.2.rpm">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="Leap_42.1">Leap 42.1</th>
    <th rowspan="2" id="Leap_42.1.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/17.10.1/movmetaedit-gui-17.10.1.x86_64.openSUSE_Leap_42.1.rpm">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/17.10.1/movmetaedit-17.10.1.x86_64.openSUSE_Leap_42.1.rpm">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
