<tr>
    <th colspan="4">For automatic update and easiest installation, enable MediaArea softwares repository for OpenSuse<br />search for "MOV MetaEdit" in your package manager<br />or "zypper install movmetaedit-gui" (for GUI)<br /> or "zypper install movmetaedit" (for CLI)</th>
    <td><a href="{{ path('ma_repos') }}">Activate MediaArea Repository</a></td>
</tr>
<tr>
    <th rowspan="2" id="Leap_42.3">Leap 42.3</th>
    <th rowspan="2" id="Leap_42.3.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/snapshots/binary/movmetaedit-gui/20171009-2/movmetaedit-gui-0.1.20171009.x86_64.openSUSE_Leap_42.3.rpm">v0.1.20171009</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/snapshots/binary/movmetaedit/20171009-2/movmetaedit-0.1.20171009.x86_64.openSUSE_Leap_42.3.rpm">v0.1.20171009</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="4" id="Tumbleweed">Tumbleweed</th>
    <th rowspan="2" id="Tumbleweed.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/snapshots/binary/movmetaedit-gui/20171009-2/movmetaedit-gui-0.1.20171009.x86_64.openSUSE_Tumbleweed.rpm">v0.1.20171009</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/snapshots/binary/movmetaedit/20171009-2/movmetaedit-0.1.20171009.x86_64.openSUSE_Tumbleweed.rpm">v0.1.20171009</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="2" id="Tumbleweed.i586">i586</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/snapshots/binary/movmetaedit-gui/20171009-2/movmetaedit-gui-0.1.20171009.i586.openSUSE_Tumbleweed.rpm">v0.1.20171009</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/snapshots/binary/movmetaedit/20171009-2/movmetaedit-0.1.20171009.i586.openSUSE_Tumbleweed.rpm">v0.1.20171009</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="2" id="Leap_42.2">Leap 42.2</th>
    <th rowspan="2" id="Leap_42.2.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/snapshots/binary/movmetaedit-gui/20171009-2/movmetaedit-gui-0.1.20171009.x86_64.openSUSE_Leap_42.2.rpm">v0.1.20171009</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/snapshots/binary/movmetaedit/20171009-2/movmetaedit-0.1.20171009.x86_64.openSUSE_Leap_42.2.rpm">v0.1.20171009</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="2" id="Leap_42.1">Leap 42.1</th>
    <th rowspan="2" id="Leap_42.1.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/snapshots/binary/movmetaedit-gui/20171009-2/movmetaedit-gui-0.1.20171009.x86_64.openSUSE_Leap_42.1.rpm">v0.1.20171009</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/snapshots/binary/movmetaedit/20171009-2/movmetaedit-0.1.20171009.x86_64.openSUSE_Leap_42.1.rpm">v0.1.20171009</a></td>
    <td>&nbsp;</td>
</tr>
