<tr>
    <th colspan="4">For automatic update and easiest installation, enable MediaArea softwares repository for RHEL<br>search for "MOVMetaEdit" in your package manager<br>or "yum install movmetaedit-gui" (for GUI)<br> or "yum install movmetaedit" (for CLI)</th>
    <td><a href='{{ path('ma_repos') }}'>Activate MediaArea Repository</a></td>
</tr>

<tr>
    <th rowspan="4" id="7">7</th>
    <th rowspan="2" id="7.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/17.10.1/movmetaedit-gui-17.10.1.x86_64.RHEL_7.rpm">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/17.10.1/movmetaedit-17.10.1.x86_64.RHEL_7.rpm">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="2" id="7.ppc64">ppc64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/17.10.1/movmetaedit-gui-17.10.1.ppc64.RHEL_7.rpm">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/17.10.1/movmetaedit-17.10.1.ppc64.RHEL_7.rpm">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="4" id="6">6</th>
    <th rowspan="2" id="6.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/17.10.1/movmetaedit-gui-17.10.1.x86_64.RHEL_6.rpm">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/17.10.1/movmetaedit-17.10.1.x86_64.RHEL_6.rpm">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="2" id="6.i686">i686</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/17.10.1/movmetaedit-gui-17.10.1.i686.RHEL_6.rpm">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/17.10.1/movmetaedit-17.10.1.i686.RHEL_6.rpm">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
