<tr>
    <th colspan="4">For automatic update and easiest installation, enable MediaArea softwares repository for SUSE Linux Entreprise<br>search for "MOVMetaEdit" in your package manager<br>or "zypper install movmetaedit-gui" (for GUI)<br> or "zypper install movmetaedit" (for CLI)</th>
    <td><a href='{{ path('ma_repos') }}'>Activate MediaArea Repository</a></td>
</tr>

<tr>
    <th rowspan="2" id="15_SP5">15 SP5</th>
    <th rowspan="2" id="15_SP5.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/24.06/movmetaedit-gui-24.06.x86_64.SLE_15_SP5.rpm">v24.06</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/24.06/movmetaedit-24.06.x86_64.SLE_15_SP5.rpm">v24.06</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="2" id="15_SP4">15 SP4</th>
    <th rowspan="2" id="15_SP4.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/24.06/movmetaedit-gui-24.06.x86_64.SLE_15_SP4.rpm">v24.06</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/24.06/movmetaedit-24.06.x86_64.SLE_15_SP4.rpm">v24.06</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="2" id="12_SP5">12 SP5</th>
    <th rowspan="2" id="12_SP5.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/24.06/movmetaedit-gui-24.06.x86_64.SLE_12_SP5.rpm">v24.06</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/24.06/movmetaedit-24.06.x86_64.SLE_12_SP5.rpm">v24.06</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="12_SP3">12 SP3</th>
    <th rowspan="2" id="12_SP3.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/17.10.1/movmetaedit-gui-17.10.1.x86_64.SLE_12_SP3.rpm">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/17.10.1/movmetaedit-17.10.1.x86_64.SLE_12_SP3.rpm">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="12_SP2">12 SP2</th>
    <th rowspan="2" id="12_SP2.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/17.10.1/movmetaedit-gui-17.10.1.x86_64.SLE_12_SP2.rpm">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/17.10.1/movmetaedit-17.10.1.x86_64.SLE_12_SP2.rpm">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="12_SP1">12 SP1</th>
    <th rowspan="2" id="12_SP1.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/17.10.1/movmetaedit-gui-17.10.1.x86_64.SLE_12_SP1.rpm">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/17.10.1/movmetaedit-17.10.1.x86_64.SLE_12_SP1.rpm">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="11_SP4">11 SP4</th>
    <th rowspan="2" id="11_SP4.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/17.10.1/movmetaedit-gui-17.10.1.x86_64.SLE_11_SP4.rpm">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/17.10.1/movmetaedit-17.10.1.x86_64.SLE_11_SP4.rpm">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="11_SP4.i586">i586</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/17.10.1/movmetaedit-gui-17.10.1.i586.SLE_11_SP4.rpm">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/17.10.1/movmetaedit-17.10.1.i586.SLE_11_SP4.rpm">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
