<tr>
    <th rowspan="3" colspan="2">All in one package<br> for an easy and quick compilation<br> on Linux without install</th>
    <td class="table-OS" colspan="3" id="AllInOne">Source code, all in one package</td>
</tr>
<tr>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/25.09/MOVMetaEdit_GUI_25.09_GNU_FromSource.tar.xz">v25.09</a> (<a href="//mediaarea.net/download/binary/movmetaedit-gui/25.09/MOVMetaEdit_GUI_25.09_GNU_FromSource.tar.bz2">bz2</a> / <a href="//mediaarea.net/download/binary/movmetaedit-gui/25.09/MOVMetaEdit_GUI_25.09_GNU_FromSource.tar.gz">gz</a>)</td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/25.09/MOVMetaEdit_CLI_25.09_GNU_FromSource.tar.xz">v25.09</a> (<a href="//mediaarea.net/download/binary/movmetaedit/25.09/MOVMetaEdit_CLI_25.09_GNU_FromSource.tar.bz2">bz2</a> / <a href="//mediaarea.net/download/binary/movmetaedit/25.09/MOVMetaEdit_CLI_25.09_GNU_FromSource.tar.gz">gz</a>)</td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="2" colspan="2">Split sources with .spec,<br>.desc and debian dir<br> for Linux package creation</th>
    <td class="table-OS" colspan="3" id="Split">Source code, split packages</td>
</tr>
<tr>
    <th><abbr title="Graphical User Interface">GUI</abbr>/<abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/source/movmetaedit/25.09/movmetaedit_25.09.tar.xz">v25.09</a> (<a href="//mediaarea.net/download/source/movmetaedit/25.09/movmetaedit_25.09.tar.bz2">bz2</a> / <a href="//mediaarea.net/download/source/movmetaedit/25.09/movmetaedit_25.09.tar.gz">gz</a>)</td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="2" colspan="2">Sources with all<br>third-party libs included,<br>(for quick compilation<br>with Microsoft Visual C++)</th>
    <td class="table-OS" colspan="3" id="Split">Source code, All included</td>
</tr>
<tr>
    <th><abbr title="Graphical User Interface">GUI</abbr>/<abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/source/movmetaedit/25.09/movmetaedit_25.09.7z">v25.09</a></td>
    <td>&nbsp;</td>
</tr>
