<tr>
    <th colspan="4">For automatic update and easiest installation, enable MediaArea softwares repository for Ubuntu<br>Search for "MOVMetaEdit" in your package manager<br>or "apt-get install movmetaedit-gui" (for GUI)<br> or "apt-get install movmetaedit" (for CLI)</th></th>
    <td><a href='{{ path('ma_repos') }}'>Activate MediaArea Repository</a></td>
</tr>
<tr>
    <th colspan="5">Notes for installing the packages below:<br>"sudo dpkg -i *deb"</th>
</tr>

<tr>
    <th rowspan="2" id="25.04">Ubuntu 25.04 (Plucky Puffin)</th>
    <th rowspan="2" id="25.04.amd64">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/25.09/movmetaedit-gui_25.09-1_amd64.Ubuntu_25.04.deb">v25.09</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/25.09/movmetaedit_25.09-1_amd64.Ubuntu_25.04.deb">v25.09</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="2" id="24.04">Ubuntu 24.04 (Noble Numbat)</th>
    <th rowspan="2" id="24.04.amd64">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/25.09/movmetaedit-gui_25.09-1_amd64.Ubuntu_24.04.deb">v25.09</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/25.09/movmetaedit_25.09-1_amd64.Ubuntu_24.04.deb">v25.09</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="23.04">Ubuntu 23.04 (Lunar Lobster)</th>
    <th rowspan="2" id="23.04.amd64">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/24.06/movmetaedit-gui_24.06-1_amd64.Ubuntu_23.04.deb">v24.06</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/24.06/movmetaedit_24.06-1_amd64.Ubuntu_23.04.deb">v24.06</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="2" id="22.04">Ubuntu 22.04 (Jammy Jellyfish)</th>
    <th rowspan="2" id="22.04.amd64">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/25.09/movmetaedit-gui_25.09-1_amd64.xUbuntu_22.04.deb">v25.09</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/25.09/movmetaedit_25.09-1_amd64.xUbuntu_22.04.deb">v25.09</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="2" id="20.04">Ubuntu 20.04 (Focal Fossa)</th>
    <th rowspan="2" id="20.04.amd64">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/25.09/movmetaedit-gui_25.09-1_amd64.xUbuntu_20.04.deb">v25.09</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/25.09/movmetaedit_25.09-1_amd64.xUbuntu_20.04.deb">v25.09</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="18.04">Ubuntu 18.04 (Bionic Beaver)</th>
    <th rowspan="2" id="18.04.amd64">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/17.10.1/movmetaedit-gui_17.10.1-1_amd64.xUbuntu_18.04.deb">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/17.10.1/movmetaedit_17.10.1-1_amd64.xUbuntu_18.04.deb">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="18.04.i386">i386</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/17.10.1/movmetaedit-gui_17.10.1-1_i386.xUbuntu_18.04.deb">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/17.10.1/movmetaedit_17.10.1-1_i386.xUbuntu_18.04.deb">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="17.10">Ubuntu 17.10 (Artful Aardvark)</th>
    <th rowspan="2" id="17.10.amd64">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/17.10.1/movmetaedit-gui_17.10.1-1_amd64.xUbuntu_17.10.deb">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/17.10.1/movmetaedit_17.10.1-1_amd64.xUbuntu_17.10.deb">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="17.10.i386">i386</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/17.10.1/movmetaedit-gui_17.10.1-1_i386.xUbuntu_17.10.deb">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/17.10.1/movmetaedit_17.10.1-1_i386.xUbuntu_17.10.deb">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="17.04">Ubuntu 17.04 (Zesty Zapus)</th>
    <th rowspan="2" id="17.04.amd64">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/17.10.1/movmetaedit-gui_17.10.1-1_amd64.xUbuntu_17.04.deb">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/17.10.1/movmetaedit_17.10.1-1_amd64.xUbuntu_17.04.deb">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="17.04.i386">i386</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/17.10.1/movmetaedit-gui_17.10.1-1_i386.xUbuntu_17.04.deb">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/17.10.1/movmetaedit_17.10.1-1_i386.xUbuntu_17.04.deb">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="16.10">Ubuntu 16.10 (Yakkety Yak)</th>
    <th rowspan="2" id="16.10.amd64">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/17.10.1/movmetaedit-gui_17.10.1-1_amd64.xUbuntu_16.10.deb">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/17.10.1/movmetaedit_17.10.1-1_amd64.xUbuntu_16.10.deb">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="16.10.i386">i386</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/17.10.1/movmetaedit-gui_17.10.1-1_i386.xUbuntu_16.10.deb">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/17.10.1/movmetaedit_17.10.1-1_i386.xUbuntu_16.10.deb">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="16.04">Ubuntu 16.04 (Xenial Xerus)<br>Linux Mint 18.3 (Sylvia)</th>
    <th rowspan="2" id="16.04.amd64">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/17.10.1/movmetaedit-gui_17.10.1-1_amd64.xUbuntu_16.04.deb">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/17.10.1/movmetaedit_17.10.1-1_amd64.xUbuntu_16.04.deb">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="16.04.i386">i386</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/17.10.1/movmetaedit-gui_17.10.1-1_i386.xUbuntu_16.04.deb">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/17.10.1/movmetaedit_17.10.1-1_i386.xUbuntu_16.04.deb">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="14.04">Ubuntu 14.04 (Trusty Tahr)<br><br>Linux Mint 17 (Qiana)<br><br>Linux Mint 17.1 (Rebecca)<br><br>Linux Mint 17.2 (Rafaela)<br><br>Linux Mint 17.3 (Rosa)</th>
    <th rowspan="2" id="14.04.amd64">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/17.10.1/movmetaedit-gui_17.10.1-1_amd64.xUbuntu_14.04.deb">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/17.10.1/movmetaedit_17.10.1-1_amd64.xUbuntu_14.04.deb">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="14.04.i386">i386</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/17.10.1/movmetaedit-gui_17.10.1-1_i386.xUbuntu_14.04.deb">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/17.10.1/movmetaedit_17.10.1-1_i386.xUbuntu_14.04.deb">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="12.04">Ubuntu 12.04 (Precise Pangolin)<br><br> Linux Mint 13 (Maya)</th>
    <th rowspan="2" id="12.04.amd64">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/17.10.1/movmetaedit-gui_17.10.1-1_amd64.xUbuntu_12.04.deb">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/17.10.1/movmetaedit_17.10.1-1_amd64.xUbuntu_12.04.deb">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="12.04.i386">i386</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/17.10.1/movmetaedit-gui_17.10.1-1_i386.xUbuntu_12.04.deb">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/17.10.1/movmetaedit_17.10.1-1_i386.xUbuntu_12.04.deb">v17.10.1</a></td>
    <td>&nbsp;</td>
</tr>
