<tr>
    <th rowspan="4">Vista, 7, 8, 10, 11</th>
    <th rowspan="2">64 bit</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/24.06/MOVMetaEdit_GUI_24.06_Windows_x64.exe">v24.06</a> <small>(<a href="//mediaarea.net/download/binary/movmetaedit-gui/24.06/MOVMetaEdit_GUI_24.06_Windows_x64_WithoutInstaller.zip">64 bit only without installer</a>)</small></td>
    <td></td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/24.06/MOVMetaEdit_CLI_24.06_Windows_x64.zip">v24.06</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="2">32 bit</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit-gui/24.06/MOVMetaEdit_GUI_24.06_Windows_i386.exe">v24.06</a> <small> (<a href="//mediaarea.net/download/binary/movmetaedit-gui/24.06/MOVMetaEdit_GUI_24.06_Windows_i386_WithoutInstaller.zip">32 bit only without installer</a>)</small></td>
    <td></td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/movmetaedit/24.06/MOVMetaEdit_CLI_24.06_Windows_i386.zip">v24.06</a></td>
    <td>&nbsp;</td>
</tr>
