imports:
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: services.yml }
    - { resource: admin.yml }
    - { resource: "@UserBundle/Resources/config/services.yml" }
    - { resource: "@MediaTraceBundle/Resources/config/services.yml" }
    - { resource: "@BWFMetaEditBundle/Resources/config/services.yml" }
    - { resource: "@QCToolsBundle/Resources/config/services.yml" }
    - { resource: "@DVAnalyzerBundle/Resources/config/services.yml" }
    - { resource: "@OllistdBundle/Resources/config/services.yml" }
    - { resource: "@AVIMetaEditBundle/Resources/config/services.yml" }
    - { resource: "@MediaInfoBundle/Resources/config/services.yml" }
    - { resource: "@PaymentBundle/Resources/config/services.yml" }
    - { resource: "@SupportUsBundle/Resources/config/services.yml" }
    - { resource: "@MOVMetaEditBundle/Resources/config/services.yml" }
    - { resource: "@NoTimeToWaitBundle/Resources/config/services.yml" }
    - { resource: "@BlogBundle/Resources/config/services.yml" }
    - { resource: "@VoteBundle/Resources/config/services.yml" }
    - { resource: "@MediaConchBundle/Resources/config/services.yml" }
    - { resource: "@MediaBinBundle/Resources/config/services.yml" }
    - { resource: "@MediaConchOnlineBundle/Resources/config/services.yml" }
    - { resource: "@RAWcookedBundle/Resources/config/services.yml" }

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    locale: en
    app.locales: be|bg|ca|de|en|es|fa|fr|hr|hu|it|ja|ka|ko|lt|nl|pl|pt|pt-BR|ru|sq|sv|th|uk|zh-CN|zh-HK|zh-TW

framework:
    #esi: ~
    translator: { fallbacks: ['%locale%'] }
    secret: '%secret%'
    router:
        resource: '%kernel.project_dir%/app/config/routing.yml'
        strict_requirements: ~
    form: ~
    csrf_protection: ~
    validation: { enable_annotations: true }
    #serializer: { enable_annotations: true }
    templating:
        engines: ['twig']
    default_locale: '%locale%'
    trusted_hosts: ~
    session:
        # https://symfony.com/doc/current/reference/configuration/framework.html#handler-id
        handler_id: session.handler.native_file
        save_path: '%kernel.project_dir%/var/sessions/%kernel.environment%'
    fragments: ~
    http_method_override: true
    assets: ~
    php_errors:
        log: true
    web_link:
        enabled: true

# Twig Configuration
twig:
    debug: '%kernel.debug%'
    strict_variables: '%kernel.debug%'
    form_themes: ['bootstrap_3_horizontal_layout.html.twig']

# Doctrine Configuration
doctrine:
    dbal:
        driver: pdo_mysql
        host: '%database_host%'
        port: '%database_port%'
        dbname: '%database_name%'
        user: '%database_user%'
        password: '%database_password%'
        charset: UTF8
        default_table_options:
            charset: utf8mb4
            collate: utf8mb4_unicode_ci
        # if using pdo_sqlite as your database driver:
        #   1. add the path in parameters.yml
        #     e.g. database_path: "%kernel.project_dir%/var/data/data.sqlite"
        #   2. Uncomment database_path in parameters.yml.dist
        #   3. Uncomment next line:
        #path: '%database_path%'

    orm:
        auto_generate_proxy_classes: '%kernel.debug%'
        naming_strategy: doctrine.orm.naming_strategy.underscore
        auto_mapping: true

# Doctrine migrations
doctrine_migrations:
    dir_name: "%kernel.root_dir%/DoctrineMigrations"
    namespace: Application\Migrations
    table_name: migration_versions
    name: Application Migrations

# Stof doctrine extensions
stof_doctrine_extensions:
    orm:
        default:
            sluggable: true
            timestampable: true

# Swiftmailer Configuration
swiftmailer:
    transport: '%mailer_transport%'
    host: '%mailer_host%'
    username: '%mailer_user%'
    password: '%mailer_password%'
    spool: { type: memory }

assetic:
    debug:          '%kernel.debug%'
    use_controller: '%kernel.debug%'
    workers:
        cache_busting:
            enabled: true
    filters:
        cssrewrite: ~
        jsqueeze: ~
        scssphp:
            formatter: 'Leafo\ScssPhp\Formatter\Compressed'

knp_menu:
    providers:
        builder_alias: false
        builder_service: true
        container_aware: false

fos_user:
    db_driver: orm # other valid values are 'mongodb' and 'couchdb'
    firewall_name: main
    user_class: UserBundle\Entity\User
    from_email:
        address: info@mediaarea.net
        sender_name: MediaArea
    registration:
        form:
            type: UserBundle\Form\Type\RegistrationFormType
            validation_groups: [UserRegistration]
        confirmation:
            enabled:    false
    profile:
        form:
            type: UserBundle\Form\Type\ProfileFormType
            validation_groups: [UserProfile]
    service:
        mailer: MediaConchOnlineBundle\Mailer\UserMailer

fos_js_routing:
    routes_to_expose:
        - ma_professional_services
        - ma_contact
        - supportUs_faq
        - supportUs_sponsors_list
        - supportUs_supporters_list
        - invoice_ajax_modal_data
        - invoice_download_pdf
        - mediabin_show
        - mediabin_api_new
        - mediabin_api_update
        - mediabin_api_cancel_expiration
        - mediabin_api_delete
        - mediabin_api_listing_latests_public
        - mediabin_api_listing_user
        - mco_api_connected_policy_public
        - mco_api_connected_policy_unpublish
        - mco_api_public_policy
        - mco_api_public_policy_public_export
        - mco_checker_ajaxform
        - mco_checker_create_policy
        - mco_checker_force_analyze
        - mco_checker_mediainfo_outputlist
        - mco_checker_policy_status
        - mco_checker_report
        - mco_checker_report_download
        - mco_checker_report_status
        - mco_checker_report_status_multi
        - mco_checker_status
        - mco_policy_create
        - mco_policy_create_from_file
        - mco_policy_delete
        - mco_policy_duplicate
        - mco_policy_edit
        - mco_policy_export
        - mco_policy_import
        - mco_policy_move
        - mco_policy_public_export
        - mco_policy_public_import
        - mco_policy_rule_create
        - mco_policy_rule_delete
        - mco_policy_rule_duplicate
        - mco_policy_rule_edit
        - mco_policy_rule_fields_list
        - mco_policy_rule_move
        - mco_policy_rule_values_list
        - mco_policy_tree_data

jms_payment_core:
    encryption:
        provider: defuse_php_encryption
        secret: "%jms_payment_core_secret%"

kj_payment_stripe:
    api_key: "%kj_payment_stripe_api_key%"
    api_version: "%kj_payment_stripe_api_version%"

jms_payment_paypal:
    username: "%jms_payment_paypal_username%"
    password: "%jms_payment_paypal_password%"
    signature: "%jms_payment_paypal_signature%"
    debug: false

nelmio_cors:
    defaults:
        allow_credentials: false
        allow_origin: []
        allow_headers: []
        allow_methods: []
        expose_headers: []
        max_age: 0
        hosts: []
        origin_regex: false
    paths:
        '^/MediaConchOnline/api/public/':
            allow_origin: ['*']
            allow_methods: ['GET', 'POST']
            max_age: 3600
        '^/MediaConchOnline/api/protected/':
            allow_origin: ['*']
            allow_headers: ['X-apiKey', 'accept', 'content-type']
            allow_methods: ['GET', 'POST', 'PUT']
            max_age: 3600

vich_uploader:
    db_driver: orm
    mappings:
        display:
            upload_destination: "%kernel.project_dir%/files/display"
            namer:              "vich_uploader.namer_origname"
            directory_namer:    "mco.directory_namer.policy"

blog:
    post_files_path: "%kernel.project_dir%/src/BlogBundle/Posts/"

media_bin:
    local:
        path: "%mediabin_local_path%"
    external:
        enabled: "%mediabin_external_enabled%"
        openstack:
            auth_url: "%mediabin_external_openstack_auth_url%"
            region: "%mediabin_external_openstack_region%"
            container: "%mediabin_external_openstack_container%"
            username: "%mediabin_external_openstack_username%"
            password: "%mediabin_external_openstack_password%"
            tenant_id: "%mediabin_external_openstack_tenant_id%"

media_conch_online:
    mediaconch:
        host: "%mco_mc_host%"
        port: "%mco_mc_port%"
        api_version: "%mco_mc_api_version%"
    absolute_url_for_mail:
        host: "%mco_mail_host%"
        scheme: "%mco_mail_scheme%"
        baseUrl: "%mco_mail_base_url%"
    api:
        baseUrl: "%mco_api_base_url%"
        token: "%mco_api_token%"
    quotas :
        enabled: true
        default:
            policies: 10
            uploads: 3
            urls: 3
            policyChecks: 100
            period: 3600
        by_role:
            ROLE_ADMIN:
                policies: 200
                uploads: 100
                urls: 100
                policyChecks: 2000
            ROLE_BETA:
                policies: 20
                uploads: 10
                urls: 10
                policyChecks: 200
            ROLE_BASIC:
                policies: 20
                uploads: 10
                urls: 10
                policyChecks: 200
            ROLE_GUEST:
                policies: 10
                uploads: 3
                urls: 3
                policyChecks: 100
