# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: ~
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    # Payment Bundle
    jms_payment_core_secret: ~
    kj_payment_stripe_api_key: ~
    kj_payment_stripe_api_version: ~
    jms_payment_paypal_username: ~
    jms_payment_paypal_password: ~
    jms_payment_paypal_signature: ~

    # MediaBin
    mediabin_local_path: ~
    mediabin_external_enabled: false
    mediabin_external_openstack_auth_url: ~
    mediabin_external_openstack_region: ~
    mediabin_external_openstack_container: ~
    mediabin_external_openstack_username: ~
    mediabin_external_openstack_password: ~
    mediabin_external_openstack_tenant_id: ~

    # MediaConch config
    mco_check_folder: /some/folder/
    mco_mc_host: 127.0.0.1
    mco_mc_port: 4242
    mco_mc_api_version: 1.15
    mco_mail_host: ~
    mco_mail_scheme: ~
    mco_mail_base_url: ~
