# Learn more about services, parameters and containers at
# https://symfony.com/doc/current/service_container.html
parameters:
    #parameter_name: value

services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    #service_name:
    #    class: AppBundle\Directory\ClassName
    #    arguments: ['@another_service_name', 'plain_value', '%parameter_name%']
    app.locale_listener:
        class: AppBundle\EventListener\LocaleListener
        arguments: ['%kernel.default_locale%', '%app.locales%']
        tags:
            - { name: kernel.event_subscriber }

    app.cookies.listener:
        class: AppBundle\EventListener\CookiesListener
        tags:
            - { name: kernel.event_listener, event: kernel.request, method: handleCookies }
            - { name: kernel.event_listener, event: kernel.response, method: setCookies }

    twig.extension.text:
        class: Twig_Extensions_Extension_Text
        tags:
            - { name: twig.extension }

    twig.extension.intl:
        class: Twig_Extensions_Extension_Intl
        tags:
            - { name: twig.extension }

    app.menu_builder:
        class: AppBundle\Menu\MenuBuilder
        tags:
            - { name: knp_menu.menu_builder, method: createMainMenu, alias: main }
            - { name: knp_menu.menu_builder, method: createMediaTraceMenu, alias: mediatrace }
            - { name: knp_menu.menu_builder, method: createBWFMetaEditMenu, alias: bwf }
            - { name: knp_menu.menu_builder, method: createAVIMetaEditMenu, alias: avi }
            - { name: knp_menu.menu_builder, method: createMOVMetaEditMenu, alias: mov }
            - { name: knp_menu.menu_builder, method: createQCToolsMenu, alias: qc }
            - { name: knp_menu.menu_builder, method: createDVAnalyzerMenu, alias: dv }
            - { name: knp_menu.menu_builder, method: createOllistdMenu, alias: ollistd }
            - { name: knp_menu.menu_builder, method: createRAWcookedMenu, alias: rc }
        public: true
