{% extends 'AppBundle::noLayout.html.twig' %}

{% block title %}{% trans %}about.page.title{% endtrans %}{% endblock %}
{% block description %}{% trans %}about.page.description{% endtrans %}{% endblock %}
{% block keywords %}{% trans %}about.page.keywords{% endtrans %}{% endblock %}

{% block body %}
<div>
    <pre>
MediaInfo change log:

Version 0.7.96, 2017-06-01
--------------
+ MPEG-4: display of recorded date from DV substream
x I505, AC-3: crash with some potentially malformed frames
x I477, AVC: fix hang when open .mpls from some 3D BD
x MPEG-4: does not show "1904" year is raw value is 0 (Mac/Linux)
x Dedicated read thread disabled by default (rare dead locks)
x #B1027, MPEG-TS: some files where detected as MPEG-TS or BDAV but they aren't
x Sequence of files : frame count was wrong with sequence of MPEG-TS files (was count of files)
x MXF: detection of more 608/708 with parsing of few frames in the middle of the file was broken

Version 0.7.95, 2017-05-04
--------------
+ EBUCore: EBUCore 1.8 with acquisition metadata output.
+ Better support of growing files, especially when accessed by FTP
+ Matroska: better support of some broken files (high EBMLMaxSizeLength, padding before start of EBML)
+ EXR: showing Multipart and Deep flags
+ EXR: show image compression method
x EBUCore: fixed display aspect ratio (was using rational)
x EBUCore: fixed frame rate factor (was num/den instead of factor)
x AVC: some streams with dynamic frame type were having a wrong frame rate
x MPEG-4: some old AAC tracks were not correctly detected
x Matroska: was sometimes displaying "Bit depth: Bit0" when bit depth is unknown
x Nut: fix crash with some files
x FFV1: PixelAspectRatio was an integer, switched to 3-digit rational
x DTS: fix frame count
x Dolby E: fix frame count
x EBUCore: fix regression creating invalid XML files
x AVC: some streams with dynamic frame type were having a wrong frame rate
x I490, EXR: was not supporting valid 31-char attribute names

Version 0.7.94, 2017-03-31
--------------
+ VC-3: detection of embedded time code
+ VC-3: better support of stream with width 960 or 1440
+ VC-3: support of version 3 (a.k.a. DNxHR), including profile and level for version 1/2 (a.k.a. DNxHD)
+ Matroska trace feature: reduction of its size
+ MXF trace feature: reduction of its size
+ Visual Studio 2017 project files
x M143, MXF with Acquisition Metadata: crash fixed
x Several crash fixes

Version 0.7.93, 2017-02-28
--------------
+ Matroska: detection of native FFV1 CodecID ("V_FFV1")
+ AC-3/E-AC-3: detection of Atmos inside core streams
+ AC-3/E-AC-3: slight reorganization of metadata display for dual mono and surround
+ AC-3/E-AC-3: "complete main" and similar info moved to "Service kind" dedicated line
+ AC-3/E-AC-3: more precision about how is built a stream (e.g. "E-AC-3+Atmos / E-AC-3" or "TrueHD+Atmos / TrueHD / AC-3")
+ WTV: basic detection
+ MPEG-TS: Detection of Opus
+ URL: "URLEncode" option for saying if the input should be URL encoded or not (default is guess = no change except if it contains spaces)
x MediaTrace: for bitstreams (not bytestreams), bit offset was wrong
x HLS: duration was sometimes wrong, reading only the first TS file duration. Now full duration is displayed
x MPEG-TS: if stream is encrypted or invalid, level was sometimes not the expected one for AVC (e.g. "BaseLine@3.0" instead of "Baseline@3")
x Matroska: FFV1 stream width/height was not initialized when Matroska track header width/height is after CodecID
x FFV1: fix potential crash with some buggy slice headers
x Matroska: crash in case of big attachment and CRC32 present

Version 0.7.92.1, 2017-02-02
--------------
x Fix a performance regression in the matroska parser

Version 0.7.92, 2017-01-31
--------------
+ #F507, MXF: detection of HLG Transfer Characteristic
+ #F508, HEVC: support of preferred_transfer_characteristics SEI (from HEVC/H.265 draft, preferred method for HLG in DVB)
+ MXF: parsing of AVC descriptors and crosscheck with the essence content
+ MP4: more AppleStoreCountry values mapped to countries, show the country number if unknown
+ File extension: test if the file extension correspond to the container format
+ AVI/WAV: test of truncated file
+ MIXML output: Format_Profile divided in Format_Profile, Format_Level, Format_Tier
+ ID3v2: TCAP tag is mapped to new field "PodcastCategory"
x MIXML output: some *_Original values were missing
x MXF/Teletext: was not correctly detecting non subtitle streams
x ID3v2: TP2 tag was incorrectly mapped to "Accompaniment", now mapped to "Album_Performer"
x ID3v2: TSO2 tag was incorrectly mapped to "Performer_Sort", now mapped to "Album_Performer_Sort"
x ID3v2: TCMP tag was displayed twice (2 "Compilation" lines)
x Windows version was sometimes showing a long character string in Windows explorer, changed to a shorter character string

Version 0.7.91, 2016-11-30
--------------
+ Add TIFF extension to Windows shell extension
x Debian 9 and Ubuntu 16.10+: Remove unneeded dependency
+ IMF and PTX: more languages detected from file names (but the full list of common languages tags still need to be added)
+ IMF and PTX: support of non-standard but common "LAS" = "Spanish (Latin America)" language code
+ MXF: Support of color primaries, transfer characteristic, coding equations defined in SMPTE ST 2067-21:2016 e.g. xvYCC or BT.2020
+ Minor performance optimizations and cleanup (Thanks to Pavel Pimenov)
+ MediaTrace optimization for Matroska
x Fixed parsing of FFV1 v0/v1
x PTX: fix crash due to bad parsing of some file names while looking for track language

Version 0.7.90, 2016-10-31
--------------
+ #M94, WAV: support of file with a buggy RIFF header
+ Matroska: detection of segment size of zero (compatibility risks e.g. Windows 10 Media Player does not play such file)
+ MXF: detection of some incoherences between header and footer
+ MXF: display of Locked information
+ N19/STL: support of 48/50/60 fps content
+ N19/STL: display of time code of first frame
+ AC-3: bit depth
+ MPEG Video: CBR bitrate mode information based on vbv_delay
+ DXW: support of fake time code attribute
x Teletext in MPEG-TS: CodecID, format (classic teletext or subtitle), video delay were sometimes not displayed
x PDF: fixed crash with some files with full analysis set
x #B485, BMP height is negative
x Several minor fixes
    </pre>
</div>
<p>
    The full ChangeLog is available <a href="https://github.com/MediaArea/MediaInfo/blob/master/History_GUI.txt" target="_blank">here</a>.
</p>
{% endblock %}
