{% extends 'AppBundle::base.html.twig' %}

{% block title %}{% trans %}prices.page.title{% endtrans %}{% endblock %}
{% block description %}{% trans %}about.page.description{% endtrans %}{% endblock %}
{% block keywords %}{% trans %}about.page.keywords{% endtrans %}{% endblock %}

{% block body %}
<h1>{% trans %}prices.title{% endtrans %}</h1>

<table class="download">
 <tbody>
  <tr>
   <th>&nbsp;</th>
   <th><a href="http://en.wikipedia.org/wiki/Eurozone">Eurozone</a><br/>(EUR)</th>
   <th>Great-Britain <br/>(GBP)</th>
   <th>Rest of the world <br/>(USD)</th>
  </tr>
  <tr>
   <th colspan="4"><h2>MediaInfo Development</h2></th>
  </tr>
  <tr>
   <td>
    Per hour, <acronym title="Code remains the property of MediaArea.net, as such it can be included in future releases of MediaInfo">shared copyright (including open-source version)</acronym>
   </td>
   <td style="text-align:right;">100&nbsp;€</td>
   <td style="text-align:right;">80&nbsp;£</td>
   <td style="text-align:right;">$&nbsp;120</td>
  </tr>
  <tr style="font-size:xx-small;">
   <td>
    Additional bank fee if &lt;= 1 day and wire transfer
   </td>
   <td style="text-align:right;">0&nbsp;€</td>
   <td style="text-align:right;">25&nbsp;£</td>
   <td style="text-align:right;">$&nbsp;50</td>
  </tr>
  <tr>
   <td>
    Per day (8 hours), <acronym title="Code remains the property of MediaArea.net, as such it can be included in future releases of MediaInfo">shared copyright (including open-source version)</acronym>
   </td>
   <td style="text-align:right;">650&nbsp;€</td>
   <td style="text-align:right;">550&nbsp;£</td>
   <td style="text-align:right;">$&nbsp;800</td>
  </tr>
  <tr>
   <td>
    Rebate after the first 5 days of the project
   </td>
   <td colspan="3" style="text-align:center;">-5%</td>
  </tr>
  <tr>
   <td>
    Rebate after the first 20 days of the project
   </td>
   <td colspan="3" style="text-align:center;">-10%</td>
  </tr>
  <tr>
   <td>
    Medium priority project (within 1 month + duration of the project, 2 days per week)
   </td>
   <td colspan="3" style="text-align:center;">+50%</td>
  </tr>
  <tr>
   <td>
    High priority project (within 2 weeks + duration of the project, 3 days per week)
   </td>
   <td colspan="3" style="text-align:center;">+100%</td>
  </tr>
  <tr>
   <td>
    <acronym title="Code remains the property of the client, it cannot be reused or published without Client's authorization">Copyright to client</acronym> or not useful for MediaInfo project (at the own discretion of the MediaInfo project leader)
   </td>
   <td colspan="3" style="text-align:center;">+50%</td>
  </tr>
  <tr>
   <th colspan="4"><h2>MediaInfo Support</h2></th>
  </tr>
  <tr>
   <td colspan="4">
    <ul>
     <li>To be used within a year. Customer selects the support starting date.</li>
     <li>Defects only (no feature requests)</li>
     <li>Balance Notification: Following the completion of each activity, a Balance Notification is sent (time per activity and remaining hours).</li>
     <li>When the number of reserved days is used up, the contract is terminated and another package must be bought if the customer wants more support</li>
     <li>If the complete number of days is not used up within a year, half of the remaining days can be used for feature development (at low priority)</li>
    </ul>
   </td>
  </tr>
  <tr>
   <td>
    <table>
     <tbody>
      <tr>
       <th>5-day package</th>
       <th width="5%">&nbsp;</th>
       <th colspan="3" bgcolor="DDDDDD">Severity</th>
      </tr>
      <tr>
       <th>&nbsp;</th>
       <th>&nbsp;</th>
       <th>Critical</th>
       <th>Major</th>
       <th>Minor</th>
      </tr>
      <tr>
       <td>First response time (receipt notice, review, work estimate)</td>
       <td>&nbsp;</td>
       <td>2&nbsp;days</td>
       <td>4&nbsp;days</td>
       <td>Next&nbsp;release</td>
      </tr>
      <tr>
       <td>Correction if the bug <b>can</b> be reproduced in the MediaArea.net SARL laboratory with a penalty of $100/day (limited to 75% of the price per year) for failure to deliver.</td>
       <td>&nbsp;</td>
       <td>1&nbsp;week</td>
       <td>2&nbsp;weeks</td>
       <td>Next&nbsp;release</td>
      </tr>
      <tr>
       <td>Time commitment toward resolution if the bug <b>cannot</b> be reproduced in the MediaArea.net SARL laboratory. Client must provide SSH access to the machine with the problem, a compiler and the necessary access authorizations.</td>
       <td>&nbsp;</td>
       <td>2&nbsp;days&nbsp;per&nbsp;week</td>
       <td>1&nbsp;day&nbsp;per&nbsp;week</td>
       <td>Next&nbsp;release</td>
      </tr>
     <tbody>
    </table>
   </td>
   <td style="text-align:right;">2&nbsp;500&nbsp;€</td>
   <td style="text-align:right;">2&nbsp;000&nbsp;£</td>
   <td style="text-align:right;">$&nbsp;3&nbsp;000</td>
  </tr>
  <tr>
   <td>
    <table>
     <tbody>
      <tr>
       <th>20-day package</th>
       <th width="5%">&nbsp;</th>
       <th colspan="3" bgcolor="DDDDDD">Severity</th>
      </tr>
      <tr>
       <th>&nbsp;</th>
       <th>&nbsp;</th>
       <th>Critical</th>
       <th>Major</th>
       <th>Minor</th>
      </tr>
      <tr>
       <td>First response time (receipt notice, review, work estimate)</td>
       <td>&nbsp;</td>
       <td>1&nbsp;day</td>
       <td>2&nbsp;days</td>
       <td>Next&nbsp;release</td>
      </tr>
      <tr>
       <td>Correction if the bug <b>can</b> be reproduced in the MediaArea.net SARL laboratory with a penalty of $150/day (limited to 50% of the price per year) for failure to deliver.</td>
       <td>&nbsp;</td>
       <td>3&nbsp;days</td>
       <td>1&nbsp;week</td>
       <td>Next&nbsp;release</td>
      </tr>
      <tr>
       <td>Time commitment toward resolution if the bug <b>cannot</b> be reproduced in the MediaArea.net SARL laboratory. Client must provide SSH access to the machine with the problem, a compiler and the necessary access authorizations.</td>
       <td>&nbsp;</td>
       <td>3&nbsp;days&nbsp;per&nbsp;week</td>
       <td>2&nbsp;days&nbsp;per&nbsp;week</td>
       <td>Next&nbsp;release</td>
      </tr>
     <tbody>
    </table>
   </td>
   <td style="text-align:right;">8&nbsp;500&nbsp;€</td>
   <td style="text-align:right;">6&nbsp;500&nbsp;£</td>
   <td style="text-align:right;">$&nbsp;10&nbsp;000</td>
  </tr>
  <tr>
   <td>
    Non-regression tests<br/>
    Per year<br/>
    Before each official release, MediaArea.net SARL does internal tests with the exact client environment, in order to maintain the client software binding in proper working condition<br/>
    Client must provide an autonomous environment test for MediaArea.net SARL laboratory or must provide SSH access to a bed test machine, with a compiler and needed authorizations<br/>
   </td>
   <td style="text-align:right;">2&nbsp;500 €</td>
   <td style="text-align:right;">2&nbsp;000&nbsp;£</td>
   <td style="text-align:right;">$&nbsp;3&nbsp;000</td>
  </tr>
 </tbody>
</table>
{% endblock %}
