<tr>
    <th colspan="4">Download the AppImage corresponding to your architecture then, e.g for qctools:<br>- Make it executable "chmod +x qctools-*.AppImage"<br>- Run the AppImage "./qctools-*.AppImage"</th>
</tr>

<tr>
    <th rowspan="2">64 bit</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/qctools/0.9/qctools-0.9.glibc2.7-x86_64.AppImage">v0.9</td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/qcli/0.9/qcli-0.9.glibc2.7-x86_64.AppImage">v0.9</td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="2">32 bit</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/qctools/0.9/qctools-0.9.glibc2.7-i686.AppImage">v0.9</td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/qcli/0.9/qcli-0.9.glibc2.7-i686.AppImage">v0.9</td>
    <td>&nbsp;</td>
</tr>
