<tr>
    <th colspan="5">Notes for installing the packages below:<br>"pacman -U *pkg.tar.xz"</th>
</tr>

<tr class="old-files">
    <th rowspan="2" id="Extra">Extra</th>
    <th rowspan="2" id="Extra.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qctools/1.2/qctools-1.2-x86_64.Arch_Extra.pkg.tar.zst">v1.2</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qcli/1.2/qcli-1.2-x86_64.Arch_Extra.pkg.tar.zst">v1.2</a></td>
    <td>&nbsp;</td>
</tr>
