<tr>
    <th colspan="4">For automatic update and easiest installation, enable MediaArea software repository for Debian<br>search for "QCTools" in your package manager<br>or "apt-get install qctools" (for GUI)<br> or "apt-get install qcli" (for CLI)</th>
    <td><a href="{{ path('ma_repos') }}">Activate MediaArea Repository</a></td>
</tr>
<tr>
    <th colspan="5">Notes for installing the packages below:<br>"sudo dpkg -i *deb"<br><br>If you get an error message, use:<br>"sudo apt-get -f install"</th>
</tr>

<tr>
    <th rowspan="4" id="10">10 (Buster)</th>
    <th rowspan="2" id="10.amd64">amd64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qctools/1.1/qctools_1.1-1_amd64.Debian_10.deb">v1.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qcli/1.1/qcli_1.1-1_amd64.Debian_10.deb">v1.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="2" id="10.i386">i386</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qctools/1.1/qctools_1.1-1_i386.Debian_10.deb">v1.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qcli/1.1/qcli_1.1-1_i386.Debian_10.deb">v1.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="4" id="9">9 (Stretch)</th>
    <th rowspan="2" id="9.amd64">amd64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qctools/1.1/qctools_1.1-1_amd64.Debian_9.0.deb">v1.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qcli/1.1/qcli_1.1-1_amd64.Debian_9.0.deb">v1.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="2" id="9.i386">i386</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qctools/1.1/qctools_1.1-1_i386.Debian_9.0.deb">v1.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qcli/1.1/qcli_1.1-1_i386.Debian_9.0.deb">v1.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="8">8 (Jessie)</th>
    <th rowspan="2" id="8.amd64">amd64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qctools/1.0/qctools_1.0-1_amd64.Debian_8.0.deb">v1.0</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qcli/1.0/qcli_1.0-1_amd64.Debian_8.0.deb">v1.0</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="8.i386">i386</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qctools/1.0/qctools_1.0-1_i386.Debian_8.0.deb">v1.0</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qcli/1.0/qcli_1.0-1_i386.Debian_8.0.deb">v1.0</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="7">7 (Wheezy)</th>
    <th rowspan="2" id="7.amd64">amd64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qctools/0.9/qctools_0.9-1_amd64.Debian_7.0.deb">v0.9</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qcli/0.9/qcli_0.9-1_amd64.Debian_7.0.deb">v0.9</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="7.i386">i386</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qctools/0.9/qctools_0.9-1_i386.Debian_7.0.deb">v0.9</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qcli/0.9/qcli_0.9-1_i386.Debian_7.0.deb">v0.9</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="6">6 (Squeeze)</th>
    <th rowspan="1" id="6.amd64">amd64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qctools/0.7.3/qctools_0.7.3-1_amd64.Debian_6.0.deb">v0.7.3</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="1" id="6.i386">i386</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qctools/0.7.3/qctools_0.7.3-1_i386.Debian_6.0.deb">v0.7.3</a></td>
    <td>&nbsp;</td>
</tr>
