<tr class="old-files">
    <th colspan="4">For automatic update and easiest installation, enable MediaArea software repository for Fedora<br>search for "QCTools" in your package manager<br>or "yum install qctools" (for GUI)<br> or "yum install qcli" (for CLI)</th>
    <td><a href="{{ path('ma_repos') }}">Activate MediaArea Repository</a></td>
</tr>

<tr class="old-files">
    <th rowspan="2" id="35">35</th>
    <th rowspan="2" id="35.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qctools/1.2.1/qctools-1.2.1.x86_64.Fedora_35.rpm">v1.2.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qcli/1.2.1/qcli-1.2.1.x86_64.Fedora_35.rpm">v1.2.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="34">34</th>
    <th rowspan="2" id="34.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qctools/1.2.1/qctools-1.2.1.x86_64.Fedora_34.rpm">v1.2.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qcli/1.2.1/qcli-1.2.1.x86_64.Fedora_34.rpm">v1.2.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="33">33</th>
    <th rowspan="2" id="33.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qctools/1.2/qctools-1.2.x86_64.Fedora_33.rpm">v1.2</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qcli/1.2/qcli-1.2.x86_64.Fedora_33.rpm">v1.2</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="32">32</th>
    <th rowspan="2" id="32.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qctools/1.2/qctools-1.2.x86_64.Fedora_32.rpm">v1.2</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qcli/1.2/qcli-1.2.x86_64.Fedora_32.rpm">v1.2</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="31">31</th>
    <th rowspan="2" id="31.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qctools/1.2/qctools-1.2.x86_64.Fedora_31.rpm">v1.2</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qcli/1.2/qcli-1.2.x86_64.Fedora_31.rpm">v1.2</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="30">30</th>
    <th rowspan="2" id="30.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qctools/1.1/qctools-1.1.x86_64.Fedora_30.rpm">v1.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qcli/1.1/qcli-1.1.x86_64.Fedora_30.rpm">v1.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="30.i686">i686</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qctools/1.1/qctools-1.1.i686.Fedora_30.rpm">v1.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qcli/1.1/qcli-1.1.i686.Fedora_30.rpm">v1.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="29">29</th>
    <th rowspan="2" id="29.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qctools/1.1/qctools-1.1.x86_64.Fedora_29.rpm">v1.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qcli/1.1/qcli-1.1.x86_64.Fedora_29.rpm">v1.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="28">28</th>
    <th rowspan="2" id="28.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qctools/1.1/qctools-1.1.x86_64.Fedora_28.rpm">v1.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qcli/1.1/qcli-1.1.x86_64.Fedora_28.rpm">v1.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="27">27</th>
    <th rowspan="2" id="27.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qctools/1.1/qctools-1.1.x86_64.Fedora_27.rpm">v1.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qcli/1.1/qcli-1.1.x86_64.Fedora_27.rpm">v1.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="26">26</th>
    <th rowspan="2" id="26.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qctools/1.1/qctools-1.1.x86_64.Fedora_26.rpm">v1.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qcli/1.1/qcli-1.1.x86_64.Fedora_26.rpm">v1.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="25">25</th>
    <th rowspan="2" id="25.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qctools/0.9/qctools-0.9.x86_64.Fedora_25.rpm">v0.9</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qcli/0.9/qcli-0.9.x86_64.Fedora_25.rpm">v0.9</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="25.i686">i686</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qctools/0.9/qctools-0.9.i686.Fedora_25.rpm">v0.9</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qcli/0.9/qcli-0.9.i686.Fedora_25.rpm">v0.9</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="24">24</th>
    <th rowspan="2" id="24.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qctools/0.9/qctools-0.9.x86_64.Fedora_24.rpm">v0.9</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qcli/0.9/qcli-0.9.x86_64.Fedora_24.rpm">v0.9</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="24.i686">i686</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qctools/0.9/qctools-0.9.i686.Fedora_24.rpm">v0.9</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qcli/0.9/qcli-0.9.i686.Fedora_24.rpm">v0.9</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="23">23</th>
    <th rowspan="1" id="23.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qctools/0.7.3/qctools-0.7.3.x86_64.Fedora_23.rpm">v0.7.3</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="1" id="23.i686">i686</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qctools/0.7.3/qctools-0.7.3.i686.Fedora_23.rpm">v0.7.3</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="22">22</th>
    <th rowspan="1" id="22.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qctools/0.7.3/qctools-0.7.3.x86_64.Fedora_22.rpm">v0.7.3</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="1" id="22.i686">i686</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qctools/0.7.3/qctools-0.7.3.i686.Fedora_22.rpm">v0.7.3</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="21">21</th>
    <th rowspan="1" id="21.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qctools/0.7.3/qctools-0.7.3.x86_64.Fedora_21.rpm">v0.7.3</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="1" id="21.i686">i686</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qctools/0.7.3/qctools-0.7.3.i686.Fedora_21.rpm">v0.7.3</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="20">20 (Heisenbug)</th>
    <th rowspan="1" id="20.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qctools/0.7.3/qctools-0.7.3.x86_64.Fedora_20.rpm">v0.7.3</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="1" id="20.i686">i686</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qctools/0.7.3/qctools-0.7.3.i686.Fedora_20.rpm">v0.7.3</a></td>
    <td>&nbsp;</td>
</tr>
