<tr>
    <th rowspan="4" id="6">6</th>
    <th rowspan="2" id="6.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qctools/0.9/qctools-0.9.x86_64.Mageia_6.rpm">v0.9</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qcli/0.9/qcli-0.9.x86_64.Mageia_6.rpm">v0.9</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="2" id="6.i586">i586</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qctools/0.9/qctools-0.9.i586.Mageia_6.rpm">v0.9</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qcli/0.9/qcli-0.9.i586.Mageia_6.rpm">v0.9</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="4" id="5_standard">5</th>
    <th rowspan="2" id="5_standard.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qctools/0.9/qctools-0.9.x86_64.Mageia_5_standard.rpm">v0.9</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qcli/0.9/qcli-0.9.x86_64.Mageia_5_standard.rpm">v0.9</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="2" id="5_standard.i586">i586</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qctools/0.9/qctools-0.9.i586.Mageia_5_standard.rpm">v0.9</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qcli/0.9/qcli-0.9.i586.Mageia_5_standard.rpm">v0.9</a></td>
    <td>&nbsp;</td>
</tr>
