<tr>
    <th colspan="4">For automatic update and easiest installation, enable MediaArea softwares repository for openSUSE<br />search for "QCTools" in your package manager or "zypper install qctools"</th>
    <td><a href="{{ path('ma_repos') }}">Activate MediaArea Repository</a></td>
</tr>
<tr>
    <th rowspan="2" id="Leap_42.2">Leap 42.2</th>
    <th rowspan="2" id="Leap_42.2.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qctools/0.8/qctools-0.8.x86_64.openSUSE_Leap_42.2.rpm">v0.8</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qcli/0.8/qcli-0.8.x86_64.openSUSE_Leap_42.2.rpm">v0.8</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="4" id="Tumbleweed">Tumbleweed</th>
    <th rowspan="2" id="Tumbleweed.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qctools/0.8/qctools-0.8.x86_64.openSUSE_Tumbleweed.rpm">v0.8</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qcli/0.8/qcli-0.8.x86_64.openSUSE_Tumbleweed.rpm">v0.8</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="2" id="Tumbleweed.i586">i586</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qctools/0.8/qctools-0.8.i586.openSUSE_Tumbleweed.rpm">v0.8</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qcli/0.8/qcli-0.8.i586.openSUSE_Tumbleweed.rpm">v0.8</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="2" id="Leap_42.1">Leap 42.1</th>
    <th rowspan="2" id="Leap_42.1.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qctools/0.8/qctools-0.8.x86_64.openSUSE_Leap_42.1.rpm">v0.8</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qcli/0.8/qcli-0.8.x86_64.openSUSE_Leap_42.1.rpm">v0.8</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="4" id="13.2">13.2</th>
    <th rowspan="2" id="13.2.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qctools/0.7.3/qctools-0.7.3.x86_64.openSUSE_13.2.rpm">v0.7.3</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qcli/0.7.3/">v0.7.3</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="2" id="13.2.i586">i586</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qctools/0.7.3/qctools-0.7.3.i586.openSUSE_13.2.rpm">v0.7.3</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qcli/0.7.3/">v0.7.3</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="4" id="13.1">13.1</th>
    <th rowspan="2" id="13.1.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qctools/0.7.3/qctools-0.7.3.x86_64.openSUSE_13.1.rpm">v0.7.3</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qcli/0.7.3/">v0.7.3</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="2" id="13.1.i586">i586</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qctools/0.7.3/qctools-0.7.3.i586.openSUSE_13.1.rpm">v0.7.3</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qcli/0.7.3/">v0.7.3</a></td>
    <td>&nbsp;</td>
</tr>
