<tr>
    <th colspan="4">For automatic update and easiest installation, enable MediaArea softwares repository for SLE<br />search for "QCTools" in your package manager<br />or "zypper install qctools" (for GUI)<br /> or "zipper install qcli" (for CLI)</th>
    <td><a href="{{ path('ma_repos') }}">Activate MediaArea Repository</a></td>
</tr>
<tr>
    <th rowspan="2" id="12_SP2">12 SP2</th>
    <th rowspan="2" id="12_SP2.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qctools/0.9/qctools-0.9.x86_64.SLE_12_SP2.rpm">v0.9</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qcli/0.9/qcli-0.9.x86_64.SLE_12_SP2.rpm">v0.9</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="2" id="12_SP1">12 SP1</th>
    <th rowspan="2" id="12_SP1.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qctools/0.9/qctools-0.9.x86_64.SLE_12_SP1.rpm">v0.9</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qcli/0.9/qcli-0.9.x86_64.SLE_12_SP1.rpm">v0.9</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="2" id="12">12</th>
    <th rowspan="2" id="12.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qctools/0.7.3/qctools-0.7.3.x86_64.SLE_12.rpm">v0.7.3</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/qcli/0.7.3/">v0.7.3</a></td>
    <td>&nbsp;</td>
</tr>
