<tr>
    <th colspan="5">Split sources with .spec,<br />.desc and debian dir<br /> for Linux package creation</th>
</tr>
<tr>
    <td class="table-OS" id="Split">Source code, split packages</td>
    <td>GUI</td>
    <td>&nbsp;</td>
    <td><a href="//mediaarea.net/download/source/qctools/0.8/qctools_0.8.tar.xz">v0.8</a> (<a href="//mediaarea.net/download/source/qctools/0.8/qctools_0.8.tar.bz2">bz2</a> / <a href="//mediaarea.net/download/source/qctools/0.8/qctools_0.8.tar.gz">gz</a>)</td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th colspan="5">Sources with<br />third-party libs included,<br />(for quick compilation<br />on all OS)</th>
</tr>
<tr>
    <td class="table-OS" id="Split">Source code, all included</td>
    <td>GUI</td>
    <td>&nbsp;</td>
    <td><a href="//mediaarea.net/download/source/qctools/0.8/qctools_0.8_AllInclusive.7z">v0.8</a></td>
    <td>&nbsp;</td>
</tr>
