<tr>
    <th colspan="5">Split sources with .spec,<br>.desc and debian dir<br> for Linux package creation</th>
</tr>
<tr>
    <td class="table-OS" id="Split">Source code, split packages</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><a href="//mediaarea.net/download/source/qctools/1.2.1/qctools_1.2.1.tar.xz">v1.2.1</a> (<a href="//mediaarea.net/download/source/qctools/1.2.1/qctools_1.2.1.tar.bz2">bz2</a> / <a href="//mediaarea.net/download/source/qctools/1.2.1/qctools_1.2.1.tar.gz">gz</a>)</td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th colspan="5">Sources with<br>third-party libs included,<br>(for quick compilation<br>on all OS)</th>
</tr>
<tr>
    <td class="table-OS" id="Split">Source code, all included</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><a href="//mediaarea.net/download/source/qctools/1.2.1/qctools_1.2.1_AllInclusive.7z">v1.2.1</a></td>
    <td>&nbsp;</td>
</tr>
