<tr>
    <th rowspan="5">Vista, 7, 8, 10</th>
    <th>Universal installer (32/64 bit)</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/qctools/1.2/QCTools_1.2_Windows.exe">v1.2 Universal (32/64 bit)</a></td>
    <td>If you don't know which one to download, download this one</td>
</tr>
<tr>
    <th rowspan="2">64 bit</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/qctools/1.2/QCTools_1.2_Windows.exe">v1.2 Universal (32/64 bit)</a> <small>(<a href="//mediaarea.net/download/binary/qctools/1.2/QCTools_1.2_Windows_x64_WithoutInstaller.zip">64 bit only without installer</a>)</small></td>
    <td></td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/qcli/1.2/QCli_1.2_Windows_x64.zip">v1.2</a></td>
    <td></td>
</tr>
<tr>
    <th rowspan="2">32 bit</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/qctools/1.2/QCTools_1.2_Windows.exe">v1.2 Universal (32/64 bit)</a> <small> (<a href="//mediaarea.net/download/binary/qctools/1.2/QCTools_1.2_Windows_i386_WithoutInstaller.zip">32 bit only without installer</a>)</small></td>
    <td></td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/qcli/1.2/QCli_1.2_Windows_i386.zip">v1.2</a></td>
    <td></td>
</tr>
