{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <div class="col-md-10 pull-right">
            <input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-default" />
        </div>
    </div>
{{ form_end(form) }}
