{% extends 'RAWcookedBundle::base.html.twig' %}

{% block title %}RAWcooked - Download RAWcooked for AlmaLinux{% endblock %}

{% block body %}
<h1>Download - AlmaLinux</h1>
{% image '@AppBundle/Resources/public/img/OS/AlmaLinux.png' %}
<img src="{{ asset_url }}" alt="AlmaLinux" title="AlmaLinux" width="350" height="65"><br />
{% endimage %}

<div class="table-responsive">
<table class="download table table-bordered table-condensed">
<thead>
<tr class="table-header">
    <th>Version</th>
    <th>Architecture</th>
    <th>Interface</th>
    <td>Version</td>
    <td>Comment</td>
</tr>
</thead>
<tbody>
{{ include('@RAWcooked/Download/almalinuxTable.html.twig') }}
</tbody>
</table>
</div>
{% endblock %}
