<tr>
    <th colspan="4">For automatic update and easiest installation, enable MediaArea software repository for AlmaLinux<br>search for "RAWcooked" in your package manager<br>or "dnf install rawcooked"</th>
    <td><a href="{{ path('ma_repos') }}">Activate MediaArea Repository</a></td>
</tr>
<tr>
    <th colspan="5">For up-to-date packages please check <a href="AlmaLinux">AlmaLinux releases</a></th>
</tr>
<tr>
    <th rowspan="1" id="10">10</th>
    <th rowspan="1" id="10.x86_64">x86_64</th>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/rawcooked/25.12/rawcooked-25.12.x86_64.AlmaLinux_10.rpm">v25.12</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="1" id="9">9</th>
    <th rowspan="1" id="9.x86_64">x86_64</th>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/rawcooked/25.12/rawcooked-25.12.x86_64.AlmaLinux_9.rpm">v25.12</a></td>
    <td>&nbsp;</td>
</tr>