<tr>
    <th colspan="5">Notes for installing the packages below:<br>"pacman -U *pkg.tar.xz"</th>
</tr>
<tr>
    <th rowspan="1" id="Extra">Extra</th>
    <th rowspan="1" id="Extra.x86_64">x86_64</th>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/rawcooked/18.09beta1/rawcooked-18.09beta1-x86_64.Arch_Extra.pkg.tar.xz">v18.09beta1</a></td>
    <td>&nbsp;</td>
</tr>
