<tr>
    <th colspan="4">For automatic update and easiest installation, enable MediaArea software repository for CentOS<br>search for "RAWcooked" in your package manager<br>or "yum install rawcooked"</th>
    <td><a href="{{ path('ma_repos') }}">Activate MediaArea Repository</a></td>
</tr>
<tr>
    <th rowspan="1" id="8">8</th>
    <th rowspan="1" id="8.x86_64">x86_64</th>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/rawcooked/21.01/rawcooked-21.01.x86_64.CentOS_8.rpm">v21.01</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="1" id="7">7</th>
    <th rowspan="1" id="7.x86_64">x86_64</th>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/rawcooked/21.01/rawcooked-21.01.x86_64.CentOS_7.rpm">v21.01</a></td>
    <td>&nbsp;</td>
</tr>
