<tr>
    <th colspan="4">For automatic update and easiest installation, enable MediaArea software repository for Debian<br>search for "RAWcooked" in your package manager<br>or "apt-get install rawcooked"</th>
    <td><a href="{{ path('ma_repos') }}">Activate MediaArea Repository</a></td>
</tr>
<tr>
    <th colspan="5">Notes for installing the packages below:<br>"sudo dpkg -i *deb"<br><br>If you get an error message, use:<br>"sudo apt-get -f install"</th>
</tr>
<tr>
    <th rowspan="1" id="9">9 (Stretch)</th>
    <th rowspan="1" id="9.amd64">amd64</th>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/rawcooked/18.07alpha2/rawcooked_18.07alpha2-1_amd64.Debian_9.0.deb">v18.07alpha2</a></td>
    <td>&nbsp;</td>
</tr>
