<tr>
    <th colspan="4">For automatic update and easiest installation, enable MediaArea software repository for Fedora<br>search for "RAWcooked" in your package manager<br>or "yum install rawcooked"</th>
    <td><a href="{{ path('ma_repos') }}">Activate MediaArea Repository</a></td>
</tr>
<tr>
    <th rowspan="1" id="38">38</th>
    <th rowspan="1" id="38.x86_64">x86_64</th>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/rawcooked/23.09/rawcooked-23.09.x86_64.Fedora_38.rpm">v23.09</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="1" id="37">37</th>
    <th rowspan="1" id="37.x86_64">x86_64</th>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/rawcooked/23.09/rawcooked-23.09.x86_64.Fedora_37.rpm">v23.09</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="1" id="36">36</th>
    <th rowspan="1" id="36.x86_64">x86_64</th>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/rawcooked/23.03/rawcooked-23.03.x86_64.Fedora_36.rpm">v23.03</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="1" id="34">34</th>
    <th rowspan="1" id="34.x86_64">x86_64</th>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/rawcooked/21.09/rawcooked-21.09.x86_64.Fedora_34.rpm">v21.09</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="1" id="33">33</th>
    <th rowspan="1" id="33.x86_64">x86_64</th>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/rawcooked/21.09/rawcooked-21.09.x86_64.Fedora_33.rpm">v21.09</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="1" id="32">32</th>
    <th rowspan="1" id="32.x86_64">x86_64</th>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/rawcooked/21.09/rawcooked-21.09.x86_64.Fedora_32.rpm">v21.09</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="1" id="31">31</th>
    <th rowspan="1" id="31.x86_64">x86_64</th>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/rawcooked/21.09/rawcooked-21.09.x86_64.Fedora_31.rpm">v21.09</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="29">29</th>
    <th rowspan="1" id="29.x86_64">x86_64</th>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/rawcooked/18.10.1/rawcooked-18.10.1.x86_64.Fedora_29.rpm">v18.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="1" id="29.armv7l">armv7l</th>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/rawcooked/18.10.1/rawcooked-18.10.1.armv7l.Fedora_29.rpm">v18.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="1" id="29.aarch64">aarch64</th>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/rawcooked/18.10.1/rawcooked-18.10.1.aarch64.Fedora_29.rpm">v18.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="1" id="29.ppc64le">ppc64le</th>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/rawcooked/18.10.1/rawcooked-18.10.1.ppc64le.Fedora_29.rpm">v18.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="1" id="28">28</th>
    <th rowspan="1" id="28.x86_64">x86_64</th>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/rawcooked/18.10.1/rawcooked-18.10.1.x86_64.Fedora_28.rpm">v18.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="1" id="27">27</th>
    <th rowspan="1" id="27.x86_64">x86_64</th>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/rawcooked/18.10.1/rawcooked-18.10.1.x86_64.Fedora_27.rpm">v18.10.1</a></td>
    <td>&nbsp;</td>
</tr>
