<tr>
    <th>10.5&nbsp;(Leopard),<br> 10.6&nbsp;(Snow&nbsp;Leopard),<br>10.7&nbsp;(Lion),<br>10.8&nbsp;(Mountain&nbsp;Lion),<br>10.9&nbsp;(Mavericks),<br>10.10&nbsp;(Yosemite),<br>10.11&nbsp;(El&nbsp;Captain),<br>10.12&nbsp;(Sierra),<br>10.13&nbsp;(High&nbsp;Sierra)</th>
    <th>x86_64</th>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/rawcooked/18.07alpha2/RAWcooked_CLI_18.07alpha2_Mac.dmg">v18.07alpha2</a></td>
    <td>&nbsp;</td>
</tr>
