<tr>
    <th>macOS 10.10 to 15, x86_64 and arm64</th>
    <th>x86_64</th>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/rawcooked/24.11/RAWcooked_CLI_24.11_Mac.dmg">v24.11</a></td>
    <td>&nbsp;</td>
</tr>
