<tr>
    <th>macOS 10.10 to 15, x86_64 and arm64</th>
    <th>x86_64</th>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/rawcooked/25.12/RAWcooked_CLI_25.12_Mac.dmg">v25.12</a></td>
    <td>&nbsp;</td>
</tr>
