<tr>
    <th rowspan="1" id="7">7</th>
    <th rowspan="1" id="7.x86_64">x86_64</th>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/rawcooked/21.09/rawcooked-21.09.x86_64.Mageia_7.rpm">v21.09</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="1" id="6">6</th>
    <th rowspan="1" id="6.x86_64">x86_64</th>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/rawcooked/18.10.1/rawcooked-18.10.1.x86_64.Mageia_6.rpm">v18.10.1</a></td>
    <td>&nbsp;</td>
</tr>
