<tr>
    <th rowspan="1" id="6">6</th>
    <th rowspan="1" id="6.x86_64">x86_64</th>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/rawcooked/18.09beta1/rawcooked-18.09beta1.x86_64.Mageia_6.rpm">v18.09beta1</a></td>
    <td>&nbsp;</td>
</tr>
