<tr>
    <th colspan="5">Split sources with .spec,<br>.desc and debian dir<br> for Linux package creation</th>
</tr>
<tr>
    <td class="table-OS" id="Split">Source code, split packages</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><a href="//mediaarea.net/download/source/rawcooked/18.10.1/rawcooked_18.10.1.tar.xz">v18.10.1</a> (<a href="//mediaarea.net/download/source/rawcooked/18.10.1/rawcooked_18.10.1.tar.bz2">bz2</a> / <a href="//mediaarea.net/download/source/rawcooked/18.10.1/rawcooked_18.10.1.tar.gz">gz</a>)</td>
    <td>&nbsp;</td>
</tr>
