<tr>
    <th colspan="4">For automatic update and easiest installation, enable MediaArea software repository for Ubuntu<br>search for "RAWcooked" in your package manager<br>or "apt-get install rawcooked"</th>
    <td><a href="{{ path('ma_repos') }}">Activate MediaArea Repository</a></td>
</tr>
<tr>
    <th colspan="5">Notes for installing the packages below:<br>"sudo dpkg -i *deb"<br><br>If you get an error message, use:<br>"sudo apt-get -f install"</th>
</tr>

<tr>
    <th rowspan="1" id="25.10">Ubuntu 25.10 (Questing Quokka)</th>
    <th rowspan="1" id="25.10.amd64">amd64</th>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/rawcooked/25.12/rawcooked_25.12-1_amd64.Ubuntu_25.10.deb">v25.12</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="1" id="25.04">Ubuntu 25.04 (Plucky Puffin)</th>
    <th rowspan="1" id="25.04.amd64">amd64</th>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/rawcooked/25.12/rawcooked_25.12-1_amd64.Ubuntu_25.04.deb">v25.12</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="1" id="24.10">Ubuntu 24.10 (Oracular Oriole)</th>
    <th rowspan="1" id="24.10.amd64">amd64</th>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/rawcooked/24.11/rawcooked_24.11-1_amd64.Ubuntu_24.10.deb">v24.11</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="1" id="24.04">Ubuntu 24.04 (Noble Numbat)</th>
    <th rowspan="1" id="24.04.amd64">amd64</th>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/rawcooked/25.12/rawcooked_25.12-1_amd64.Ubuntu_24.04.deb">v25.12</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="1" id="23.10">Ubuntu 23.10 (Mantic Minotaur)</th>
    <th rowspan="1" id="23.10.amd64">amd64</th>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/rawcooked/24.11/rawcooked_24.11-1_amd64.Ubuntu_23.10.deb">v24.11</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="1" id="23.04">Ubuntu 23.04 (Lunar Lobster)</th>
    <th rowspan="1" id="23.04.amd64">amd64</th>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/rawcooked/23.12/rawcooked_23.12-1_amd64.Ubuntu_23.04.deb">v23.12</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="1" id="22.10">Ubuntu 22.10 (Kinetic Kudu)</th>
    <th rowspan="1" id="22.10.amd64">amd64</th>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/rawcooked/23.03/rawcooked_23.03-1_amd64.Ubuntu_22.10.deb">v23.03</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="1" id="22.04">Ubuntu 22.04 (Jammy Jellyfish)</th>
    <th rowspan="1" id="22.04.amd64">amd64</th>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/rawcooked/25.12/rawcooked_25.12-1_amd64.xUbuntu_22.04.deb">v25.12</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="1" id="21.10">Ubuntu 21.10 (Impish Indri)</th>
    <th rowspan="1" id="21.10.amd64">amd64</th>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/rawcooked/23.03/rawcooked_23.03-1_amd64.xUbuntu_21.10.deb">v23.03</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="1" id="21.04">Ubuntu 21.04 (Hirsute Hippo)</th>
    <th rowspan="1" id="21.04.amd64">amd64</th>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/rawcooked/21.09/rawcooked_21.09-1_amd64.xUbuntu_21.04.deb">v21.09</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="1" id="20.10">Ubuntu 20.10 (Groovy Gorilla)</th>
    <th rowspan="1" id="20.10.amd64">amd64</th>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/rawcooked/21.09/rawcooked_21.09-1_amd64.xUbuntu_20.10.deb">v21.09</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="1" id="20.04">Ubuntu 20.04 (Focal Fossa)</th>
    <th rowspan="1" id="20.04.amd64">amd64</th>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/rawcooked/25.12/rawcooked_25.12-1_amd64.xUbuntu_20.04.deb">v25.12</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="1" id="18.10">Ubuntu 18.10 (Cosmic Cuttlefish)</th>
    <th rowspan="1" id="18.10.amd64">amd64</th>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/rawcooked/18.10.1/rawcooked_18.10.1-1_amd64.xUbuntu_18.10.deb">v18.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="1" id="18.04">Ubuntu 18.04 (Bionic Beaver)</th>
    <th rowspan="1" id="18.04.amd64">amd64</th>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/rawcooked/23.03/rawcooked_23.03-1_amd64.xUbuntu_18.04.deb">v23.03</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="1" id="17.10">Ubuntu 17.10 (Artful Aardvark)</th>
    <th rowspan="1" id="17.10.amd64">amd64</th>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/rawcooked/18.10.1/rawcooked_18.10.1-1_amd64.xUbuntu_17.10.deb">v18.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="1" id="16.04">Ubuntu 16.04 (Xenial Xerus)<br>Linux Mint 18.3 (Sylvia)</th>
    <th rowspan="1" id="16.04.amd64">amd64</th>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/rawcooked/18.10.1/rawcooked_18.10.1-1_amd64.xUbuntu_16.04.deb">v18.10.1</a></td>
    <td>&nbsp;</td>
</tr>
