<tr>
    <th colspan="4">For automatic update and easiest installation, enable MediaArea software repository for Ubuntu<br>search for "RAWcooked" in your package manager<br>or "apt-get install rawcooked"</th>
    <td><a href="{{ path('ma_repos') }}">Activate MediaArea Repository</a></td>
</tr>
<tr>
    <th colspan="5">Notes for installing the packages below:<br>"sudo dpkg -i *deb"<br><br>If you get an error message, use:<br>"sudo apt-get -f install"</th>
</tr>
<tr>
    <th rowspan="1" id="20.10">Ubuntu 20.10 (Groovy Gorilla)</th>
    <th rowspan="1" id="20.10.amd64">amd64</th>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/rawcooked/21.01/rawcooked_21.01-1_amd64.xUbuntu_20.10.deb">v21.01</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="1" id="20.04">Ubuntu 20.04 (Focal Fossa)</th>
    <th rowspan="1" id="20.04.amd64">amd64</th>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/rawcooked/21.01/rawcooked_21.01-1_amd64.xUbuntu_20.04.deb">v21.01</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="1" id="18.10">Ubuntu 18.10 (Cosmic Cuttlefish)</th>
    <th rowspan="1" id="18.10.amd64">amd64</th>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/rawcooked/18.10.1/rawcooked_18.10.1-1_amd64.xUbuntu_18.10.deb">v18.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="1" id="18.04">Ubuntu 18.04 (Bionic Beaver)</th>
    <th rowspan="1" id="18.04.amd64">amd64</th>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/rawcooked/21.01/rawcooked_21.01-1_amd64.xUbuntu_18.04.deb">v21.01</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="1" id="17.10">Ubuntu 17.10 (Artful Aardvark)</th>
    <th rowspan="1" id="17.10.amd64">amd64</th>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/rawcooked/18.10.1/rawcooked_18.10.1-1_amd64.xUbuntu_17.10.deb">v18.10.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="1" id="16.04">Ubuntu 16.04 (Xenial Xerus)<br>Linux Mint 18.3 (Sylvia)</th>
    <th rowspan="1" id="16.04.amd64">amd64</th>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/rawcooked/18.10.1/rawcooked_18.10.1-1_amd64.xUbuntu_16.04.deb">v18.10.1</a></td>
    <td>&nbsp;</td>
</tr>
