<tr>
    <th>Vista, 7, 8, 10, 11</th>
    <th>64 bit</th>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/rawcooked/25.12/RAWcooked_CLI_25.12_Windows_x64.zip">v25.12</a></td>
    <td></td>
</tr>
