<tr>
    <th>Vista, 7, 8, 10, 11</th>
    <th>64 bit</th>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/rawcooked/24.11/RAWcooked_CLI_24.11_Windows_x64.zip">v24.11</a></td>
    <td></td>
</tr>
