<tr>
    <th>Vista, 7, 8, 10</th>
    <th>64 bit</th>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/rawcooked/21.01/RAWcooked_CLI_21.01_Windows_x64.zip">v21.01</a></td>
    <td></td>
</tr>
