<tr>
    <th>Vista, 7, 8, 10</th>
    <th>64 bit</th>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/rawcooked/18.09beta1/RAWcooked_CLI_18.09beta1_Windows_x64.zip">v18.09beta1</a></td>
    <td></td>
</tr>
