<tr>
    <th colspan="5">Notes for installing the packages below:<br>"pacman -U *pkg.tar.xz"</th>
</tr>

<tr>
    <th rowspan="4" id="Extra">Extra</th>
    <th rowspan="2" id="Extra.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/avimetaedit-gui/1.0.2/avimetaedit-gui-1.0.2-x86_64.Arch_Extra.pkg.tar.xz">v1.0.2</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/avimetaedit/1.0.2/avimetaedit-1.0.2-x86_64.Arch_Extra.pkg.tar.xz">v1.0.2</a></td>
    <td>&nbsp;</td>
</tr>
