<tr>
    <th colspan="4">For automatic update and easiest installation, enable MediaArea softwares repository for Fedora<br>search for "AVI MetaEdit" in your package manager<br>or "yum install avimetaedit-gui" (for GUI)<br> or "yum install avimetaedit" (for CLI)</th>
    <td><a href="{{ path('ma_repos') }}">Activate MediaArea Repository</a></td>
</tr>

<tr>
    <th rowspan="2" id="26">26</th>
    <th rowspan="2" id="26.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/avimetaedit-gui/1.0.2/avimetaedit-gui-1.0.2.x86_64.Fedora_26.rpm">v1.0.2</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/avimetaedit/1.0.2/avimetaedit-1.0.2.x86_64.Fedora_26.rpm">v1.0.2</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="4" id="25">25</th>
    <th rowspan="2" id="25.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/avimetaedit-gui/1.0.2/avimetaedit-gui-1.0.2.x86_64.Fedora_25.rpm">v1.0.2</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/avimetaedit/1.0.2/avimetaedit-1.0.2.x86_64.Fedora_25.rpm">v1.0.2</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="2" id="25.i686">i686</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/avimetaedit-gui/1.0.2/avimetaedit-gui-1.0.2.i686.Fedora_25.rpm">v1.0.2</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/avimetaedit/1.0.2/avimetaedit-1.0.2.i686.Fedora_25.rpm">v1.0.2</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="4" id="24">24</th>
    <th rowspan="2" id="24.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/avimetaedit-gui/1.0.2/avimetaedit-gui-1.0.2.x86_64.Fedora_24.rpm">v1.0.2</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/avimetaedit/1.0.2/avimetaedit-1.0.2.x86_64.Fedora_24.rpm">v1.0.2</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="2" id="24.i686">i686</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/avimetaedit-gui/1.0.2/avimetaedit-gui-1.0.2.i686.Fedora_24.rpm">v1.0.2</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/avimetaedit/1.0.2/avimetaedit-1.0.2.i686.Fedora_24.rpm">v1.0.2</a></td>
    <td>&nbsp;</td>
</tr>
