<tr>
    <th rowspan="2">10.5 (Leopard),<br /> 10.6 (Snow Leopard),<br />10.7 (Lion),<br />10.8 (Mountain Lion),<br />10.9 (Mavericks),<br />10.10 (Yosemite),<br />10.11 (El Captain),<br />10.12 (Sierra)</th>
    <th rowspan="2">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/avimetaedit-gui/1.0.0.20170614/AVIMetaEdit_GUI_1.0.0.20170614_Mac.dmg">v1.0.0.20170614</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/avimetaedit/1.0.0.20170614/AVIMetaEdit_CLI_1.0.0.20170614_Mac.dmg">v1.0.0.20170614</a></td>
    <td>&nbsp;</td>
</tr>
