<tr>
    <th rowspan="4" id="6">6</th>
    <th rowspan="2" id="6.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/avimetaedit-gui/1.0.1/avimetaedit-gui-1.0.1.x86_64.Mageia_6.rpm">v1.0.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/avimetaedit/1.0.1/avimetaedit-1.0.1.x86_64.Mageia_6.rpm">v1.0.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="2" id="6.i586">i586</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/avimetaedit-gui/1.0.1/avimetaedit-gui-1.0.1.i586.Mageia_6.rpm">v1.0.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/avimetaedit/1.0.1/avimetaedit-1.0.1.i586.Mageia_6.rpm">v1.0.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="4" id="5_standard">5</th>
    <th rowspan="2" id="5_standard.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/avimetaedit-gui/1.0.1/avimetaedit-gui-1.0.1.x86_64.Mageia_5_standard.rpm">v1.0.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/avimetaedit/1.0.1/avimetaedit-1.0.1.x86_64.Mageia_5_standard.rpm">v1.0.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="2" id="5_standard.i586">i586</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/avimetaedit-gui/1.0.1/avimetaedit-gui-1.0.1.i586.Mageia_5_standard.rpm">v1.0.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/avimetaedit/1.0.1/avimetaedit-1.0.1.i586.Mageia_5_standard.rpm">v1.0.1</a></td>
    <td>&nbsp;</td>
</tr>
