{% extends 'AVIMetaEditBundle::base.html.twig' %}

{% block title %}AVI MetaEdit - Download AVI MetaEdit Sources{% endblock %}

{% block body %}
<h1>Download - Sources</h1>

<div class="table-responsive">
<table class="download table table-bordered table-condensed">
<thead>
<tr class="table-header">
    <th>Version</th>
    <th>Interface</th>
    <th>&nbsp;</th>
    <th>Version</th>
    <th>Comment</th>
</tr>
</thead>
<tbody>
{{ include('@AVIMetaEdit/Download/sourceTable.html.twig') }}
</tbody>
</table>
</div>
{% endblock %}
