<tr>
    <th colspan="4">For automatic update and easiest installation, enable MediaArea softwares repository for Ubuntu<br />search for "AVI MetaEdit" in your package manager<br />or "apt-get install avimetaedit-gui" (for GUI)<br /> or "apt-get install avimetaedit" (for CLI)</th>
    <td><a href="{{ path('ma_repos') }}">Activate MediaArea Repository</a></td>
</tr>
<tr>
    <th colspan="5">Notes for installing the packages below:<br />"sudo dpkg -i *deb"<br /><br />If you get an error message, use:<br />"sudo apt-get -f install"</th>
</tr>

<tr>
    <th rowspan="4" id="17.04">Ubuntu 17.04 (Zesty Zapus)</th>
    <th rowspan="2" id="17.04.amd64">amd64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/avimetaedit-gui/1.0.1/avimetaedit-gui_1.0.1-1_amd64.xUbuntu_17.04.deb">v1.0.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/avimetaedit/1.0.1/avimetaedit_1.0.1-1_amd64.xUbuntu_17.04.deb">v1.0.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="2" id="17.04.i386">i386</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/avimetaedit-gui/1.0.1/avimetaedit-gui_1.0.1-1_i386.xUbuntu_17.04.deb">v1.0.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/avimetaedit/1.0.1/avimetaedit_1.0.1-1_i386.xUbuntu_17.04.deb">v1.0.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="4" id="16.10">Ubuntu 16.10 (Yakkety Yak)</th>
    <th rowspan="2" id="16.10.amd64">amd64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/avimetaedit-gui/1.0.1/avimetaedit-gui_1.0.1-1_amd64.xUbuntu_16.10.deb">v1.0.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/avimetaedit/1.0.1/avimetaedit_1.0.1-1_amd64.xUbuntu_16.10.deb">v1.0.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="2" id="16.10.i386">i386</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/avimetaedit-gui/1.0.1/avimetaedit-gui_1.0.1-1_i386.xUbuntu_16.10.deb">v1.0.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/avimetaedit/1.0.1/avimetaedit_1.0.1-1_i386.xUbuntu_16.10.deb">v1.0.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="4" id="16.04">Ubuntu 16.04 (Xenial Xerus)</th>
    <th rowspan="2" id="16.04.amd64">amd64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/avimetaedit-gui/1.0.1/avimetaedit-gui_1.0.1-1_amd64.xUbuntu_16.04.deb">v1.0.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/avimetaedit/1.0.1/avimetaedit_1.0.1-1_amd64.xUbuntu_16.04.deb">v1.0.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="2" id="16.04.i386">i386</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/avimetaedit-gui/1.0.1/avimetaedit-gui_1.0.1-1_i386.xUbuntu_16.04.deb">v1.0.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/avimetaedit/1.0.1/avimetaedit_1.0.1-1_i386.xUbuntu_16.04.deb">v1.0.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="4" id="14.04">Ubuntu 14.04 (Trusty Tahr)<br /><br />Linux Mint 17 (Qiana)<br /><br />Linux Mint 17.1 (Rebecca)<br /><br />Linux Mint 17.2 (Rafaela)<br /><br />Linux Mint 17.3 (Rosa)</th>
    <th rowspan="2" id="14.04.amd64">amd64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/avimetaedit-gui/1.0.1/avimetaedit-gui_1.0.1-1_amd64.xUbuntu_14.04.deb">v1.0.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/avimetaedit/1.0.1/avimetaedit_1.0.1-1_amd64.xUbuntu_14.04.deb">v1.0.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="2" id="14.04.i386">i386</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/avimetaedit-gui/1.0.1/avimetaedit-gui_1.0.1-1_i386.xUbuntu_14.04.deb">v1.0.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/avimetaedit/1.0.1/avimetaedit_1.0.1-1_i386.xUbuntu_14.04.deb">v1.0.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="4" id="12.04">Ubuntu 12.04 (Precise Pangolin)<br /><br /> Linux Mint 13 (Maya)</th>
    <th rowspan="2" id="12.04.amd64">amd64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/avimetaedit-gui/1.0.1/avimetaedit-gui_1.0.1-1_amd64.xUbuntu_12.04.deb">v1.0.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/avimetaedit/1.0.1/avimetaedit_1.0.1-1_amd64.xUbuntu_12.04.deb">v1.0.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="2" id="12.04.i386">i386</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/avimetaedit-gui/1.0.1/avimetaedit-gui_1.0.1-1_i386.xUbuntu_12.04.deb">v1.0.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/avimetaedit/1.0.1/avimetaedit_1.0.1-1_i386.xUbuntu_12.04.deb">v1.0.1</a></td>
    <td>&nbsp;</td>
</tr>
