{% extends 'AppBundle::base.html.twig' %}

{% block title %}{% trans %}support.build.page.title{% endtrans %}{% endblock %}
{% block description %}{% trans %}about.page.description{% endtrans %}{% endblock %}
{% block keywords %}{% trans %}about.page.keywords{% endtrans %}{% endblock %}

{% block body %}
<h1>{% trans %}support.build.title{% endtrans %}</h1>

<h2>Supported compilers</h2>
<ul>
    <li>
        MSVC : Microsoft Visual C++ 9 (aka 2005)<br/>
        (for Visual Studio 7 (aka 2002) or 8 (aka 2003), edit .sln and .xxproj for compatibility.<br/>
        - .sln : "...Format Version 9.00" to 7.00<br/>
        - .xxproj : "Version="8.00" or  "Version="7.10" to 7.00<br/>
        This is not fully tested, but should easily adapt to your compiler)
    </li>
    <li>
        BCB : Borland C++ Builder 6
    </li>
    <li>
        DevCpp : Dev-C++ (Dev-Cpp is an IDE for MinGW)<br/>
        (I am working on this release, not stable)
    </li>
    <li>
        MinGW : MinGW on Windows<br/>
        (I am working on this release, not stable)
    </li>
    <li>
        GCC : Linux GCC<br/>
        (I am working on this release, not stable)
    </li>
</ul>

<h2>Needed</h2>
<ul>
    <li><a href="{{ path('mi_support_build_mil') }}">Build MediaInfo library</a></li>
</ul>
<h2>Optional</h2>
<ul>
    <li>Build MediaInfo DLL</li>
    <li>Build MediaInfo Cmd</li>
    <li>Build MediaInfo GUI</li>
</ul>
{% endblock %}
