{% extends 'AppBundle::base.html.twig' %}

{% block title %}{% trans %}support.tags.page.title{% endtrans %}{% endblock %}
{% block description %}{% trans %}about.page.description{% endtrans %}{% endblock %}
{% block keywords %}{% trans %}about.page.keywords{% endtrans %}{% endblock %}

{% block body %}
({% trans %}support.wip.warning{% endtrans %})
<h1>{% trans %}support.tags.title{% endtrans %}</h1>
<div id="Tags">
{% trans %}support.tags.how{% endtrans %}
{% trans %}support.tags.hidden{% endtrans %}
<a onclick="Col_Show('mi')" id="mi">MediaInfo,</a>
<a onclick="Col_Show('mk')" id="mk">Matroska,</a>
<a onclick="Col_Show('id')" id="id">ID3v2,</a>
<a onclick="Col_Show('vo')" id="vo">Vorbis,</a>
<a onclick="Col_Show('ap')" id="ap">APEv2,</a>
<a onclick="Col_Show('wm')" id="wm">WM,</a>
<a onclick="Col_Show('ri')" id="ri">RIFF,</a>
<a onclick="Col_Show('dc')" id="dc">Dublin,</a>
<a onclick="Col_Show('de')" id="de">Description,</a>
<br/>
<br/>
<table summary="Tags" class="download">
 <thead>
  <tr>
   <th id="mi0" onclick="Col_Hide('mi')" style="cursor: pointer">MediaInfo</th>
   <th id="mk0" onclick="Col_Hide('mk')" style="cursor: pointer">Matroska</th>
   <th id="id0" onclick="Col_Hide('id')" style="cursor: pointer">ID3v2</th>
   <th id="vo0" onclick="Col_Hide('vo')" style="cursor: pointer">Vorbis</th>
   <th id="ap0" onclick="Col_Hide('ap')" style="cursor: pointer">APEv2</th>
   <th id="wm0" onclick="Col_Hide('wm')" style="cursor: pointer">WM</th>
   <th id="ri0" onclick="Col_Hide('ri')" style="cursor: pointer">RIFF</th>
   <th id="dc0" onclick="Col_Hide('dc')" style="cursor: pointer">Dublin</th>
   <th id="de0" onclick="Col_Hide('de')" style="cursor: pointer">Description</th>
  </tr>
 </thead>
 <thead>
  <tr onclick="Line_Show('Title')" id="TitleH" style="cursor: pointer">
   <td colspan="9" class="xheader">(Titles)</td>
  </tr>
  <tr onclick="Line_Hide('Title')" id="TitleS" style="cursor: pointer">
   <td colspan="9" class="xheader">Titles</td>
  </tr>
 </thead>
 <tbody id="Title">
  <tr>
   <td id="mi171">Collection</td>
   <td id="mk171">TargetTypeValue=70 - TITLE </td>
   <td id="id171">&nbsp;</td>
   <td id="vo171">&nbsp;</td>
   <td id="ap171">&nbsp;</td>
   <td id="wm171">&nbsp;</td>
   <td id="ri171">&nbsp;</td>
   <td id="dc171"><a href="http://dublincore.org/documents/dcmi-terms/#title" title="External specification source">title</a></td>
   <td id="de171">Title of the collection</td>
  </tr>
  <tr>
   <td id="mi172">Season</td>
   <td id="mk172">TargetTypeValue=60 - TITLE </td>
   <td id="id172">&nbsp;</td>
   <td id="vo172">&nbsp;</td>
   <td id="ap172">&nbsp;</td>
   <td id="wm172">&nbsp;</td>
   <td id="ri172">&nbsp;</td>
   <td id="dc172"><a href="http://dublincore.org/documents/dcmi-terms/#title" title="External specification source">title</a></td>
   <td id="de172">Title of the season</td>
  </tr>
  <tr>
   <td id="mi173">Album (Audio)<br/>Movie (Video)</td>
   <td id="mk173">TargetTypeValue=50 - TITLE</td>
   <td id="id173"><a href="http://www.id3.org/id3v2.3.0.html#TALB" title="External specification source">TALB</a></td>
   <td id="vo173">ALBUM</td>
   <td id="ap173">ALBUM</td>
   <td id="wm173">&nbsp;</td>
   <td id="ri173">&nbsp;</td>
   <td id="dc173"><a href="http://dublincore.org/documents/dcmi-terms/#title" title="External specification source">title</a></td>
   <td id="de173">Title of the album or movie<br/>Usualy, title of the file for a video file </td>
  </tr>
  <tr>
   <td id="mi174">Part</td>
   <td id="mk174">TargetTypeValue=40 - TITLE</td>
   <td id="id174">&nbsp;</td>
   <td id="vo174">&nbsp;</td>
   <td id="ap174">&nbsp;</td>
   <td id="wm174">&nbsp;</td>
   <td id="ri174">&nbsp;</td>
   <td id="dc174">&nbsp;</td>
   <td id="de174">Title of the part<br/>(Not usualy used)</td>
  </tr>
  <tr>
   <td id="mi175">Track (Audio)<br/>Chapter (Video)</td>
   <td id="mk175"> <p>TargetTypeValue=30 - TITLE </p></td>
   <td id="id175"><a href="http://www.id3.org/id3v2.3.0.html#TIT2" title="External specification source">TIT2</a></td>
   <td id="vo175">TITLE</td>
   <td id="ap175">TITLE</td>
   <td id="wm175">&nbsp;</td>
   <td id="ri175">INAM</td>
   <td id="dc175"><a href="http://dublincore.org/documents/dcmi-terms/#title" title="External specification source">title</a></td>
   <td id="de175">Title of the track or chapter<br/>Usualy, title of the file for an audio file</td>
  </tr>
  <tr>
   <td id="mi176">SubTrack (Audio)</td>
   <td id="mk176">TargetTypeValue=20 - TITLE </td>
   <td id="id176">&nbsp;</td>
   <td id="vo176">&nbsp;</td>
   <td id="ap176">&nbsp;</td>
   <td id="wm176">&nbsp;</td>
   <td id="ri176">&nbsp;</td>
   <td id="dc176"><a href="http://dublincore.org/documents/dcmi-terms/#title" title="External specification source">title</a></td>
   <td id="de176">Title of the subtrack<br/>(not usualy used)</td>
  </tr>
  <tr>
   <td id="mi177">Original/Album (Audio)<br/>Original/Movie (Video)</td>
   <td id="mk177">ORIGINAL - TargetTypeValue=50 - TITLE</td>
   <td id="id177"><a href="http://www.id3.org/id3v2.3.0.html#TOAL" title="External specification source">TOAL</a> (Video)</td>
   <td id="vo177">&nbsp;</td>
   <td id="ap177">&nbsp;</td>
   <td id="wm177">&nbsp;</td>
   <td id="ri177">&nbsp;</td>
   <td id="dc177"><a href="http://dublincore.org/documents/dcmi-terms/#title" title="External specification source">title</a></td>
   <td id="de177">Original album or movie name (in case of a remake/remix).</td>
  </tr>
  <tr>
   <td id="mi3">Original/Track (Audio)</td>
   <td id="mk3">ORIGINAL - TargetTypeValue=30 - TITLE</td>
   <td id="id3"><a href="http://www.id3.org/id3v2.3.0.html#TOAL" title="External specification source">TOAL</a> (Audio)</td>
   <td id="vo3">&nbsp;</td>
   <td id="ap3">&nbsp;</td>
   <td id="wm3">&nbsp;</td>
   <td id="ri3">&nbsp;</td>
   <td id="dc3"><a href="http://dublincore.org/documents/dcmi-terms/#title" title="External specification source">title</a></td>
   <td id="de3">Original track name<br/>in case of a remix)</td>
  </tr>
  <tr>
   <td id="mi4">Track/More (Audio)</td>
   <td id="mk4">TargetTypeValue=30 - SUBTITLE</td>
   <td id="id4"><a href="http://www.id3.org/id3v2.3.0.html#TIT3" title="External specification source">TIT3</a></td>
   <td id="vo4">VERSION</td>
   <td id="ap4">SUBTITLE</td>
   <td id="wm4">&nbsp;</td>
   <td id="ri4">&nbsp;</td>
   <td id="dc4"><a href="http://dublincore.org/documents/dcmi-terms/#title" title="External specification source">title</a> <a href="http://dublincore.org/documents/dcmi-terms/#alternative" title="External specification source">alternative</a> </td>
   <td id="de4">Subtitle. May also be used to differentiate multiple versions of the same tracktitle in a single collection (e.g. remix info); e.g. "live", "acoustic", "radio edit", "12 inch remix", etc.</td>
  </tr>
 </tbody>
 <thead>
  <tr onclick="Line_Show('Organization')" id="OrganizationH" style="cursor: pointer">
   <td colspan="9" class="xheader">(Organization / Relation with other composants)</td>
  </tr>
  <tr onclick="Line_Hide('Organization')" id="OrganizationS" style="cursor: pointer">
   <td colspan="9" class="xheader">Organization / Relation with other composants</td>
  </tr>
 </thead>
 <tbody id="Organization">
  <tr>
   <td id="mi5">Track/Position</td>
   <td id="mk5">TargetTypeValue=30 - PART_NUMBER</td>
   <td id="id5"><a href="http://www.id3.org/id3v2.3.0.html#TRCK"
 title="External specification source">TRCK</a>*</td>
   <td id="vo5">TRACKNUMBER</td>
   <td id="ap5">TRACK</td>
   <td id="wm5">&nbsp;</td>
   <td id="ri5">IPRT</td>
   <td id="dc5">&nbsp;</td>
   <td id="de5">Number of the current track</td>
  </tr>
  <tr>
   <td id="mi6">Part/Position</td>
   <td id="mk6"> <p>TargetTypeValue=40 - PART_NUMBER</p></td>
   <td id="id6"><a href="http://www.id3.org/id3v2.3.0.html#TPOS"
 title="External specification source">TPOS</a>*</td>
   <td id="vo6">DISCNUMBER</td>
   <td id="ap6">&nbsp;</td>
   <td id="wm6">&nbsp;</td>
   <td id="ri6">&nbsp;</td>
   <td id="dc6">&nbsp;</td>
   <td id="de6">Number of the current part<br/>
    Usualy the number in a multi-disc album</td>
  </tr>
  <tr>
   <td id="mi7">Album/Track_Total<br/>
    Album/Part/Track_Total</td>
   <td id="mk7">TargetTypeValue=30 - TOTAL_PARTS</td>
   <td id="id7"><a
 href="http://www.id3.org/id3v2.3.0.html#TRCK"
 title="External specification source">TRCK</a>*</td>
   <td id="vo7">&nbsp;</td>
   <td id="ap7">&nbsp;</td>
   <td id="wm7">&nbsp;</td>
   <td id="ri7">IFRM</td>
   <td id="dc7">&nbsp;</td>
   <td id="de7">Total number of tracks</td>
  </tr>
  <tr>
   <td id="mi8">Album/Part_Total</td>
   <td id="mk8">TargetTypeValue=40 - TOTAL_PARTS</td>
   <td id="id8"><a href="http://www.id3.org/id3v2.3.0.html#TPOS"
 title="External specification source">TPOS</a>*</td>
   <td id="vo8">&nbsp;</td>
   <td id="ap8">&nbsp;</td>
   <td id="wm8">&nbsp;</td>
   <td id="ri8">&nbsp;</td>
   <td id="dc8">&nbsp;</td>
   <td id="de8">Total number of parts<br/>
    Usualy the count of discs in a multi-disc album</td>
  </tr>
 </tbody>
 <thead>
  <tr onclick="Line_Show('People')" id="PeopleH" style="cursor: pointer">
   <td colspan="9" class="xheader">(People)</td>
  </tr>
  <tr onclick="Line_Hide('People')" id="PeopleS" style="cursor: pointer">
   <td colspan="9" class="xheader">People</td>
  </tr>
 </thead>
 <tbody id="People">
  <tr>
   <td id="mi9">Performer</td>
   <td id="mk9">ARTIST (or LEAD_PERFORMER)</td>
   <td id="id9"><a href="http://www.id3.org/id3v2.3.0.html#TPE1"
 title="External specification source">TPE1</a></td>
   <td id="vo9">ARTIST<br/>
    PERFORMER </td>
   <td id="ap9">ARTIST</td>
   <td id="wm9">&nbsp;</td>
   <td id="ri9">&nbsp;</td>
   <td id="dc9">&nbsp;</td>
   <td id="de9">A person or band/collective generally considered responsible
    for the work : Singer, Realisator</td>
  </tr>
  <tr>
   <td id="mi10">Performer/Sort</td>
   <td id="mk10">ARTIST (or LEAD_PERFORMER) - <a href="#classification">SORT_WITH</a>
   </td>
   <td id="id10">TSOP</td>
   <td id="vo10">&nbsp;</td>
   <td id="ap10">&nbsp;</td>
   <td id="wm10">&nbsp;</td>
   <td id="ri10">&nbsp;</td>
   <td id="dc10">&nbsp;</td>
   <td id="de10">Defines a string which should be used instead of the performer
    for sorting purposes.</td>
  </tr>
  <tr>
   <td id="mi11">Performer/Url</td>
   <td id="mk11">ARTIST (or LEAD_PERFORMER) - <a href="#contact">URL</a><br/>
   </td>
   <td id="id11"><a href="http://www.id3.org/id3v2.3.0.html#WOAR"
 title="External specification source">WOAR</a></td>
   <td id="vo11">&nbsp;</td>
   <td id="ap11">&nbsp;</td>
   <td id="wm11">&nbsp;</td>
   <td id="ri11">&nbsp;</td>
   <td id="dc11">&nbsp;</td>
   <td id="de11">Official artist/performer webpage.</td>
  </tr>
  <tr>
   <td id="mi12">Original/Performer</td>
   <td id="mk12"> <p>ORIGINAL<br/>
     ARTIST (or LEAD_PERFORMER)</p></td>
   <td id="id12"><a href="http://www.id3.org/id3v2.3.0.html#TOPE"
 title="External specification source">TOPE</a></td>
   <td id="vo12">&nbsp;</td>
   <td id="ap12">&nbsp;</td>
   <td id="wm12">&nbsp;</td>
   <td id="ri12">&nbsp;</td>
   <td id="dc12">&nbsp;</td>
   <td id="de12">Original artist(s)/performer(s).</td>
  </tr>
  <tr>
   <td id="mi13">Accompaniment</td>
   <td id="mk13">ACCOMPANIMENT</td>
   <td id="id13"><a href="http://www.id3.org/id3v2.3.0.html#TPE2"
 title="External specification source">TPE2</a></td>
   <td id="vo13">ENSEMBLE</td>
   <td id="ap13">&nbsp;</td>
   <td id="wm13">&nbsp;</td>
   <td id="ri13">&nbsp;</td>
   <td id="dc13">&nbsp;</td>
   <td id="de13">Band/orchestra/accompaniment/musician.</td>
  </tr>
  <tr>
   <td id="mi14">Composer</td>
   <td id="mk14">COMPOSER</td>
   <td id="id14"><a href="http://www.id3.org/id3v2.3.0.html#TCOM"
 title="External specification source">TCOM</a></td>
   <td id="vo14">COMPOSER</td>
   <td id="ap14">COMPOSER</td>
   <td id="wm14">&nbsp;</td>
   <td id="ri14">IMUS</td>
   <td id="dc14"><a href="http://dublincore.org/documents/dcmi-terms/#creator"
 title="External specification source">creator</a></td>
   <td id="de14">Name of the original composer.</td>
  </tr>
  <tr>
   <td id="mi78">Composer/Nationality</td>
   <td id="mk78">COMPOSER_NATIONALITY</td>
   <td id="id78">&nbsp;</td>
   <td id="vo78">&nbsp;</td>
   <td id="ap78">&nbsp;</td>
   <td id="wm78">&nbsp;</td>
   <td id="ri78">&nbsp;</td>
   <td id="dc78"><a href="http://dublincore.org/documents/dcmi-terms/#coverage"
 title="External specification source">coverage</a></td>
   <td id="de78">Nationality of the main composer of the item, mostly for classical music.</td>
  </tr>
  <tr>
   <td id="mi15">Arranger</td>
   <td id="mk15">ARRANGER</td>
   <td id="id15">&nbsp;</td>
   <td id="vo15">ARRANGER</td>
   <td id="ap15">&nbsp;</td>
   <td id="wm15">&nbsp;</td>
   <td id="ri15">&nbsp;</td>
   <td id="dc15"><a
 href="http://dublincore.org/documents/dcmi-terms/#creator"
 title="External specification source">creator</a></td>
   <td id="de15">The person who arranged the piece; e.g. "Ravel".</td>
  </tr>
  <tr>
   <td id="mi16">Lyricist</td>
   <td id="mk16">LYRICIST</td>
   <td id="id16"><a href="http://www.id3.org/id3v2.3.0.html#TEXT"
 title="External specification source">TEXT</a></td>
   <td id="vo16">LYRICIST</td>
   <td id="ap16">&nbsp;</td>
   <td id="wm16">&nbsp;</td>
   <td id="ri16">&nbsp;</td>
   <td id="dc16"><a
 href="http://dublincore.org/documents/dcmi-terms/#creator"
 title="External specification source">creator</a></td>
   <td id="de16">The person who wrote the lyrics for a musical item.</td>
  </tr>
  <tr>
   <td id="mi17">Original/Lyricist</td>
   <td id="mk17">ORIGINAL - LYRICIST</td>
   <td id="id17"><a href="http://www.id3.org/id3v2.3.0.html#TOLY"
 title="External specification source">TOLY</a></td>
   <td id="vo17">&nbsp;</td>
   <td id="ap17">&nbsp;</td>
   <td id="wm17">&nbsp;</td>
   <td id="ri17">&nbsp;</td>
   <td id="dc17">&nbsp;</td>
   <td id="de17">Original lyricist(s)/text writer(s).</td>
  </tr>
  <tr>
   <td id="mi18">Conductor</td>
   <td id="mk18">CONDUCTOR</td>
   <td id="id18"><a href="http://www.id3.org/id3v2.3.0.html#TPE3"
 title="External specification source">TPE3</a></td>
   <td id="vo18">CONDUCTOR</td>
   <td id="ap18">CONDUCTOR</td>
   <td id="wm18">&nbsp;</td>
   <td id="ri18">&nbsp;</td>
   <td id="dc18">&nbsp;</td>
   <td id="de18">The artist(s) who performed the work. In classical music this
    would be the conductor, orchestra, soloists.</td>
  </tr>
  <tr>
   <td id="mi19">Actor</td>
   <td id="mk19">ACTOR</td>
   <td id="id19">&nbsp;</td>
   <td id="vo19">&nbsp;</td>
   <td id="ap19">&nbsp;</td>
   <td id="wm19">&nbsp;</td>
   <td id="ri19">&nbsp;</td>
   <td id="dc19">ISTR</td>
   <td id="de19">Real name of actor or actress playing a role in the movie.</td>
  </tr>
  <tr>
   <td id="mi20">Actor_Character</td>
   <td id="mk20">ACTOR - CHARACTER</td>
   <td id="id20">&nbsp;</td>
   <td id="ap20">&nbsp;</td>
   <td id="vo20">&nbsp;</td>
   <td id="wm20">&nbsp;</td>
   <td id="ri20">&nbsp;</td>
   <td id="dc20">&nbsp;</td>
   <td id="de20">Name of the character an actor or actress plays in this movie.</td>
  </tr>
  <tr>
   <td id="mi21">WrittenBy</td>
   <td id="mk21">WRITTEN_BY</td>
   <td id="id21">&nbsp;</td>
   <td id="vo21">AUTHOR</td>
   <td id="ap21">&nbsp;</td>
   <td id="wm21">&nbsp;</td>
   <td id="ri21">IWRI</td>
   <td id="dc21"><a
 href="http://dublincore.org/documents/dcmi-terms/#creator"
 title="External specification source">creator</a></td>
   <td id="de21">The author of the story or script.</td>
  </tr>
  <tr>
   <td id="mi22">ScreenplayBy</td>
   <td id="mk22">SCREENPLAY_BY</td>
   <td id="id22">&nbsp;</td>
   <td id="vo22">&nbsp;</td>
   <td id="ap22">&nbsp;</td>
   <td id="wm22">&nbsp;</td>
   <td id="ri22">&nbsp;</td>
   <td id="dc22">&nbsp;</td>
   <td id="de22">The author of the screenplay or scenario (used for movies
    and TV shows).</td>
  </tr>
  <tr>
   <td id="mi23">Director</td>
   <td id="mk23">DIRECTOR</td>
   <td id="id23">&nbsp;</td>
   <td id="vo23">&nbsp;</td>
   <td id="ap23">&nbsp;</td>
   <td id="wm23">&nbsp;</td>
   <td id="ri23">IART</td>
   <td id="dc23">&nbsp;</td>
   <td id="de23">Name of the director.</td>
  </tr>
  <tr>
   <td id="mi24">AssistantDirector</td>
   <td id="mk24">ASSISTANT_DIRECTOR</td>
   <td id="id24">&nbsp;</td>
   <td id="vo24">&nbsp;</td>
   <td id="ap24">&nbsp;</td>
   <td id="wm24">&nbsp;</td>
   <td id="ri24">&nbsp;</td>
   <td id="dc24">&nbsp;</td>
   <td id="de24">Name of the assistant director.</td>
  </tr>
  <tr>
   <td id="mi25">DirectorOfPhotography</td>
   <td id="mk25">DIRECTOR_OF_PHOTOGRAPHY</td>
   <td id="id25">&nbsp;</td>
   <td id="vo25">&nbsp;</td>
   <td id="ap25">&nbsp;</td>
   <td id="wm25">&nbsp;</td>
   <td id="ri25">ICNM</td>
   <td id="dc25">&nbsp;</td>
   <td id="de25">The name of the director of photography, also known as cinematographer.</td>
  </tr>
  <tr>
   <td id="mi26">ArtDirector</td>
   <td id="mk26">ART_DIRECTOR</td>
   <td id="id26">&nbsp;</td>
   <td id="vo26">&nbsp;</td>
   <td id="ap26">&nbsp;</td>
   <td id="wm26">&nbsp;</td>
   <td id="ri26">&nbsp;</td>
   <td id="dc26">&nbsp;</td>
   <td id="de26">The person who oversees the artists and craftspeople who build
    the sets.</td>
  </tr>
  <tr>
   <td id="mi27">EditedBy</td>
   <td id="mk27">EDITED_BY</td>
   <td id="id27">&nbsp;</td>
   <td id="vo27">&nbsp;</td>
   <td id="ap27">&nbsp;</td>
   <td id="wm27">&nbsp;</td>
   <td id="ri27">IEDT</td>
   <td id="dc27">&nbsp;</td>
   <td id="de27">Editor name</td>
  </tr>
  <tr>
   <td id="mi28">Producer</td>
   <td id="mk28">PRODUCER</td>
   <td id="id28">&nbsp;</td>
   <td id="vo28">&nbsp;</td>
   <td id="ap28">&nbsp;</td>
   <td id="wm28">&nbsp;</td>
   <td id="ri28">IPRO</td>
   <td id="dc28">&nbsp;</td>
   <td id="de28">Name of the producer of the movie.</td>
  </tr>
  <tr>
   <td id="mi29">CoProducer</td>
   <td id="mk29">COPRODUCER</td>
   <td id="id29">&nbsp;</td>
   <td id="vo29">&nbsp;</td>
   <td id="ap29">&nbsp;</td>
   <td id="wm29">&nbsp;</td>
   <td id="ri29">&nbsp;</td>
   <td id="dc29">&nbsp;</td>
   <td id="de29">The name of a co-producer.</td>
  </tr>
  <tr>
   <td id="mi30">ExecutiveProducer</td>
   <td id="mk30">EXECUTIVE_PRODUCER</td>
   <td id="id30">&nbsp;</td>
   <td id="vo30">&nbsp;</td>
   <td id="ap30">&nbsp;</td>
   <td id="wm30">&nbsp;</td>
   <td id="ri30">&nbsp;</td>
   <td id="dc30">&nbsp;</td>
   <td id="de30">The name of an executive producer.</td>
  </tr>
  <tr>
   <td id="mi31">ProductionDesigner</td>
   <td id="mk31">PRODUCTION_DESIGNER</td>
   <td id="id31">&nbsp;</td>
   <td id="vo31">&nbsp;</td>
   <td id="ap31">&nbsp;</td>
   <td id="wm31">&nbsp;</td>
   <td id="ri31">IPDS</td>
   <td id="dc31">&nbsp;</td>
   <td id="de31">Artist responsible for designing the overall visual appearance
    of a movie.</td>
  </tr>
  <tr>
   <td id="mi32">CostumeDesigner</td>
   <td id="mk32">COSTUME_DESIGNER</td>
   <td id="id32">&nbsp;</td>
   <td id="vo32">&nbsp;</td>
   <td id="ap32">&nbsp;</td>
   <td id="wm32">&nbsp;</td>
   <td id="ri32">ICDS</td>
   <td id="dc32">&nbsp;</td>
   <td id="de32">The name of the costume designer.</td>
  </tr>
  <tr>
   <td id="mi33">Choregrapher</td>
   <td id="mk33">CHOREGRAPHER</td>
   <td id="id33">&nbsp;</td>
   <td id="vo33">&nbsp;</td>
   <td id="ap33">&nbsp;</td>
   <td id="wm33">&nbsp;</td>
   <td id="ri33">&nbsp;</td>
   <td id="dc33">&nbsp;</td>
   <td id="de33">The name of the choregrapher.</td>
  </tr>
  <tr>
   <td id="mi34">SoundEngineer</td>
   <td id="mk34">SOUND_ENGINEER</td>
   <td id="id34">&nbsp;</td>
   <td id="vo34">&nbsp;</td>
   <td id="ap34">&nbsp;</td>
   <td id="wm34">&nbsp;</td>
   <td id="ri34">&nbsp;</td>
   <td id="dc34">&nbsp;</td>
   <td id="de34">The name of the sound engineer or sound recordist.</td>
  </tr>
  <tr>
   <td id="mi35">MasteredBy</td>
   <td id="mk35">MASTERED_BY</td>
   <td id="id35">&nbsp;</td>
   <td id="vo35">&nbsp;</td>
   <td id="ap35">&nbsp;</td>
   <td id="wm35">&nbsp;</td>
   <td id="ri35">IENG</td>
   <td id="dc35">&nbsp;</td>
   <td id="de35">The engineer who mastered the content for a physical medium
    or for digital distribution.</td>
  </tr>
  <tr>
   <td id="mi36">RemixedBy</td>
   <td id="mk36">REMIXED_BY</td>
   <td id="id36"><a href="http://www.id3.org/id3v2.3.0.html#TPE4"
 title="External specification source">TPE4</a></td>
   <td id="vo36">&nbsp;</td>
   <td id="ap36">&nbsp;</td>
   <td id="wm36">&nbsp;</td>
   <td id="ri36">&nbsp;</td>
   <td id="dc36">&nbsp;</td>
   <td id="de36">Interpreted, remixed, or otherwise modified by.</td>
  </tr>
  <tr>
   <td id="mi37">ProductionStudio</td>
   <td id="mk37">PRODUCTION_STUDIO</td>
   <td id="id37">&nbsp;</td>
   <td id="vo37">&nbsp;</td>
   <td id="ap37">&nbsp;</td>
   <td id="wm37">&nbsp;</td>
   <td id="ri37">ISTD</td>
   <td id="dc37">&nbsp;</td>
   <td id="de37">&nbsp;</td>
  </tr>
  <tr>
   <td id="mi38">Label</td>
   <td id="mk38">LABEL</td>
   <td id="id38">&nbsp;</td>
   <td id="vo38">ORGANIZATION<br/>
    LABEL</td>
   <td id="ap38">&nbsp;</td>
   <td id="wm38">&nbsp;</td>
   <td id="ri38">&nbsp;</td>
   <td id="dc38">&nbsp;</td>
   <td id="de38">The record label or imprint on the disc.</td>
  </tr>
  <tr>
   <td id="mi39">Publisher</td>
   <td id="mk39">PUBLISHER</td>
   <td id="id39"><a href="http://www.id3.org/id3v2.3.0.html#TPUB"
 title="External specification source">TPUB</a></td>
   <td id="vo39">PUBLISHER</td>
   <td id="ap39">PUBLISHER</td>
   <td id="wm39">&nbsp;</td>
   <td id="ri39">&nbsp;</td>
   <td id="dc39"><a
 href="http://dublincore.org/documents/dcmi-terms/#publisher"
 title="External specification source">publisher</a></td>
   <td id="de39">Name of the organization producing the track (i.e. the 'record
    label').</td>
  </tr>
  <tr>
   <td id="mi40">Publisher/URL</td>
   <td id="mk40">PUBLISHER - URL</td>
   <td id="id40"><a href="http://www.id3.org/id3v2.3.0.html#WPUB"
 title="External specification source">WPUB</a></td>
   <td id="vo40">&nbsp;</td>
   <td id="ap40">&nbsp;</td>
   <td id="wm40">&nbsp;</td>
   <td id="ri40">&nbsp;</td>
   <td id="dc40">&nbsp;</td>
   <td id="de40">Publishers official webpage.</td>
  </tr>
  <tr>
   <td id="mi41">DistributedBy</td>
   <td id="mk41">DISTRIBUTED_BY</td>
   <td id="id41">&nbsp;</td>
   <td id="vo41">&nbsp;</td>
   <td id="ap41">&nbsp;</td>
   <td id="wm41">&nbsp;</td>
   <td id="ri41">IDST</td>
   <td id="dc41">&nbsp;</td>
   <td id="de41">&nbsp;</td>
  </tr>
  <tr>
   <td id="mi42">EncodedBy<br/> </td>
   <td id="mk42">ENCODED_BY</td>
   <td id="id42"><a href="http://www.id3.org/id3v2.3.0.html#TENC"
 title="External specification source">TENC</a></td>
   <td id="vo42">ENCODED-BY</td>
   <td id="ap42">&nbsp;</td>
   <td id="wm42">&nbsp;</td>
   <td id="ri42">IRIP</td>
   <td id="dc42">&nbsp;</td>
   <td id="de42">Name of the person or organisation that encoded/ripped the
    audio file.</td>
  </tr>
  <tr>
   <td id="mi43">ThanksTo</td>
   <td id="mk43">THANKS_TO</td>
   <td id="id43">&nbsp;</td>
   <td id="vo43">&nbsp;</td>
   <td id="ap43">&nbsp;</td>
   <td id="wm43">&nbsp;</td>
   <td id="ri43">&nbsp;</td>
   <td id="dc43"><a
 href="http://dublincore.org/documents/dcmi-terms/#contributor"
 title="External specification source">contributor</a></td>
   <td id="de43">A very general tag for everyone else that wants to be listed.</td>
  </tr>
  <tr>
   <td id="mi44">Technician<br/> </td>
   <td id="mk44">&nbsp;</td>
   <td id="id44">&nbsp;</td>
   <td id="vo44">&nbsp;</td>
   <td id="ap44">&nbsp;</td>
   <td id="wm44">&nbsp;</td>
   <td id="ri44">ITCH</td>
   <td id="dc44">&nbsp;</td>
   <td id="de44">Technician. Identifies the technician who digitized the subject
    file. For example, "Smith, John."</td>
  </tr>
  <tr>
   <td id="mi45">CommissionedBy</td>
   <td id="mk45">&nbsp;</td>
   <td id="id45">&nbsp;</td>
   <td id="vo45">&nbsp;</td>
   <td id="ap45">&nbsp;</td>
   <td id="wm45">&nbsp;</td>
   <td id="ri45">ICMS</td>
   <td id="dc45">&nbsp;</td>
   <td id="de45">Commissioned. Lists the name of the person or organization
    that commissioned the subject of the file; e.g. "Pope Julian II".</td>
  </tr>
  <tr>
   <td id="mi47">Encoded_Original/DistributedBy</td>
   <td id="mk47">&nbsp;</td>
   <td id="id47">&nbsp;</td>
   <td id="vo47">&nbsp;</td>
   <td id="ap47">&nbsp;</td>
   <td id="wm47">&nbsp;</td>
   <td id="ri47">ISRC</td>
   <td id="dc47">&nbsp;</td>
   <td id="de47">Source. Identifies the name of the person or organization
    who supplied the original subject of the file. For example, "Trey Research."</td>
  </tr>
  <tr>
   <td id="mi139">RadioStation</td>
   <td id="mk139">&nbsp;</td>
   <td id="id139"><a href="http://www.id3.org/id3v2.3.0.html#TRSN"
 title="External specification source">TRSN</a></td>
   <td id="vo139">&nbsp;</td>
   <td id="ap139">&nbsp;</td>
   <td id="wm139">&nbsp;</td>
   <td id="ri139">&nbsp;</td>
   <td id="dc139">&nbsp;</td>
   <td id="de139">Contains the name of the internet radio station from which
    the audio is streamed.</td>
  </tr>
  <tr>
   <td id="mi140">RadioStation/Owner</td>
   <td id="mk140">&nbsp;</td>
   <td id="id140"><a href="http://www.id3.org/id3v2.3.0.html#TRSO"
 title="External specification source">TRSO</a></td>
   <td id="vo140">&nbsp;</td>
   <td id="ap140">&nbsp;</td>
   <td id="wm140">&nbsp;</td>
   <td id="ri140">&nbsp;</td>
   <td id="dc140">&nbsp;</td>
   <td id="de140">Contains the name of the owner of the internet radio station
    from which the audio is streamed.</td>
  </tr>
  <tr>
   <td id="mi141">RadioStation/URL</td>
   <td id="mk141">&nbsp;</td>
   <td id="id141"><a href="http://www.id3.org/id3v2.3.0.html#WORS"
 title="External specification source">WORS</a></td>
   <td id="vo141">&nbsp;</td>
   <td id="ap141">&nbsp;</td>
   <td id="wm141">&nbsp;</td>
   <td id="ri141">&nbsp;</td>
   <td id="dc141">&nbsp;</td>
   <td id="de141">Official internet radio station homepage.</td>
  </tr>
 </tbody>
 <thead>
  <tr onclick="Line_Show('Classification')" id="ClassificationH" style="cursor: pointer">
   <td colspan="9" class="xheader">(Classification)</td>
  </tr>
  <tr onclick="Line_Hide('Classification')" id="ClassificationS" style="cursor: pointer">
   <td colspan="9" class="xheader">Classification</td>
  </tr>
 </thead>
 <tbody id="Classification">
  <tr>
   <td id="mi52">ContentType</td>
   <td id="mk52">CONTENT_TYPE</td>
   <td id="id52">&nbsp;<a
 href="http://www.unixgods.org/%7Etilo/ID3/docs/id3v2.4.0-frames.html#TIT1"
 title="External specification source">TIT1</a></td>
   <td id="vo52">&nbsp;</td>
   <td id="ap52">&nbsp;</td>
   <td id="wm52">&nbsp;</td>
   <td id="ri52">&nbsp;</td>
   <td id="dc52"><a
 href="http://dublincore.org/documents/dcmi-terms/#type"
 title="External specification source">type</a></td>
   <td id="de52">The type of the item. e.g. Documentary, Feature Film, Cartoon,
    Music Video, Music, Sound FX, etc.</td>
  </tr>
  <tr>
   <td id="mi53">Subject</td>
   <td id="mk53">SUBJECT</td>
   <td id="id53">&nbsp;</td>
   <td id="vo53">&nbsp;</td>
   <td id="ap53">&nbsp;</td>
   <td id="wm53">&nbsp;</td>
   <td id="ri53">ISBJ</td>
   <td id="dc53"><a
 href="http://dublincore.org/documents/dcmi-terms/#subject"
 title="External specification source">subject</a></td>
   <td id="de53">Describes the topic of the file, such as "Aerial view of Seattle.".</td>
  </tr>
  <tr>
   <td id="mi54">Synopsys</td>
   <td id="mk54">SYNOPSIS</td>
   <td id="id54">&nbsp;</td>
   <td id="vo54">&nbsp;</td>
   <td id="ap54">&nbsp;</td>
   <td id="wm54">&nbsp;</td>
   <td id="ri54">&nbsp;</td>
   <td id="dc54">&nbsp;</td>
   <td id="de54">A description of the story line of the item.</td>
  </tr>
  <tr>
   <td id="mi55">Summary</td>
   <td id="mk55">SUMMARY</td>
   <td id="id55">&nbsp;</td>
   <td id="vo55">&nbsp;</td>
   <td id="ap55">ABSTRACT</td>
   <td id="wm55">&nbsp;</td>
   <td id="ri55">&nbsp;</td>
   <td id="dc55"><a
 href="http://dublincore.org/documents/dcmi-terms/#description"
 title="External specification source">description</a> <a
 href="http://dublincore.org/documents/dcmi-terms/#abstract"
 title="External specification source">abstract</a></td>
   <td id="de55">A plot outline or a summary of the story.</td>
  </tr>
  <tr>
   <td id="mi56">Description</td>
   <td id="mk56">DESCRIPTION</td>
   <td id="id56">&nbsp;</td>
   <td id="vo56">DESCRIPTION</td>
   <td id="ap56">&nbsp;</td>
   <td id="wm56">&nbsp;</td>
   <td id="ri56">&nbsp;</td>
   <td id="dc56"><a
 href="http://dublincore.org/documents/dcmi-terms/#description"
 title="External specification source">description</a></td>
   <td id="de56">A short description of the contents, such as "Two birds flying".</td>
  </tr>
  <tr>
   <td id="mi57">Keywords</td>
   <td id="mk57">KEYWORDS</td>
   <td id="id57">&nbsp;</td>
   <td id="vo57">&nbsp;</td>
   <td id="ap57">&nbsp;</td>
   <td id="wm57">&nbsp;</td>
   <td id="ri57">IKEY</td>
   <td id="dc57">&nbsp;</td>
   <td id="de57">Keywords to the item separated by a comma, used for searching.</td>
  </tr>
  <tr>
   <td id="mi58">Period</td>
   <td id="mk58">PERIOD</td>
   <td id="id58">&nbsp;</td>
   <td id="vo58">&nbsp;</td>
   <td id="ap58">&nbsp;</td>
   <td id="wm58">&nbsp;</td>
   <td id="ri58">&nbsp;</td>
   <td id="dc58"><a
 href="http://dublincore.org/documents/dcmi-terms/#coverage"
 title="External specification source">coverage</a> <a
 href="http://dublincore.org/documents/dcmi-terms/#temporal"
 title="External specification source">temporal</a> </td>
   <td id="de58">Describes the period that the piece is from or about; e.g.
    "Renaissance".</td>
  </tr>
  <tr>
   <td id="mi59">LawRating</td>
   <td id="mk59">LAW_RATING</td>
   <td id="id59">&nbsp;</td>
   <td id="vo59">&nbsp;</td>
   <td id="ap59">&nbsp;</td>
   <td id="wm59">&nbsp;</td>
   <td id="ri59">IRTD</td>
   <td id="dc59"><a
 href="http://dublincore.org/documents/dcmi-terms/#audience"
 title="External specification source">audience</a></td>
   <td id="de59">Depending on the country it's the format of the rating of
    a movie (P, R, X in the USA, an age in other countries or a URI defining
    a logo).</td>
  </tr>
  <tr>
   <td id="mi60">IRCA</td>
   <td id="mk60">ICRA</td>
   <td id="id60">&nbsp;</td>
   <td id="vo60">&nbsp;</td>
   <td id="ap60">&nbsp;</td>
   <td id="wm60">&nbsp;</td>
   <td id="ri60">&nbsp;</td>
   <td id="dc60"><a
 href="http://dublincore.org/documents/dcmi-terms/#audience"
 title="External specification source">audience</a></td>
   <td id="de60">The <a href="http://www.icra.org/"
 title="External specification source">ICRA</a> rating. (Previously RSACi)</td>
  </tr>
  <tr>
   <td id="mi61">Language</td>
   <td id="mk61">&nbsp;TagLanguage</td>
   <td id="id61"><a href="http://www.id3.org/id3v2.3.0.html#TLAN"
 title="External specification source">TLAN</a></td>
   <td id="vo61">&nbsp;</td>
   <td id="ap61">LANGUAGE</td>
   <td id="wm61">&nbsp;</td>
   <td id="ri61">ILNG</td>
   <td id="dc61"><a
 href="http://dublincore.org/documents/dcmi-terms/#language"
 title="External specification source">language</a></td>
   <td id="de61">Language(s) of the item in the bibliographic <a
 href="http://www.loc.gov/standards/iso639-2/englangn.html#two"
 title="External specification source">ISO-639-2</a> form.</td>
  </tr>
  <tr>
   <td id="mi64">Medium</td>
   <td id="mk64">&nbsp;</td>
   <td id="id64">&nbsp;</td>
   <td id="vo64">&nbsp;</td>
   <td id="ap64">&nbsp;</td>
   <td id="wm64">&nbsp;</td>
   <td id="ri64">IMED</td>
   <td id="dc64"><a
 href="http://dublincore.org/documents/dcmi-terms/#source"
 title="External specification source">source</a></td>
   <td id="de64">Medium. Describes the original subject of the file, such as,
    "computer image," "drawing," "lithograph," and so forth. Not necessarily
    the same as ISRF.</td>
  </tr>
  <tr>
   <td id="mi65">Product</td>
   <td id="mk65">&nbsp;</td>
   <td id="id65">&nbsp;</td>
   <td id="vo65">&nbsp;</td>
   <td id="ap65">&nbsp;</td>
   <td id="wm65">&nbsp;</td>
   <td id="ri65">IPRD</td>
   <td id="dc65"><a
 href="http://dublincore.org/documents/dcmi-terms/#title"
 title="External specification source">title</a></td>
   <td id="de65">Product. Specifies the name of the title the file was originally
    intended for, such as "Encyclopedia of Pacific Northwest Geography."</td>
  </tr>
  <tr>
   <td id="mi66">Country</td>
   <td id="mk66">&nbsp;COUNTRY</td>
   <td id="id66">&nbsp;</td>
   <td id="vo66">&nbsp;</td>
   <td id="ap66">&nbsp;</td>
   <td id="wm66">&nbsp;</td>
   <td id="ri66">ICNT</td>
   <td id="dc66">&nbsp;</td>
   <td id="de66">Country</td>
  </tr>
 </tbody>
 <thead>
  <tr onclick="Line_Show('Temporal')" id="TemporalH" style="cursor: pointer">
   <td colspan="9" class="xheader">(Temporal Information)</td>
  </tr>
  <tr onclick="Line_Hide('Temporal')" id="TemporalS" style="cursor: pointer">
   <td colspan="9" class="xheader">Temporal Information</td>
  </tr>
 </thead>
 <tbody id="Temporal">
  <tr>
   <td id="mi67">Written_Date</td>
   <td id="mk67">DATE_WRITTEN</td>
   <td id="id67">&nbsp;</td>
   <td id="vo67">&nbsp;</td>
   <td id="ap67">&nbsp;</td>
   <td id="wm67">&nbsp;</td>
   <td id="ri67">ICRD</td>
   <td id="dc67"><a
 href="http://dublincore.org/documents/dcmi-terms/#date"
 title="External specification source">date</a> <a
 href="http://dublincore.org/documents/dcmi-terms/#created"
 title="External specification source">created</a> </td>
   <td id="de67">The time that the composition of the music/script began.</td>
  </tr>
  <tr>
   <td id="mi68">Recorded_Date<br/> </td>
   <td id="mk68">DATE_RECORDED</td>
   <td id="id68"><a
 href="http://www.unixgods.org/%7Etilo/ID3/docs/id3v2.4.0-frames.html#TDRC"
 title="External specification source">TDRC</a></td>
   <td id="vo68">DATE</td>
   <td id="ap68">RECORD DATE</td>
   <td id="wm68">&nbsp;</td>
   <td id="ri68">&nbsp;</td>
   <td id="dc68"><a
 href="http://dublincore.org/documents/dcmi-terms/#date"
 title="External specification source">date</a></td>
   <td id="de68">The time that the recording began.</td>
  </tr>
  <tr>
   <td id="mi69">Released_Date</td>
   <td id="mk69">DATE_RELEASED</td>
   <td id="id69"><a
 href="http://www.unixgods.org/%7Etilo/ID3/docs/id3v2.4.0-frames.html#TDRL"
 title="External specification source">TDRL</a></td>
   <td id="vo69">&nbsp;</td>
   <td id="ap69">YEAR</td>
   <td id="wm69">&nbsp;</td>
   <td id="ri69">&nbsp;</td>
   <td id="dc69"><a
 href="http://dublincore.org/documents/dcmi-terms/#date"
 title="External specification source">date</a> <a
 href="http://dublincore.org/documents/dcmi-terms/#issued"
 title="External specification source">issued</a> </td>
   <td id="de69">The time that the item was originaly released.</td>
  </tr>
  <tr>
   <td id="mi70">Mastered_Date</td>
   <td id="mk70">DATE_DIGITIZED</td>
   <td id="id70">&nbsp;</td>
   <td id="vo70">&nbsp;</td>
   <td id="ap70">&nbsp;</td>
   <td id="wm70">&nbsp;</td>
   <td id="ri70">IDIT</td>
   <td id="dc70"><a
 href="http://dublincore.org/documents/dcmi-terms/#date"
 title="External specification source">date</a></td>
   <td id="de70">The time that the item was tranfered to a digitalmedium.</td>
  </tr>
  <tr>
   <td id="mi71">Encoded_Date</td>
   <td id="mk71">DATE_ENCODED</td>
   <td id="id71"><a
 href="http://www.unixgods.org/%7Etilo/ID3/docs/id3v2.4.0-frames.html#TDEN"
 title="External specification source">TDEN</a></td>
   <td id="vo71">&nbsp;</td>
   <td id="ap71">&nbsp;</td>
   <td id="wm71">&nbsp;</td>
   <td id="ri71">&nbsp;</td>
   <td id="dc71"><a
 href="http://dublincore.org/documents/dcmi-terms/#date"
 title="External specification source">date</a></td>
   <td id="de71">The time that the encoding of this item was completed began.</td>
  </tr>
  <tr>
   <td id="mi72">Tagged_Date</td>
   <td id="mk72">DATE_TAGGED</td>
   <td id="id72"><a
 href="http://www.unixgods.org/%7Etilo/ID3/docs/id3v2.4.0-frames.html#TDTG"
 title="External specification source">TDTG</a></td>
   <td id="vo72">&nbsp;</td>
   <td id="ap72">&nbsp;</td>
   <td id="wm72">&nbsp;</td>
   <td id="ri72">&nbsp;</td>
   <td id="dc72"><a
 href="http://dublincore.org/documents/dcmi-terms/#date"
 title="External specification source">date</a> <a
 href="http://dublincore.org/documents/dcmi-terms/#modified"
 title="External specification source">modified</a> </td>
   <td id="de72">The time that the tags were done for this item.</td>
  </tr>
  <tr>
   <td id="mi74">Original/Released_Date</td>
   <td id="mk74">ORIGINAL - DATE_RELEASED</td>
   <td id="id74"><a
 href="http://www.unixgods.org/%7Etilo/ID3/docs/id3v2.4.0-frames.html#TDOR"
 title="External specification source">TDOR</a></td>
   <td id="vo74">&nbsp;</td>
   <td id="ap74">&nbsp;</td>
   <td id="wm74">&nbsp;</td>
   <td id="ri74">&nbsp;</td>
   <td id="dc74">&nbsp;</td>
   <td id="de74">Contains a timestamp describing when the original recording
    of the audio was released.</td>
  </tr>
  <tr>
   <td id="mi75">Original/Released_Date</td>
   <td id="mk75">ORIGINAL - DATE_RELEASED</td>
   <td id="id75"><a
 href="http://www.id3.org/id3v2.3.0.html#TORY"
 title="External specification source">TORY</a></td>
   <td id="vo75">&nbsp;</td>
   <td id="ap75">&nbsp;</td>
   <td id="wm75">&nbsp;</td>
   <td id="ri75">&nbsp;</td>
   <td id="dc75">&nbsp;</td>
   <td id="de75">Original release year.</td>
  </tr>
 </tbody>
 <thead>
  <tr onclick="Line_Show('Spacial')" id="SpacialH" style="cursor: pointer">
   <td colspan="9" class="xheader">(Spacial Information)</td>
  </tr>
  <tr onclick="Line_Hide('Spacial')" id="SpacialS" style="cursor: pointer">
   <td colspan="9" class="xheader">Spacial Information</td>
  </tr>
 </thead>
 <tbody id="Spacial">
  <tr>
   <td id="mi76">Written_Location<br/> </td>
   <td id="mk76">COMPOSITION_LOCATION</td>
   <td id="id76">&nbsp;</td>
   <td id="vo76">&nbsp;</td>
   <td id="ap76">&nbsp;</td>
   <td id="wm76">&nbsp;</td>
   <td id="ri76">&nbsp;</td>
   <td id="dc76"><a
 href="http://dublincore.org/documents/dcmi-terms/#coverage"
 title="External specification source">coverage</a> <a
 href="http://dublincore.org/documents/dcmi-terms/#spatial"
 title="External specification source">spatial</a> </td>
   <td id="de76">Location that the item was originaly designed/written. Information
    should be stored in the following format: "country code, state/province,
    city" where the coutry code is the same 2 octets as in <a
 href="http://www.iana.org/cctld/cctld-whois.htm"
 title="External specification source">Internet domains</a>, or possibly <a
 href="http://www.iso.org/iso/en/prods-services/iso3166ma/02iso-3166-code-lists/list-en1.html"
 title="External specification source">ISO-3166</a>; e.g. "US, Texas, Austin"
    or "US, , Austin".</td>
  </tr>
  <tr>
   <td id="mi77">Recorded_Location</td>
   <td id="mk77">RECORDING_LOCATION</td>
   <td id="id77">&nbsp;</td>
   <td id="vo77">LOCATION</td>
   <td id="ap77">RECORD LOCATION</td>
   <td id="wm77">&nbsp;</td>
   <td id="ri77">&nbsp;</td>
   <td id="dc77"><a
 href="http://dublincore.org/documents/dcmi-terms/#coverage"
 title="External specification source">coverage</a> <a
 href="http://dublincore.org/documents/dcmi-terms/#spatial"
 title="External specification source">spatial</a> </td>
   <td id="de77">Location where track was recorded. (See COMPOSITION_LOCATION
    for format)</td>
  </tr>
  <tr>
   <td id="mi147">Archival_Location</td>
   <td id="mk147">&nbsp;</td>
   <td id="id147">&nbsp;</td>
   <td id="vo147">&nbsp;</td>
   <td id="ap147">&nbsp;</td>
   <td id="wm147">&nbsp;</td>
   <td id="ri147">IARL</td>
   <td id="dc147">&nbsp;</td>
   <td id="de147">Archival Location. Indicates where the subject of the file
    is archived.</td>
  </tr>
 </tbody>
 <thead>
  <tr onclick="Line_Show('Personal')" id="PersonalH" style="cursor: pointer">
   <td colspan="9" class="xheader">(Personal Information)</td>
  </tr>
  <tr onclick="Line_Hide('Personal')" id="PersonalS" style="cursor: pointer">
   <td colspan="9" class="xheader">Personal Information</td>
  </tr>
 </thead>
 <tbody id="Personal">
  <tr>
   <td id="mi48">Genre</td>
   <td id="mk48">GENRE</td>
   <td id="id48"><a href="http://www.id3.org/id3v2.3.0.html#TCON"
 title="External specification source">TCON</a></td>
   <td id="vo48">GENRE</td>
   <td id="ap48">&nbsp;</td>
   <td id="wm48">&nbsp;</td>
   <td id="ri48">&nbsp;IGNR</td>
   <td id="dc48">&nbsp;<a
 href="http://dublincore.org/documents/dcmi-terms/#description"
 title="External specification source">description</a></td>
   <td id="de48">The main genre of the audio or video; e.g. "classical", "ambient-house",
    "synthpop", "sci-fi", "drama", etc.</td>
  </tr>
  <tr>
   <td id="mi49">Mood</td>
   <td id="mk49">MOOD</td>
   <td id="id49"><a
 href="http://www.unixgods.org/%7Etilo/ID3/docs/id3v2.4.0-frames.html#TMOO"
 title="External specification source">TMOO</a></td>
   <td id="vo49">&nbsp;</td>
   <td id="ap49">&nbsp;</td>
   <td id="wm49">&nbsp;</td>
   <td id="ri49">&nbsp;</td>
   <td id="dc49">&nbsp;</td>
   <td id="de49">Intended to reflect the mood of the item with a few keywords,
    e.g. "Romantic", "Sad", "Uplifting", etc.</td>
  </tr>
  <tr>
   <td id="mi79">Comment</td>
   <td id="mk79">COMMENT</td>
   <td id="id79"><a href="http://www.id3.org/id3v2.3.0.html#sec4.11"
 title="External specification source">COMM</a></td>
   <td id="vo79">COMMENT</td>
   <td id="ap79">COMMENT</td>
   <td id="wm79">&nbsp;</td>
   <td id="ri79">ICMT</td>
   <td id="dc79">&nbsp;</td>
   <td id="de79">Any comment related to the content.</td>
  </tr>
  <tr>
   <td id="mi80">Rating&nbsp;</td>
   <td id="mk80">RATING</td>
   <td id="id80"><a href="http://www.id3.org/id3v2.3.0.html#sec4.18"
 title="External specification source">POPM</a></td>
   <td id="vo80">&nbsp;</td>
   <td id="ap80">&nbsp;</td>
   <td id="wm80">&nbsp;</td>
   <td id="ri80">&nbsp;</td>
   <td id="dc80">&nbsp;</td>
   <td id="de80">A numeric value defining how much a person likes the song/movie.
    The number is between 0 and 5 with decimal values possible (e.g. 2.7),
    5(.0) being the highest possible rating.</td>
  </tr>
  <tr>
   <td id="mi73">Purchased_Date</td>
   <td id="mk73">DATE_PURCHASED</td>
   <td id="id73"><a href="http://www.id3.org/id3v2.3.0.html#sec4.24"
 title="External specification source">OWNE</a>*</td>
   <td id="vo73">&nbsp;</td>
   <td id="ap73">&nbsp;</td>
   <td id="wm73">&nbsp;</td>
   <td id="ri73">&nbsp;</td>
   <td id="dc73"><a
 href="http://dublincore.org/documents/dcmi-terms/#date"
 title="External specification source">date</a></td>
   <td id="de73">Information on when the file was purchased.<br/>
    This is the &quot;Date of purch&quot; item for ID3Tag OWNE </td>
  </tr>
  <tr>
   <td id="mi124">Purchased_Owner</td>
   <td id="mk124">PURCHASE_OWNER</td>
   <td id="id124"><a href="http://www.id3.org/id3v2.3.0.html#TOWN"
 title="External specification source">TOWN</a></td>
   <td id="vo124">&nbsp;</td>
   <td id="ap124">&nbsp;</td>
   <td id="wm124">&nbsp;</td>
   <td id="ri124">&nbsp;</td>
   <td id="dc124">&nbsp;</td>
   <td id="de124">Information on the person who purchased the file.</td>
  </tr>
  <tr>
   <td id="mi130">Purchased_Seller</td>
   <td id="mk130">&nbsp;</td>
   <td id="id130"><a href="http://www.id3.org/id3v2.3.0.html#sec4.24"
 title="External specification source">OWNE</a>*</td>
   <td id="vo130">&nbsp;</td>
   <td id="ap130">&nbsp;</td>
   <td id="wm130">&nbsp;</td>
   <td id="ri130">&nbsp;</td>
   <td id="dc130"><a
 href="http://dublincore.org/documents/dcmi-terms/#rights"
 title="External specification source">rights</a></td>
   <td id="de130"><p>Might be used as a reminder of a made transaction or,
     if signed, as proof. Note that the "USER" and "TOWN" frames are good
     to use in conjunction with this one.<br/>
     This is the &quot;Seller&quot; item for ID3Tag OWNE</p></td>
  </tr>
  <tr>
   <td id="mi81">PlayCounter</td>
   <td id="mk81">PLAY_COUNTER</td>
   <td id="id81"><a href="http://www.id3.org/id3v2.3.0.html#sec4.17"
 title="External specification source">PCNT</a></td>
   <td id="vo81">&nbsp;</td>
   <td id="ap81">&nbsp;</td>
   <td id="wm81">&nbsp;</td>
   <td id="ri81">&nbsp;</td>
   <td id="dc81">&nbsp;</td>
   <td id="de81">The number of time the item has been played.</td>
  </tr>
 </tbody>
 <thead>
  <tr onclick="Line_Show('Technical')"
 id="TechnicalH">
   <td colspan="9" class="xheader">(Technical Information)</td>
  </tr>
  <tr onclick="Line_Hide('Technical')" id="TechnicalS" style="cursor: pointer">
   <td colspan="9" class="xheader">Technical Information</td>
  </tr>
 </thead>
 <tbody id="Technical">
  <tr>
   <td id="mi146">Encoded_Application</td>
   <td id="mk146"><em>Stored in <a
 href="http://www.matroska.org/technical/specs/index.html#WritingApp">WritingApp</a></em></td>
   <td id="id146">&nbsp;</td>
   <td id="vo146">&nbsp;</td>
   <td id="ap146">&nbsp;</td>
   <td id="wm146">&nbsp;</td>
   <td id="ri146">ISFT</td>
   <td id="dc146">&nbsp;</td>
   <td id="de146">Software. Identifies the name of the software package used
    to create the file, such as "Microsoft WaveEdit."</td>
  </tr>
  <tr>
   <td id="mi82">Encoded_Library</td>
   <td id="mk82">ENCODER</td>
   <td id="id82">&nbsp;</td>
   <td id="vo82">&nbsp;</td>
   <td id="ap82">&nbsp;</td>
   <td id="wm82">&nbsp;</td>
   <td id="ri82">&nbsp;</td>
   <td id="dc82">&nbsp;</td>
   <td id="de82">The software or hardware used to encode this item; e.g. "LAME"
    or "XviD"</td>
  </tr>
  <tr>
   <td id="mi83">Encoded_Library/Settings</td>
   <td id="mk83">ENCODER_SETTINGS</td>
   <td id="id83">&nbsp;</td>
   <td id="vo83">ENCODING</td>
   <td id="ap83">&nbsp;</td>
   <td id="wm83">&nbsp;</td>
   <td id="ri83">&nbsp;</td>
   <td id="dc83"><a
 href="http://dublincore.org/documents/dcmi-terms/#format"
 title="External specification source">format</a></td>
   <td id="de83">A list of the settings used for encoding this item. No specific
    format.</td>
  </tr>
  <tr>
   <td id="mi50">Encoded_Original</td>
   <td id="mk50">ORIGINAL_MEDIA_TYPE</td>
   <td id="id50"><a href="http://www.id3.org/id3v2.3.0.html#TMED"
 title="External specification source">TMED</a></td>
   <td id="vo50">SOURCEMEDIA</td>
   <td id="ap50">&nbsp;</td>
   <td id="wm50">&nbsp;</td>
   <td id="ri50">ISRF</td>
   <td id="dc50"><a
 href="http://dublincore.org/documents/dcmi-terms/#source"
 title="External specification source">source</a></td>
   <td id="de50">Identifies the original recording media form from which the
    material originated, such as "CD", "cassette", "LP", "radio broadcast",
    "slide", "paper", etc.</td>
  </tr>
  <tr>
   <td id="mi51">Encoded_Original/URL<br/> </td>
   <td id="mk51">ORIGINAL_MEDIA_TYPE - URL</td>
   <td id="id51"><a href="http://www.id3.org/id3v2.3.0.html#WOAS"
 title="External specification source">WOAS</a></td>
   <td id="vo51">&nbsp;</td>
   <td id="ap51">&nbsp;</td>
   <td id="wm51">&nbsp;</td>
   <td id="ri51">&nbsp;</td>
   <td id="dc51">&nbsp;</td>
   <td id="de51">Official audio source webpage; e.g. a movie.</td>
  </tr>
  <tr>
   <td id="mi138">FileName_Original</td>
   <td id="mk138">&nbsp;</td>
   <td id="id138"><a href="http://www.id3.org/id3v2.3.0.html#TOFN"
 title="External specification source">TOFN</a></td>
   <td id="vo138">&nbsp;</td>
   <td id="ap138">&nbsp;</td>
   <td id="wm138">&nbsp;</td>
   <td id="ri138">&nbsp;</td>
   <td id="dc138">&nbsp;</td>
   <td id="de138">Contains the preferred filename for the file</td>
  </tr>
  <tr>
   <td id="mi142">File_Url</td>
   <td id="mk142">&nbsp;</td>
   <td id="id142"><a href="http://www.id3.org/id3v2.3.0.html#WOAF"
 title="External specification source">WOAF</a></td>
   <td id="vo142">&nbsp;</td>
   <td id="ap142">&nbsp;</td>
   <td id="wm142">&nbsp;</td>
   <td id="ri142">&nbsp;</td>
   <td id="dc142">&nbsp;</td>
   <td id="de142">URL pointing at a file specific webpage (official audio file
    webpage).</td>
  </tr>
  <tr>
   <td id="mi84">BPS</td>
   <td id="mk84">BPS</td>
   <td id="id84">&nbsp;</td>
   <td id="vo84">&nbsp;</td>
   <td id="ap84">&nbsp;</td>
   <td id="wm84">&nbsp;</td>
   <td id="ri84">&nbsp;</td>
   <td id="dc84"><a
 href="http://dublincore.org/documents/dcmi-terms/#format"
 title="External specification source">format</a></td>
   <td id="de84">The average bits per second of the specified item.</td>
  </tr>
  <tr>
   <td id="mi85">FPS</td>
   <td id="mk85">FPS</td>
   <td id="id85">&nbsp;</td>
   <td id="vo85">&nbsp;</td>
   <td id="ap85">&nbsp;</td>
   <td id="wm85">&nbsp;</td>
   <td id="ri85">&nbsp;</td>
   <td id="dc85"><a
 href="http://dublincore.org/documents/dcmi-terms/#format"
 title="External specification source">format</a></td>
   <td id="de85">The average frames per second of the specified item.</td>
  </tr>
  <tr>
   <td id="mi86">Duration</td>
   <td id="mk86"><em><a
 href="http://www.matroska.org/technical/specs/index.html#Duration">Duration</a>
    <br/>
    </em></td>
   <td id="id86"><a href="http://www.id3.org/id3v2.3.0.html#TLEN"
 title="External specification source">TLEN</a></td>
   <td id="vo86">&nbsp;</td>
   <td id="ap86">&nbsp;</td>
   <td id="wm86">&nbsp;</td>
   <td id="ri86">&nbsp;</td>
   <td id="dc86"><a
 href="http://dublincore.org/documents/dcmi-terms/#format"
 title="External specification source">format</a> <a
 href="http://dublincore.org/documents/dcmi-terms/#extent"
 title="External specification source">extent</a> </td>
   <td id="de86">Length of the audio file in milliseconds.</td>
  </tr>
  <tr>
   <td id="mi87">Codec</td>
   <td id="mk87"><em><a
 href="http://www.matroska.org/technical/specs/index.html#TrackType">TrackType</a>
    &amp; <a
 href="http://www.matroska.org/technical/specs/index.html#CodecID">CodecID</a>
    &amp; <a
 href="http://www.matroska.org/technical/specs/index.html#CodecName">CodecName</a><br/>
    </em></td>
   <td id="id87"><a href="http://www.id3.org/id3v2.3.0.html#TFLT"
 title="External specification source">TFLT</a></td>
   <td id="vo87">&nbsp;</td>
   <td id="ap87">&nbsp;</td>
   <td id="wm87">&nbsp;</td>
   <td id="ri87">&nbsp;</td>
   <td id="dc87"><a
 href="http://dublincore.org/documents/dcmi-terms/#format"
 title="External specification source">format</a></td>
   <td id="de87">Indicates, by defined codes, which type of audio this tag
    defines; e.g. "MPEG Audio" (default), "MPEG 1/2 layer III", "Advanced
    Audio Compression", etc.</td>
  </tr>
  <tr>
   <td id="mi88">(Not used)<br/> </td>
   <td id="mk88"><em><a
    href="http://www.matroska.org/technical/specs/index.html#MetaSeekInformation">
    Meta Seek Information</a><br/>
    </em>
   </td>
   <td id="id88"><a
 href="http://www.unixgods.org/%7Etilo/ID3/docs/id3v2.4.0-frames.html#SEEK"
 title="External specification source">SEEK</a></td>
   <td id="vo88">&nbsp;</td>
   <td id="ap88">&nbsp;</td>
   <td id="wm88">&nbsp;</td>
   <td id="ri88">&nbsp;</td>
   <td id="dc88">&nbsp;</td>
   <td id="de88">This frame indicates where other tags in a file/stream can
    be found.</td>
  </tr>
  <tr>
   <td id="mi89">(Not used)<br/> </td>
   <td id="mk89"><em><a
 href="http://www.matroska.org/technical/specs/index.html#SeekHead">SeekHead</a>
    &amp; <a href="http://www.matroska.org/technical/specs/index.html#Cues">Cues</a><br/>
    </em></td>
   <td id="id89"><a href="http://www.id3.org/id3v2.3.0.html#sec4.7"
 title="External specification source">MLLT</a></td>
   <td id="vo89">&nbsp;</td>
   <td id="ap89">&nbsp;</td>
   <td id="wm89">&nbsp;</td>
   <td id="ri89">&nbsp;</td>
   <td id="dc89">&nbsp;</td>
   <td id="de89">MPEG location lookup table to increase performance and accuracy
    of jumps within an audio file.</td>
  </tr>
  <tr>
   <td id="mi90">(Not used)<br/> </td>
   <td id="mk90"><em><a
 href="http://www.matroska.org/technical/specs/index.html#Cues">Cues</a><br/>
    </em></td>
   <td id="id90"><a
 href="http://www.unixgods.org/%7Etilo/ID3/docs/id3v2.4.0-frames.html#ASPI"
 title="External specification source">ASPI</a></td>
   <td id="vo90">&nbsp;</td>
   <td id="ap90">&nbsp;</td>
   <td id="wm90">&nbsp;</td>
   <td id="ri90">&nbsp;</td>
   <td id="dc90">&nbsp;</td>
   <td id="de90">Makes seeking in audio files with variable bit rates easier
    using an audio seek point index.</td>
  </tr>
  <tr>
   <td id="mi91">Delay</td>
   <td id="mk91"><em><a
 href="http://www.matroska.org/technical/specs/index.html#TrackOffset">TrackOffset</a><br/>
    </em></td>
   <td id="id91"><a href="http://www.id3.org/id3v2.3.0.html#TDLY"
 title="External specification source">TDLY</a></td>
   <td id="vo91">&nbsp;</td>
   <td id="ap91">&nbsp;</td>
   <td id="wm91">&nbsp;</td>
   <td id="ri91">&nbsp;</td>
   <td id="dc91">&nbsp;</td>
   <td id="de91">Defines the numbers of milliseconds of silence that should
    be inserted before this audio.</td>
  </tr>
  <tr>
   <td id="mi92">(Not used)</td>
   <td id="mk92">&nbsp;</td>
   <td id="id92"><a href="http://www.id3.org/id3v2.3.0.html#sec4.6"
 title="External specification source">ETCO</a></td>
   <td id="vo92">&nbsp;</td>
   <td id="ap92">&nbsp;</td>
   <td id="wm92">&nbsp;</td>
   <td id="ri92">&nbsp;</td>
   <td id="dc92">&nbsp;</td>
   <td id="de92">Allows synchronisation with key events in the audio.</td>
  </tr>
  <tr>
   <td id="mi93">(Not used)<br/> </td>
   <td id="mk93">&nbsp;</td>
   <td id="id93"><a href="http://www.id3.org/id3v2.3.0.html#sec4.8"
 title="External specification source">SYTC</a></td>
   <td id="vo93">&nbsp;</td>
   <td id="ap93">&nbsp;</td>
   <td id="wm93">&nbsp;</td>
   <td id="ri93">&nbsp;</td>
   <td id="dc93">&nbsp;</td>
   <td id="de93">Synchronised tempo codes for a more accurate description of
    the tempo of a musical piece.</td>
  </tr>
  <tr>
   <td id="mi94">(Not used)</td>
   <td id="mk94">&nbsp;</td>
   <td id="id94"><a href="http://www.id3.org/id3v2.3.0.html#sec4.22"
 title="External specification source">POSS</a></td>
   <td id="vo94">&nbsp;</td>
   <td id="ap94">&nbsp;</td>
   <td id="wm94">&nbsp;</td>
   <td id="ri94">&nbsp;</td>
   <td id="dc94">&nbsp;</td>
   <td id="de94">Delivers information to the listener of how far into the audio
    stream he picked up.</td>
  </tr>
  <tr>
   <td id="mi95">(Not used)</td>
   <td id="mk95">&nbsp;</td>
   <td id="id95"><a href="http://www.id3.org/id3v2.3.0.html#sec4.19"
 title="External specification source">RBUF</a></td>
   <td id="vo95">&nbsp;</td>
   <td id="ap95">&nbsp;</td>
   <td id="wm95">&nbsp;</td>
   <td id="ri95">&nbsp;</td>
   <td id="dc95">&nbsp;</td>
   <td id="de95">Buffer size recommended by the server using this frame (in
    case of streaming).</td>
  </tr>
  <tr>
   <td id="mi96">(Not used)<br/></td>
   <td id="mk96">&nbsp;</td>
   <td id="id96">&nbsp;</td>
   <td id="vo96">&nbsp;</td>
   <td id="ap96">&nbsp;</td>
   <td id="wm96">&nbsp;</td>
   <td id="ri96">IDPI</td>
   <td id="dc96"><a
 href="http://dublincore.org/documents/dcmi-terms/#format"
 title="External specification source">format</a></td>
   <td id="de96">Dots Per Inch. Stores dots per inch setting of the digitizer
    used to produce the file, such as "300."</td>
  </tr>
  <tr>
   <td id="mi97">(Not used)<br/></td>
   <td id="mk97">&nbsp;</td>
   <td id="id97">&nbsp;</td>
   <td id="vo97">&nbsp;</td>
   <td id="ap97">&nbsp;</td>
   <td id="wm97">&nbsp;</td>
   <td id="ri97">ILGT</td>
   <td id="dc97"><a
 href="http://dublincore.org/documents/dcmi-terms/#format"
 title="External specification source">format</a></td>
   <td id="de97">Lightness. Describes the changes in lightness settings on
    the digitizer required to produce the file. Note that the format of this
    information depends on hardware used.</td>
  </tr>
  <tr>
   <td id="mi98">(Not used)</td>
   <td id="mk98">&nbsp;</td>
   <td id="id98">&nbsp;</td>
   <td id="vo98">&nbsp;</td>
   <td id="ap98">&nbsp;</td>
   <td id="wm98">&nbsp;</td>
   <td id="ri98">IPLT</td>
   <td id="dc98"><a
 href="http://dublincore.org/documents/dcmi-terms/#format"
 title="External specification source">format</a></td>
   <td id="de98">Palette Setting. Specifies the number of colors requested
    when digitizing an image, such as "256."</td>
  </tr>
  <tr>
   <td id="mi99">(Not used)<br/> </td>
   <td id="mk99">&nbsp;</td>
   <td id="id99">&nbsp;</td>
   <td id="vo99">&nbsp;</td>
   <td id="ap99">&nbsp;</td>
   <td id="wm99">&nbsp;</td>
   <td id="ri99">ISHP</td>
   <td id="dc99"><a
 href="http://dublincore.org/documents/dcmi-terms/#format"
 title="External specification source">format</a></td>
   <td id="de99">Sharpness. Identifies the changes in sharpness for the digitizer
    required to produce the file (the format depends on the hardware used).</td>
  </tr>
  <tr>
   <td id="mi100">(Not used)</td>
   <td id="mk100"><em><a
 href="http://www.matroska.org/technical/specs/index.html#PixelCropBottom">PixelCropBottom</a>
    &amp;<a
 href="http://www.matroska.org/technical/specs/index.html#PixelCropTop">PixelCropTop</a>
    &amp; <a
 href="http://www.matroska.org/technical/specs/index.html#PixelCropLeft">PixelCropLeft</a>
    &amp; <a
 href="http://www.matroska.org/technical/specs/index.html#PixelCropRight">PixelCropRight</a><br/>
    </em></td>
   <td id="id100">&nbsp;</td>
   <td id="vo100">&nbsp;</td>
   <td id="ap100">&nbsp;</td>
   <td id="wm100">&nbsp;</td>
   <td id="ri100">ICRP</td>
   <td id="dc100">&nbsp;</td>
   <td id="de100">Cropped. Describes whether an image has been cropped and,
    if so, how it was cropped. For example, "lower right corner."</td>
  </tr>
  <tr>
   <td id="mi101">(Not used)<br/> </td>
   <td id="mk101">&nbsp;</td>
   <td id="id101">&nbsp;</td>
   <td id="vo101">&nbsp;</td>
   <td id="ap101">&nbsp;</td>
   <td id="wm101">&nbsp;</td>
   <td id="ri101">IDIM</td>
   <td id="dc101">&nbsp;</td>
   <td id="de101">Dimensions. Specifies the size of the original subject of
    the file. For example, "8.5 in h, 11 in w."</td>
  </tr>
  <tr>
   <td id="mi102">BPM&nbsp;</td>
   <td id="mk102">BPM</td>
   <td id="id102"><a href="http://www.id3.org/id3v2.3.0.html#TBPM"
 title="External specification source">TBPM</a></td>
   <td id="vo102">&nbsp;</td>
   <td id="ap102">&nbsp;</td>
   <td id="wm102">&nbsp;</td>
   <td id="ri102">&nbsp;</td>
   <td id="dc102"><a
 href="http://dublincore.org/documents/dcmi-terms/#format"
 title="External specification source">format</a></td>
   <td id="de102">Average number of beats per minute in the complete target
    (e.g. a chapter). Usually a decimal number.</td>
  </tr>
  <tr>
   <td id="mi103">(Not used)</td>
   <td id="mk103">MEASURE</td>
   <td id="id103">&nbsp;</td>
   <td id="vo103">&nbsp;</td>
   <td id="ap103">&nbsp;</td>
   <td id="wm103">&nbsp;</td>
   <td id="ri103">&nbsp;</td>
   <td id="dc103"><a
 href="http://dublincore.org/documents/dcmi-terms/#format"
 title="External specification source">format</a></td>
   <td id="de103">In music, a measure is a unit of time in Western music like
    "4/4". It represents a regular grouping of beats, a meter, as indicated
    in musical notation by the time signature.. The majority of the contemporary
    rock and pop music you hear on the radio these days is written in the
    4/4 time signature.</td>
  </tr>
  <tr>
   <td id="mi104">(Not used)</td>
   <td id="mk104">TUNING</td>
   <td id="id104">&nbsp;</td>
   <td id="vo104">&nbsp;</td>
   <td id="ap104">&nbsp;</td>
   <td id="wm104">&nbsp;</td>
   <td id="ri104">&nbsp;</td>
   <td id="dc104"><a
 href="http://dublincore.org/documents/dcmi-terms/#format"
 title="External specification source">format</a></td>
   <td id="de104">It is saved as a frequency in hertz to allow near-perfect
    tuning of instruments to the same tone as the musical piece (e.g. "441.34"
    in Hertz). The default value is 440.0 Hz.</td>
  </tr>
  <tr>
   <td id="mi105">(Not used)<br/></td>
   <td id="mk105">INITIAL_KEY</td>
   <td id="id105"><a href="http://www.id3.org/id3v2.3.0.html#TKEY"
 title="External specification source">TKEY</a></td>
   <td id="vo105">&nbsp;</td>
   <td id="ap105">&nbsp;</td>
   <td id="wm105">&nbsp;</td>
   <td id="ri105">&nbsp;</td>
   <td id="dc105">&nbsp;</td>
   <td id="de105">The initial key that a musical track starts in.</td>
  </tr>
  <tr>
   <td id="mi106">Gain&nbsp;</td>
   <td id="mk106">REPLAYGAIN_GAIN</td>
   <td id="id106"><a
 href="http://www.unixgods.org/%7Etilo/ID3/docs/id3v2.4.0-frames.html#RVA2"
 title="External specification source">RVA2</a></td>
   <td id="vo106">&nbsp;</td>
   <td id="ap106">&nbsp;</td>
   <td id="wm106">&nbsp;</td>
   <td id="ri106">&nbsp;</td>
   <td id="dc106">&nbsp;</td>
   <td id="de106">The gain to apply to reach 89db SPL on playback. Based on
    the <a
 href="http://www.replaygain.org/" title="External specification source">Replay
    Gain</a> standard. Note that ReplayGain information can be found at all
    TargetType levels (track, album, etc).</td>
  </tr>
  <tr>
   <td id="mi107">Peak</td>
   <td id="mk107">REPLAYGAIN_PEAK</td>
   <td id="id107">&nbsp;</td>
   <td id="vo107">&nbsp;</td>
   <td id="ap107">&nbsp;</td>
   <td id="wm107">&nbsp;</td>
   <td id="ri107">&nbsp;</td>
   <td id="dc107">&nbsp;</td>
   <td id="de107">The maximum absolute peak value of the item. Based on the
    <a
 href="http://www.replaygain.org/" title="External specification source">Replay
    Gain</a> standard.</td>
  </tr>
  <tr>
   <td id="mi108">(Not used)&nbsp;</td>
   <td id="mk108">&nbsp;</td>
   <td id="id108"><a href="http://www.id3.org/id3v2.3.0.html#sec4.14"
 title="External specification source">RVRB</a></td>
   <td id="vo108">&nbsp;</td>
   <td id="ap108">&nbsp;</td>
   <td id="wm108">&nbsp;</td>
   <td id="ri108">&nbsp;</td>
   <td id="dc108">&nbsp;</td>
   <td id="de108">Subjective frame that allows you to adjust echoes of different
    kinds.</td>
  </tr>
  <tr>
   <td id="mi109">(Not used)</td>
   <td id="mk109">&nbsp;</td>
   <td id="id109"><a
 href="http://www.unixgods.org/%7Etilo/ID3/docs/id3v2.4.0-frames.html#EQU2"
 title="External specification source">EQU2</a></td>
   <td id="vo109">&nbsp;</td>
   <td id="ap109">&nbsp;</td>
   <td id="wm109">&nbsp;</td>
   <td id="ri109">&nbsp;</td>
   <td id="dc109">&nbsp;</td>
   <td id="de109">Subjective alignment frame to predefine an equalisation curve
    within the audio file.</td>
  </tr>
 </tbody>
 <thead>
  <tr onclick="Line_Show('Commercial')" id="CommercialH" style="cursor: pointer">
   <td colspan="9" class="xheader">(Commercial Information)</td>
  </tr>
  <tr onclick="Line_Hide('Commercial')" id="CommercialS" style="cursor: pointer">
   <td colspan="9" class="xheader">Commercial Information</td>
  </tr>
 </thead>
 <tbody id="Commercial">
  <tr>
   <td id="mi120">Purchase_Info</td>
   <td id="mk120">PURCHASE_INFO</td>
   <td id="id120"><a href="http://www.id3.org/id3v2.3.0.html#WCOM"
 title="External specification source">WCOM</a></td>
   <td id="vo120">&nbsp;</td>
   <td id="ap120">&nbsp;</td>
   <td id="wm120">&nbsp;</td>
   <td id="ri120">&nbsp;</td>
   <td id="dc120">&nbsp;</td>
   <td id="de120">Commercial information about this item.</td>
  </tr>
  <tr>
   <td id="mi121">Purchase_Price</td>
   <td id="mk121">PURCHASE_PRICE</td>
   <td id="id121">&nbsp;</td>
   <td id="vo121">&nbsp;</td>
   <td id="ap121">&nbsp;</td>
   <td id="wm121">&nbsp;</td>
   <td id="ri121">&nbsp;</td>
   <td id="dc121">&nbsp;</td>
   <td id="de121">The amount paid for entity. There should only be a numeric
    value in here; e.g. "15.59" instead of "$15.59USD".</td>
  </tr>
  <tr>
   <td id="mi122">Purchase_Currency</td>
   <td id="mk122">PURCHASE_CURRENCY</td>
   <td id="id122">&nbsp;</td>
   <td id="vo122">&nbsp;</td>
   <td id="ap122">&nbsp;</td>
   <td id="wm122">&nbsp;</td>
   <td id="ri122">&nbsp;</td>
   <td id="dc122">&nbsp;</td>
   <td id="de122">The <a href="http://www.xe.com/iso4217.htm"
 title="External specification source">ISO-4217</a> currency type used to pay
    for the entity.</td>
  </tr>
  <tr>
   <td id="mi123">Purchase_Item</td>
   <td id="mk123">PURCHASE_ITEM</td>
   <td id="id123"><a href="http://www.id3.org/id3v2.3.0.html#WPAY"
 title="External specification source">WPAY</a></td>
   <td id="vo123">&nbsp;</td>
   <td id="ap123">&nbsp;</td>
   <td id="wm123">&nbsp;</td>
   <td id="ri123">&nbsp;</td>
   <td id="dc123">&nbsp;</td>
   <td id="de123">URL to purchase this item.</td>
  </tr>
  <tr>
   <td id="mi125">(not used)</td>
   <td id="mk125">&nbsp;</td>
   <td id="id125"><a href="http://www.id3.org/id3v2.3.0.html#sec4.25"
 title="External specification source">COMR</a></td>
   <td id="vo125">&nbsp;</td>
   <td id="ap125">&nbsp;</td>
   <td id="wm125">&nbsp;</td>
   <td id="ri125">&nbsp;</td>
   <td id="dc125">&nbsp;</td>
   <td id="de125">Commercial frame to store several competing offers in the
    same tag.</td>
  </tr>
  <tr>
   <td id="mi126">Copyright</td>
   <td id="mk126">COPYRIGHT</td>
   <td id="id126"><a href="http://www.id3.org/id3v2.3.0.html#TCOP"
 title="External specification source">TCOP</a></td>
   <td id="vo126">COPYRIGHT</td>
   <td id="ap126">COPYRIGHT</td>
   <td id="wm126">&nbsp;</td>
   <td id="ri126">ICOP</td>
   <td id="dc126"><a
 href="http://dublincore.org/documents/dcmi-terms/#rights"
 title="External specification source">rights</a></td>
   <td id="de126">Copyright attribution.</td>
  </tr>
  <tr>
   <td id="mi127">Producer_Copyright</td>
   <td id="mk127">PRODUCTION_COPYRIGHT</td>
   <td id="id127"><a
 href="http://www.unixgods.org/%7Etilo/ID3/docs/id3v2.4.0-frames.html#TPRO"
 title="External specification source">TPRO</a></td>
   <td id="vo127">&nbsp;</td>
   <td id="ap127">PUBLICATIONRIGHT</td>
   <td id="wm127">&nbsp;</td>
   <td id="ri127">&nbsp;</td>
   <td id="dc127"><a
 href="http://dublincore.org/documents/dcmi-terms/#rights"
 title="External specification source">rights</a></td>
   <td id="de127">The copyright information as per the productioncopyright
    holder.</td>
  </tr>
  <tr>
   <td id="mi128">TermsOfUse</td>
   <td id="mk128">TERMS_OF_USE</td>
   <td id="id128"><a href="http://www.id3.org/id3v2.3.0.html#sec4.23"
 title="External specification source">USER</a></td>
   <td id="vo128">LICENSE</td>
   <td id="ap128">&nbsp;</td>
   <td id="wm128">&nbsp;</td>
   <td id="ri128">&nbsp;</td>
   <td id="dc128"><a
 href="http://dublincore.org/documents/dcmi-terms/#rights"
 title="External specification source">rights</a> <a
 href="http://dublincore.org/documents/dcmi-terms/#accessRights"
 title="External specification source">accessRights</a> </td>
   <td id="de128">License information, e.g., "All Rights Reserved","Any Use
    Permitted".</td>
  </tr>
  <tr>
   <td id="mi129">Copyright/URL</td>
   <td id="mk129">COPYRIGHT - URL</td>
   <td id="id129"><a href="http://www.id3.org/id3v2.3.0.html#WCOP"
 title="External specification source">WCOP</a></td>
   <td id="vo129">&nbsp;</td>
   <td id="ap129">&nbsp;</td>
   <td id="wm129">&nbsp;</td>
   <td id="ri129">&nbsp;</td>
   <td id="dc129">&nbsp;</td>
   <td id="de129">Copyright/legal information.</td>
  </tr>
 </tbody>
 <thead>
  <tr onclick="Line_Show('External')" id="ExternalH" style="cursor: pointer">
   <td colspan="9" class="xheader">(External Identifiers)</td>
  </tr>
  <tr onclick="Line_Hide('External')" id="ExternalS" style="cursor: pointer">
   <td colspan="9" class="xheader">External Identifiers</td>
  </tr>
 </thead>
 <tbody id="External">
  <tr>
   <td id="mi112">ISRC</td>
   <td id="mk112">ISRC</td>
   <td id="id112"><a href="http://www.id3.org/id3v2.3.0.html#TSRC"
 title="External specification source">TSRC</a></td>
   <td id="vo112">ISRC</td>
   <td id="ap112">ISRC</td>
   <td id="wm112">&nbsp;</td>
   <td id="ri112">&nbsp;</td>
   <td id="dc112"><a
 href="http://dublincore.org/documents/dcmi-terms/#identifier"
 title="External specification source">identifier</a></td>
   <td id="de112"><a href="http://www.ifpi.org/isrc"
 title="External specification source">International Standard Recording Code</a>,
    excluding the "ISRC" prefix and including hyphens.</td>
  </tr>
  <tr>
   <td id="mi113">MSDI</td>
   <td id="mk113">MCDI</td>
   <td id="id113"><a href="http://www.id3.org/id3v2.3.0.html#sec4.5"
 title="External specification source">MCDI</a></td>
   <td id="vo113">&nbsp;</td>
   <td id="ap113">&nbsp;</td>
   <td id="wm113">&nbsp;</td>
   <td id="ri113">&nbsp;</td>
   <td id="dc113"><a
 href="http://dublincore.org/documents/dcmi-terms/#identifier"
 title="External specification source">identifier</a></td>
   <td id="de113">This is a binary dump of the TOC of the CDROM that this item
    was taken from.</td>
  </tr>
  <tr>
   <td id="mi114">ISBN</td>
   <td id="mk114">ISBN</td>
   <td id="id114">&nbsp;</td>
   <td id="vo114">&nbsp;</td>
   <td id="ap114">ISBN</td>
   <td id="wm114">&nbsp;</td>
   <td id="ri114">&nbsp;</td>
   <td id="dc114"><a
 href="http://dublincore.org/documents/dcmi-terms/#identifier"
 title="External specification source">identifier</a></td>
   <td id="de114"><a href="http://www.isbn-international.org/"
 title="External specification source">International Standard Book Number</a>.</td>
  </tr>
  <tr>
   <td id="mi115">BarCode</td>
   <td id="mk115">BARCODE</td>
   <td id="id115">&nbsp;</td>
   <td id="vo115">EAN/UPN</td>
   <td id="ap115">EAN/UPC</td>
   <td id="wm115">&nbsp;</td>
   <td id="ri115">&nbsp;</td>
   <td id="dc115"><a
 href="http://dublincore.org/documents/dcmi-terms/#identifier"
 title="External specification source">identifier</a></td>
   <td id="de115">EAN-13 (13-digit <a href="http://www.ean-int.org/"
 title="External specification source">European Article Numbering</a>) or UPC-A
    (12-digit <a href="http://http://www.uc-council.org/"
 title="External specification source">Universal Product Code</a>) bar code identifier.</td>
  </tr>
  <tr>
   <td id="mi116">LCCN</td>
   <td id="mk116">LCCN</td>
   <td id="id116">&nbsp;</td>
   <td id="vo116">&nbsp;</td>
   <td id="ap116">&nbsp;</td>
   <td id="wm116">&nbsp;</td>
   <td id="ri116">&nbsp;</td>
   <td id="dc116"><a
 href="http://dublincore.org/documents/dcmi-terms/#identifier"
 title="External specification source">identifier</a></td>
   <td id="de116"><a href="http://www.loc.gov/marc/lccn.html"
 title="External specification source">Library of Congress Control Number</a>.</td>
  </tr>
  <tr>
   <td id="mi117">CatalogNumber</td>
   <td id="mk117">CATALOG_NUMBER</td>
   <td id="id117">&nbsp;</td>
   <td id="vo117">LABELNO</td>
   <td id="ap117">CATALOG</td>
   <td id="wm117">&nbsp;</td>
   <td id="ri117">&nbsp;</td>
   <td id="dc117"><a
 href="http://dublincore.org/documents/dcmi-terms/#identifier"
 title="External specification source">identifier</a></td>
   <td id="de117">A label-specific catalogue number used to identify the release;
    e.g. "TIC 01".</td>
  </tr>
  <tr>
   <td id="mi118">LabelCode</td>
   <td id="mk118">LABEL_CODE</td>
   <td id="id118">&nbsp;</td>
   <td id="vo118">&nbsp;</td>
   <td id="ap118">LC</td>
   <td id="wm118">&nbsp;</td>
   <td id="ri118">&nbsp;</td>
   <td id="dc118"><a
 href="http://dublincore.org/documents/dcmi-terms/#identifier"
 title="External specification source">identifier</a></td>
   <td id="de118">A 4-digit or 5-digit number to identify the record label,
    typically printed as (LC) xxxx or (LC) 0xxxx on CDs medias or covers,
    with only the number being stored.</td>
  </tr>
  <tr>
   <td id="mi119">(not used)</td>
   <td id="mk119">&nbsp;</td>
   <td id="id119"><a href="http://www.id3.org/id3v2.3.0.html#sec4.1"
 title="External specification source">UFID</a></td>
   <td id="vo119">&nbsp;</td>
   <td id="ap119">&nbsp;</td>
   <td id="wm119">&nbsp;</td>
   <td id="ri119">&nbsp;</td>
   <td id="dc119"><a
 href="http://dublincore.org/documents/dcmi-terms/#identifier"
 title="External specification source">identifier</a></td>
   <td id="de119">Contains an 'Owner identifier' URL followed by an ID to identify
    the audio file in a database, that may provide more information relevant
    to the content.</td>
  </tr>
 </tbody>
 <thead>
  <tr onclick="Line_Show('Other')" id="OtherH" style="cursor: pointer">
   <td colspan="9" class="xheader">(Other)</td>
  </tr>
  <tr onclick="Line_Hide('Other')" id="OtherS" style="cursor: pointer">
   <td colspan="9" class="xheader">Other</td>
  </tr>
 </thead>
 <tbody id="Other">
  <tr>
   <td id="mi131">(Not used)</td>
   <td id="mk131"><em>Stored in <a
 href="http://www.matroska.org/technical/specs/index.html#Attachment">Attachment</a>
    elements</em></td>
   <td id="id131"><a href="http://www.id3.org/id3v2.3.0.html#sec4.9"
 title="External specification source">USLT</a></td>
   <td id="vo131">&nbsp;</td>
   <td id="ap131">&nbsp;</td>
   <td id="wm131">&nbsp;</td>
   <td id="ri131">&nbsp;</td>
   <td id="dc131">&nbsp;</td>
   <td id="de131">Contains the lyrics of the song or a text transcription of
    other vocal activities.</td>
  </tr>
  <tr>
   <td id="mi132">(Not used)</td>
   <td id="mk132"><em>Muxed with audio as subtitles</em></td>
   <td id="id132"><a href="http://www.id3.org/id3v2.3.0.html#sec4.10"
 title="External specification source">SYLT</a></td>
   <td id="vo132">&nbsp;</td>
   <td id="ap132">&nbsp;</td>
   <td id="wm132">&nbsp;</td>
   <td id="ri132">&nbsp;</td>
   <td id="dc132">&nbsp;</td>
   <td id="de132">Synchronised lyrics/text.</td>
  </tr>
  <tr>
   <td id="mi133">Cover_Front</td>
   <td id="mk133"><em>Stored in <a
 href="http://www.matroska.org/technical/specs/index.html#Attachment">Attachment</a>
    elements</em></td>
   <td id="id133"><a href="http://www.id3.org/id3v2.3.0.html#sec4.15"
 title="External specification source">APIC</a></td>
   <td id="vo133">&nbsp;</td>
   <td id="ap133">&nbsp;</td>
   <td id="wm133">&nbsp;</td>
   <td id="ri133">&nbsp;</td>
   <td id="dc133">&nbsp;</td>
   <td id="de133">Contains a picture directly related to the audio file.</td>
  </tr>
  <tr>
   <td id="mi134">(Not used)</td>
   <td id="mk134"><em>Stored in <a
 href="http://www.matroska.org/technical/specs/index.html#Attachment">Attachment</a>
    elements</em></td>
   <td id="id134"><a href="http://www.id3.org/id3v2.3.0.html#sec4.16"
 title="External specification source">GEOB</a></td>
   <td id="vo134">&nbsp;</td>
   <td id="ap134">&nbsp;</td>
   <td id="wm134">&nbsp;</td>
   <td id="ri134">&nbsp;</td>
   <td id="dc134">&nbsp;</td>
   <td id="de134">In this frame any type of file can be encapsulated.</td>
  </tr>
  <tr>
   <td id="mi135">(Not used)</td>
   <td id="mk135">&nbsp;</td>
   <td id="id135"><a href="http://www.id3.org/id3v2.3.0.html#sec4.28"
 title="External specification source">PRIV</a></td>
   <td id="vo135">&nbsp;</td>
   <td id="ap135">&nbsp;</td>
   <td id="wm135">&nbsp;</td>
   <td id="ri135">&nbsp;</td>
   <td id="dc135">&nbsp;</td>
   <td id="de135">Contains information used by a program which does not fit
    into the other frames.</td>
  </tr>
  <tr>
   <td id="mi137">(Not used)</td>
   <td id="mk137">&nbsp;</td>
   <td id="id137"><a href="http://www.id3.org/id3v2.3.0.html#sec4.21"
 title="External specification source">LINK</a></td>
   <td id="vo137">&nbsp;</td>
   <td id="ap137">&nbsp;</td>
   <td id="wm137">&nbsp;</td>
   <td id="ri137">&nbsp;</td>
   <td id="dc137">&nbsp;</td>
   <td id="de137">Used to link information from another ID3v2 tag.</td>
  </tr>
  <tr>
   <td id="mi143">(Not used)</td>
   <td id="mk143">&nbsp;</td>
   <td id="id143">&nbsp;</td>
   <td id="vo143">&nbsp;</td>
   <td id="ap143">RELATED</td>
   <td id="wm143">&nbsp;</td>
   <td id="ri143">&nbsp;</td>
   <td id="dc143">&nbsp;</td>
   <td id="de143">Location of related information.</td>
  </tr>
  <tr>
   <td id="mi144">(Not used)</td>
   <td id="mk144">&nbsp;</td>
   <td id="id144">&nbsp;</td>
   <td id="vo144">&nbsp;</td>
   <td id="ap144">BIBLIOGRAPHY</td>
   <td id="wm144">&nbsp;</td>
   <td id="ri144">&nbsp;</td>
   <td id="dc144">&nbsp;</td>
   <td id="de144">Bibliography/Discography.</td>
  </tr>
  <tr>
   <td id="mi145">(Not used)</td>
   <td id="mk145">&nbsp;</td>
   <td id="id145">&nbsp;</td>
   <td id="vo145">&nbsp;</td>
   <td id="ap145">INTROPLAY</td>
   <td id="wm145">&nbsp;</td>
   <td id="ri145">&nbsp;</td>
   <td id="dc145">&nbsp;</td>
   <td id="de145">Characteristic part of piece for intro playing.</td>
  </tr>
  <tr>
   <td id="mi148">(Not used)</td>
   <td id="mk148">&nbsp;</td>
   <td id="id148">&nbsp;</td>
   <td id="vo148">&nbsp;</td>
   <td id="ap148">FILE</td>
   <td id="wm148">&nbsp;</td>
   <td id="ri148">&nbsp;</td>
   <td id="dc148">&nbsp;</td>
   <td id="de148">File location.</td>
  </tr>
  <tr>
   <td id="mi149">(Not used)</td>
   <td id="mk149">&nbsp;</td>
   <td id="id149">&nbsp;</td>
   <td id="vo149">&nbsp;</td>
   <td id="ap149">MEDIA</td>
   <td id="wm149">&nbsp;</td>
   <td id="ri149">&nbsp;</td>
   <td id="dc149">&nbsp;</td>
   <td id="de149">Source, Source Media Number/Total Media Number,Source Time.</td>
  </tr>
  <tr>
   <td id="mi150">(Not used)</td>
   <td id="mk150"><em>- stored in <a
 href="http://www.matroska.org/technical/specs/index.html#MetaSeekInformation">Meta
    Seek Information</a> elements and <a
 href="http://www.matroska.org/technical/specs/index.html#Cues">Cues</a> -</em></td>
   <td id="id150">&nbsp;</td>
   <td id="vo150">&nbsp;</td>
   <td id="ap150">INDEX</td>
   <td id="wm150">&nbsp;</td>
   <td id="ri150">&nbsp;</td>
   <td id="dc150">&nbsp;</td>
   <td id="de150">Indexes for quick access.</td>
  </tr>
 </tbody>
 <thead>
  <tr onclick="Line_Show('Nested')" id="NestedH" style="cursor: pointer">
   <td colspan="9" class="xheader">(Nested information (more information about
    an upper level tag))</td>
  </tr>
  <tr onclick="Line_Hide('Nested')" id="NestedS" style="cursor: pointer">
   <td colspan="9" class="xheader">Nested information (more information about
    an upper level tag)</td>
  </tr>
 </thead>
 <tbody id="Nested">
  <tr>
   <td id="mi151">XXX/URL</td>
   <td id="mk151">URL</td>
   <td id="id151">&nbsp;</td>
   <td id="vo151">CONTACT*</td>
   <td id="ap151">&nbsp;</td>
   <td id="wm151">&nbsp;</td>
   <td id="ri151">&nbsp;</td>
   <td id="dc151">&nbsp;</td>
   <td id="de151">URL corresponding to the tag it's included in.</td>
  </tr>
  <tr>
   <td id="mi152">XXX/EMail</td>
   <td id="mk152">EMAIL</td>
   <td id="id152">&nbsp;</td>
   <td id="vo152">CONTACT*</td>
   <td id="ap152">&nbsp;</td>
   <td id="wm152">&nbsp;</td>
   <td id="ri152">&nbsp;</td>
   <td id="dc152">&nbsp;</td>
   <td id="de152">Email corresponding to the tag it's included in.</td>
  </tr>
  <tr>
   <td id="mi153">XXX/Address</td>
   <td id="mk153">ADDRESS</td>
   <td id="id153">&nbsp;</td>
   <td id="vo153">CONTACT*</td>
   <td id="ap153">&nbsp;</td>
   <td id="wm153">&nbsp;</td>
   <td id="ri153">&nbsp;</td>
   <td id="dc153">&nbsp;</td>
   <td id="de153">The physical address of the entity. The address should include
    a country code. It can be useful for a recording label.</td>
  </tr>
  <tr>
   <td id="mi154">XXX/Phone</td>
   <td id="mk154">PHONE</td>
   <td id="id154">&nbsp;</td>
   <td id="vo154">CONTACT*</td>
   <td id="ap154">&nbsp;</td>
   <td id="wm154">&nbsp;</td>
   <td id="ri154">&nbsp;</td>
   <td id="dc154">&nbsp;</td>
   <td id="de154">The phone number corresponding to the tag it's included in.
    It can be useful for a recording label.</td>
  </tr>
  <tr>
   <td id="mi155">XXX/Fax</td>
   <td id="mk155">FAX</td>
   <td id="id155">&nbsp;</td>
   <td id="vo155">CONTACT*</td>
   <td id="ap155">&nbsp;</td>
   <td id="wm155">&nbsp;</td>
   <td id="ri155">&nbsp;</td>
   <td id="dc155">&nbsp;</td>
   <td id="de155">The fax number corresponding to the tag it's included in.
    It can be useful for a recording label.</td>
  </tr>
  <tr>
   <td id="mi156">XXX/Sort</td>
   <td id="mk156">SORT_WITH</td>
   <td id="id156">&nbsp;</td>
   <td id="vo156">&nbsp;</td>
   <td id="ap156">&nbsp;</td>
   <td id="wm156">&nbsp;</td>
   <td id="ri156">&nbsp;</td>
   <td id="dc156">&nbsp;</td>
   <td id="de156">A child element to indicate what alternative value the parent
    tag (person, band, album, etc.) can have to be sorted; e.g. "The Beatles"
    =&gt; "Beatles, The", "Bob Marley" =&gt; "Marley, Bob"</td>
  </tr>
  <tr>
   <td id="mi157">XXX/Instruments</td>
   <td id="mk157">INSTRUMENTS</td>
   <td id="id157">&nbsp;</td>
   <td id="vo157">&nbsp;</td>
   <td id="ap157">&nbsp;</td>
   <td id="wm157">&nbsp;</td>
   <td id="ri157">&nbsp;</td>
   <td id="dc157">&nbsp;</td>
   <td id="de157">The instruments that are being used/played, separated by
    a comma. It should be a child of the following tags: ARTIST, LEAD_PERFORMER
    or ACCOMPANIMENT.</td>
  </tr>
 </tbody>
</table>
* {% trans %}support.tags.several{% endtrans %}
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    $(document).ready(function() {
        Line_Show_All();Col_Show_All();
    });
</script>
{% endblock %}
