{% extends 'AppBundle::base.html.twig' %}

{% block title %}{% trans %}download.appimage.page.title{% endtrans %}{% endblock %}
{% block description %}{% trans %}about.page.description{% endtrans %}{% endblock %}
{% block keywords %}{% trans %}about.page.keywords{% endtrans %}{% endblock %}

{% block body %}
<h1>{% trans %}download.appimage.title{% endtrans %}</h1>
{% image '@AppBundle/Resources/public/img/OS/AppImage.png' %}
<img src="{{ asset_url }}" alt="AppImage" title="AppImage" width="250" height="76"><br />
{% endimage %}

<table border="1" class="download">
<thead>
<tr class="table-header">
    <th>Architecture</th>
    <th>Interface</th>
    <th>Version</th>
    <th>Comment</th>
</tr>
</thead>
<tbody>
<tr>
    <th colspan="4">Download the AppImage corresponding to your architecture then, e.g for mediainfo-gui:<br />- Make it executable "chmod +x mediainfo-gui-*.AppImage"<br/>- Run the AppImage "./mediainfo-gui-*.AppImage"</th>
</tr>
<tr>
    <th rowspan="2">64 bit</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.96/mediainfo-gui-0.7.96.glibc2.3-x86_64.AppImage">v0.7.96</td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.96/mediainfo-0.7.96.glibc2.3-x86_64.AppImage">v0.7.96</td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="2">32 bit</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.96/mediainfo-gui-0.7.96.glibc2.3-i686.AppImage">v0.7.96</td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.96/mediainfo-0.7.96.glibc2.3-i686.AppImage">v0.7.96</td>
    <td>&nbsp;</td>
</tr>
</tbody>
</table>
{% endblock %}
