{% extends 'AppBundle::base.html.twig' %}

{% block title %}{% trans %}download.mandriva.page.title{% endtrans %}{% endblock %}
{% block description %}{% trans %}about.page.description{% endtrans %}{% endblock %}
{% block keywords %}{% trans %}about.page.keywords{% endtrans %}{% endblock %}

{% block body %}
<h1>{% trans %}download.mandriva.title{% endtrans %}</h1>
{% image '@AppBundle/Resources/public/img/OS/Mandriva.png' %}
<img src="{{ asset_url }}" alt="Mandriva" title="Mandriva" width="238" height="60"><br />
{% endimage %}

<div class="table-responsive">
<table class="download table table-bordered table-condensed">
<thead>
<tr class="table-header">
    <th>Version</th>
    <th>CPU</th>
    <th>Interface</th>
    <td>Version</td>
    <td>Comment</td>
</tr>
</thead>
<tbody>
{% include 'AppBundle::MediaInfoDownload/mandrivaTable.html.twig' %}
</tbody>
</table>
</div>
{% endblock %}
