{% extends 'AppBundle::base.html.twig' %}

{% block title %}{% trans %}download.snapshots.page.title{% endtrans %}{% endblock %}
{% block description %}{% trans %}about.page.description{% endtrans %}{% endblock %}
{% block keywords %}{% trans %}about.page.keywords{% endtrans %}{% endblock %}

{% block body %}
<h1>{% trans %}download.snapshots.title{% endtrans %}</h1>
<iframe src="/download/snapshots/" style="width: 800px; height: 1000px; border: 0;"></iframe>
{% endblock %}
