{% extends 'AppBundle::base.html.twig' %}

{% block title %}{% trans %}download.solaris.page.title{% endtrans %}{% endblock %}
{% block description %}{% trans %}about.page.description{% endtrans %}{% endblock %}
{% block keywords %}{% trans %}about.page.keywords{% endtrans %}{% endblock %}

{% block body %}
<h1>{% trans %}download.solaris.title{% endtrans %}</h1>
{% image '@AppBundle/Resources/public/img/OS/Solaris.png' %}
<img src="{{ asset_url }}" alt="Solaris" title="Solaris" width="220" height="108"><br />
{% endimage %}

<table border="1" class="download">
<tr class="table-header">
    <th>Version</th>
    <th>CPU</th>
    <th>Interface</th>
    <td>Version</td>
    <td>Comment</td>
</tr>
<tr class="old-files">
    <th rowspan="5">OpenSolaris 2009.06</th>
    <th rowspan="5">i686</th>
    <td class="table-OS" colspan="3" id="2009.06.i386">OpenSolaris 2009.06, i386</td>
</tr>
<tr class="old-files">
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a xhref="http://downloads.sourceforge.net/mediainfo/mediainfo-gui-0.7.31-i386.SunOS_5.11.pkg.tgz">Not available</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="http://downloads.sourceforge.net/mediainfo/mediainfo-0.7.31-i386.SunOS_5.11.pkg.tgz">v0.7.31</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="http://downloads.sourceforge.net/mediainfo/libmediainfo0-0.7.31-i386.SunOS_5.11.pkg.tgz">v0.7.31</a><small> (<a href="http://downloads.sourceforge.net/mediainfo/libmediainfo-devel-0.7.31-i386.SunOS_5.11.pkg.tgz">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="http://downloads.sourceforge.net/zenlib/libzen0-0.4.13-i386.SunOS_5.11.pkg.tgz">v0.4.13</a><small> (<a href="http://downloads.sourceforge.net/zenlib/libzen-devel-0.4.13-i386.SunOS_5.11.pkg.tgz">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
</table>
{% endblock %}
