{% extends 'AppBundle::base.html.twig' %}

{% block title %}{% trans %}download.windows.page.title{% endtrans %}{% endblock %}
{% block description %}{% trans %}about.page.description{% endtrans %}{% endblock %}
{% block keywords %}{% trans %}about.page.keywords{% endtrans %}{% endblock %}

{% block body %}
<h1>{% trans %}download.windows.title{% endtrans %}</h1>
{% image '@AppBundle/Resources/public/img/OS/Windows.png' %}
<img src="{{ asset_url }}" alt="Windows logo" title="Windows logo" width="288" height="76"><br />
{% endimage %}

<div class="table-responsive">
<table class="download table table-bordered table-condensed">
<thead>
<tr class="table-header">
    <th>Version</th>
    <th>Architecture</th>
    <th>Interface</th>
    <th>Version</th>
    <th>Comment</th>
</tr>
</thead>
<tbody>
{% include 'AppBundle::MediaInfoDownload/windowsTable.html.twig' %}
</tbody>
</table>
</div>
{% endblock %}
