{% extends 'NoTimeToWaitBundle::base.html.twig' %}

{% block title %}No Time to Wait 4: Initializing Initiatives{% endblock %}

{% block body %}
<h1><strong>No Time to Wait!</strong> *</h1>

<h2>Initializing Initiatives</h2>

<p>The fourth annual No Time to Wait conference shall take place December 5th and 6th, 2019 (with an optional workshop/codeday on December 4th) at the <a href="http://www.osaarchivum.org">Vera and Donald Blinken Open Society Archives</a> in downtown Budapest, Hungary. <a href="https://twitter.com/hashtag/nttw4">#nttw4</a></p>

<h2>What</h2>
<p>A FREE two-day symposium focused on <em>open media</em>, <em>open standards</em>, and <em>digital audiovisual preservation</em> hosted by <a href="http://www.osaarchivum.org/">the Vera and Donald Blinken Open Society Archives</a> and <a href="{{ path('homepage') }}">MediaArea.net</a>.</p>

<p>The event will feature presentations and discussion on topics such as:</p>

<ul>
  <li>developing collaborative initiatives to preserve media</li>
  <li>efforts to extend capabilities and opportunities within archives</li>
  <li>active open media standardization projects</li>
  <li>seeking consensus in audiovisual preservation strategy</li>
  <li>examination of open media use in film and video digitization</li>
  <li>integration of open source tools into archival workflow</li>
  <li>examples of cross-community collaboration and skill-sharing</li>
  <li>developments in open media</li>
  <li>and more</li>
</ul>

<p>Follow <a href="https://twitter.com/nttwconf">@nttwconf</a> for news and updates about No Time to Wait. Our recommended hashtag is <a href="https://twitter.com/hashtag/nttw4">#nttw4</a>.</p>
<p>The conference will be livestreaming on the MediaArea YouTube channel <a href="http://www.youtube.com/c/MediaAreaNetOfficial">available here</a>.</p>

<h2>Presentations</h2>

<p>Day 1</p>

<ul>
  <li>No Time to Wait Introduction - Alessandra Luciano, Istvan Rev, &amp; Zsuzsa Zadori - <a href="https://youtu.be/kIdEhzGkGKQ">video</a> (<a href="https://archive.org/download/nttw4recordings/No.Time.To.Wait.S04E01.Alessandra_Luciano_Istvan_Rev_%26_Zsuzsa_Zadori.720p.nttw4.x264.mp4">archive</a>)</li>
  <li>Derailing Best Practices - Dave Rice - <a href="https://youtu.be/Bnke-f_X6PY">video</a> (<a href="https://archive.org/download/nttw4recordings/No.Time.To.Wait.S04E02.Dave_Rice.720p.nttw4.x264.mp4">archive</a>)</li>
  <li>Presets for FFV1 and MKV: Choosing the right parameters for the job. - Peter B. - <a href="https://youtu.be/mIWD0oD9_pE">video</a> (<a href="https://archive.org/download/nttw4recordings/No.Time.To.Wait.S04E03.Peter_B..720p.nttw4.x264.mp4">archive</a>) - <a href="https://mediaarea.net/Events/2019-12-05_NoTimeToWait4/03. Peter B. - Presets for FFV1 and MKV, Choosing the right parameters for the job/ffv1_params.html">slides</a> (<a href="https://mediaarea.net/Events/2019-12-05_NoTimeToWait4/03. Peter B. - Presets for FFV1 and MKV, Choosing the right parameters for the job/ffv1_params.pdf">PDF</a>)</li>
  <li>Is ProRes/MOV to FFV1/MKV a good idea? - Kieran O'Leary - <a href="https://youtu.be/XFTJq-RdpGo">video</a> (<a href="https://archive.org/download/nttw4recordings/No.Time.To.Wait.S04E04.Kieran_O%27Leary.720p.nttw4.x264.mp4">archive</a>) - <a href="https://mediaarea.net/Events/2019-12-05_NoTimeToWait4/04. Kieran O'Leary - Is ProRes-MOV to FFV1-MKV a good idea/kieran_Prores and mov and such.pdf">slides</a> (<a href="https://mediaarea.net/Events/2019-12-05_NoTimeToWait4/04. Kieran O'Leary - Is ProRes-MOV to FFV1-MKV a good idea/kieran_Prores and mov and such.pptx">source</a>)</li>
  <li>No Don't You Ever Change: Essential Characteristics for Digital Video - Kate Murray - <a href="https://youtu.be/mslj3P4JodE">video</a> (<a href="https://archive.org/download/nttw4recordings/No.Time.To.Wait.S04E05.Kate_Murray.720p.nttw4.x264.mp4">archive</a>) - <a href="https://mediaarea.net/Events/2019-12-05_NoTimeToWait4/05. Kate Murray - No Don't You Ever Change, Essential Characteristics for Digital Video/KateMurray-FADGI-SigProps-NTTW4.pdf">slides</a> (<a href="https://mediaarea.net/Events/2019-12-05_NoTimeToWait4/05. Kate Murray - No Don't You Ever Change, Essential Characteristics for Digital Video/KateMurray-FADGI-SigProps-NTTW4.pptx">source</a>)</li>
  <li>State of Matroska - Steve Lhomme - <a href="https://youtu.be/P_3eoBhmF_k">video</a> (<a href="https://archive.org/download/nttw4recordings/No.Time.To.Wait.S04E06.Steve_Lhomme.720p.nttw4.x264.mp4">archive</a>) - <a href="https://mediaarea.net/Events/2019-12-05_NoTimeToWait4/06. Steve Lhomme - State of Matroska/Steve NTTW4 IETF.pdf">slides</a> (<a href="https://mediaarea.net/Events/2019-12-05_NoTimeToWait4/06. Steve Lhomme - State of Matroska/Steve NTTW4 IETF.key">source</a>)</li>
  <li>IIIF and AV - Andy Irving - <a href="https://youtu.be/6A0pfSHY210">video</a> (<a href="https://archive.org/download/nttw4recordings/No.Time.To.Wait.S04E07.Andy_Irving.720p.nttw4.x264.mp4">archive</a>) - <a href="https://mediaarea.net/Events/2019-12-05_NoTimeToWait4/07. Andy Irving - IIIF and AV/Andy_Irving_IIIF_AV.pdf">slides</a> (<a href="https://mediaarea.net/Events/2019-12-05_NoTimeToWait4/07. Andy Irving - IIIF and AV/Andy_Irving_IIIF_AV.pptx">source</a>)</li>
  <li>Let's Have Recommendations - Alessandra Luciano - <a href="https://youtu.be/NeesYND24bE">video</a> (<a href="https://archive.org/download/nttw4recordings/No.Time.To.Wait.S04E08.Alessandra_Luciano.720p.nttw4.x264.mp4">archive</a>)</li>
  <li>FFmpeg, a universal media transcoding tool - Carl Eugen Hoyos - <a href="https://youtu.be/AZav_dYoAzU">video</a> (<a href="https://archive.org/download/nttw4recordings/No.Time.To.Wait.S04E09.Carl_Eugen_Hoyos.720p.nttw4.x264.mp4">archive</a>) - <a href="https://mediaarea.net/Events/2019-12-05_NoTimeToWait4/09. Carl Eugen Hoyos - FFmpeg, a universal media transcoding tool/NTTW4-FFmpeg.pdf">slides</a> (<a href="https://mediaarea.net/Events/2019-12-05_NoTimeToWait4/09. Carl Eugen Hoyos - FFmpeg, a universal media transcoding tool/NTTW4-FFmpeg.pptx">source</a>)</li>
  <li>Videolan VLC 4.0 - Steve Lhomme - <a href="https://youtu.be/VMGGch7OF-4">video</a> (<a href="https://archive.org/download/nttw4recordings/No.Time.To.Wait.S04E10.Steve_Lhomme.720p.nttw4.x264.mp4">archive</a>) - <a href="https://mediaarea.net/Events/2019-12-05_NoTimeToWait4/10. Steve Lhomme - Videolan VLC 4.0/Steve VLC NTTW4.pdf">slides</a> (<a href="https://mediaarea.net/Events/2019-12-05_NoTimeToWait4/10. Steve Lhomme - Videolan VLC 4.0/Steve VLC NTTW4.key">source</a>)</li>
  <li>Reversibly Normalise Film Scans &amp; Optimize Storage: the RAWcooked project - Jérôme Martinez - <a href="https://youtu.be/On0ssUuaVjs">video</a> (<a href="https://archive.org/download/nttw4recordings/No.Time.To.Wait.S04E11.Je%CC%81ro%CC%82me_Martinez.720p.nttw4.x264.mp4">archive</a>) - <a href="https://mediaarea.net/Events/2019-12-05_NTTW_RAWcooked/">slides</a> (<a href="https://mediaarea.net/Events/PDF/2019-12-05_NTTW_RAWcooked.pdf">PDF</a>)</li>
  <li>Just Getting Started: Digitization and Long-term Preservation of Audiovisual Records in the Archives of Social Democracy (AdsD) - Alexander Boix - <a href="https://youtu.be/AEji4KjS5YE">video</a> (<a href="https://archive.org/download/nttw4recordings/No.Time.To.Wait.S04E12.Alexander_Boix.720p.nttw4.x264.mp4">archive</a>) - <a href="https://mediaarea.net/Events/2019-12-05_NoTimeToWait4/12. Alexander Boix - Just Getting Started, Digitization and Long-term Preservation of Audiovisual Records in AdsD/BoixAlexander_nttw4_2019-12-05_HD.pdf">slides</a> (<a href="https://mediaarea.net/Events/2019-12-05_NoTimeToWait4/12. Alexander Boix - Just Getting Started, Digitization and Long-term Preservation of Audiovisual Records in AdsD/BoixAlexander_nttw4_2019-12-05_HD.pptx">source</a>)</li>
  <li>I Wrote an FFV1 decoder in Go for Fun: What I learned going from Spec to Implementation - Derek Buitenhuis - <a href="https://youtu.be/4HB7v7dItWE">video</a> (<a href="https://archive.org/download/nttw4recordings/No.Time.To.Wait.S04E13.Derek_Buitenhuis.720p.nttw4.x264.mp4">archive</a>) - <a href="https://mediaarea.net/Events/2019-12-05_NoTimeToWait4/13. Derek Buitenhuis - I Wrote an FFV1 decoder in Go for Fun, What I learned going from Spec to Implementation/derek_nttw4_ffv1.pdf">slides</a> (<a href="https://mediaarea.net/Events/2019-12-05_NoTimeToWait4/13. Derek Buitenhuis - I Wrote an FFV1 decoder in Go for Fun, What I learned going from Spec to Implementation/derek_nttw4_ffv1_talk_video.mp4">raw video</a>)</li>
  <li>Learning by doing - digitization of cold war and human rights collections using ffmpeg-based tools and solution - Zsuzsa Zádori, Darius Krolokowski - <a href="https://youtu.be/N_INk0znU-k">video</a> (<a href="https://archive.org/download/nttw4recordings/No.Time.To.Wait.S04E14.Zsuzsa_Za%CC%81dori_Darius_Krolokowski.720p.nttw4.x264.mp4">archive</a>) - <a href="https://mediaarea.net/Events/2019-12-05_NoTimeToWait4/14. Zsuzsa Zádori, Darius Krolokowski - Learning by doing/2019.12.05_15.15_ZsuzsannaZadori_Learning.by.doing.7min.pdf">slides 1</a>, <a href="https://mediaarea.net/Events/2019-12-05_NoTimeToWait4/14. Zsuzsa Zádori, Darius Krolokowski - Learning by doing/KrolikowskiD_video_digit_at_osav2.pdf">slides 2</a> (<a href="https://mediaarea.net/Events/2019-12-05_NoTimeToWait4/14. Zsuzsa Zádori, Darius Krolokowski - Learning by doing/2019.12.05_15.15_ZsuzsannaZadori_Learning.by.doing.7min.pptx">source 1</a>, <a href="https://mediaarea.net/Events/2019-12-05_NoTimeToWait4/14. Zsuzsa Zádori, Darius Krolokowski - Learning by doing/KrolikowskiD_video_digit_at_osav2.docx">source 2</a>)</li>
  <li>Airflow &amp; Microservices - János Dani - <a href="https://youtu.be/sOtXjlY9PzQ">video</a> (<a href="https://archive.org/download/nttw4recordings/No.Time.To.Wait.S04E15.Ja%CC%81nos_Dani.720p.nttw4.x264.mp4">archive</a>) - <a href="https://mediaarea.net/Events/2019-12-05_NoTimeToWait4/15. János Dani - Airflow &amp; Microservices/JanosDani_NTTW4-Using Airflow as an orchestrator for microservices.pdf">slides</a> (<a href="https://mediaarea.net/Events/2019-12-05_NoTimeToWait4/15. János Dani - Airflow &amp; Microservices/JanosDani_NTTW4-Using Airflow as an orchestrator for microservices.pptx">source</a>)</li>
  <li>Apache Airflow Blinken OSA case study - József Gárbor-Bóné - <a href="https://youtu.be/MOjCvwNuY7s">video</a> (<a href="https://archive.org/download/nttw4recordings/No.Time.To.Wait.S04E16.Jo%CC%81zsef_Ga%CC%81rbor-Bo%CC%81ne%CC%81.720p.nttw4.x264.mp4">archive</a>) - <a href="https://mediaarea.net/Events/2019-12-05_NoTimeToWait4/16. József Gárbor-Bóné - Apache Airflow Blinken OSA case study/JozsefBone_NTTW-Airflow_at_Blinken_OSA.pdf">slides</a> (<a href="https://mediaarea.net/Events/2019-12-05_NoTimeToWait4/16. József Gárbor-Bóné - Apache Airflow Blinken OSA case study/JozsefBone_NTTW-Airflow_at_Blinken_OSA.pptx">source</a>)</li>
  <li>Adventures in reading FFmpeg logs - Ashley Blewer - <a href="https://youtu.be/15ZUnR3Nx1k">video</a> (<a href="https://archive.org/download/nttw4recordings/No.Time.To.Wait.S04E17.Ashley_Blewer.720p.nttw4.x264.mp4">archive</a>)</li>
  <li>Supporting Archival Practitioners - Joanna White - <a href="https://youtu.be/R3zjcw2z1qM">video</a> (<a href="https://archive.org/download/nttw4recordings/No.Time.To.Wait.S04E18.Joanna_White.720p.nttw4.x264.mp4">archive</a>)</li>
</ul>

<p>Day 2</p>

<ul>
  <li>No Time To Wait &amp; $ - Dave Rice - <a href="https://youtu.be/pnIHG-GT-38">video</a> (<a href="https://archive.org/download/nttw4recordings/No.Time.To.Wait.S04E19.Dave_Rice.720p.nttw4.x264.mp4">archive</a>) - <a href="https://mediaarea.net/Events/2019-12-05_NoTimeToWait4/19. Dave Rice - No Time To Wait &amp; $/nttw4 How did this happen.pdf">slides</a> (<a href="https://mediaarea.net/Events/2019-12-05_NoTimeToWait4/19. Dave Rice - No Time To Wait &amp; $/nttw4 How did this happen.pptx">source</a>)</li>
  <li>Opening up Open Source - Derek Buitenhuis - <a href="https://youtu.be/zJW5uoKa-lo">video</a> (<a href="https://archive.org/download/nttw4recordings/No.Time.To.Wait.S04E20.Derek_Buitenhuis.720p.nttw4.x264.mp4">archive</a>) - <a href="https://mediaarea.net/Events/2019-12-05_NoTimeToWait4/20. Derek Buitenhuis - Opening up Open Source/derek_nttw4_foss.pdf">slides</a> (<a href="https://mediaarea.net/Events/2019-12-05_NoTimeToWait4/20. Derek Buitenhuis - Opening up Open Source/derek_nttw4_foss_talk_vid.mp4">raw video</a>)</li>
  <li>Questionable File show and tell - Julia Kim - <a href="https://youtu.be/A-mm5Mijszk">video</a> (<a href="https://archive.org/download/nttw4recordings/No.Time.To.Wait.S04E21.Julia_Kim.720p.nttw4.x264.mp4">archive</a>) - <a href="https://mediaarea.net/Events/2019-12-05_NoTimeToWait4/21. Julia Kim - Questionable File show and tell/Julia_Kim_Friday_REAL_NTTW4.pdf">slides 1</a>, <a href="https://mediaarea.net/Events/2019-12-05_NoTimeToWait4/21. Julia Kim - Questionable File show and tell/Yvonne Ng - Fri AM -  Questionable File (Julia Kim).pdf">slides 2</a> (<a href="https://mediaarea.net/Events/2019-12-05_NoTimeToWait4/21. Julia Kim - Questionable File show and tell/Julia_Kim_Friday_REAL_NTTW4.pptx">source 1</a>, <a href="https://mediaarea.net/Events/2019-12-05_NoTimeToWait4/21. Julia Kim - Questionable File show and tell/Yvonne Ng - Fri AM -  Questionable File (Julia Kim).pptx">source 2</a>)</li>
  <li>From ARTWORK to FILE and back to THE ARTWORK - Francesca Colussi &amp; Ana Ribeiro - <a href="https://youtu.be/Gxs4RHycrbI">video</a> (<a href="https://archive.org/download/nttw4recordings/No.Time.To.Wait.S04E22.Francesca_Colussi_%26_Ana_Ribeiro.720p.nttw4.x264.mp4">archive</a>) - <a href="https://mediaarea.net/Events/2019-12-05_NoTimeToWait4/22. Francesca Colussi &amp; Ana Ribeiro - From ARTWORK to FILE and back to THE ARTWORK/FRANA - NO TIME TO WAIT 4.pdf">slides</a> (<a href="https://mediaarea.net/Events/2019-12-05_NoTimeToWait4/22. Francesca Colussi &amp; Ana Ribeiro - From ARTWORK to FILE and back to THE ARTWORK/FRANA - NO TIME TO WAIT 4.pptx">source</a>)</li>
  <li>A Matrix for Videogame Collecting - Caylin Smith and Stephen McConnachie - <a href="https://youtu.be/VY2GUeIQpj8">video</a> (<a href="https://archive.org/download/nttw4recordings/No.Time.To.Wait.S04E23.Caylin_Smith_and_Stephen_McConnachie.720p.nttw4.x264.mp4">archive</a>) - <a href="https://mediaarea.net/Events/2019-12-05_NoTimeToWait4/23. Caylin Smith and Stephen McConnachie - A Matrix for Videogame Collecting/smith_mcconnachie_nttw4_presentation.pdf">slides</a> (<a href="https://mediaarea.net/Events/2019-12-05_NoTimeToWait4/23. Caylin Smith and Stephen McConnachie - A Matrix for Videogame Collecting/smith_mcconnachie_nttw4_presentation.pptx">source</a>)</li>
  <li>Backup &amp; Restore of IR Remote Controls - Peter B. - <a href="https://youtu.be/4zMNLd2DnFA">video</a> (<a href="https://archive.org/download/nttw4recordings/No.Time.To.Wait.S04E24.Peter_B..720p.nttw4.x264.mp4">archive</a>) - <a href="https://mediaarea.net/Events/2019-12-05_NoTimeToWait4/24. Peter B. - Backup &amp; Restore of IR Remote Controls/ir_remote.html">slides</a> (<a href="https://mediaarea.net/Events/2019-12-05_NoTimeToWait4/24. Peter B. - Backup &amp; Restore of IR Remote Controls/ir_remote.pdf">PDF</a>)</li>
  <li>RAWCooking With Gas: A Film Digitization and QC Workflow-in-progress - Genevieve Havemeyer-King - <a href="https://youtu.be/-cJxq7Vr3Nk">video</a> (<a href="https://archive.org/download/nttw4recordings/No.Time.To.Wait.S04E25.Genevieve_Havemeyer-King.720p.nttw4.x264.mp4">archive</a>) - <a href="https://mediaarea.net/Events/2019-12-05_NoTimeToWait4/25. Genevieve Havemeyer-King - RAWCooking With Gas, A Film Digitization and QC Workflow-in-progress/Havemeyer-King_Geneveive_NTTW4_prez.pdf">slides</a> (<a href="https://mediaarea.net/Events/2019-12-05_NoTimeToWait4/25. Genevieve Havemeyer-King - RAWCooking With Gas, A Film Digitization and QC Workflow-in-progress/Havemeyer-King_Geneveive_NTTW4_prez.pptx">source</a>)</li>
  <li>Opening closed captions - Ben Turkus &amp; Annie Schweikert - <a href="https://youtu.be/4IGiYRMmsz4">video</a> (<a href="https://archive.org/download/nttw4recordings/No.Time.To.Wait.S04E26.Ben_Turkus_%26_Annie_Schweikert.720p.nttw4.x264.mp4">archive</a>) - <a href="https://mediaarea.net/Events/2019-12-05_NoTimeToWait4/26. Ben Turkus &amp; Annie Schweikert - Opening closed captions/Opening Closed Captions - Ben Turkus Annie Schweikert.pdf">slides</a> (<a href="https://mediaarea.net/Events/2019-12-05_NoTimeToWait4/26. Ben Turkus &amp; Annie Schweikert - Opening closed captions/Opening Closed Captions - Ben Turkus Annie Schweikert.pptx">source</a>)</li>
  <li>Archival IIIF - Fabian Würtz &amp; Stefan Länzlinger - <a href="https://youtu.be/fPGLw1uj3T8">video</a> (<a href="https://archive.org/download/nttw4recordings/No.Time.To.Wait.S04E27.Fabian_Wu%CC%88rtz_%26_Stefan_La%CC%88nzlinger.720p.nttw4.x264.mp4">archive</a>)</li>
  <li>Using MINIO object storage for digital preservation tasks - Jonáš Svatoš - <a href="https://youtu.be/XRUJdYHny8I">video</a> (<a href="https://archive.org/download/nttw4recordings/No.Time.To.Wait.S04E28.Jona%CC%81s%CC%8C_Svatos%CC%8C.720p.nttw4.x264.mp4">archive</a>) - <a href="https://mediaarea.net/Events/2019-12-05_NoTimeToWait4/28. Jonáš Svatoš - Using MINIO object storage for digital preservation tasks/Svatos_Using MINIO object storage for digital preservation tasks.pdf">slides</a> (<a href="https://mediaarea.net/Events/2019-12-05_NoTimeToWait4/28. Jonáš Svatoš - Using MINIO object storage for digital preservation tasks/Svatos_Using MINIO object storage for digital preservation tasks.pptx">source</a>)</li>
  <li>A Forensic Approach to Video - Gareth Harbord - <a href="https://youtu.be/Hrfx0_ABcEQ">video</a> (<a href="https://archive.org/download/nttw4recordings/No.Time.To.Wait.S04E29.Gareth_Harbord.720p.nttw4.x264.mp4">archive</a>) - <a href="https://mediaarea.net/Events/2019-12-05_NoTimeToWait4/29. Gareth Harbord - A Forensic Approach to Video/GHarbord_Forensics.pdf">slides</a> (<a href="https://mediaarea.net/Events/2019-12-05_NoTimeToWait4/29. Gareth Harbord - A Forensic Approach to Video/GHarbord_Forensics.pptx">source</a>)</li>
  <li>Articulating obsolescence in a broken world way - Jina Chang - <a href="https://youtu.be/Cn-GKKSz4NQ">video</a> (<a href="https://archive.org/download/nttw4recordings/No.Time.To.Wait.S04E30.Jina_Chang.720p.nttw4.x264.mp4">archive</a>) - <a href="https://mediaarea.net/Events/2019-12-05_NoTimeToWait4/30. Jina Chang - Articulating obsolescence in a broken world way/Chang_NTTW4_Obsolescence.pdf">slides</a> (<a href="https://mediaarea.net/Events/2019-12-05_NoTimeToWait4/30. Jina Chang - Articulating obsolescence in a broken world way/Chang_NTTW4_Obsolescence.pptx">source</a>)</li>
  <li>Knowledge Obsolescence in Audiovisual Preservation: Legacy Skills as Cultural Heritage at Risk - Brianna Toth - <a href="https://youtu.be/rwzHg172DRs">video</a> (<a href="https://archive.org/download/nttw4recordings/No.Time.To.Wait.S04E31.Brianna_Toth.720p.nttw4.x264.mp4">archive</a>) - <a href="https://mediaarea.net/Events/2019-12-05_NoTimeToWait4/31. Brianna Toth - Knowledge Obsolescence in Audiovisual Preservation, Legacy Skills as Cultural Heritage at Risk/Toth_NTTW4_KnowObs.pdf">slides</a> (<a href="https://mediaarea.net/Events/2019-12-05_NoTimeToWait4/31. Brianna Toth - Knowledge Obsolescence in Audiovisual Preservation, Legacy Skills as Cultural Heritage at Risk/Toth_NTTW4_KnowObs.pptx">source</a>)</li>
  <li>The 'No Time To Wait' Effect - Joanna White - <a href="https://youtu.be/zn-POLmmrgo">video</a> (<a href="https://archive.org/download/nttw4recordings/No.Time.To.Wait.S04E32.Joanna_White.720p.nttw4.x264.mp4">archive</a>)</li>
  <li>Last words, closing remarks, housekeeping, announcements, &amp; Matroska's birthday :) - No Time to Wait - <a href="https://youtu.be/mQKE-NV7J9U">video</a> (<a href="https://archive.org/download/nttw4recordings/No.Time.To.Wait.S04E33.No_Time_to_Wait.720p.nttw4.x264.mp4">archive</a>) - <a href="https://mediaarea.net/Events/2019-12-05_NoTimeToWait4/33. No Time to Wait - Last words, closing remarks, housekeeping, announcements, &amp; Matroska's birthday/NTTW5 Hilversum V2.pdf">slides</a> (<a href="https://mediaarea.net/Events/2019-12-05_NoTimeToWait4/33. No Time to Wait - Last words, closing remarks, housekeeping, announcements, &amp; Matroska's birthday/NTTW5 Hilversum V2.pptx">source</a>)</li>
</ul>

<h2>When</h2>
<p>Workshop/Codeday: Wednesday, December 4, 2019</p>
<p>Conference: Thursday, December 5, 2019 and Friday, December 6, 2019</p>

<p>Opening: 09:00<br>
Closing: 17:00</p>

<p>The conference includes drinks and lunch on site. We are seeking a sponsor (or two) to support a social dinner for Thursday night. Also note that on Friday, we'll be celebrating the 17th birthday of the Matroska format.</p>

<h2>Where</h2>
<p><a href="http://www.osaarchivum.org/">Vera and Donald Blinken Open Society Archives</a>, Arany János u. 32, 1051 Budapest, Hungary</p>

<p>
{% image '@NoTimeToWaitBundle/Resources/public/img/OSAatCEU_BudapestHungary_02.jpg' %}
  <img src="{{ asset_url }}" alt="Open Society Archives at CEU in Budapest, Hungary" class="img-responsive center-xs" title="Open Society Archives at CEU in Budapest, Hungary">
{% endimage %}
<br>
<em>Photo Credit: Vera and Donald Blinken Open Society Archives</em>
</p>

<p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2695.352088617675!2d19.051191951583835!3d47.502533979075764!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4741dc14ca087bed%3A0x903b5ebe0d68ad4f!2sOSA+Archives!5e0!3m2!1sen!2sus!4v1549293616291" width="500" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
<p>

<p>Parts of the workshop will also be accessible remotely. More info soon.</p>

<h2>Our Conference Program</h2>

<p>We are pleased to announce our preliminary program is now available at <a href="https://bit.ly/nttw4program">https://bit.ly/nttw4program</a>. Thanks so much to our contributors, moderators, and panelists.</p>

<h2>Workshop</h2>

<p>An optional workshop/codeday will be offered for conference attendees which will occur the day before the conference on Wednesday, December 4, 2019.</p>
<p>The workshop is now at capacity.</p>
<p>This day will be structured as an "unconference." Please bring ideas about what you would like to learn or do. At the start of the day, attendees will go over what they want to get out of the day. Then, attendees will break into small groups and work together towards this goal. At the end of the day, each will share their results and progress.</p>

<h2>Registration</h2>

<p>Conference registration is now closed as we have reached our capacity.</p>
<p>As with all No Time to Wait conferences the registration will be free; however, there are many associated costs in putting on this event. If you are registering, please consider supporting our work and contributing by becoming a <a href="https://mediaarea.net/SupportUs/Individual">MediaArea sponsoring member</a>.</p>

<h2>Volunteering</h2>

<p>No Time to Wait continues as a free registration event, thanks to our sponsors and to our volunteers. Volunteers help coordinate the stage and onsite registration, contribute designs, record and stream the conference, and represent remote participants.</p>

<h2>Remote Attendance</h2>

<p>We strive to make the event accessible for remote attendance. We will be publishing information on how to stream and remotely participate in the event live. For all sessions we will have a designated onsite representative of remote participants (inspired by the <a href="https://tools.ietf.org/html/rfc7649">Jabber scribe role defined by IETF</a>), so that if you’d like to ask a question to a speaker and request clarification from someone onsite, there will be a designated person in the room that will monitor the chatroom and support remote attendees.</p>

<h2>Travel Grants</h2>

<p>As done at past No Time to Wait conferences, we are offering travel grants to potential attendees that may need support. Thanks in particular to <a href="https://reto.ch/">AV Preservation by reto.ch</a>, for sponsoring these travel grants. And congratulations to Brianna Toth, Helia Pereira Marcal, Genevieve Havemeyer-King, and Michael Norman as our grant recipients.</p>

<h2>Code of Conduct</h2>

<p>This symposium is governed by the <a href="https://mediaarea.net/Conduct">Contributor Covenant version 1.4</a>. All coordinators, contributors, and participants agree to abide by its terms. To report violations, send an email to <a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#099;&#111;&#110;&#100;&#117;&#099;&#116;&#064;&#109;&#101;&#100;&#105;&#097;&#097;&#114;&#101;&#097;&#046;&#110;&#101;&#116;&#063;&#115;&#117;&#098;&#106;&#101;&#099;&#116;&#061;&#067;&#111;&#100;&#101;&#037;&#050;&#048;&#111;&#102;&#037;&#050;&#048;&#067;&#111;&#110;&#100;&#117;&#099;&#116;">conduct@mediaarea.net</a> or contact a symposium coordinator.</p>

<h2>Sponsorship</h2>
<p>The organizers of No Time to Wait strive to maintain the symposium as a free registration event through efficient and transparent budgeting and via the generosity of our hosts and sponsors. The sponsors of No Time to Wait help make the discussions, presentations, and momentum of the No Time to Wait event possible and enable the event to maintain a high level of accessibility and involvement. Sponsors shall be acknowledged via the symposium's website, printed programs, and presence at the symposium. Sponsors may indicate that their contribution is allocated to a specific need, such as funding travel stipends, hosting a reception, or supporting live streaming.

<p>Thanks to the following organizations for generously supporting No Time to Wait.</p>
<ul>
  <li><a href="https://amianet.org/">Association of Moving Image Archivists</a></li>
  <li><a href="https://reto.ch/">AV Preservation by reto.ch</a></li>
  <li><a href="http://www.cna.public.lu/">Centre national de l’audiovisuel</a></li>
  <li><a href="https://www.fiafnet.org/">International Federation of Film Archives</a></li>
  <li><a href="https://www.beeldengeluid.nl/en">The Netherlands Institute for Sound and Vision - Beeld en Geluid</a></li>
  <li><a href="https://www.nb.no">The National Library of Norway - Nasjonalbiblioteket</a></li>
</ul>

<p>You can also support the No Time to Wait conference by becoming a <a href="/SupportUs/NoTimeToWait">MediaArea member</a>.</p>

<h2>Conference Planning</h2>

<p>NTTW Organizing Committee</p>
<ul>
  <li>Dave Rice, Conference Manager</li>
  <li>Ashley Blewer, Workshop Manager</li>
  <li>Alessandra Luciano</li>
  <li>Jérôme Martinez</li>
  <li>Zsuzsa Zádori</li>
</ul>

<h2>What's the Word About No Time To Wait</h2>

<p><i>No Time to Wait 2 was a strong statement in regard to the increased and enormously productive collaboration between film and media archivists and developers. It opened up a perspective for digital film preservation pathways and practices that are based on open standards, open source software, and business models which balance openness and the avoidance of vendor lock-in with plannability and adequate financial reward for developers.</i><br>
-- Michael Loebenstein, Österreichisches Filmmuseum | Austrian Film Museum</p>

<p><i>No Time to Wait 3 was an inspiring event, bringing together a dynamic community of a/v archivists, developers and digital preservationists in a friendly atmosphere to facilitate open collaboration, information exchange,  debate and consensus-forming. Attendees left with an invaluable network of supportive contacts as well as heads and laptops bursting with new ideas, resources and approaches to the challenges of moving image preservation. More than any similar event I’ve attended, the NTTW series operates like a vitamin injection of enthusiasm, energy and inspiration to face the work ahead!</i><br>
-- Stephen McConnachie | Head of Data and Digital Preservation | British Film Institute</p>

<h2>Credits</h2>
<p>* Event title inspiration from <a href="https://blogs.loc.gov/digitalpreservation/2014/12/comparing-formats-for-video-digitization/">https://blogs.loc.gov/digitalpreservation/2014/12/comparing-formats-for-video-digitization/</a></p>

{% endblock %}
