{% extends 'NoTimeToWaitBundle::base.html.twig' %}

{% block title %}No Time to Wait 2: Open Media, Open Formats, Open Archives{% endblock %}

{% block body %}
<h1><strong>No Time to Wait!</strong> *</h1>

<h2>Open Media, Open Formats, Open Archives</h2>

<p>A 2 day symposium on the intersection of <em>open media</em>, <em>standardization</em>, and <em>audiovisual preservation</em>.</p>

<p>Event Hashtag: <strong>#notimetowait</strong></p>

<p>LIVE STREAMING at <a href="http://www.youtube.com/c/MediaAreaNetOfficial">MediaArea channel on YouTube</a></p>

<p>Hosted by the <a href="https://www.filmmuseum.at">Österreichisches Filmmuseum - Austrian Film Museum</a> and <a href="{{ path('homepage') }}">MediaArea.net</a> with support of <a href="http://www.av-rd.com">AV-RD</a>.</p>

<hr />

<p>Audiovisual Archivists (people who use the formats) +</p>

<p>Developers (people who design the formats) +</p>

<p>Open Standardization Contributors (people who write specification for formats)</p>

<p>Together!</p>

<hr />

<h2>What</h2>
<p>A FREE two day symposium focused on open media, open standards, and digital audiovisual preservation hosted by <a href="https://www.filmmuseum.at">Österreichisches Filmmuseum - Austrian Film Museum</a> and <a href="{{ path('homepage') }}">MediaArea.net</a>. The event will feature presentations and discussion on topics such as:</p>

<ul>
  <li>active open media standardization projects</li>
  <li>examination of open media use in film and video digitization</li>
  <li>validation and conformance checking of audiovisual formats</li>
  <li>integration of open source tools into archival workflow</li>
  <li>examples of cross-community collaboration and skill-sharing</li>
  <li>and more</li>
</ul>

<p>The event will also present on the current state of the IETF’s <a href="https://datatracker.ietf.org/wg/cellar/charter/">CELLAR</a> working group’s progress to develop specifications for Matroska and FFV1 as well as efforts to design and extend software in support of these formats. This event provides an opportunity for format inventors, developers, specification authors, and archivists to collaborate and advance audiovisual preservation formats.</p>

<p>Information about the 2016 No Time to Wait may be viewed <a href="{{ path('notimetowait_1') }}">here</a></p>

<h2>When</h2>
<p>Thursday, November 9, 2017 and Friday, November 10, 2017</p>

<p>Opening: 09:00<br />
Closing: 17:00 (sharp)</p>

<p>The 2 day symposium includes drinks and lunch on site, and a social dinner, sponsored by <a href="http://www.anyfer.com">ANYFER</a>, is planned for Thursday night.</p>

<h2>Where</h2>
<p><a href="https://www.filmmuseum.at">Österreichisches Filmmuseum - Austrian Film Museum</a></p>

<p><img src="/MediaConch/images/Filmmuseum_04s.jpeg" alt="Österreichisches Filmmuseum - Austrian Film Museum" /><br />
<em>Photo Credit: <a href="https://www.filmmuseum.at/en/press/presse_detail?presse_subkategorie_id=1466964180163&amp;presse_kategorie_id=1466964180159">Austrian Film Museum</a></em></p>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2659.100264253581!2d16.36601341613128!3d48.204684654462596!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476d079bf206f889%3A0xb713b75935f59751!2s%C3%96sterreichisches+Filmmuseum!5e0!3m2!1sen!2sus!4v1500834507933" width="600" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>

<p>*Parts of the workshop will also be accessible remotely</p>

<h2>Registration:</h2>

<p>No Time to Wait has reached a total of 100 in-person registrations and the registration is now closed. Please feel welcome to use this form to sign up for our waiting list.</p>

<p><a href="http://bit.ly/nttw2signup">http://bit.ly/nttw2signup</a></p>

<h2>Travel Grant</h2>

<p>Thanks to <a href="http://www.cna.public.lu">Centre National de l’Audiovisuel</a> for sponsoring 2 travel grants of 250 € to go towards the travel, board, and lodging expenses to support participation in No Time to Wait.</p>

<p>Congratulations to Jina Chang and Yvonne Ng as 2017 travel grant recipients.</p>

<p>If you would like to sponsor additional travel grants, please contact us at <a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#105;&#110;&#102;&#111;&#064;&#109;&#101;&#100;&#105;&#097;&#097;&#114;&#101;&#097;&#046;&#110;&#101;&#116;">&#105;&#110;&#102;&#111;&#064;&#109;&#101;&#100;&#105;&#097;&#097;&#114;&#101;&#097;&#046;&#110;&#101;&#116;</a>.</p>

<h2>Program:</h2>

<p>Below is the preliminary program. Please note that sessions are still being finalized and program times, titles, and speakers are subject to change. Questions or comments about the program may be sent to <a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#105;&#110;&#102;&#111;&#064;&#109;&#101;&#100;&#105;&#097;&#097;&#114;&#101;&#097;&#046;&#110;&#101;&#116;">&#105;&#110;&#102;&#111;&#064;&#109;&#101;&#100;&#105;&#097;&#097;&#114;&#101;&#097;&#046;&#110;&#101;&#116;</a> or provided as a comment within the Google spreadsheet.</p>

<p><a href="http://bit.ly/nttw2program">http://bit.ly/nttw2program</a></p>

<h2>Hotel Info:</h2>
<p><a href="https://www.motel-one.com/de/hotels/wien/wien-staatsoper/">Motel One Staatsoper</a>, this is the cheapest one in walking distance of the Film Museum very new and totally recommendable, new building, ~80 €.<br />
<a href="https://www.hotel-wandl.com/">Das Wandl</a>, in the middle of the center, walking distance to the Film Museum, ~100 €.<br />
<a href="https://www.austria-trend.at/de/hotels/europa-wien">Hotel Europa</a>, near Film Museum, new building, ~130 €.<br />
<a href="http://www.austria-trend.at/de/hotels/astoria">Hotel Astoria</a>, near Film Museum, older, elegant Hotel, ~130 €.<br />
<a href="http://www.hotel3kronen.at">Hotel Drei Kronen</a>, 10 min walk to the Film Museum, ~80 € incl. breakfast.</p>

<h2>Code of Conduct</h2>

<p>This symposium is governed by the <a href="https://www.contributor-covenant.org/version/1/4/code-of-conduct/">Contributor Covenant version 1.4</a>. All coordinators, contributors, and participants agree to abide by its terms. To report violations, send an email to <a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#099;&#111;&#110;&#100;&#117;&#099;&#116;&#064;&#109;&#101;&#100;&#105;&#097;&#097;&#114;&#101;&#097;&#046;&#110;&#101;&#116;&#063;&#115;&#117;&#098;&#106;&#101;&#099;&#116;&#061;&#067;&#111;&#100;&#101;&#037;&#050;&#048;&#111;&#102;&#037;&#050;&#048;&#067;&#111;&#110;&#100;&#117;&#099;&#116;">conduct@mediaarea.net</a> or contact a symposium coordinator.</p>

<h2>Credits</h2>
<p>* Event title inspiration from <a href="https://blogs.loc.gov/digitalpreservation/2014/12/comparing-formats-for-video-digitization/">https://blogs.loc.gov/digitalpreservation/2014/12/comparing-formats-for-video-digitization/</a></p>

<p>The MediaConch project and this symposium has received funding from <a href="http://www.preforma-project.eu/">PREFORMA</a>, co-funded by the European Commission under its FP7-ICT Programme.</p>
{% endblock %}
