{% extends 'NoTimeToWaitBundle::base.html.twig' %}

{% block title %}No Time to Wait 3: {% endblock %}

{% block body %}
<h1><strong>No Time to Wait!</strong> *</h1>

<p>Version 2018 coming soon</p>
{% endblock %}
