{% extends 'NoTimeToWaitBundle::base.html.twig' %}

{% block title %}No Time to Wait: Standardizing FFV1 and Matroska for Preservation{% endblock %}

{% block body %}
<p>For archival purposes (2016).</p>

<h1><strong>No Time to Wait!</strong> *</h1>

<h2>Standardizing FFV1 and Matroska for Preservation</h2>

<h4><strong>A 3 day symposium of workshops &amp; presentations on the standardization &amp; use of FFV1 &amp; Matroska in archives</strong></h4>

<h4><strong>Follow along with #notimetowait</strong></h4>

<p>Hosted by Deutsche Kinemathek, Zuse Institute Berlin and MediaArea.net</p>

<hr />

<p>Audiovisual Archivists (people who use the formats) +</p>

<p>Developers (people who design the formats) +</p>

<p>Open Standards Working Group (people who write specification for formats)</p>

<p>Together!</p>

<hr />

<h2>What</h2>
<p>A FREE three day symposium focused on Matroska and FFV1 for use in digital audiovisual preservation hosted by <a href="https://www.deutsche-kinemathek.de/">Deutsche Kinemathek</a>, <a href="http://www.zib.de/">Zuse Institute Berlin</a> and <a href="{{ path('homepage') }}">MediaArea.net</a>. The event will feature talks, presentations, and working meetings on Matroska, FFV1, and the software, documentation, and use cases associated with these formats. The event will also present on the current state of the IETF’s <a href="https://datatracker.ietf.org/wg/cellar/charter/">CELLAR</a> working group’s progress to develop specifications for Matroska and FFV1 as well as efforts to design and extend software in support of these formats. This event provides an opportunity for format inventors, developers, specification authors, and archivists to collaborate and advance audiovisual preservation formats.</p>

<h2>Presentations</h2>

<p>Day 1</p>

<ul>
  <li>Introduction: Volkmar Ernst &amp; Jürgen Keiper, Ashley Blewer &amp; Dave Rice <a href="https://www.youtube.com/watch?v=1jL3-6tNVv0">video</a></li>
  <li>PREFORMA Challenge, Erwin Verbruggen <a href="https://www.youtube.com/watch?v=m5-ommDV9Ac">video</a> / <a href="https://github.com/preforma/notimetowait/blob/master/presentations/20160718_berlin_preforma_pdfwithnotes.pdf">slides</a></li>
  <li>“FFV1 and Archives: A Short History About Almost Everything”, Peter Bubestinger <a href="https://www.youtube.com/watch?v=qPVnSF0oENM">video</a> / <a href="https://github.com/preforma/notimetowait/blob/master/presentations/20160718-NoTimeToWait_Symposium.zip">slides</a></li>
  <li>Matroska: A History, Steve Lhomme <a href="https://www.youtube.com/watch?v=UTFsTqXJBHs">video</a> / <a href="https://github.com/preforma/notimetowait/blob/master/presentations/A%20History.odp">slides</a></li>
  <li>More Than Just a Wrapper: The Role of Container Formats within Archive Workflows, Tobias Rapp (NOA GmbH) <a href="https://www.youtube.com/watch?v=22gLfOA47vU">video</a> <a href="https://github.com/preforma/notimetowait/blob/master/presentations/ContainerFormatRole.pdf">slides</a></li>
  <li>CELLAR Working Group Update, Tessa Fallon <a href="https://www.youtube.com/watch?v=rlMOh5SEpVY">video</a></li>
  <li>Developing Specifications for Audiovisual Preservation and Archiving: Lessons from FADGI’s MXF AS-07, Kate Murray (Library of Congress) <a href="https://www.youtube.com/watch?v=O8uFQXvvAEE">video</a> / <a href="https://github.com/preforma/notimetowait/blob/master/presentations/NoTimeToWait2016-MurrayAS07-public.pptx">slides</a></li>
  <li>Matroska, webM, and Google, Michael Bradshaw <a href="http://youtube-eng.blogspot.de/2016/04/a-look-into-youtubes-video-file-anatomy.html">blog</a></li>
  <li>Comparison of Lossless Video Codecs for Digital Preservation, Merle Friedrichsen (Technische Informationsbibliothek) <a href="https://www.youtube.com/watch?v=GGomd2vqUuU">video</a> / <a href="https://github.com/preforma/notimetowait/blob/master/presentations/LightningTalk_Friedrichsen.pdf">slides</a></li>
  <li>5 years of archiving with FFV1 at the Austrian Mediathek, Marion Jaks (Österreichische Mediathek) <a href="https://www.youtube.com/watch?v=1KswtZpaBJw">video</a></li>
  <li>DVA-Profession: one of the very view workflow management systems dealing with ffv1, Hermann Lewetz (Österreichische Mediathek) <a href="https://www.youtube.com/watch?v=qeTl8C_JIbk">video</a></li>
  <li>Implementing FFV1 for Large-Scale A/V Digitization at IU, Heidi Dowding (Indiana University) <a href="https://www.youtube.com/watch?v=l570RIoagFA">video</a></li>
  <li>The Moral Character of Software, Igor <a href="https://www.youtube.com/watch?v=8cKWe5ojKyQ">video</a></li>
  <li>OpenArchive Intro - OSS mobile media preservation + future application, Natalie Cadranel (no video upon request) <a href="https://open-archive.net/">website</a></li>
  <li>FFV1 and DPX, Kieran O’Leary (IFI Irish Film Archive) &amp; Reto Kromer (AV Preservation by reto.ch) <a href="https://www.youtube.com/watch?v=q54_FirxdX8">video</a></li>
</ul>

<p>Day 3</p>

<ul>
  <li>Intro and IETF Report Back, Jerome Martinez, Steve Lhomme, Dave Rice <a href="https://www.youtube.com/watch?v=1n9J-LaCVU0">video</a></li>
  <li>Stress testing FFV1, Kieran Kunyha <a href="https://www.youtube.com/watch?v=uCW0hWlSsg8">video</a></li>
  <li>Stress testing FFV1, Peter Bubestinger <a href="https://www.youtube.com/watch?v=_ogZ9t8vINM">video</a></li>
  <li>FFV1 and Matroska: Digitization and Contextualization, Dave Rice <a href="https://youtu.be/yuT6PLDfQw4">video</a></li>
  <li>MediaConch: Presentation of Specification-Based Validation, Jerome Martinez <a href="https://www.youtube.com/watch?v=QhaJb_OIAP4">video</a></li>
  <li>Matroska Tools, Steve Lhomme <a href="https://www.youtube.com/watch?v=SJ8EdRqZbFM">video</a></li>
  <li>Audiovisual Archiving in the Balkans - A Survey (Technological issues and challenges), Daniel Borosa (Croatian Radiotelevision) (no video upon request) <a href="https://github.com/preforma/notimetowait/blob/master/presentations/Presentation%20Borosa-%20MKV%20Berlin%202016.ppsx">slides</a></li>
  <li>When Vendors Say No: A vendor wouldn’t implement FFV1/MKV and how this decision transformed our archive, Kieran O’Leary (IFI Irish Film Archive) <a href="https://www.youtube.com/watch?v=DgRc-A1hkVg">video</a></li>
</ul>

<h2 id="working-group-documents-day-2">Working group documents (Day 2)</h2>

<ul>
  <li><a href="https://docs.google.com/document/d/1dkT5cpUWFWXKHXC1132d1ndmwrnVPV7nBeyHAehM5HQ/edit">Matroska</a></li>
  <li><a href="https://docs.google.com/document/d/1lCJ5JRcGdjLvjG6vSZbRL_RnnCX_D_x2rwN57PvbY3s/edit?ts=578dffe5">FFV1</a></li>
  <li><a href="https://docs.google.com/document/d/1omcIEYAA5dpI3xBpxRYX13M1e7PL_2HmFSjaC0rpSZA/edit#">Preservation</a></li>
</ul>

<h2 id="reports">Reports</h2>

<ul>
  <li><a href="{{ path('ma_blog_post', {'year': 2016, 'month': '07', 'day': 26, 'slug': 'No-Time-To-Wait-Preservation-FFV1-Matroska-Symposium'}) }}">Report on MediaConch blog</a></li>
  <li><a href="http://www.beeldengeluid.nl/en/blogs/research-amp-development-en/201607/tools-trade">Report on Beeld en Geluid blog</a></li>
  <li><a href="https://storify.com/ablwr/no-time-to-wait">Twitter Storify</a></li>
</ul>

<h2 id="streaming">Streaming</h2>

<p>To stream and record this conference, we used:
* Mac laptop
* BlackMagic Design UltraStudio Express (thunderbolt)
* Small handheld consumer camera
* Tripod for camera
* <a href="https://obsproject.com/">Open Broadcaster Software</a>
* YouTube (for streaming and uploaded recorded media)
* For one video (“FFV1 and Matroska: Digitization and Contextualization”), we recorded using an iPhone 6S</p>

<h2 id="when">When</h2>
<p>Monday, July 18, 2016 - Wednesday, July 20, 2016</p>

<h2 id="where">Where</h2>
<p><a href="https://www.deutsche-kinemathek.de/">Deutsche Kinemathek – Museum für Film und Fernsehen</a></p>

<p><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Deutsche_Kinemathek_2.jpg/3264px-Deutsche_Kinemathek_2.jpg" width="500" />
<br />
The Deutsche Kinemathek – Museum für Film und Fernsehen, Wikimedia Commons</p>

<p><a href="https://www.google.com/maps/place/Potsdamer+Stra%C3%9Fe+2,+10785+Berlin,+Germany/@52.5096511,13.3648205,15z/data=!4m5!3m4!1s0x47a851b61bf74d65:0xe6356c435ea83c13!8m2!3d52.5096511!4d13.3735752">Potsdamer Straße 2, 10785 Berlin</a></p>

<p><a href="http://www.zib.de/">Zuse Institute Berlin</a></p>

<p><img src="https://upload.wikimedia.org/wikipedia/commons/4/47/Freie_Universitaet_Berlin_-_Konrad-Zuse-Zentrum_fuer_Informationstechnik_Berlin_-_Campus_1.jpg" width="500" />
<br />
The Zuse Institute Berlin, Wikimedia Commons</p>

<p><a href="https://www.google.com/maps/place/Konrad-Zuse-Zentrum+f%C3%BCr+Informationstechnik+Berlin/@52.4561009,13.2959837,17z/data=!3m1!4b1!4m5!3m4!1s0x47a85a657d4919af:0x46163d5d4c3fc235!8m2!3d52.4561009!4d13.2981777">Takustraße 7, 14195 Berlin</a></p>

<p>*Parts of the workshop will also be accessible remotely</p>

<p>* Event title inspiration from <a href="https://blogs.loc.gov/digitalpreservation/2014/12/comparing-formats-for-video-digitization/">https://blogs.loc.gov/digitalpreservation/2014/12/comparing-formats-for-video-digitization/</a></p>

<p>The MediaConch project and this symposium has received funding from <a href="http://www.preforma-project.eu/">PREFORMA</a>, co-funded by the European Commission under its FP7-ICT Programme.</p>
{% endblock %}
