{% extends 'NoTimeToWaitBundle::base.html.twig' %}

{% block title %}No Time to Wait 9!{% endblock %}

{% block body %}
<h1><strong>No Time to Wait!</strong> *</h1>

<h2>The No Time to Wait Conference at the National Library of Ireland in Dublin</h2>

<p>The »No Time to Wait« conference is back for its ninth edition, taking place from October 15 to 17, 2025 at the National Library of Ireland in Dublin.</p>

<p>»No Time to Wait« is a three-day conference dedicated to exploring open media, open standards, and digital audiovisual preservation. Organized by the National Library of Ireland and MediaArea.net, this event is part of a conference series and represents the ninth installment since its inception in 2016.</p>

<h2>About Our Host</h2>

<p></p>

<p>
{% image '@NoTimeToWaitBundle/Resources/public/img/nli1.jpg' %}
  <img src="{{ asset_url }}" alt="exterior image of the National Library of Ireland" class="img-responsive center-xs" title="Outside NLI" width="40%" height="40%">
{% endimage %}
{% image '@NoTimeToWaitBundle/Resources/public/img/nli2.jpg' %}
  <img src="{{ asset_url }}" alt="interior image of the National Library of Ireland" class="img-responsive center-xs" title="Inside NLI" width="40%" height="40%">
{% endimage %}
</p>

<p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19180.53541877949!2d-6.280931536370832!3d53.336426618518836!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48670e9a19f3dd89%3A0xdfe6f2dc79e7ae1!2sNational%20Library%20of%20Ireland!5e0!3m2!1sen!2sus!4v1729094860805!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>

<h2>Registration</h2>

<p>If you'd like to participate in No Time to Wait, either in-person or online, please complete <a href="https://bit.ly/nttw9signup">our registration form</a>.</p>

<h2>Call for Proposals</h2>

<p>Coming spring 2025.</p>

<h2>Follow us</h2>
<p>For inquiries and further details, <a href="{{ path('ma_contact') }}">please contact us</a>.

<p>For more background on the »No Time to Wait« conference please review <a href="https://www.youtube.com/@MediaAreaNet/playlists">our conference recordings</a>.</p>

<p>Follow <a href="https://twitter.com/nttwconf">@nttwconf</a> for news and updates about No Time to Wait. Our recommended hashtag is <a href="https://twitter.com/hashtag/nttw9">#nttw9</a>.</p>
<p>The conference will be livestreaming on the MediaArea YouTube channel <a href="http://www.youtube.com/c/MediaAreaNetOfficial">available here</a>.</p>

<h2>Travel Grants</h2>

<p>More soon.</p>

<h2>Sponsorship</h2>

<p>The organizers of No Time to Wait strive to sustain this conference as a free registration event through efficient and transparent budgeting and via the generosity of our hosts and sponsors. The sponsors of No Time to Wait help make the discussions, presentations, and momentum of the No Time to Wait event possible and enable the event to maintain a high level of accessibility and involvement. Sponsors shall be acknowledged via the conference's website, printed programs, and presence at the conference. Sponsors may indicate that their contribution is allocated to a specific need, such as funding travel stipends, hosting a reception, or supporting live streaming. To discuss or inquire regarding sponsorship opportunities please <a href="{{ path('ma_contact') }}">please contact us</a>.

<p>You can also support the No Time to Wait conference by becoming a <a href="/SupportUs/NoTimeToWait">MediaArea member</a>.</p>

<h2>What's the Word About No Time To Wait</h2>

<p><i>No Time to Wait 2 was a strong statement in regard to the increased and enormously productive collaboration between film and media archivists and developers. It opened up a perspective for digital film preservation pathways and practices that are based on open standards, open source software, and business models which balance openness and the avoidance of vendor lock-in with plannability and adequate financial reward for developers.</i><br>
-- Michael Loebenstein, Österreichisches Filmmuseum | Austrian Film Museum</p>

<p><i>No Time to Wait 3 was an inspiring event, bringing together a dynamic community of a/v archivists, developers and digital preservationists in a friendly atmosphere to facilitate open collaboration, information exchange,  debate and consensus-forming. Attendees left with an invaluable network of supportive contacts as well as heads and laptops bursting with new ideas, resources and approaches to the challenges of moving image preservation. More than any similar event I’ve attended, the NTTW series operates like a vitamin injection of enthusiasm, energy and inspiration to face the work ahead!</i><br>
-- Stephen McConnachie | Head of Data and Digital Preservation | British Film Institute</p>

<p><i>No Time To Wait 4 at Blinken OSA brought together a super curious, enthusiastic crowd of moving image, sound and photo archivists; code writers/developers; and digital preservation experts in the open source universe, from freelancers to small and large institutions.<br/>
The healthily mixed group presented and discussed finished projects, bringing forward knowledge and skillsets, and best practices, to facilitate sharing of ideas. NTTW is about exchange and open debate. The most popular part of conference was the "solve the puzzle": glitches, asynchronous moving image were played, and through comments from the crowd, the technical errors were named, and solutions were suggested.<br/>
NTTW is the most open, inspiring, and motivating A/V event, with its lack of pretention and truly inclusive spirit. After NTTW4 many of us is to look at their own A/V projects with renewed energy, ideas for solutions and dedication to our wonderful cultural heritage-related work.</i><br/>
-- Zsuzsanna Zadori, Senior Audio-visual Archivist, Blinken Open Society Archives</p>

<h2>Want to Host No Time to Wait?</h2>

<p>If you're interested being considered as a host for an upcoming No Time to Wait. Please complete <a href="https://bit.ly/nttwhosts">this interest form</a> and a member of our organizing committee will be in touch with you soon.</p>

<h2>Code of Conduct</h2>

<p>No Time to Wait is governed by the <a href="https://mediaarea.net/Conduct">Contributor Covenant version 2.1</a>. All coordinators, contributors, and participants agree to abide by its terms. To report violations, send an email to <a href="mailto:conduct@mediaarea.net?subject=Code%20of%20Conduct">conduct@mediaarea.net</a> or contact a conference coordinator.</p>

<h2>Conference Planning</h2>

<p>NTTW Organizing Committee</p>
<ul>
  <li>Dave Rice, Conference Manager</li>
  <li>Valeria Dávila</li>
  <li>Alessandra Luciano</li>
  <li>Jérôme Martinez</li>
</ul>

<p>NTTW Host Committee, National Library of Ireland<p>
<ul>
  <li>Eoghan Ó Carragáin</li>
  <li>Kieran O'Leary</li>
  <li>Maria Ryan</li>
</li>
</ul>

<h2>Credits</h2>
<p>* Event title inspiration from <a href="https://blogs.loc.gov/digitalpreservation/2014/12/comparing-formats-for-video-digitization/">https://blogs.loc.gov/digitalpreservation/2014/12/comparing-formats-for-video-digitization/</a></p>

{% endblock %}
