{% extends 'NoTimeToWaitBundle::base.html.twig' %}

{% block title %}No Time to Wait 3: {% endblock %}

{% block body %}
<h1><strong>No Time to Wait!</strong> *</h1>

<h2>Open Media, Open Formats, Open Archives</h2>

<p>A 2 day symposium on the intersection of <em>open media</em>, <em>standardization</em>, and <em>audiovisual preservation</em>.</p>

<p>Hosted by the <a href="http://www.bfi.org.uk/">British Film Institute</a> and <a href="{{ path('homepage') }}">MediaArea.net</a>.</p>


<h2>What</h2>
<p>A FREE two day symposium focused on open media, open standards, and digital audiovisual preservation hosted by <a href="http://www.bfi.org.uk/">British Film Institute</a> and <a href="{{ path('homepage') }}">MediaArea.net</a>.</p>

<p>The event will feature presentations and discussion on topics such as:</p>

<ul>
  <li>(To Be Announced)</li>
</ul>


<h2>When</h2>
<p>(To Be Announced)</p>


<h2>Where</h2>
<p><a href="http://www.bfi.org.uk/">British Film Institute</a>, Belvedere Rd, South Bank, London SE1 8XT, UK</p>

<p>Parts of the workshop will also be accessible remotely</p>


<h2>Registration:</h2>

<p>(To Be Announced)</p>


<h2>Travel Grant</h2>

<p>(To Be Announced)</p>

<p>If you would like to sponsor additional travel grants, <a href="{{ path('ma_contact') }}">please contact us</a>.</p>


<h2>Program:</h2>

<p>(To Be Announced)</p>


<h2>Hotel Info:</h2>

<p>(To Be Announced)</p>


<h2>Code of Conduct</h2>

<p>This symposium is governed by the <a href="https://www.contributor-covenant.org/version/1/4/code-of-conduct/">Contributor Covenant version 1.4</a>. All coordinators, contributors, and participants agree to abide by its terms. To report violations, send an email to <a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#099;&#111;&#110;&#100;&#117;&#099;&#116;&#064;&#109;&#101;&#100;&#105;&#097;&#097;&#114;&#101;&#097;&#046;&#110;&#101;&#116;&#063;&#115;&#117;&#098;&#106;&#101;&#099;&#116;&#061;&#067;&#111;&#100;&#101;&#037;&#050;&#048;&#111;&#102;&#037;&#050;&#048;&#067;&#111;&#110;&#100;&#117;&#099;&#116;">conduct@mediaarea.net</a> or contact a symposium coordinator.</p>


<h2>Credits</h2>
<p>* Event title inspiration from <a href="https://blogs.loc.gov/digitalpreservation/2014/12/comparing-formats-for-video-digitization/">https://blogs.loc.gov/digitalpreservation/2014/12/comparing-formats-for-video-digitization/</a></p>

{% endblock %}
