{% extends 'NoTimeToWaitBundle::base.html.twig' %}

{% block title %}No Time to Wait 3: Rough Consensus and Running Archives{% endblock %}

{% block body %}
<h1><strong>No Time to Wait!</strong> *</h1>

<h2>Rough Consensus and Running Archives</h2>

The third annual No Time to Wait conference shall take place October 25-26, 2018 at BFI Southbank sited on the River Thames in London. #nttw3

<h2>What</h2>
<p>A FREE two-day symposium focused on <em>open media</em>, <em>open standards</em>, and <em>digital audiovisual preservation</em> hosted by <a href="http://www.bfi.org.uk/">British Film Institute</a> and <a href="{{ path('homepage') }}">MediaArea.net</a>.</p>

<p>The event will feature presentations and discussion on topics such as:</p>

<ul>
  <li>active open media standardization projects</li>
  <li>seeking consensus in audiovisual preservation strategy</li>
  <li>examination of open media use in film and video digitization</li>
  <li>validation and conformance checking of audiovisual formats</li>
  <li>integration of open source tools into archival workflow</li>
  <li>examples of cross-community collaboration and skill-sharing</li>
  <li>developments in open media</li>
  <li>and more</li>
</ul>

<p>Follow <a href="https://twitter.com/nttwconf">@nttwconf</a> for news and updates about No Time to Wait. Our recommended hashtag is <a href="https://twitter.com/search?q=%23nttw3">#nttw3</a>.</p>

<h2>When</h2>
<p>Thursday, October 25, 2018 and Friday, October 26, 2018</p>

<p>Opening: 09:00<br />
Closing: 17:00</p>

<h2>Where</h2>
<p><a href="http://www.bfi.org.uk/">British Film Institute</a>, Belvedere Rd, South Bank, London SE1 8XT, UK</p>

<p>
{% image '@NoTimeToWaitBundle/Resources/public/img/bfi-southbank_500x382.jpg' %}
  <img src="{{ asset_url }}" alt="British Film Institute Southbank" class="img-responsive center-xs" title="British Film Institute Southbank">
{% endimage %}
<br />
<em>Photo Credit: <a href="http://www.bfi.org.uk/sites/bfi.org.uk/files/styles/full/public/image/bfi-southbank-2013-001-exterior-evening.jpg?itok=hkPPfTCN">British Film Institute</a></em></p>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.385037797375!2d-0.11740564823185592!3d51.506151679535094!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604b7e7c78711%3A0x3427f18d546137bd!2sBFI+Southbank!5e0!3m2!1sen!2sus!4v1525800764082" width="500" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>

<p>Parts of the workshop will also be accessible remotely. More info soon.</p>

<h2>Registration</h2>

<p>Please fill out our <a href="http://bit.ly/nttw3signup">REGISTRATION FORM</a>.</p>

<h2>Travel Grants</h2>

<p>(To Be Announced)</p>

<p>If you would like to sponsor additional travel grants, <a href="{{ path('ma_contact') }}">please contact us</a>.</p>

<h2>Program</h2>

<p>(To Be Announced) A Call for Proposals shall be issued soon.</p>

<h2>Hotel Info</h2>

<p>(To Be Announced)</p>

<h2>Code of Conduct</h2>

<p>This symposium is governed by the <a href="https://mediaarea.net/Conduct">Contributor Covenant version 1.4</a>. All coordinators, contributors, and participants agree to abide by its terms. To report violations, send an email to <a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#099;&#111;&#110;&#100;&#117;&#099;&#116;&#064;&#109;&#101;&#100;&#105;&#097;&#097;&#114;&#101;&#097;&#046;&#110;&#101;&#116;&#063;&#115;&#117;&#098;&#106;&#101;&#099;&#116;&#061;&#067;&#111;&#100;&#101;&#037;&#050;&#048;&#111;&#102;&#037;&#050;&#048;&#067;&#111;&#110;&#100;&#117;&#099;&#116;">conduct@mediaarea.net</a> or contact a symposium coordinator.</p>

<h2>Sponsorship</h2>
<p>The organizers of No Time to Wait strive to maintain the symposium as a free registration event through efficient and transparent budgeting and via the generosity of our hosts and sponsors. The sponsors of No Time to Wait help make the discussions, presentations, and momentum of the No Time to Wait event possible and enable the event to maintain a high level of accessibility and involvement. Sponsors shall be acknowledged via the symposium's website, printed programs, and presence at the symposium. Sponsors may indicate that their contribution is allocated to a specific need, such as funding travel stipends, hosting a reception, or supporting live streaming. To discuss or inquire regarding sponsorship opportunties please <a href="{{ path('ma_contact') }}">please contact us</a>.

<h2>Conference Planning</h2>

<p>NTTW Organizing Committee</p>
<ul>
  <li>Dave Rice, Conference Manager</li>
  <li>Ashley Blewer</li>
  <li>Alessandra Luciano</li>
  <li>Jérôme Martinez</li>
  <li>Stephen McConnachie</li>
</ul>

<h2>Credits</h2>
<p>* Event title inspiration from <a href="https://blogs.loc.gov/digitalpreservation/2014/12/comparing-formats-for-video-digitization/">https://blogs.loc.gov/digitalpreservation/2014/12/comparing-formats-for-video-digitization/</a></p>

{% endblock %}
