<div class="alert alert-danger" role="alert">
    {% if app.user and is_granted('ROLE_GUEST') %}
        Quota exceeded, please <a href="{{ path('user_guest_register') }}" class="alert-link">register your account</a> to increase your quotas.
    {% else %}
        Quota exceeded, please <a href="{{ path('ma_contact') }}" class="alert-link">contact us</a> to increase your quotas.
    {% endif %}
</div>
