{% extends 'SupportUsBundle::base.html.twig' %}

{% block title %}Support Us! Frequently asked questions{% endblock %}
{% block description %}Support Us! Frequently asked questions{% endblock %}
{% block keywords %}Donation sponsor subscriber supporter member crowdfunding frequently asked questions faq{% endblock %}

{% block body %}
<h1>FAQ</h1>

<section id="votes" class="anchor">
    <h2>Voting Rights Policy</h2>
    <p>
        Vote rights are intended to have a voice in the decisions about priorities in the development of MediaArea tools. Each person having vote rights can assign them to a an item. After an item is finished, MediaArea will check which item as the better ratio between vote rights and cost of an item, and select the next item. After and item is complete, vote rights of a person are reduced by the count of vote rights assigned to this item by the person.
    </p>
    <p>Examples of items (they'll be detailled soon):</p>
    <ul>
        <li>MediaInfo JSON output (need minimal 1500 votes)</li>
        <li>No Time To Wait 3 in New-York (need minimal 5000 votes)</li>
        <li>RDD11 support (need minimal 2000 votes)</li>
        <li>Choice of timestamp format, e.g. always with milliseconds (500 votes)</li>
        <li>MOV repair tool, in case of crash of a smartphone, i.e. footer not written (5000 votes)</li>
        <li>AS07 conformance checker (? votes)</li>
        <li>MP4/MOV repair tool</li>
        <li>MXF repair tool</li>
        <li>Decoding of VBI in MXF, usually having Line21 (need minimal 3000 votes)</li>
        <li>Reorder trace when there are some seek in the file e.g. MOV with moov atom at the end (need minimal 2000 votes)</li>
        <li>DV (dv capture + analysis in one tool) with a focus on journalism organizations with dv tape collections (need minimal TBD votes). </li>
        <li>Selection of MediaInfo fields to show in MediaInfo GUI (need minimal 6000 votes)</li>
        <li>Statistics of your files (need minimal 10000 votes)</li>
        <li>Extraction and analyze of XMP in MOV (need minimal 3000 votes)</li>
        <li>Fixes for Windows explorer integration (right click, tooltip) (need minimal 2000 votes)</li>
        <li>Rewrite of the template engine and add new features e.g. out of order parts and select of a specific track (need minimal 10000 votes)</li>
        <li>Support of WTV (Windows Recorded TV Show) format (need minimal 3000 votes)</li>
        <li>Support of DSF (Direct Stream Digital Stream File) format, technical part (need minimal 1000 votes)</li>
        <li>Support of DFF (Direct Stream Digital Interchange File Format) format, technical part (need minimal 2000 votes)</li>
        <li>Our tools in Windows Store (need minimal 1000 votes)</li>
        <li>Our tools in MacPorts (Command line only) (need minimal 1000 votes)</li>
        <li>Our tools in MacPorts (Command line and Graphical interfaces) (need minimal 2000 votes)</li>
        <li>Find similar content in a repository (need minimal 5000 votes, rely on INA Signature)</li>
        <li>80-hour block of non regression tests additions (need minimal 6000 votes)</li>
        <li>80-hour block of global performance improvement (need minimal 6000 votes)</li>
        <li>Modification of the template for the Windows tooltip (need minimal 2000 votes)</li>
        <li>Speedup of MXF parsing (need minimal 10000 votes)</li>
        <li>Android version of MediaInfo (need minimal 10000 votes)</li>
        <li>iOS version of MediaInfo (need minimal 10000 votes)</li>
        <li>Bittorrent protocol support in MediaInfo (need minimal 10000 votes)</li>
        <li>ISO support in MediaInfo (need minimal 10000 votes)</li>
        <li>Multi-language MediaConch (need minimal 10000 votes)</li>
        <li>Global review and addition of binding (need minimal 5000 votes)</li>
        <li>MacOS spotlight integration (need minimal 3000 votes)</li>
        <li>Windows file properties integration (need minimal 5000 votes)</li>
        <li>MediaInfo online (need minimal 5000 votes)</li>
        <li>ARD/ZDF profile policy checker (need minimal 6000 votes)</li>
        <li>MXF implementation checker (need minimal lot of votes!)</li>
        <li>AS/02 implementation checker (need minimal lot of votes!)</li>
        <li>MediaInfo AWS service (need minimal 5000 votes)</li>
        <li>MediaConch AWS service (need minimal 5000 votes)</li>
        <li>Documentation (e.g. difference between Height, Stored_Height and Sample_Height)</li>
    </ul>
</section>

<section>
    <h2>and other tools e.g. QCTools</h2>
    <p>doable (To be filled) </p>
</section>

<section id="membership" class="anchor">
    <h2>How useful is a single membership, without vote rights?</h2>
    <p>
        Actually for the moment, it is more a way to show us your support, like a donation but in a more legal manner, it helps us to improve MediaArea tools<br/>
        In a near future, depending of what the voters decide, you'll get access on more features dedicated to members.
    </p>
</section>

<section id="cost" class="anchor">
    <h2>Cost is high</h2>
    <p>
        MediaArea budget: 250 k€/year<br/>
        Staff : FR 170 k€/year (3 full-time), US 40 k€/year (partial time)<br/>
        Hardware/Hosting (including test files backup) : 20 k€/year<br/>
        Travel/Meetings : 10 k€/year<br/>
        Legal/Administrative : 5 k€/year<br/>
        Bank fees : 5 k€/year<br/>
        Is it expensive? lets <a href="https://letsencrypt.org//2016/09/20/what-it-costs-to-run-lets-encrypt.html" target="_blank">check an example</a>:<br/>
        200 k$ for a single person; with a similar budget we are 3-4 people working on MediaArea tools. (OK, not the same skills... But still a way to compare)
    </p>
</section>

<section id="support" class="anchor">
    <h2>Support severeties</h2>
    <p>
        Critical: production server is blocked and no workaround is immediately available. Substantial portion of critical data is at a significant risk of loss or corruption. Business operations are severely disrupted. Example: a new incoming file makes the server crashing.<br/>
        Major: operations can continue in a restricted mode, although productivity is adversely affected. A temporary workaround is available. Example: a format feature is expected to be detected but is not, a file is considered not compliant but is actually compliant<br/>
        Minor: non-critical loss of functionality. Example: text typo
    </p>
</section>
{% endblock %}
