{% extends 'SupportUsBundle::base.html.twig' %}

{% block title %}Support Us! Frequently asked questions{% endblock %}
{% block description %}Support Us! Frequently asked questions{% endblock %}
{% block keywords %}Donation sponsor subscriber supporter member crowdfunding frequently asked questions faq{% endblock %}

{% block body %}
<h1>FAQ</h1>

<section id="votes" class="anchor">
    <h2>Voting points</h2>
    <div class="anchor-highlight">
        <p>
            Voting points are intended to give you a voice in decisions over priorities in the development of MediaArea tools. Each person with voting points get points that they can assign to a task. After a task has been completed, voting points given towards a task are applied. For example, if a person has 10 points and assigns 2 points to a task, then those points are used only when the task is complete and a person has 8 points remaining. MediaArea will then check which task has the better ratio between points and the cost of a task, and select the next task to work on.
        </p>
        <p>
            You can see the features list <a href="{{ path('vote_list_features') }}" title="Features list">here</a>.
        </p>
    </div>
</section>

<section id="membership" class="anchor">
    <h2>How useful is a single membership (without voting points)?</h2>
    <p class="anchor-highlight">
        At the moment, a single membership is a way to show your support and improve MediaArea tools. In the future, contingent on voting, you will get access to more members-only features.
    </p>
</section>

<section id="cost" class="anchor">
    <h2>Where does the money go?</h2>
    <p class="anchor-highlight">MediaArea is an open source organization and works in the open as much as possible. Because of this, we also want to be as transparent as possible with our budget so you can better understand where your money goes. Below is an average estimated annual budget for maintaining and expanding tools we are working on (excluding specific projects):</p>
	<table class="anchor-highlight">
        <tr><td><hr/></td><td><hr/></td></tr>
        <tr><td>Staff</td><td>FR&nbsp;170&nbsp;k€/year (3 full-time), US&nbsp;40&nbsp;k€/year (partial time)</td></tr>
        <tr><td>Hardware/Hosting (including test files backup)</td><td>15&nbsp;k€/year</td></tr>
        <tr><td>Travel/Meetings</td><td>10&nbsp;k€/year</td></tr>
        <tr><td>Legal/Administrative</td><td>10&nbsp;k€/year</td></tr>
        <tr><td>Bank fees</td><td>5&nbsp;k€/year</td></tr>
        <tr><td><hr/></td><td><hr/></td></tr>
        <tr><td>Total</td><td><b>250&nbsp;k€/year</b></td></tr>
        <tr><td><hr/></td><td><hr/></td></tr>
    </table>
</section>

<section id="about" class="anchor">
    <h2>About MediaArea</h2>
    <p class="anchor-highlight">
        MediaArea.net SARL (equivalent to LLC) is a French based company founded in 2007 (<a href="https://www.infogreffe.com/entreprise-societe/500291844-mediaarea-net-730107B006860000.html" target="_blank">official source</a>) and selling professional services for 10 years, held at 100% by Jérôme Martinez and with a shareholders’ equity of 125&nbsp;000 € (<a href="https://www.societe.com/bilan/mediaarea-net-500291844201612312.html" target="_blank">public source</a>, and you can order official detailed annual reports from the <a href="https://www.infogreffe.com/entreprise-societe/500291844-mediaarea-net-730107B006860000.html" target="_blank">official source</a> for 6 €).
    </p>
</section>

<section id="support" class="anchor">
    <h2>Severity levels</h2>
    <p class="anchor-highlight">
        <b>Critical</b>: production server is blocked and no workaround is immediately available. Substantial portion of critical data is at a significant risk of loss or corruption. Business operations are severely disrupted. Example: a new incoming file makes the server crashing.<br/>
        <b>Major</b>: operations can continue in a restricted mode, although productivity is adversely affected. A temporary workaround is available. Example: a format feature is expected to be detected but is not, a file is considered not compliant but is actually compliant<br/>
        <b>Minor</b>: non-critical loss of functionality. Example: text typo
    </p>
</section>
{% endblock %}

{% block stylesheets %}
{% stylesheets
    '@SupportUsBundle/Resources/public/css/simple-slider.css'
    '@SupportUsBundle/Resources/public/css/supportUs.css'
    filter='?scssphp' output='css/supportUs.css'
 %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}
