{% extends 'PasteBinBundle::base.html.twig' %}

{% block title %}{% trans %}pastebin.page.title{% endtrans %}{% endblock %}
{% block description %}{% trans %}pastebin.page.description{% endtrans %}{% endblock %}
{% block keywords %}{% trans %}pastebin.page.keywords{% endtrans %}{% endblock %}

{% block body %}
<h1>{% trans %}pastebin.title{% endtrans %}</h1>
{% endblock %}
