{% extends 'BWFMetaEditBundle::base.html.twig' %}

{% block title %}BWF MetaEdit - Download BWF MetaEdit for Alma Linux{% endblock %}

{% block body %}
<h1>Download - Alma Linux</h1>
{% image '@AppBundle/Resources/public/img/OS/AlmaLinux.png' %}
<img src="{{ asset_url }}" alt="Alma Linux" title="Alma Linux" width="350" height="65"><br />
{% endimage %}

<div class="table-responsive">
<table class="download table table-bordered table-condensed">
<thead>
<tr class="table-header">
    <th>Version</th>
    <th>Architecture</th>
    <th>Interface</th>
    <td>Version</td>
    <td>Comment</td>
</tr>
</thead>
<tbody>
{{ include('@BWFMetaEdit/Download/almalinuxTable.html.twig') }}
</tbody>
</table>
</div>
{% endblock %}
