<tr>
    <th colspan="5">Notes for installing the packages below:<br>"pacman -U *pkg.tar.xz"</th>
</tr>

<tr>
    <th rowspan="4" id="Extra">Extra</th>
    <th rowspan="2" id="Extra.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/1.3.8/bwfmetaedit-gui-1.3.8-x86_64.Arch_Extra.pkg.tar.xz">v1.3.8</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/1.3.8/bwfmetaedit-1.3.8-x86_64.Arch_Extra.pkg.tar.xz">v1.3.8</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="Extra.i686">i686</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/1.3.2/bwfmetaedit-gui-1.3.2-i686.Arch_Extra.pkg.tar.xz">v1.3.2</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/1.3.2/bwfmetaedit-1.3.2-i686.Arch_Extra.pkg.tar.xz">v1.3.2</a></td>
    <td>&nbsp;</td>
</tr>
