<tr>
    <th colspan="4">For automatic update and easiest installation, enable MediaArea software repository for CentOS<br>search for "BWF MetaEdit" in your package manager<br>or "yum install bwfmetaedit-gui" (for GUI)<br> or "yum install bwfmetaedit" (for CLI)</th>
    <td><a href="{{ path('ma_repos') }}">Activate MediaArea Repository</a></td>
</tr>
<tr>
    <th id="9">9</th>
    <td colspan="3">Check <a href="RockyLinux#9">Rocky Linux releases</a>.</td>
</tr>
<tr>
    <th rowspan="2" id="8">8</th>
    <th rowspan="2" id="8.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/24.05/bwfmetaedit-gui-24.05.x86_64.CentOS_8.rpm">v24.05</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/24.05/bwfmetaedit-24.05.x86_64.CentOS_8.rpm">v24.05</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="2" id="7">7</th>
    <th rowspan="2" id="7.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/24.05/bwfmetaedit-gui-24.05.x86_64.CentOS_7.rpm">v24.05</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/24.05/bwfmetaedit-24.05.x86_64.CentOS_7.rpm">v24.05</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="6">6</th>
    <th rowspan="2" id="6.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/1.3.8/bwfmetaedit-gui-1.3.8.x86_64.CentOS_6.rpm">v1.3.8</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/1.3.8/bwfmetaedit-1.3.8.x86_64.CentOS_6.rpm">v1.3.8</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="6.i686">i686</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/1.3.8/bwfmetaedit-gui-1.3.8.i686.CentOS_6.rpm">v1.3.8</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/1.3.8/bwfmetaedit-1.3.8.i686.CentOS_6.rpm">v1.3.8</a></td>
    <td>&nbsp;</td>
</tr>
