<tr>
    <th colspan="4">For automatic update and easiest installation, enable MediaArea software repository for Fedora<br>search for "BWF MetaEdit" in your package manager<br>or "yum install bwfmetaedit-gui" (for GUI)<br> or "yum install bwfmetaedit" (for CLI)</th>
    <td><a href="{{ path('ma_repos') }}">Activate MediaArea Repository</a></td>
</tr>
<tr>
    <th rowspan="2" id="42">42</th>
    <th rowspan="2" id="42.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/25.04/bwfmetaedit-gui-25.04.x86_64.Fedora_42.rpm">v25.04</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/25.04/bwfmetaedit-25.04.x86_64.Fedora_42.rpm">v25.04</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="2" id="41">41</th>
    <th rowspan="2" id="41.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/25.04/bwfmetaedit-gui-25.04.x86_64.Fedora_41.rpm">v25.04</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/25.04/bwfmetaedit-25.04.x86_64.Fedora_41.rpm">v25.04</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="2" id="40">40</th>
    <th rowspan="2" id="40.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/25.04/bwfmetaedit-gui-25.04.x86_64.Fedora_40.rpm">v25.04</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/25.04/bwfmetaedit-25.04.x86_64.Fedora_40.rpm">v25.04</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="39">39</th>
    <th rowspan="2" id="39.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/24.10/bwfmetaedit-gui-24.10.x86_64.Fedora_39.rpm">v24.10</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/24.10/bwfmetaedit-24.10.x86_64.Fedora_39.rpm">v24.10</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="38">38</th>
    <th rowspan="2" id="38.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/24.05/bwfmetaedit-gui-24.05.x86_64.Fedora_38.rpm">v24.05</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/24.05/bwfmetaedit-24.05.x86_64.Fedora_38.rpm">v24.05</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="37">37</th>
    <th rowspan="2" id="37.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/23.04/bwfmetaedit-gui-23.04.x86_64.Fedora_37.rpm">v23.04</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/23.04/bwfmetaedit-23.04.x86_64.Fedora_37.rpm">v23.04</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="36">36</th>
    <th rowspan="2" id="36.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/23.04/bwfmetaedit-gui-23.04.x86_64.Fedora_36.rpm">v23.04</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/23.04/bwfmetaedit-23.04.x86_64.Fedora_36.rpm">v23.04</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="35">35</th>
    <th rowspan="2" id="35.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/22.11/bwfmetaedit-gui-22.11.x86_64.Fedora_35.rpm">v22.11</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/22.11/bwfmetaedit-22.11.x86_64.Fedora_35.rpm">v22.11</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="34">34</th>
    <th rowspan="2" id="34.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/21.07/bwfmetaedit-gui-21.07.x86_64.Fedora_34.rpm">v21.07</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/21.07/bwfmetaedit-21.07.x86_64.Fedora_34.rpm">v21.07</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="33">33</th>
    <th rowspan="2" id="33.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/21.07/bwfmetaedit-gui-21.07.x86_64.Fedora_33.rpm">v21.07</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/21.07/bwfmetaedit-21.07.x86_64.Fedora_33.rpm">v21.07</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="32">32</th>
    <th rowspan="2" id="32.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/21.07/bwfmetaedit-gui-21.07.x86_64.Fedora_32.rpm">v21.07</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/21.07/bwfmetaedit-21.07.x86_64.Fedora_32.rpm">v21.07</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="31">31</th>
    <th rowspan="2" id="31.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/21.07/bwfmetaedit-gui-21.07.x86_64.Fedora_31.rpm">v21.07</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/21.07/bwfmetaedit-21.07.x86_64.Fedora_31.rpm">v21.07</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="8" id="29">29</th>
    <th rowspan="2" id="29.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/1.3.8/bwfmetaedit-gui-1.3.8.x86_64.Fedora_29.rpm">v1.3.8</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/1.3.8/bwfmetaedit-1.3.8.x86_64.Fedora_29.rpm">v1.3.8</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="29.i686">i686</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/1.3.6/bwfmetaedit-gui-1.3.6.i686.Fedora_29.rpm">v1.3.6</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/1.3.6/bwfmetaedit-1.3.6.i686.Fedora_29.rpm">v1.3.6</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="29.armv7l">armv7l</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/1.3.8/bwfmetaedit-gui-1.3.8.armv7l.Fedora_29.rpm">v1.3.8</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/1.3.8/bwfmetaedit-1.3.8.armv7l.Fedora_29.rpm">v1.3.8</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="29.aarch64">aarch64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/1.3.8/bwfmetaedit-gui-1.3.8.aarch64.Fedora_29.rpm">v1.3.8</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/1.3.8/bwfmetaedit-1.3.8.aarch64.Fedora_29.rpm">v1.3.8</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="28">28</th>
    <th rowspan="2" id="28.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/1.3.8/bwfmetaedit-gui-1.3.8.x86_64.Fedora_28.rpm">v1.3.8</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/1.3.8/bwfmetaedit-1.3.8.x86_64.Fedora_28.rpm">v1.3.8</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="27">27</th>
    <th rowspan="2" id="27.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/1.3.8/bwfmetaedit-gui-1.3.8.x86_64.Fedora_27.rpm">v1.3.8</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/1.3.8/bwfmetaedit-1.3.8.x86_64.Fedora_27.rpm">v1.3.8</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="26">26</th>
    <th rowspan="2" id="26.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/1.3.8/bwfmetaedit-gui-1.3.8.x86_64.Fedora_26.rpm">v1.3.8</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/1.3.8/bwfmetaedit-1.3.8.x86_64.Fedora_26.rpm">v1.3.8</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="25">25</th>
    <th rowspan="2" id="25.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/1.3.3/bwfmetaedit-gui-1.3.3.x86_64.Fedora_25.rpm">v1.3.3</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/1.3.3/bwfmetaedit-1.3.3.x86_64.Fedora_25.rpm">v1.3.3</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="25.i686">i686</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/1.3.3/bwfmetaedit-gui-1.3.3.i686.Fedora_25.rpm">v1.3.3</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/1.3.3/bwfmetaedit-1.3.3.i686.Fedora_25.rpm">v1.3.3</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="24">24</th>
    <th rowspan="2" id="24.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/1.3.3/bwfmetaedit-gui-1.3.3.x86_64.Fedora_24.rpm">v1.3.3</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/1.3.3/bwfmetaedit-1.3.3.x86_64.Fedora_24.rpm">v1.3.3</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="24.i686">i686</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/1.3.3/bwfmetaedit-gui-1.3.3.i686.Fedora_24.rpm">v1.3.3</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/1.3.3/bwfmetaedit-1.3.3.i686.Fedora_24.rpm">v1.3.3</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="23">23</th>
    <th rowspan="2" id="23.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/1.3.1.1/bwfmetaedit-gui-1.3.1.1.x86_64.Fedora_23.rpm">v1.3.1.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/1.3.1.1/bwfmetaedit-1.3.1.1.x86_64.Fedora_23.rpm">v1.3.1.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="23.i686">i686</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/1.3.1.1/bwfmetaedit-gui-1.3.1.1.i686.Fedora_23.rpm">v1.3.1.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/1.3.1.1/bwfmetaedit-1.3.1.1.i686.Fedora_23.rpm">v1.3.1.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="22">22</th>
    <th rowspan="2" id="22.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/1.3.1.1/bwfmetaedit-gui-1.3.1.1.x86_64.Fedora_22.rpm">v1.3.1.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/1.3.1.1/bwfmetaedit-1.3.1.1.x86_64.Fedora_22.rpm">v1.3.1.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="22.i686">i686</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/1.3.1.1/bwfmetaedit-gui-1.3.1.1.i686.Fedora_22.rpm">v1.3.1.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/1.3.1.1/bwfmetaedit-1.3.1.1.i686.Fedora_22.rpm">v1.3.1.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="21">21</th>
    <th rowspan="2" id="21.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/1.3.1.1/bwfmetaedit-gui-1.3.1.1.x86_64.Fedora_21.rpm">v1.3.1.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/1.3.1.1/bwfmetaedit-1.3.1.1.x86_64.Fedora_21.rpm">v1.3.1.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="21.i686">i686</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/1.3.1.1/bwfmetaedit-gui-1.3.1.1.i686.Fedora_21.rpm">v1.3.1.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/1.3.1.1/bwfmetaedit-1.3.1.1.i686.Fedora_21.rpm">v1.3.1.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="20">20 (Heisenbug)</th>
    <th rowspan="2" id="20.x86_64">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/1.3.1.1/bwfmetaedit-gui-1.3.1.1.x86_64.Fedora_20.rpm">v1.3.1.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/1.3.1.1/bwfmetaedit-1.3.1.1.x86_64.Fedora_20.rpm">v1.3.1.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="20.i686">i686</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/1.3.1.1/bwfmetaedit-gui-1.3.1.1.i686.Fedora_20.rpm">v1.3.1.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/1.3.1.1/bwfmetaedit-1.3.1.1.i686.Fedora_20.rpm">v1.3.1.1</a></td>
    <td>&nbsp;</td>
</tr>
