{% extends 'BWFMetaEditBundle::base.html.twig' %}

{% block title %}BWF MetaEdit - Download BWF MetaEdit for Mac OS{% endblock %}

{% block body %}
<h1>Download - Mac OS</h1>
{% image '@AppBundle/Resources/public/img/OS/Mac_OS.png' %}
<img src="{{ asset_url }}" alt="Mac OS" title="Mac OS" width="250" height="100"><br />
{% endimage %}

<div class="table-responsive">
<table class="download table table-bordered table-condensed">
<thead>
<tr class="table-header">
    <th>Version</th>
    <th>Architecture</th>
    <th>Interface</th>
    <th>Version</th>
    <th>Comment</th>
</tr>
</thead>
<tbody>
{% include 'BWFMetaEditBundle:Download:macTable.html.twig' %}
</tbody>
</table>
</div>
{% endblock %}
