<tr>
    <th rowspan="2" colspan="2"><a href="https://geo.itunes.apple.com/app/bwfmetaedit/id860703858">Mac App Store</a></th>
    <td class="table-OS" colspan="3">macOS 10.7 to 10.13, x86_64</td>
</tr>
<tr>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td colspan="2">Mac App Store is the simplest way to find and download apps for your Mac.<br><a href="https://geo.itunes.apple.com/app/bwfmetaedit/id860703858">Get BWFMetaEdit v21.07 from Mac App Store!</a></td>
</tr>
<tr>
    <td colspan="5">&nbsp;<br>&nbsp;</td>
</tr>
<tr>
    <th rowspan="2">10.5&nbsp;(Leopard),<br> 10.6&nbsp;(Snow&nbsp;Leopard),<br>10.7&nbsp;(Lion),<br>10.8&nbsp;(Mountain&nbsp;Lion),<br>10.9&nbsp;(Mavericks),<br>10.10&nbsp;(Yosemite),<br>10.11&nbsp;(El&nbsp;Captain),<br>10.12&nbsp;(Sierra),<br>10.13&nbsp;(High&nbsp;Sierra)</th>
    <th rowspan="2">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/21.07/BWFMetaEdit_GUI_21.07_Mac.dmg">v21.07</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/21.07/BWFMetaEdit_CLI_21.07_Mac.dmg">v21.07</a></td>
    <td>&nbsp;</td>
</tr>
