<tr>
    <th rowspan="2" colspan="2"><a href="https://geo.itunes.apple.com/app/bwfmetaedit/id860703858">Mac App Store</a></th>
    <td class="table-OS" colspan="3">macOS 10.12 to 13, x86_64</td>
</tr>
<tr>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td colspan="2">Mac App Store is the simplest way to find and download apps for your Mac.<br><a href="https://geo.itunes.apple.com/app/bwfmetaedit/id860703858">Get BWFMetaEdit v24.05 from Mac App Store!</a></td>
</tr>
<tr>
    <td colspan="5">&nbsp;<br>&nbsp;</td>
</tr>
<tr>
    <th rowspan="2">macOS 10.12 to 13, x86_64</th>
    <th rowspan="2">x86_64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/24.05/BWFMetaEdit_GUI_24.05_Mac.dmg">v24.05</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/24.05/BWFMetaEdit_CLI_24.05_Mac.dmg">v24.05</a></td>
    <td>&nbsp;</td>
</tr>
