<tr>
    <th rowspan="1" id="12_SP1">12 SP1</th>
    <th rowspan="1" id="12_SP1.x86_64">x86_64</th>
    <td>GUI</td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/1.3.1.1//bwfmetaedit-1.3.1.1.x86_64.SLE_12_SP1.rpm">v1.3.1.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="1" id="12">12</th>
    <th rowspan="1" id="12.x86_64">x86_64</th>
    <td>GUI</td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/1.3.1.1//bwfmetaedit-1.3.1.1.x86_64.SLE_12.rpm">v1.3.1.1</a></td>
    <td>&nbsp;</td>
</tr>
