<tr>
    <th colspan="5">Split sources with .spec,<br>.desc and debian dir<br> for Linux package creation</th>
</tr>
<tr>
    <td class="table-OS" id="Split">Source code, split packages</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><a href="//mediaarea.net/download/source/bwfmetaedit/1.3.8/bwfmetaedit_1.3.8.tar.xz">v1.3.8</a> (<a href="//mediaarea.net/download/source/bwfmetaedit/1.3.8/bwfmetaedit_1.3.8.tar.bz2">bz2</a> / <a href="//mediaarea.net/download/source/bwfmetaedit/1.3.8/bwfmetaedit_1.3.8.tar.gz">gz</a>)</td>
    <td>&nbsp;</td>
</tr>
