<tr>
    <th colspan="4">For automatic update and easiest installation, enable MediaArea software repository for Ubuntu<br>search for "BWF MetaEdit" in your package manager<br>or "apt-get install bwfmetaedit-gui" (for GUI)<br> or "apt-get install bwfmetaedit" (for CLI)</th>
    <td><a href="{{ path('ma_repos') }}">Activate MediaArea Repository</a></td>
</tr>
<tr>
    <th colspan="5">Notes for installing the packages below:<br>"sudo dpkg -i *deb"<br><br>If you get an error message, use:<br>"sudo apt-get -f install"</th>
</tr>

<tr>
    <th rowspan="2" id="21.04">Ubuntu 21.04 (Hirsute Hippo)</th>
    <th rowspan="2" id="21.04.amd64">amd64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/21.07/bwfmetaedit-gui_21.07-1_amd64.xUbuntu_21.04.deb">v21.07</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/21.07/bwfmetaedit_21.07-1_amd64.xUbuntu_21.04.deb">v21.07</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="2" id="20.10">Ubuntu 20.10 (Groovy Gorilla)</th>
    <th rowspan="2" id="20.10.amd64">amd64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/21.07/bwfmetaedit-gui_21.07-1_amd64.xUbuntu_20.10.deb">v21.07</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/21.07/bwfmetaedit_21.07-1_amd64.xUbuntu_20.10.deb">v21.07</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="2" id="20.04">Ubuntu 20.04 (Focal Fossa)</th>
    <th rowspan="2" id="20.04.amd64">amd64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/21.07/bwfmetaedit-gui_21.07-1_amd64.xUbuntu_20.04.deb">v21.07</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/21.07/bwfmetaedit_21.07-1_amd64.xUbuntu_20.04.deb">v21.07</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="18.10">Ubuntu 18.10 (Cosmic Cuttlefish)</th>
    <th rowspan="2" id="18.10.amd64">amd64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/1.3.8/bwfmetaedit-gui_1.3.8-1_amd64.xUbuntu_18.10.deb">v1.3.8</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/1.3.8/bwfmetaedit_1.3.8-1_amd64.xUbuntu_18.10.deb">v1.3.8</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="4" id="18.04">Ubuntu 18.04 (Bionic Beaver)</th>
    <th rowspan="2" id="18.04.amd64">amd64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/21.07/bwfmetaedit-gui_21.07-1_amd64.xUbuntu_18.04.deb">v21.07</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/21.07/bwfmetaedit_21.07-1_amd64.xUbuntu_18.04.deb">v21.07</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="2" id="18.04.i386">i386</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/21.07/bwfmetaedit-gui_21.07-1_i386.xUbuntu_18.04.deb">v21.07</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/21.07/bwfmetaedit_21.07-1_i386.xUbuntu_18.04.deb">v21.07</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="17.10">Ubuntu 17.10 (Artful Aardvark)</th>
    <th rowspan="2" id="17.10.amd64">amd64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/1.3.8/bwfmetaedit-gui_1.3.8-1_amd64.xUbuntu_17.10.deb">v1.3.8</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/1.3.8/bwfmetaedit_1.3.8-1_amd64.xUbuntu_17.10.deb">v1.3.8</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="17.10.i386">i386</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/1.3.8/bwfmetaedit-gui_1.3.8-1_i386.xUbuntu_17.10.deb">v1.3.8</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/1.3.8/bwfmetaedit_1.3.8-1_i386.xUbuntu_17.10.deb">v1.3.8</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="17.04">Ubuntu 17.04 (Zesty Zapus)</th>
    <th rowspan="2" id="17.04.amd64">amd64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/1.3.3/bwfmetaedit-gui_1.3.3-1_amd64.xUbuntu_17.04.deb">v1.3.3</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/1.3.3/bwfmetaedit_1.3.3-1_amd64.xUbuntu_17.04.deb">v1.3.3</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="17.04.i386">i386</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/1.3.3/bwfmetaedit-gui_1.3.3-1_i386.xUbuntu_17.04.deb">v1.3.3</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/1.3.3/bwfmetaedit_1.3.3-1_i386.xUbuntu_17.04.deb">v1.3.3</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="16.10">Ubuntu 16.10 (Yakkety Yak)</th>
    <th rowspan="2" id="16.10.amd64">amd64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/1.3.3/bwfmetaedit-gui_1.3.3-1_amd64.xUbuntu_16.10.deb">v1.3.3</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/1.3.3/bwfmetaedit_1.3.3-1_amd64.xUbuntu_16.10.deb">v1.3.3</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="16.10.i386">i386</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/1.3.3/bwfmetaedit-gui_1.3.3-1_i386.xUbuntu_16.10.deb">v1.3.3</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/1.3.3/bwfmetaedit_1.3.3-1_i386.xUbuntu_16.10.deb">v1.3.3</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="16.04">Ubuntu 16.04 (Xenial Xerus)<br>Linux Mint 18.3 (Sylvia)</th>
    <th rowspan="2" id="16.04.amd64">amd64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/1.3.8/bwfmetaedit-gui_1.3.8-1_amd64.xUbuntu_16.04.deb">v1.3.8</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/1.3.8/bwfmetaedit_1.3.8-1_amd64.xUbuntu_16.04.deb">v1.3.8</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="16.04.i386">i386</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/1.3.8/bwfmetaedit-gui_1.3.8-1_i386.xUbuntu_16.04.deb">v1.3.8</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/1.3.8/bwfmetaedit_1.3.8-1_i386.xUbuntu_16.04.deb">v1.3.8</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="15.10">Ubuntu 15.10 (Wily Werewolf)</th>
    <th rowspan="2" id="15.10.amd64">amd64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/1.3.1.1/bwfmetaedit-gui_1.3.1.1-1_amd64.xUbuntu_15.10.deb">v1.3.1.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/1.3.1.1/bwfmetaedit_1.3.1.1-1_amd64.xUbuntu_15.10.deb">v1.3.1.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="15.10.i386">i386</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/1.3.1.1/bwfmetaedit-gui_1.3.1.1-1_i386.xUbuntu_15.10.deb">v1.3.1.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/1.3.1.1/bwfmetaedit_1.3.1.1-1_i386.xUbuntu_15.10.deb">v1.3.1.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="15.04">Ubuntu 15.04 (Vivid Vervet)</th>
    <th rowspan="2" id="15.04.amd64">amd64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/1.3.1.1/bwfmetaedit-gui_1.3.1.1-1_amd64.xUbuntu_15.04.deb">v1.3.1.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/1.3.1.1/bwfmetaedit_1.3.1.1-1_amd64.xUbuntu_15.04.deb">v1.3.1.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="15.04.i386">i386</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/1.3.1.1/bwfmetaedit-gui_1.3.1.1-1_i386.xUbuntu_15.04.deb">v1.3.1.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/1.3.1.1/bwfmetaedit_1.3.1.1-1_i386.xUbuntu_15.04.deb">v1.3.1.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="14.10">Ubuntu 14.10 (Utopic Unicorn)</th>
    <th rowspan="2" id="14.10.amd64">amd64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/1.3.1.1/bwfmetaedit-gui_1.3.1.1-1_amd64.xUbuntu_14.10.deb">v1.3.1.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/1.3.1.1/bwfmetaedit_1.3.1.1-1_amd64.xUbuntu_14.10.deb">v1.3.1.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="14.10.i386">i386</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/1.3.1.1/bwfmetaedit-gui_1.3.1.1-1_i386.xUbuntu_14.10.deb">v1.3.1.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/1.3.1.1/bwfmetaedit_1.3.1.1-1_i386.xUbuntu_14.10.deb">v1.3.1.1</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="14.04">Ubuntu 14.04 (Trusty Tahr)<br><br>Linux Mint 17 (Qiana)<br><br>Linux Mint 17.1 (Rebecca)<br><br>Linux Mint 17.2 (Rafaela)<br><br>Linux Mint 17.3 (Rosa)</th>
    <th rowspan="2" id="14.04.amd64">amd64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/1.3.8/bwfmetaedit-gui_1.3.8-1_amd64.xUbuntu_14.04.deb">v1.3.8</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/1.3.8/bwfmetaedit_1.3.8-1_amd64.xUbuntu_14.04.deb">v1.3.8</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="14.04.i386">i386</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/1.3.8/bwfmetaedit-gui_1.3.8-1_i386.xUbuntu_14.04.deb">v1.3.8</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/1.3.8/bwfmetaedit_1.3.8-1_i386.xUbuntu_14.04.deb">v1.3.8</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="12.04">Ubuntu 12.04 (Precise Pangolin)<br><br> Linux Mint 13 (Maya)</th>
    <th rowspan="2" id="12.04.amd64">amd64</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/1.3.8/bwfmetaedit-gui_1.3.8-1_amd64.xUbuntu_12.04.deb">v1.3.8</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/1.3.8/bwfmetaedit_1.3.8-1_amd64.xUbuntu_12.04.deb">v1.3.8</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2" id="12.04.i386">i386</th>
    <td><abbr title="Graphical User Interface">GUI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/1.3.8/bwfmetaedit-gui_1.3.8-1_i386.xUbuntu_12.04.deb">v1.3.8</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <td><abbr title="Command Line Interface">CLI</abbr></td>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/1.3.8/bwfmetaedit_1.3.8-1_i386.xUbuntu_12.04.deb">v1.3.8</a></td>
    <td>&nbsp;</td>
</tr>
