<tr>
    <th rowspan="4">Vista, 7, 8, 10, 11</th>
    <th rowspan="2">64 bit</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/25.04.1/BWFMetaEdit_GUI_25.04.1_Windows_x64.exe">v25.04.1</a> <small>(<a href="//mediaarea.net/download/binary/bwfmetaedit-gui/25.04.1/BWFMetaEdit_GUI_25.04.1_Windows_x64_WithoutInstaller.zip"> without installer</a>)</small></td>
    <td></td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/25.04.1/BWFMetaEdit_CLI_25.04.1_Windows_x64.zip">v25.04.1</a></td>
    <td></td>
</tr>
<tr>
    <th rowspan="2">32 bit</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/25.04.1/BWFMetaEdit_GUI_25.04.1_Windows_i386.exe">v25.04.1</a> <small> (<a href="//mediaarea.net/download/binary/bwfmetaedit-gui/25.04.1/BWFMetaEdit_GUI_25.04.1_Windows_i386_WithoutInstaller.zip">without installer</a>)</small></td>
    <td></td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/25.04.1/BWFMetaEdit_CLI_25.04.1_Windows_i386.zip">v25.04.1</a></td>
    <td></td>
</tr>
