<tr>
    <th rowspan="4">Vista, 7, 8, 10</th>
    <th rowspan="2">64 bit</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/23.04/BWFMetaEdit_GUI_23.04_Windows_x64.exe">v23.04</a> <small>(<a href="//mediaarea.net/download/binary/bwfmetaedit-gui/23.04/BWFMetaEdit_GUI_23.04_Windows_x64_WithoutInstaller.zip"> without installer</a>)</small></td>
    <td></td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/23.04/BWFMetaEdit_CLI_23.04_Windows_x64.zip">v23.04</a></td>
    <td></td>
</tr>
<tr>
    <th rowspan="2">32 bit</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit-gui/23.04/BWFMetaEdit_GUI_23.04_Windows_i386.exe">v23.04</a> <small> (<a href="//mediaarea.net/download/binary/bwfmetaedit-gui/23.04/BWFMetaEdit_GUI_23.04_Windows_i386_WithoutInstaller.zip">without installer</a>)</small></td>
    <td></td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/bwfmetaedit/23.04/BWFMetaEdit_CLI_23.04_Windows_i386.zip">v23.04</a></td>
    <td></td>
</tr>
