<tr>
    <th colspan="4">Download the AppImage corresponding to your architecture then, e.g for mediaconch-gui:<br />- Make it executable "chmod +x mediaconch-gui-*.AppImage"<br/>- Run the AppImage "./mediaconch-gui-*.AppImage"</th>
</tr>
<tr>
    <th rowspan="3">64 bit</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/17.12/mediaconch-gui-17.12.glibc2.4-x86_64.AppImage">v17.12</td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/17.12/mediaconch-17.12.glibc2.3-x86_64.AppImage">v17.12</td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th><abbr title="Server">Server</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-server/17.12/mediaconch-server-17.12.glibc2.3-x86_64.AppImage">v17.12</td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="3">32 bit</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/17.12/mediaconch-gui-17.12.glibc2.4-i686.AppImage">v17.12</td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/17.12/mediaconch-17.12.glibc2.3-i686.AppImage">v17.12</td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th><abbr title="Server">Server</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-server/17.12/mediaconch-server-17.12.glibc2.3-i686.AppImage">v17.12</td>
    <td>&nbsp;</td>
</tr>
