<tr>
    <th colspan="5">Notes for installing the packages below:<br>"pacman -U *pkg.tar.xz"</th>
</tr>
<tr>
    <th rowspan="10" id="Extra">Extra</th>
    <th rowspan="5" id="Extra.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/18.03/mediaconch-gui-18.03-x86_64.Arch_Extra.pkg.tar.xz">v18.03</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/18.03/mediaconch-18.03-x86_64.Arch_Extra.pkg.tar.xz">v18.03</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr>
    <th><abbr title="Server">Server</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-server/18.03/mediaconch-server-18.03-x86_64.Arch_Extra.pkg.tar.xz">v18.03</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr>
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/18.03/libmediainfo-18.03-x86_64.Arch_Extra.pkg.tar.xz">v18.03</a></td>
    <td>requires libzen</td>
</tr>
<tr>
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-0.4.37-x86_64.Arch_Extra.pkg.tar.xz">v0.4.37</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="5" id="Extra.i686">i686</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/17.08/mediaconch-gui-17.08-i686.Arch_Extra.pkg.tar.xz">v17.08</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/17.08/mediaconch-17.08-i686.Arch_Extra.pkg.tar.xz">v17.08</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr>
    <th><abbr title="Server">Server</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-server/17.08/mediaconch-server-17.08-i686.Arch_Extra.pkg.tar.xz">v17.08</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr>
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/17.10/libmediainfo-17.10-i686.Arch_Extra.pkg.tar.xz">v17.10</a></td>
    <td>requires libzen</td>
</tr>
<tr>
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-0.4.37-i686.Arch_Extra.pkg.tar.xz">v0.4.37</a></td>
    <td>&nbsp;</td>
</tr>
