<tr>
    <th colspan="4">For automatic update and easiest installation, enable MediaArea softwares repository for Debian<br>Search for "MediaConch" in your package manager<br>or "apt-get install mediaconch-gui" (for GUI)<br> or "apt-get install mediaconch-server" (for Server)<br> or "apt-get install mediaconch" (for CLI)</th>
    <td><a href="{{ path('ma_repos') }}">Activate MediaArea Repository</a></td>
</tr>
<tr>
    <th colspan="4">Official distribution packages (Debian 9 AKA Stretch)<br>Search for "MediaConch" in your package manager<br>or "apt-get install mediaconch-gui" (for GUI)<br> or "apt-get install mediaconch" (for CLI)</th>
    <td><a href="https://packages.debian.org/search?suite=stretch&amp;searchon=names&amp;keywords=mediaconch" target="_blank">Debian Stretch package database</a></td>
</tr>
<tr>
    <th colspan="5">Notes for installing the packages below:<br>"sudo dpkg -i *deb"<br><br>If you get an error message, use:<br>"sudo apt-get -f install"</th>
</tr>
<tr>
    <th rowspan="10" id="9">9 (Stretch)</th>
    <th rowspan="5" id="9.amd64">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/18.03.2/mediaconch-gui_18.03.2-1_amd64.Debian_9.0.deb">v18.03.2</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/18.03.2/mediaconch_18.03.2-1_amd64.Debian_9.0.deb">v18.03.2</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Server">Server</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-server/18.03.2/mediaconch-server_18.03.2-1_amd64.Debian_9.0.deb">v18.03.2</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/18.03.2/libmediainfo0v5_18.03.2-1_amd64.Debian_9.0.deb">v18.03.2</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/18.03.2/libmediainfo-dev_18.03.2-1_amd64.Debian_9.0.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/18.03.2/libmediainfo-doc_18.03.2-1_amd64.Debian_9.0.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen0v5_0.4.37-1_amd64.Debian_9.0.deb">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-dev_0.4.37-1_amd64.Debian_9.0.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc_0.4.37-1_amd64.Debian_9.0.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="5" id="9.i386">i386</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/18.03.2/mediaconch-gui_18.03.2-1_i386.Debian_9.0.deb">v18.03.2</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/18.03.2/mediaconch_18.03.2-1_i386.Debian_9.0.deb">v18.03.2</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Server">Server</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-server/18.03.2/mediaconch-server_18.03.2-1_i386.Debian_9.0.deb">v18.03.2</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/18.03.2/libmediainfo0v5_18.03.2-1_i386.Debian_9.0.deb">v18.03.2</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/18.03.2/libmediainfo-dev_18.03.2-1_i386.Debian_9.0.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/18.03.2/libmediainfo-doc_18.03.2-1_i386.Debian_9.0.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen0v5_0.4.37-1_i386.Debian_9.0.deb">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-dev_0.4.37-1_i386.Debian_9.0.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc_0.4.37-1_i386.Debian_9.0.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="10" id="8">8 (Jessie)</th>
    <th rowspan="5" id="8.amd64">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/18.03.2/mediaconch-gui_18.03.2-1_amd64.Debian_8.0.deb">v18.03.2</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/18.03.2/mediaconch_18.03.2-1_amd64.Debian_8.0.deb">v18.03.2</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Server">Server</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-server/18.03.2/mediaconch-server_18.03.2-1_amd64.Debian_8.0.deb">v18.03.2</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/18.03.2/libmediainfo0_18.03.2-1_amd64.Debian_8.0.deb">v18.03.2</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/18.03.2/libmediainfo-dev_18.03.2-1_amd64.Debian_8.0.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/18.03.2/libmediainfo-doc_18.03.2-1_amd64.Debian_8.0.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen0_0.4.37-1_amd64.Debian_8.0.deb">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-dev_0.4.37-1_amd64.Debian_8.0.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc_0.4.37-1_amd64.Debian_8.0.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="5" id="8.i386">i386</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/18.03.2/mediaconch-gui_18.03.2-1_i386.Debian_8.0.deb">v18.03.2</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/18.03.2/mediaconch_18.03.2-1_i386.Debian_8.0.deb">v18.03.2</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Server">Server</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-server/18.03.2/mediaconch-server_18.03.2-1_i386.Debian_8.0.deb">v18.03.2</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/18.03.2/libmediainfo0_18.03.2-1_i386.Debian_8.0.deb">v18.03.2</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/18.03.2/libmediainfo-dev_18.03.2-1_i386.Debian_8.0.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/18.03.2/libmediainfo-doc_18.03.2-1_i386.Debian_8.0.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen0_0.4.37-1_i386.Debian_8.0.deb">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-dev_0.4.37-1_i386.Debian_8.0.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc_0.4.37-1_i386.Debian_8.0.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="10" id="7">7 (Wheezy)</th>
    <th rowspan="5" id="7.amd64">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/18.03.2/mediaconch-gui_18.03.2-1_amd64.Debian_7.0.deb">v18.03.2</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/18.03.2/mediaconch_18.03.2-1_amd64.Debian_7.0.deb">v18.03.2</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Server">Server</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-server/18.03.2/mediaconch-server_18.03.2-1_amd64.Debian_7.0.deb">v18.03.2</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/18.03.2/libmediainfo0_18.03.2-1_amd64.Debian_7.0.deb">v18.03.2</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/18.03.2/libmediainfo-dev_18.03.2-1_amd64.Debian_7.0.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/18.03.2/libmediainfo-doc_18.03.2-1_amd64.Debian_7.0.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen0_0.4.37-1_amd64.Debian_7.0.deb">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-dev_0.4.37-1_amd64.Debian_7.0.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc_0.4.37-1_amd64.Debian_7.0.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="5" id="7.i386">i386</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/18.03.2/mediaconch-gui_18.03.2-1_i386.Debian_7.0.deb">v18.03.2</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/18.03.2/mediaconch_18.03.2-1_i386.Debian_7.0.deb">v18.03.2</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Server">Server</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-server/18.03.2/mediaconch-server_18.03.2-1_i386.Debian_7.0.deb">v18.03.2</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/18.03.2/libmediainfo0_18.03.2-1_i386.Debian_7.0.deb">v18.03.2</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/18.03.2/libmediainfo-dev_18.03.2-1_i386.Debian_7.0.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/18.03.2/libmediainfo-doc_18.03.2-1_i386.Debian_7.0.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen0_0.4.37-1_i386.Debian_7.0.deb">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-dev_0.4.37-1_i386.Debian_7.0.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc_0.4.37-1_i386.Debian_7.0.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
