<tr>
    <th colspan="4">For automatic update and easiest installation, enable MediaArea software repository for Fedora<br>search for "MediaConch" in your package manager<br>or "yum install mediaconch-gui" (for GUI)<br> or "yum install mediaconch-server" (for Server)<br> or "yum install mediaconch" (for CLI)</th>
    <td><a href='{{ path('ma_repos') }}'>Activate MediaArea Repository</a></td>
</tr>
<tr>
    <th colspan="4">Official distribution packages (Starting from Fedora 25)<br>search for "MediaConch" in your package manager<br>or "yum install mediaconch-gui" (for GUI)<br> or "yum install mediaconch-server" (for Server)<br> or "yum install mediaconch" (for CLI)</th>
    <td><a href="https://koji.fedoraproject.org/koji/packageinfo?packageID=24411" target="_blank">Fedora packages search</a></td>
</tr>
<tr>
    <th rowspan="6" id="40">40</th>
    <th rowspan="6" id="40.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/25.04/mediaconch-gui-25.04.x86_64.Fedora_40.rpm">v25.04</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/25.04/mediaconch-25.04.x86_64.Fedora_40.rpm">v25.04</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr>
    <th><abbr title="Server">Server</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-server/25.04/mediaconch-server-25.04.x86_64.Fedora_40.rpm">v25.04</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr>
    <th>libmediaconch</th>
    <td><a href="//mediaarea.net/download/binary/libmediaconch0/25.04/libmediaconch-25.04.x86_64.Fedora_40.rpm">v25.04</a> <small>(<a href="//mediaarea.net/download/binary/libmediaconch0/25.04/libmediaconch-devel-25.04.x86_64.Fedora_40.rpm">devel</a>)</small></td>
    <td>requires libmediainfo</td>
</tr>
<tr>
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/25.04/libmediainfo-25.04.x86_64.Fedora_40.rpm">v25.04</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/25.04/libmediainfo-devel-25.04.x86_64.Fedora_40.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/25.04/libmediainfo-doc-25.04.x86_64.Fedora_40.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr>
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen-0.4.41.x86_64.Fedora_40.rpm">v0.4.41</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen-devel-0.4.41.x86_64.Fedora_40.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen-doc-0.4.41.x86_64.Fedora_40.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="6" id="39">39</th>
    <th rowspan="6" id="39.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/24.06/mediaconch-gui-24.06.x86_64.Fedora_39.rpm">v24.06</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/24.06/mediaconch-24.06.x86_64.Fedora_39.rpm">v24.06</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Server">Server</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-server/24.06/mediaconch-server-24.06.x86_64.Fedora_39.rpm">v24.06</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediaconch</th>
    <td><a href="//mediaarea.net/download/binary/libmediaconch0/24.06/libmediaconch-24.06.x86_64.Fedora_39.rpm">v24.06</a> <small>(<a href="//mediaarea.net/download/binary/libmediaconch0/24.06/libmediaconch-devel-24.06.x86_64.Fedora_39.rpm">devel</a>)</small></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/24.06/libmediainfo-24.06.x86_64.Fedora_39.rpm">v24.06</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/24.06/libmediainfo-devel-24.06.x86_64.Fedora_39.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/24.06/libmediainfo-doc-24.06.x86_64.Fedora_39.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen-0.4.41.x86_64.Fedora_39.rpm">v0.4.41</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen-devel-0.4.41.x86_64.Fedora_39.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen-doc-0.4.41.x86_64.Fedora_39.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="6" id="38">38</th>
    <th rowspan="6" id="38.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/23.10/mediaconch-gui-23.10.x86_64.Fedora_38.rpm">v23.10</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/23.10/mediaconch-23.10.x86_64.Fedora_38.rpm">v23.10</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Server">Server</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-server/23.10/mediaconch-server-23.10.x86_64.Fedora_38.rpm">v23.10</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediaconch</th>
    <td><a href="//mediaarea.net/download/binary/libmediaconch0/23.10/libmediaconch-23.10.x86_64.Fedora_38.rpm">v23.10</a> <small>(<a href="//mediaarea.net/download/binary/libmediaconch0/23.10/libmediaconch-devel-23.10.x86_64.Fedora_38.rpm">devel</a>)</small></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/23.10/libmediainfo-23.10.x86_64.Fedora_38.rpm">v23.10</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/23.10/libmediainfo-devel-23.10.x86_64.Fedora_38.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/23.10/libmediainfo-doc-23.10.x86_64.Fedora_38.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen-0.4.41.x86_64.Fedora_38.rpm">v0.4.41</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen-devel-0.4.41.x86_64.Fedora_38.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen-doc-0.4.41.x86_64.Fedora_38.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="6" id="37">37</th>
    <th rowspan="6" id="37.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/23.10/mediaconch-gui-23.10.x86_64.Fedora_37.rpm">v23.10</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/23.10/mediaconch-23.10.x86_64.Fedora_37.rpm">v23.10</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Server">Server</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-server/23.10/mediaconch-server-23.10.x86_64.Fedora_37.rpm">v23.10</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediaconch</th>
    <td><a href="//mediaarea.net/download/binary/libmediaconch0/23.10/libmediaconch-23.10.x86_64.Fedora_37.rpm">v23.10</a> <small>(<a href="//mediaarea.net/download/binary/libmediaconch0/23.10/libmediaconch-devel-23.10.x86_64.Fedora_37.rpm">devel</a>)</small></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/23.10/libmediainfo-23.10.x86_64.Fedora_37.rpm">v23.10</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/23.10/libmediainfo-devel-23.10.x86_64.Fedora_37.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/23.10/libmediainfo-doc-23.10.x86_64.Fedora_37.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen-0.4.41.x86_64.Fedora_37.rpm">v0.4.41</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen-devel-0.4.41.x86_64.Fedora_37.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen-doc-0.4.41.x86_64.Fedora_37.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="6" id="35">35</th>
    <th rowspan="6" id="35.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/22.09/mediaconch-gui-22.09.x86_64.Fedora_35.rpm">v22.09</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/22.09/mediaconch-22.09.x86_64.Fedora_35.rpm">v22.09</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Server">Server</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-server/22.09/mediaconch-server-22.09.x86_64.Fedora_35.rpm">v22.09</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediaconch</th>
    <td><a href="//mediaarea.net/download/binary/libmediaconch0/22.09/libmediaconch-22.09.x86_64.Fedora_35.rpm">v22.09</a> <small>(<a href="//mediaarea.net/download/binary/libmediaconch0/22.09/libmediaconch-devel-22.09.x86_64.Fedora_35.rpm">devel</a>)</small></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/22.09/libmediainfo-22.09.x86_64.Fedora_35.rpm">v22.09</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/22.09/libmediainfo-devel-22.09.x86_64.Fedora_35.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/22.09/libmediainfo-doc-22.09.x86_64.Fedora_35.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-0.4.39.x86_64.Fedora_35.rpm">v0.4.39</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-devel-0.4.39.x86_64.Fedora_35.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-doc-0.4.39.x86_64.Fedora_35.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="6" id="34">34</th>
    <th rowspan="6" id="34.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/22.09/mediaconch-gui-22.09.x86_64.Fedora_34.rpm">v22.09</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/22.09/mediaconch-22.09.x86_64.Fedora_34.rpm">v22.09</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Server">Server</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-server/22.09/mediaconch-server-22.09.x86_64.Fedora_34.rpm">v22.09</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediaconch</th>
    <td><a href="//mediaarea.net/download/binary/libmediaconch0/22.09/libmediaconch-22.09.x86_64.Fedora_34.rpm">v22.09</a> <small>(<a href="//mediaarea.net/download/binary/libmediaconch0/22.09/libmediaconch-devel-22.09.x86_64.Fedora_34.rpm">devel</a>)</small></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/22.09/libmediainfo-22.09.x86_64.Fedora_34.rpm">v22.09</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/22.09/libmediainfo-devel-22.09.x86_64.Fedora_34.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/22.09/libmediainfo-doc-22.09.x86_64.Fedora_34.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-0.4.39.x86_64.Fedora_34.rpm">v0.4.39</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-devel-0.4.39.x86_64.Fedora_34.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-doc-0.4.39.x86_64.Fedora_34.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="15" id="29">29</th>
    <th rowspan="5" id="29.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/18.03.2/mediaconch-gui-18.03.2.x86_64.Fedora_29.rpm">v18.03.2</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/18.03.2/mediaconch-18.03.2.x86_64.Fedora_29.rpm">v18.03.2</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Server">Server</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-server/18.03.2/mediaconch-server-18.03.2.x86_64.Fedora_29.rpm">v18.03.2</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/18.12/libmediainfo-18.12.x86_64.Fedora_29.rpm">v18.12</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/18.12/libmediainfo-devel-18.12.x86_64.Fedora_29.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/18.12/libmediainfo-doc-18.12.x86_64.Fedora_29.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-0.4.37.x86_64.Fedora_29.rpm">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-devel-0.4.37.x86_64.Fedora_29.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc-0.4.37.x86_64.Fedora_29.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="5" id="29.armv7l">armv7l</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/18.03.2/mediaconch-gui-18.03.2.armv7l.Fedora_29.rpm">v18.03.2</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/18.03.2/mediaconch-18.03.2.armv7l.Fedora_29.rpm">v18.03.2</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Server">Server</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-server/18.03.2/mediaconch-server-18.03.2.armv7l.Fedora_29.rpm">v18.03.2</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/18.12/libmediainfo-18.12.armv7l.Fedora_29.rpm">v18.12</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/18.12/libmediainfo-devel-18.12.armv7l.Fedora_29.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/18.12/libmediainfo-doc-18.12.armv7l.Fedora_29.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-0.4.37.armv7l.Fedora_29.rpm">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-devel-0.4.37.armv7l.Fedora_29.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc-0.4.37.armv7l.Fedora_29.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="5" id="29.aarch64">aarch64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/18.03.2/mediaconch-gui-18.03.2.aarch64.Fedora_29.rpm">v18.03.2</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/18.03.2/mediaconch-18.03.2.aarch64.Fedora_29.rpm">v18.03.2</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Server">Server</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-server/18.03.2/mediaconch-server-18.03.2.aarch64.Fedora_29.rpm">v18.03.2</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/18.12/libmediainfo-18.12.aarch64.Fedora_29.rpm">v18.12</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/18.12/libmediainfo-devel-18.12.aarch64.Fedora_29.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/18.12/libmediainfo-doc-18.12.aarch64.Fedora_29.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-0.4.37.aarch64.Fedora_29.rpm">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-devel-0.4.37.aarch64.Fedora_29.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc-0.4.37.aarch64.Fedora_29.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="5" id="28">28</th>
    <th rowspan="5" id="28.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/18.03.2/mediaconch-gui-18.03.2.x86_64.Fedora_28.rpm">v18.03.2</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/18.03.2/mediaconch-18.03.2.x86_64.Fedora_28.rpm">v18.03.2</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Server">Server</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-server/18.03.2/mediaconch-server-18.03.2.x86_64.Fedora_28.rpm">v18.03.2</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/18.05/libmediainfo-18.05.x86_64.Fedora_28.rpm">v18.05</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/18.05/libmediainfo-devel-18.05.x86_64.Fedora_28.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/18.05/libmediainfo-doc-18.05.x86_64.Fedora_28.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-0.4.37.x86_64.Fedora_28.rpm">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-devel-0.4.37.x86_64.Fedora_28.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc-0.4.37.x86_64.Fedora_28.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="5" id="27">27</th>
    <th rowspan="5" id="27.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/18.03.2/mediaconch-gui-18.03.2.x86_64.Fedora_27.rpm">v18.03.2</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/18.03.2/mediaconch-18.03.2.x86_64.Fedora_27.rpm">v18.03.2</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Server">Server</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-server/18.03.2/mediaconch-server-18.03.2.x86_64.Fedora_27.rpm">v18.03.2</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/18.03.1/libmediainfo-18.03.1.x86_64.Fedora_27.rpm">v18.03.2</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/18.03.1/libmediainfo-devel-18.03.1.x86_64.Fedora_27.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/18.03.1/libmediainfo-doc-18.03.1.x86_64.Fedora_27.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-0.4.37.x86_64.Fedora_27.rpm">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-devel-0.4.37.x86_64.Fedora_27.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc-0.4.37.x86_64.Fedora_27.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="5" id="26">26</th>
    <th rowspan="5" id="26.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/18.03.2/mediaconch-gui-18.03.2.x86_64.Fedora_26.rpm">v18.03.2</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/18.03.2/mediaconch-18.03.2.x86_64.Fedora_26.rpm">v18.03.2</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Server">Server</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-server/18.03.2/mediaconch-server-18.03.2.x86_64.Fedora_26.rpm">v18.03.2</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/18.03.1/libmediainfo-18.03.1.x86_64.Fedora_26.rpm">v18.03.2</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/18.03.1/libmediainfo-devel-18.03.1.x86_64.Fedora_26.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/18.03.1/libmediainfo-doc-18.03.1.x86_64.Fedora_26.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-0.4.37.x86_64.Fedora_26.rpm">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-devel-0.4.37.x86_64.Fedora_26.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc-0.4.37.x86_64.Fedora_26.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="10" id="25">25</th>
    <th rowspan="5" id="25.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/18.03.2/mediaconch-gui-18.03.2.x86_64.Fedora_25.rpm">v18.03.2</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/18.03.2/mediaconch-18.03.2.x86_64.Fedora_25.rpm">v18.03.2</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Server">Server</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-server/18.03.2/mediaconch-server-18.03.2.x86_64.Fedora_25.rpm">v18.03.2</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/18.03.1/libmediainfo-18.03.1.x86_64.Fedora_25.rpm">v18.03.2</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/18.03.1/libmediainfo-devel-18.03.1.x86_64.Fedora_25.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/18.03.1/libmediainfo-doc-18.03.1.x86_64.Fedora_25.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-0.4.37.x86_64.Fedora_25.rpm">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-devel-0.4.37.x86_64.Fedora_25.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc-0.4.37.x86_64.Fedora_25.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="5" id="25.i686">i686</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/18.03.2/mediaconch-gui-18.03.2.i686.Fedora_25.rpm">v18.03.2</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/18.03.2/mediaconch-18.03.2.i686.Fedora_25.rpm">v18.03.2</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Server">Server</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-server/18.03.2/mediaconch-server-18.03.2.i686.Fedora_25.rpm">v18.03.2</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/18.03.1/libmediainfo-18.03.1.i686.Fedora_25.rpm">v18.03.2</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/18.03.1/libmediainfo-devel-18.03.1.i686.Fedora_25.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/18.03.1/libmediainfo-doc-18.03.1.i686.Fedora_25.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-0.4.37.i686.Fedora_25.rpm">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-devel-0.4.37.i686.Fedora_25.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc-0.4.37.i686.Fedora_25.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="10" id="24">24</th>
    <th rowspan="5" id="24.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/18.03.2/mediaconch-gui-18.03.2.x86_64.Fedora_24.rpm">v18.03.2</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/18.03.2/mediaconch-18.03.2.x86_64.Fedora_24.rpm">v18.03.2</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Server">Server</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-server/18.03.2/mediaconch-server-18.03.2.x86_64.Fedora_24.rpm">v18.03.2</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/18.03.1/libmediainfo-18.03.1.x86_64.Fedora_24.rpm">v18.03.2</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/18.03.1/libmediainfo-devel-18.03.1.x86_64.Fedora_24.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/18.03.1/libmediainfo-doc-18.03.1.x86_64.Fedora_24.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-0.4.37.x86_64.Fedora_24.rpm">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-devel-0.4.37.x86_64.Fedora_24.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc-0.4.37.x86_64.Fedora_24.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="5" id="24.i686">i686</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/18.03.2/mediaconch-gui-18.03.2.i686.Fedora_24.rpm">v18.03.2</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/18.03.2/mediaconch-18.03.2.i686.Fedora_24.rpm">v18.03.2</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Server">Server</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-server/18.03.2/mediaconch-server-18.03.2.i686.Fedora_24.rpm">v18.03.2</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/18.03.1/libmediainfo-18.03.1.i686.Fedora_24.rpm">v18.03.2</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/18.03.1/libmediainfo-devel-18.03.1.i686.Fedora_24.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/18.03.1/libmediainfo-doc-18.03.1.i686.Fedora_24.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-0.4.37.i686.Fedora_24.rpm">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-devel-0.4.37.i686.Fedora_24.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc-0.4.37.i686.Fedora_24.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="10" id="23">23</th>
    <th rowspan="5" id="23.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/17.03/mediaconch-gui-17.03.x86_64.Fedora_23.rpm">v17.03</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/17.03/mediaconch-17.03.x86_64.Fedora_23.rpm">v17.03</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Server">Server</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-server/17.03/mediaconch-server-17.03.x86_64.Fedora_23.rpm">v17.03</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-0.7.94.x86_64.Fedora_23.rpm">v0.7.94</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-devel-0.7.94.x86_64.Fedora_23.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-doc-0.7.94.x86_64.Fedora_23.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-0.4.35.x86_64.Fedora_23.rpm">v0.4.35</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-devel-0.4.35.x86_64.Fedora_23.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-doc-0.4.35.x86_64.Fedora_23.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="5" id="23.i686">i686</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/17.03/mediaconch-gui-17.03.i686.Fedora_23.rpm">v17.03</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/17.03/mediaconch-17.03.i686.Fedora_23.rpm">v17.03</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Server">Server</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-server/17.03/mediaconch-server-17.03.i686.Fedora_23.rpm">v17.03</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-0.7.94.i686.Fedora_23.rpm">v0.7.94</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-devel-0.7.94.i686.Fedora_23.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-doc-0.7.94.i686.Fedora_23.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-0.4.35.i686.Fedora_23.rpm">v0.4.35</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-devel-0.4.35.i686.Fedora_23.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-doc-0.4.35.i686.Fedora_23.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="10" id="22">22</th>
    <th rowspan="5" id="22.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/17.03/mediaconch-gui-17.03.x86_64.Fedora_22.rpm">v17.03</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/17.03/mediaconch-17.03.x86_64.Fedora_22.rpm">v17.03</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Server">Server</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-server/17.03/mediaconch-server-17.03.x86_64.Fedora_22.rpm">v17.03</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-0.7.94.x86_64.Fedora_22.rpm">v0.7.94</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-devel-0.7.94.x86_64.Fedora_22.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-doc-0.7.94.x86_64.Fedora_22.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-0.4.35.x86_64.Fedora_22.rpm">v0.4.35</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-devel-0.4.35.x86_64.Fedora_22.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-doc-0.4.35.x86_64.Fedora_22.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="5" id="22.i686">i686</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/17.03/mediaconch-gui-17.03.i686.Fedora_22.rpm">v17.03</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/17.03/mediaconch-17.03.i686.Fedora_22.rpm">v17.03</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Server">Server</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-server/17.03/mediaconch-server-17.03.i686.Fedora_22.rpm">v17.03</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-0.7.94.i686.Fedora_22.rpm">v0.7.94</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-devel-0.7.94.i686.Fedora_22.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-doc-0.7.94.i686.Fedora_22.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-0.4.35.i686.Fedora_22.rpm">v0.4.35</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-devel-0.4.35.i686.Fedora_22.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-doc-0.4.35.i686.Fedora_22.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="10" id="21">21</th>
    <th rowspan="5" id="21.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/17.03/mediaconch-gui-17.03.x86_64.Fedora_21.rpm">v17.03</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/17.03/mediaconch-17.03.x86_64.Fedora_21.rpm">v17.03</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Server">Server</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-server/17.03/mediaconch-server-17.03.x86_64.Fedora_21.rpm">v17.03</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-0.7.94.x86_64.Fedora_21.rpm">v0.7.94</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-devel-0.7.94.x86_64.Fedora_21.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-doc-0.7.94.x86_64.Fedora_21.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-0.4.35.x86_64.Fedora_21.rpm">v0.4.35</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-devel-0.4.35.x86_64.Fedora_21.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-doc-0.4.35.x86_64.Fedora_21.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="5" id="21.i686">i686</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/17.03/mediaconch-gui-17.03.i686.Fedora_21.rpm">v17.03</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/17.03/mediaconch-17.03.i686.Fedora_21.rpm">v17.03</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Server">Server</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-server/17.03/mediaconch-server-17.03.i686.Fedora_21.rpm">v17.03</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-0.7.94.i686.Fedora_21.rpm">v0.7.94</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-devel-0.7.94.i686.Fedora_21.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-doc-0.7.94.i686.Fedora_21.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-0.4.35.i686.Fedora_21.rpm">v0.4.35</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-devel-0.4.35.i686.Fedora_21.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-doc-0.4.35.i686.Fedora_21.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="10" id="20">20 (Heisenbug)</th>
    <th rowspan="5" id="20.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/17.03/mediaconch-gui-17.03.x86_64.Fedora_20.rpm">v17.03</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/17.03/mediaconch-17.03.x86_64.Fedora_20.rpm">v17.03</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Server">Server</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-server/17.03/mediaconch-server-17.03.x86_64.Fedora_20.rpm">v17.03</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-0.7.94.x86_64.Fedora_20.rpm">v0.7.94</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-devel-0.7.94.x86_64.Fedora_20.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-doc-0.7.94.x86_64.Fedora_20.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-0.4.35.x86_64.Fedora_20.rpm">v0.4.35</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-devel-0.4.35.x86_64.Fedora_20.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-doc-0.4.35.x86_64.Fedora_20.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="5" id="20.i686">i686</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/17.03/mediaconch-gui-17.03.i686.Fedora_20.rpm">v17.03</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/17.03/mediaconch-17.03.i686.Fedora_20.rpm">v17.03</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Server">Server</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-server/17.03/mediaconch-server-17.03.i686.Fedora_20.rpm">v17.03</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-0.7.94.i686.Fedora_20.rpm">v0.7.94</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-devel-0.7.94.i686.Fedora_20.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-doc-0.7.94.i686.Fedora_20.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-0.4.35.i686.Fedora_20.rpm">v0.4.35</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-devel-0.4.35.i686.Fedora_20.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-doc-0.4.35.i686.Fedora_20.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
