<tr>
    <th>JavaScript module</th>
    <th><abbr title="Dynamic Link Library">DLL</abbr></th>
    <td>&nbsp;</td>
    <td><a href="//mediaarea.net/download/binary/libmediaconch0/22.03/MediaConch_DLL_22.03_JavaScript.zip">v22.03</a></td>
    <td>&nbsp;</td>
</tr>
