{% extends 'MediaConchBundle::base.html.twig' %}

{% block title %}MediaConch - Download MediaConch JavaScript Module{% endblock %}

{% block body %}
<h1>Download - JavaScript Module</h1>

<div class="table-responsive">
<table class="download table table-bordered table-condensed">
<thead>
<tr class="table-header">
    <th>Version</th>
    <th>Interface</th>
    <th>&nbsp;</th>
    <th>Version</th>
    <th>Comment</th>
</tr>
</thead>
<tbody>
{{ include('@MediaConch/Download/javascriptTable.html.twig') }}
</tbody>
</table>
</div>
{% endblock %}
