<tr>
    <th colspan="4">Download the CLI or Library archive and import it as a layer into your AWS lambda console</th>
</tr>
<tr>
    <th rowspan="2">x86_64</th>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/24.06/MediaConch_CLI_24.06_Lambda_x86_64.zip">v24.06</td>
    <td>Binary path is /opt/bin/MediaConch</td>
</tr>
<tr>
    <th><abbr title="Dynamic Link Library">DLL</abbr></th>
    <td><a href="//mediaarea.net/download/binary/libmediaconch0/24.06/MediaConch_DLL_24.06_Lambda_x86_64.zip">v24.06</td>
    <td>Library path is /opt/lib/libMediaConch.so</td>
</tr>
<tr>
    <th rowspan="2">arm64</th>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/24.06/MediaConch_CLI_24.06_Lambda_arm64.zip">v24.06</td>
    <td>Binary path is /opt/bin/MediaConch</td>
</tr>
<tr>
    <th><abbr title="Dynamic Link Library">DLL</abbr></th>
    <td><a href="//mediaarea.net/download/binary/libmediaconch0/24.06/MediaConch_DLL_24.06_Lambda_arm64.zip">v24.06</td>
    <td>Library path is /opt/lib/libMediaConch.so</td>
</tr>
