{% extends 'MediaConchBundle::base.html.twig' %}

{% block title %}MediaConch - Download MediaConch for AWS Lambda{% endblock %}

{% block body %}
<h1>Download - AWS Lambda</h1>
{% image '@AppBundle/Resources/public/img/OS/Lambda.png' %}
<img src="{{ asset_url }}" alt="Lambda" title="Lambda" width="350" height="99"><br />
{% endimage %}

<div class="table-responsive">
<table class="download table table-bordered table-condensed">
<thead>
<tr class="table-header">
    <th>Architecture</th>
    <th>Interface</th>
    <th>Version</th>
    <th>Comment</th>
</tr>
</thead>
<tbody>
{{ include('@MediaConch/Download/lambdaTable.html.twig') }}
</tbody>
</table>
</div>
{% endblock %}
