<tr>
    <th colspan="4">Download the CLI or Library archive and import it as a layer into your AWS lambda console</th>
</tr>
<tr>
    <th rowspan="2">x86_64</th>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/22.03/MediaConch_CLI_22.03_Lambda_x86_64.zip">v22.03</td>
    <td>Binary path is /opt/bin/MediaConch</td>
</tr>
<tr>
    <th><abbr title="Dynamic Link Library">DLL</abbr></th>
    <td><a href="//mediaarea.net/download/binary/libmediaconch0/22.03/MediaConch_DLL_22.03_Lambda_x86_64.zip">v22.03</td>
    <td>Library path is /opt/lib/libMediaConch.so</td>
</tr>
<tr>
    <th rowspan="2">arm64</th>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/22.03/MediaConch_CLI_22.03_Lambda_arm64.zip">v22.03</td>
    <td>Binary path is /opt/bin/MediaConch</td>
</tr>
<tr>
    <th><abbr title="Dynamic Link Library">DLL</abbr></th>
    <td><a href="//mediaarea.net/download/binary/libmediaconch0/22.03/MediaConch_DLL_22.03_Lambda_arm64.zip">v22.03</td>
    <td>Library path is /opt/lib/libMediaConch.so</td>
</tr>
