{% extends 'MediaConchBundle::base.html.twig' %}

{% block title %}MediaConch - Download MediaConch with Linuxbrew{% endblock %}

{% block body %}
<h1>Download - LinuxBrew</h1>

<div class="table-responsive">
<table class="download table table-bordered table-condensed">
<thead>
<tr class="table-header">
    <th>Version</th>
    <th>CPU</th>
    <th>Interface</th>
    <td>Version</td>
    <td>Comment</td>
</tr>
</thead>
<tbody>
<tr>
    <th colspan="3">If you use <a href="http://linuxbrew.sh/" target="_blank">Linuxbrew</a> you can install MediaConch by typing <code>brew install mediaconch</code> into your command line prompt</th>
    <td>&nbsp;</td>
    <td>Is currently up to date</td>
</tr>
</tbody>
</table>
</div>
{% endblock %}
