<tr>
    <th rowspan="2" colspan="2"><a href="https://geo.itunes.apple.com/app/mediaconch/id1183720451">Mac App Store</a></th>
    <td class="table-OS" colspan="3">macOS 10.10 to 12, x86_64</td>
</tr>
<tr>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td colspan="2">Mac App Store is the simplest way to find and download apps for your Mac.<br><a href="https://geo.itunes.apple.com/app/mediaconch/id1183720451">Get MediaConch 23.03 from Mac App Store!</a></td>
</tr>
<tr>
    <td colspan="5">&nbsp;<br>&nbsp;</td>
</tr>
<tr>
    <th rowspan="3">macOS 10.10 to 12</th>
    <th rowspan="3">x86_64</th>
    <th>GUI</th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/23.03/MediaConch_GUI_23.03_Mac.dmg">23.03</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th>CLI</th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/23.03/MediaConch_CLI_23.03_Mac.dmg">23.03</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th>Server</th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-server/23.03/MediaConch_Server_23.03_Mac.dmg">23.03</a></td>
    <td>&nbsp;</td>
</tr>
