<tr>
    <th rowspan="3">macOS 10.13 to 15</th>
    <th rowspan="3">x86_64</th>
    <th>GUI</th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/25.04/MediaConch_GUI_25.04_Mac.dmg">25.04</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th>CLI</th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/25.04/MediaConch_CLI_25.04_Mac.dmg">25.04</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th>Server</th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-server/25.04/MediaConch_Server_25.04_Mac.dmg">25.04</a></td>
    <td>&nbsp;</td>
</tr>
