<tr>
    <th rowspan="6" id="8">8</th>
    <th rowspan="6" id="6.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/23.03/mediaconch-gui-23.03.x86_64.Mageia_8.rpm">v23.03</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/23.03/mediaconch-23.03.x86_64.Mageia_8.rpm">v23.03</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Server">Server</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-server/23.03/mediaconch-server-23.03.x86_64.Mageia_8.rpm">v23.03</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediaconch0</th>
    <td><a href="//mediaarea.net/download/binary/libmediaconch0/23.03/libmediaconch0-23.03.x86_64.Mageia_8.rpm">v23.03</a> <small>(<a href="//mediaarea.net/download/binary/libmediaconch0/23.03/libmediaconch-devel-23.03.x86_64.Mageia_8.rpm">devel</a>)</small></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/23.03/libmediainfo0-23.03.x86_64.Mageia_8.rpm">v23.03</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/23.03/libmediainfo-devel-23.03.x86_64.Mageia_8.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/23.03/libmediainfo-doc-23.03.x86_64.Mageia_8.rpm">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen0-0.4.39.x86_64.Mageia_8.rpm">v0.4.39</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-devel-0.4.39.x86_64.Mageia_8.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-doc-0.4.39.x86_64.Mageia_8.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="10" id="6">6</th>
    <th rowspan="5" id="6.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/18.03.2/mediaconch-gui-18.03.2.x86_64.Mageia_6.rpm">v18.03.2</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/18.03.2/mediaconch-18.03.2.x86_64.Mageia_6.rpm">v18.03.2</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Server">Server</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-server/18.03.2/mediaconch-server-18.03.2.x86_64.Mageia_6.rpm">v18.03.2</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/18.03.1/libmediainfo0-18.03.1.x86_64.Mageia_6.rpm">v18.03.2</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/18.03.1/libmediainfo-devel-18.03.1.x86_64.Mageia_6.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/18.03.1/libmediainfo-doc-18.03.1.x86_64.Mageia_6.rpm">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen0-0.4.37.x86_64.Mageia_6.rpm">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-devel-0.4.37.x86_64.Mageia_6.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc-0.4.37.x86_64.Mageia_6.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="5" id="6.i586">i586</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/18.03.2/mediaconch-gui-18.03.2.i586.Mageia_6.rpm">v18.03.2</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/18.03.2/mediaconch-18.03.2.i586.Mageia_6.rpm">v18.03.2</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Server">Server</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-server/18.03.2/mediaconch-server-18.03.2.i586.Mageia_6.rpm">v18.03.2</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/18.03.1/libmediainfo0-18.03.1.i586.Mageia_6.rpm">v18.03.2</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/18.03.1/libmediainfo-devel-18.03.1.i586.Mageia_6.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/18.03.1/libmediainfo-doc-18.03.1.i586.Mageia_6.rpm">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen0-0.4.37.i586.Mageia_6.rpm">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-devel-0.4.37.i586.Mageia_6.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc-0.4.37.i586.Mageia_6.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
