<tr>
    <th colspan="4">For automatic update and easiest installation, enable MediaArea softwares repository for openSUSE<br>search for "MediaConch" in your package manager<br>or "zypper install mediaconch-gui" (for GUI)<br> or "zypper install mediaconch-server" (for Server)<br> or "zypper install mediaconch" (for CLI)</th>
    <td><a href="{{ path('ma_repos') }}">Activate MediaArea Repository</a></td>
</tr>
<tr>
    <th rowspan="5" id="Leap_42.3">Leap 42.3</th>
    <th rowspan="5" id="Leap_42.3.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/18.03.1/mediaconch-gui-18.03.1.x86_64.openSUSE_Leap_42.3.rpm">v18.03.1</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/18.03.1/mediaconch-18.03.1.x86_64.openSUSE_Leap_42.3.rpm">v18.03.1</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Server">Server</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-server/18.03.1/mediaconch-server-18.03.1.x86_64.openSUSE_Leap_42.3.rpm">v18.03.1</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/18.03.1/libmediainfo0-18.03.1.x86_64.openSUSE_Leap_42.3.rpm">v18.03.1</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/18.03.1/libmediainfo-devel-18.03.1.x86_64.openSUSE_Leap_42.3.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/18.03.1/libmediainfo-doc-18.03.1.x86_64.openSUSE_Leap_42.3.rpm">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen0-0.4.37.x86_64.openSUSE_Leap_42.3.rpm">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-devel-0.4.37.x86_64.openSUSE_Leap_42.3.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc-0.4.37.x86_64.openSUSE_Leap_42.3.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="10" id="Tumbleweed">Tumbleweed</th>
    <th rowspan="5" id="Tumbleweed.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/18.03.1/mediaconch-gui-18.03.1.x86_64.openSUSE_Tumbleweed.rpm">v18.03.1</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/18.03.1/mediaconch-18.03.1.x86_64.openSUSE_Tumbleweed.rpm">v18.03.1</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Server">Server</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-server/18.03.1/mediaconch-server-18.03.1.x86_64.openSUSE_Tumbleweed.rpm">v18.03.1</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/18.03.1/libmediainfo0-18.03.1.x86_64.openSUSE_Tumbleweed.rpm">v18.03.1</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/18.03.1/libmediainfo-devel-18.03.1.x86_64.openSUSE_Tumbleweed.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/18.03.1/libmediainfo-doc-18.03.1.x86_64.openSUSE_Tumbleweed.rpm">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen0-0.4.37.x86_64.openSUSE_Tumbleweed.rpm">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-devel-0.4.37.x86_64.openSUSE_Tumbleweed.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc-0.4.37.x86_64.openSUSE_Tumbleweed.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="5" id="Tumbleweed.i586">i586</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/18.03.1/mediaconch-gui-18.03.1.i586.openSUSE_Tumbleweed.rpm">v18.03.1</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/18.03.1/mediaconch-18.03.1.i586.openSUSE_Tumbleweed.rpm">v18.03.1</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Server">Server</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-server/18.03.1/mediaconch-server-18.03.1.i586.openSUSE_Tumbleweed.rpm">v18.03.1</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/18.03.1/libmediainfo0-18.03.1.i586.openSUSE_Tumbleweed.rpm">v18.03.1</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/18.03.1/libmediainfo-devel-18.03.1.i586.openSUSE_Tumbleweed.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/18.03.1/libmediainfo-doc-18.03.1.i586.openSUSE_Tumbleweed.rpm">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen0-0.4.37.i586.openSUSE_Tumbleweed.rpm">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-devel-0.4.37.i586.openSUSE_Tumbleweed.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc-0.4.37.i586.openSUSE_Tumbleweed.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="5" id="Leap_42.2">Leap 42.2</th>
    <th rowspan="5" id="Leap_42.2.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/18.03.1/mediaconch-gui-18.03.1.x86_64.openSUSE_Leap_42.2.rpm">v18.03.1</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/18.03.1/mediaconch-18.03.1.x86_64.openSUSE_Leap_42.2.rpm">v18.03.1</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Server">Server</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-server/18.03.1/mediaconch-server-18.03.1.x86_64.openSUSE_Leap_42.2.rpm">v18.03.1</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/18.03.1/libmediainfo0-18.03.1.x86_64.openSUSE_Leap_42.2.rpm">v18.03.1</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/18.03.1/libmediainfo-devel-18.03.1.x86_64.openSUSE_Leap_42.2.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/18.03.1/libmediainfo-doc-18.03.1.x86_64.openSUSE_Leap_42.2.rpm">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen0-0.4.37.x86_64.openSUSE_Leap_42.2.rpm">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-devel-0.4.37.x86_64.openSUSE_Leap_42.2.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc-0.4.37.x86_64.openSUSE_Leap_42.2.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="5" id="Leap_42.1">Leap 42.1</th>
    <th rowspan="5" id="Leap_42.1.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/18.03.1/mediaconch-gui-18.03.1.x86_64.openSUSE_Leap_42.1.rpm">v18.03.1</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/18.03.1/mediaconch-18.03.1.x86_64.openSUSE_Leap_42.1.rpm">v18.03.1</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Server">Server</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-server/18.03.1/mediaconch-server-18.03.1.x86_64.openSUSE_Leap_42.1.rpm">v18.03.1</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/18.03.1/libmediainfo0-18.03.1.x86_64.openSUSE_Leap_42.1.rpm">v18.03.1</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/18.03.1/libmediainfo-devel-18.03.1.x86_64.openSUSE_Leap_42.1.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/18.03.1/libmediainfo-doc-18.03.1.x86_64.openSUSE_Leap_42.1.rpm">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen0-0.4.37.x86_64.openSUSE_Leap_42.1.rpm">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-devel-0.4.37.x86_64.openSUSE_Leap_42.1.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc-0.4.37.x86_64.openSUSE_Leap_42.1.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="8" id="Factory">Factory</th>
    <th rowspan="4" id="Factory.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/15.12/mediaconch-gui-15.12.x86_64.openSUSE_Factory.rpm">v15.12</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/15.12/mediaconch-15.12.x86_64.openSUSE_Factory.rpm">v15.12</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.81/libmediainfo0-0.7.81.x86_64.openSUSE_Factory.rpm">v0.7.81</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.81/libmediainfo-devel-0.7.81.x86_64.openSUSE_Factory.rpm">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.32/libzen0-0.4.32.x86_64.openSUSE_Factory.rpm">v0.4.32</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.32/libzen-devel-0.4.32.x86_64.openSUSE_Factory.rpm">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="Factory.i586">i586</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/15.12/mediaconch-gui-15.12.i586.openSUSE_Factory.rpm">v15.12</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/15.12/mediaconch-15.12.i586.openSUSE_Factory.rpm">v15.12</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.81/libmediainfo0-0.7.81.i586.openSUSE_Factory.rpm">v0.7.81</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.81/libmediainfo-devel-0.7.81.i586.openSUSE_Factory.rpm">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.32/libzen0-0.4.32.i586.openSUSE_Factory.rpm">v0.4.32</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.32/libzen-devel-0.4.32.i586.openSUSE_Factory.rpm">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="12" id="Factory_ARM">Factory ARM</th>
    <th rowspan="4" id="Factory_ARM.armv6l">armv6l</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/15.12/mediaconch-gui-15.12.armv6l.openSUSE_Factory_ARM.rpm">v15.12</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/15.12/mediaconch-15.12.armv6l.openSUSE_Factory_ARM.rpm">v15.12</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.81/libmediainfo0-0.7.81.armv6l.openSUSE_Factory_ARM.rpm">v0.7.81</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.81/libmediainfo-devel-0.7.81.armv6l.openSUSE_Factory_ARM.rpm">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.32/libzen0-0.4.32.armv7l.openSUSE_Factory_ARM.rpm">v0.4.32</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.32/libzen-devel-0.4.32.armv7l.openSUSE_Factory_ARM.rpm">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="Factory_ARM.armv7l">armv7l</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/15.12/mediaconch-gui-15.12.armv7l.openSUSE_Factory_ARM.rpm">v15.12</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/15.12/mediaconch-15.12.armv7l.openSUSE_Factory_ARM.rpm">v15.12</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.81/libmediainfo0-0.7.81.armv7l.openSUSE_Factory_ARM.rpm">v0.7.81</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.81/libmediainfo-devel-0.7.81.armv7l.openSUSE_Factory_ARM.rpm">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.32/libzen0-0.4.32.armv7l.openSUSE_Factory_ARM.rpm">v0.4.32</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.32/libzen-devel-0.4.32.armv7l.openSUSE_Factory_ARM.rpm">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="Factory_ARM.aarch64">aarch64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/15.12/mediaconch-gui-15.12.aarch64.openSUSE_Factory_ARM.rpm">v15.12</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/15.12/mediaconch-15.12.aarch64.openSUSE_Factory_ARM.rpm">v15.12</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.81/libmediainfo0-0.7.81.aarch64.openSUSE_Factory_ARM.rpm">v0.7.81</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.81/libmediainfo-devel-0.7.81.aarch64.openSUSE_Factory_ARM.rpm">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.32/libzen0-0.4.32.aarch64.openSUSE_Factory_ARM.rpm">v0.4.32</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.32/libzen-devel-0.4.32.aarch64.openSUSE_Factory_ARM.rpm">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="10" id="13.2">13.2</th>
    <th rowspan="5" id="13.2.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/17.03/mediaconch-gui-17.03.x86_64.openSUSE_13.2.rpm">v17.03</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/17.03/mediaconch-17.03.x86_64.openSUSE_13.2.rpm">v17.03</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Server">Server</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-server/17.03/mediaconch-server-17.03.x86_64.openSUSE_13.2.rpm">v17.03</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo0-0.7.94.x86_64.openSUSE_13.2.rpm">v0.7.94</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-devel-0.7.94.x86_64.openSUSE_13.2.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-doc-0.7.94.x86_64.openSUSE_13.2.rpm">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen0-0.4.35.x86_64.openSUSE_13.2.rpm">v0.4.35</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-devel-0.4.35.x86_64.openSUSE_13.2.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-doc-0.4.35.x86_64.openSUSE_13.2.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="5" id="13.2.i586">i586</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/17.03/mediaconch-gui-17.03.i586.openSUSE_13.2.rpm">v17.03</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/17.03/mediaconch-17.03.i586.openSUSE_13.2.rpm">v17.03</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Server">Server</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-server/17.03/mediaconch-server-17.03.i586.openSUSE_13.2.rpm">v17.03</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo0-0.7.94.i586.openSUSE_13.2.rpm">v0.7.94</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-devel-0.7.94.i586.openSUSE_13.2.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-doc-0.7.94.i586.openSUSE_13.2.rpm">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen0-0.4.35.i586.openSUSE_13.2.rpm">v0.4.35</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-devel-0.4.35.i586.openSUSE_13.2.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-doc-0.4.35.i586.openSUSE_13.2.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="10" id="13.1">13.1</th>
    <th rowspan="5" id="13.1.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/17.03/mediaconch-gui-17.03.x86_64.openSUSE_13.1.rpm">v17.03</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/17.03/mediaconch-17.03.x86_64.openSUSE_13.1.rpm">v17.03</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Server">Server</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-server/17.03/mediaconch-server-17.03.x86_64.openSUSE_13.1.rpm">v17.03</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo0-0.7.94.x86_64.openSUSE_13.1.rpm">v0.7.94</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-devel-0.7.94.x86_64.openSUSE_13.1.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-doc-0.7.94.x86_64.openSUSE_13.1.rpm">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen0-0.4.35.x86_64.openSUSE_13.1.rpm">v0.4.35</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-devel-0.4.35.x86_64.openSUSE_13.1.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-doc-0.4.35.x86_64.openSUSE_13.1.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="5" id="13.1.i586">i586</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/17.03/mediaconch-gui-17.03.i586.openSUSE_13.1.rpm">v17.03</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/17.03/mediaconch-17.03.i586.openSUSE_13.1.rpm">v17.03</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Server">Server</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-server/17.03/mediaconch-server-17.03.i586.openSUSE_13.1.rpm">v17.03</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo0-0.7.94.i586.openSUSE_13.1.rpm">v0.7.94</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-devel-0.7.94.i586.openSUSE_13.1.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-doc-0.7.94.i586.openSUSE_13.1.rpm">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen0-0.4.35.i586.openSUSE_13.1.rpm">v0.4.35</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-devel-0.4.35.i586.openSUSE_13.1.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-doc-0.4.35.i586.openSUSE_13.1.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="6" id="11.4">11.4</th>
    <th rowspan="3" id="11.4.x86_64">x86_64</th>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/17.03/mediaconch-17.03.x86_64.openSUSE_11.4.rpm">v17.03</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo0-0.7.94.x86_64.openSUSE_11.4.rpm">v0.7.94</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-devel-0.7.94.x86_64.openSUSE_11.4.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-doc-0.7.94.x86_64.openSUSE_11.4.rpm">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen0-0.4.35.x86_64.openSUSE_11.4.rpm">v0.4.35</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-devel-0.4.35.x86_64.openSUSE_11.4.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-doc-0.4.35.x86_64.openSUSE_11.4.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="3" id="11.4.i586">i586</th>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/17.03/mediaconch-17.03.i586.openSUSE_11.4.rpm">v17.03</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo0-0.7.94.i586.openSUSE_11.4.rpm">v0.7.94</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-devel-0.7.94.i586.openSUSE_11.4.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-doc-0.7.94.i586.openSUSE_11.4.rpm">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen0-0.4.35.i586.openSUSE_11.4.rpm">v0.4.35</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-devel-0.4.35.i586.openSUSE_11.4.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-doc-0.4.35.i586.openSUSE_11.4.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
