{% extends 'MediaConchBundle::base.html.twig' %}

{% block title %}MediaConch - Download MediaConch for Raspbian{% endblock %}

{% block body %}
<h1>Download - Raspbian</h1>
{% image '@AppBundle/Resources/public/img/OS/Raspbian.png' %}
<img src="{{ asset_url }}" alt="Raspbian" title="Raspbian" width="258" height="48"><br />
{% endimage %}

<div class="table-responsive">
<table class="download table table-bordered table-condensed">
<thead>
<tr class="table-header">
    <th>Version</th>
    <th>Architecture</th>
    <th>Interface</th>
    <td>Version</td>
    <td>Comment</td>
</tr>
</thead>
<tbody>
{{ include('@MediaConch/Download/raspbianTable.html.twig') }}
</tbody>
</table>
</div>
{% endblock %}
