<tr>
    <th colspan="4">For automatic update and easiest installation, enable MediaArea softwares repository for Rocky Linux<br>search for "MediaConch" in your package manager<br>or "yum install mediaconch-gui" (for GUI)<br> or "yum install mediaconch-server" (for Server)<br> or "yum install mediaconch" (for CLI)</th>
    <td><a href="{{ path('ma_repos') }}">Activate MediaArea Repository</a></td>
</tr>
<tr>
    <th rowspan="5" id="9">9</th>
    <th rowspan="5" id="9.x86_64">x86_64</th>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/23.06/mediaconch-23.06.x86_64.RockyLinux_9.rpm">v23.06</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr>
    <th><abbr title="Server">Server</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-server/23.06/mediaconch-server-23.06.x86_64.RockyLinux_9.rpm">v23.06</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr>
    <th>libmediaconch</th>
    <td><a href="//mediaarea.net/download/binary/libmediaconch0/23.06/libmediaconch-23.06.x86_64.RockyLinux_9.rpm">v23.06</a> <small>(<a href="//mediaarea.net/download/binary/libmediaconch0/23.06/libmediaconch-devel-23.06.x86_64.RockyLinux_9.rpm">devel</a>)</small></td>
    <td>requires libmediainfo</td>
</tr>
<tr>
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/23.06/libmediainfo-23.06.x86_64.RockyLinux_9.rpm">v23.06</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/23.06/libmediainfo-devel-23.06.x86_64.RockyLinux_9.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/23.06/libmediainfo-doc-23.06.x86_64.RockyLinux_9.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr>
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen-0.4.41.x86_64.RockyLinux_9.rpm">v0.4.41</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen-devel-0.4.41.x86_64.RockyLinux_9.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen-doc-0.4.41.x86_64.RockyLinux_9.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
