<tr>
    <th colspan="4">Download the Snap corresponding to your architecture then, e.g for mediaconch-gui:<br>Install the Snap package "snap install --dangerous mediaconch-gui*.snap"<br>then run the application "snap run mediaconch-gui"</th>
</tr>
<tr>
    <th rowspan="3">64 bit</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/23.07/mediaconch-gui_23.07_amd64.snap">v23.07</td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/23.07/mediaconch_23.07_amd64.snap">v23.07</td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th>Server</th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-server/23.07/mediaconch-server_23.07_amd64.snap">v23.07</td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="3">32 bit</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/23.07/mediaconch-gui_23.07_i386.snap">v23.07</td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/23.07/mediaconch_23.07_i386.snap">v23.07</td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th>Server</th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-server/23.07/mediaconch-server_23.07_i386.snap">v23.07</td>
    <td>&nbsp;</td>
</tr>
