{% extends 'MediaConchBundle::base.html.twig' %}

{% block title %}MediaConch - Download MediaConch Snapshots{% endblock %}

{% block body %}
<h1>Download - Snapshots</h1>

<iframe src="https://mediaarea.net/download/snapshots/" style="width: 1140px; height: 1000px; border: 0;"></iframe>
{% endblock %}
