<tr>
    <th rowspan="5" colspan="2">All in one package<br> for an easy and quick compilation<br> on Linux without install</th>
    <td class="table-OS" colspan="3" id="AllInOne">Source code, all in one package</td>
</tr>
<tr>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/24.06/MediaConch_GUI_24.06_GNU_FromSource.tar.xz">v24.06</a> (<a href="//mediaarea.net/download/binary/mediaconch-gui/24.06/MediaConch_GUI_24.06_GNU_FromSource.tar.bz2">bz2</a> / <a href="//mediaarea.net/download/binary/mediaconch-gui/24.06/MediaConch_GUI_24.06_GNU_FromSource.tar.gz">gz</a>)</td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/24.06/MediaConch_CLI_24.06_GNU_FromSource.tar.xz">v24.06</a> (<a href="//mediaarea.net/download/binary/mediaconch/24.06/MediaConch_CLI_24.06_GNU_FromSource.tar.bz2">bz2</a> / <a href="//mediaarea.net/download/binary/mediaconch/24.06/MediaConch_CLI_24.06_GNU_FromSource.tar.gz">gz</a>)</td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th><abbr title="Server">Server</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-server/24.06/MediaConch_Server_24.06_GNU_FromSource.tar.xz">v24.06</a> (<a href="//mediaarea.net/download/binary/mediaconch-server/24.06/MediaConch_Server_24.06_GNU_FromSource.tar.bz2">bz2</a> / <a href="//mediaarea.net/download/binary/mediaconch-server/24.06/MediaConch_Server_24.06_GNU_FromSource.tar.gz">gz</a>)</td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th><abbr title="Shared Object">SO</abbr></th>
    <td><a href="//mediaarea.net/download/binary/libmediaconch0/24.06/MediaConch_DLL_24.06_GNU_FromSource.tar.xz">v24.06</a> (<a href="//mediaarea.net/download/binary/libmediaconch0/24.06/MediaConch_DLL_24.06_GNU_FromSource.tar.bz2">bz2</a> / <a href="//mediaarea.net/download/binary/libmediaconch0/24.06/MediaConch_DLL_24.06_GNU_FromSource.tar.gz">gz</a>)</td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="4" colspan="2">Split sources with .spec,<br>.desc and debian dir<br> for Linux package creation</th>
    <td class="table-OS" colspan="3" id="Split">Source code, split packages</td>
</tr>
<tr>
    <th><abbr title="Graphical User Interface">GUI</abbr>/<abbr title="Command Line Interface">CLI</abbr>/Server</th>
    <td><a href="//mediaarea.net/download/source/mediaconch/24.06/mediaconch_24.06.tar.xz">v24.06</a> (<a href="//mediaarea.net/download/source/mediaconch/24.06/mediaconch_24.06.tar.bz2">bz2</a> / <a href="//mediaarea.net/download/source/mediaconch/24.06/mediaconch_24.06.tar.gz">gz</a>)</td>
    <td>requires libmediainfo</td>
</tr>
<tr>
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/source/libmediainfo/24.06/libmediainfo_24.06.tar.xz">v24.06</a> (<a href="//mediaarea.net/download/source/libmediainfo/24.06/libmediainfo_24.06.tar.bz2">bz2</a> / <a href="//mediaarea.net/download/source/libmediainfo/24.06/libmediainfo_24.06.tar.gz">gz</a>)</td>
    <td>requires libzen</td>
</tr>
<tr>
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/source/libzen/0.4.39/libzen_0.4.39.tar.bz2">v0.4.39</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="3" colspan="2">Sources with all<br>third-party libs included,<br>(for quick compilation<br>with Microsoft Visual C++)</th>
    <td class="table-OS" colspan="3" id="Split">Source code, All included</td>
</tr>
<tr>
    <th><abbr title="Graphical User Interface">GUI</abbr>/<abbr title="Command Line Interface">CLI</abbr>/Server</th>
    <td><a href="//mediaarea.net/download/source/mediaconch/24.06/mediaconch_24.06_AllInclusive.7z">v24.06</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/source/libmediainfo/24.06/libmediainfo_24.06_AllInclusive.7z">v24.06</a></td>
    <td>&nbsp;</td>
</tr>
