<tr>
    <th rowspan="9">Vista, 7, 8, 10</th>
    <th>Universal installer (32/64 bit)</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/18.03/MediaConch_GUI_18.03_Windows.exe">v18.03</a></td>
    <td>If you don't know which one to download, download this one</td>
</tr>
<tr>
    <th rowspan="4">64 bit</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/18.03/MediaConch_GUI_18.03_Windows.exe">v18.03 Universal (32/64 bit)</a> <small>(<a href="//mediaarea.net/download/binary/mediaconch-gui/18.03/MediaConch_GUI_18.03_Windows_x64_WithoutInstaller.7z">64 bit only without installer</a>)</small></td>
    <td></td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/18.03/MediaConch_CLI_18.03_Windows_x64.zip">v18.03</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th><abbr title="Server">Server</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-server/18.03/MediaConch_Server_18.03_Windows_x64.zip">v18.03</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th><abbr title="Dynamic Link Library">DLL</abbr></th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/18.03/MediaInfo_DLL_18.03_Windows_x64.exe">v18.03</a><small> (<a href="//mediaarea.net/download/binary/libmediainfo0/18.03/MediaInfo_DLL_18.03_Windows_x64_WithoutInstaller.7z">without installer</a>)</small></td>
    <td>Currently with the same API as libmediainfo</td>
</tr>
<tr>
    <th rowspan="4">32 bit</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/18.03/MediaConch_GUI_18.03_Windows.exe">v18.03 Universal (32/64 bit)</a> <small> (<a href="//mediaarea.net/download/binary/mediaconch-gui/18.03/MediaConch_GUI_18.03_Windows_i386_WithoutInstaller.7z">32 bit only without installer</a>)</small></td>
    <td></td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/18.03/MediaConch_CLI_18.03_Windows_i386.zip">v18.03</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th><abbr title="Server">Server</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-server/18.03/MediaConch_Server_18.03_Windows_i386.zip">v18.03</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th><abbr title="Dynamic Link Library">DLL</abbr></th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/18.03/MediaInfo_DLL_18.03_Windows_i386.exe">v18.03</a><small> (<a href="//mediaarea.net/download/binary/libmediainfo0/18.03/MediaInfo_DLL_18.03_Windows_i386_WithoutInstaller.7z">without installer</a>)</small></td>
    <td>Currently with the same API as libmediainfo</td>
</tr>
