<tr>
    <th rowspan="7">Vista, 7, 8, 10, 11</th>
    <th>Universal installer (32/64 bit)</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/23.10/MediaConch_GUI_23.10_Windows.exe">v23.10</a></td>
    <td>If you don't know which one to download, download this one</td>
</tr>
<tr>
    <th rowspan="3">64 bit</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/23.10/MediaConch_GUI_23.10_Windows.exe">v23.10 Universal (32/64 bit)</a> <small>(<a href="//mediaarea.net/download/binary/mediaconch-gui/23.10/MediaConch_GUI_23.10_Windows_x64_WithoutInstaller.7z">64 bit only without installer</a>)</small></td>
    <td></td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/23.10/MediaConch_CLI_23.10_Windows_x64.zip">v23.10</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th><abbr title="Server">Server</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-server/23.10/MediaConch_Server_23.10_Windows_x64.zip">v23.10</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="3">32 bit</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/23.10/MediaConch_GUI_23.10_Windows.exe">v23.10 Universal (32/64 bit)</a> <small> (<a href="//mediaarea.net/download/binary/mediaconch-gui/23.10/MediaConch_GUI_23.10_Windows_i386_WithoutInstaller.7z">32 bit only without installer</a>)</small></td>
    <td></td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/23.10/MediaConch_CLI_23.10_Windows_i386.zip">v23.10</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th><abbr title="Server">Server</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-server/23.10/MediaConch_Server_23.10_Windows_i386.zip">v23.10</a></td>
    <td>&nbsp;</td>
</tr>
