<tr>
    <th rowspan="7">Vista, 7, 8, 10, 11</th>
    <th>Universal installer (32/64 bit)</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/22.09/MediaConch_GUI_22.09_Windows.exe">v22.09</a></td>
    <td>If you don't know which one to download, download this one</td>
</tr>
<tr>
    <th rowspan="3">64 bit</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/22.09/MediaConch_GUI_22.09_Windows.exe">v22.09 Universal (32/64 bit)</a> <small>(<a href="//mediaarea.net/download/binary/mediaconch-gui/22.09/MediaConch_GUI_22.09_Windows_x64_WithoutInstaller.7z">64 bit only without installer</a>)</small></td>
    <td></td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/22.09/MediaConch_CLI_22.09_Windows_x64.zip">v22.09</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th><abbr title="Server">Server</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-server/22.09/MediaConch_Server_22.09_Windows_x64.zip">v22.09</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="3">32 bit</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-gui/22.09/MediaConch_GUI_22.09_Windows.exe">v22.09 Universal (32/64 bit)</a> <small> (<a href="//mediaarea.net/download/binary/mediaconch-gui/22.09/MediaConch_GUI_22.09_Windows_i386_WithoutInstaller.7z">32 bit only without installer</a>)</small></td>
    <td></td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch/22.09/MediaConch_CLI_22.09_Windows_i386.zip">v22.09</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th><abbr title="Server">Server</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediaconch-server/22.09/MediaConch_Server_22.09_Windows_i386.zip">v22.09</a></td>
    <td>&nbsp;</td>
</tr>
