<tr>
    <th colspan="5">Notes for installing the packages below:<br />"pacman -U *pkg.tar.xz"</th>
</tr>

<tr>
    <th rowspan="8" id="Extra">Extra</th>
    <th rowspan="4" id="Extra.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/dvanalyzer-gui/1.4.2/dvanalyzer-gui-1.4.2-x86_64.Arch_Extra.pkg.tar.xz">v1.4.2</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/dvanalyzer/1.4.2/dvanalyzer-1.4.2-x86_64.Arch_Extra.pkg.tar.xz">v1.4.2</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr>
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.99/libmediainfo-0.7.99-x86_64.Arch_Extra.pkg.tar.xz">v0.7.99</a></td>
    <td>requires libzen</td>
</tr>
<tr>
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-0.4.37-x86_64.Arch_Extra.pkg.tar.xz">v0.4.37</a></td>
    <td>&nbsp;</td>
</tr>

<tr>
    <th rowspan="4" id="Extra.i686">i686</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/dvanalyzer-gui/1.4.2/dvanalyzer-gui-1.4.2-i686.Arch_Extra.pkg.tar.xz">v1.4.2</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/dvanalyzer/1.4.2/dvanalyzer-1.4.2-i686.Arch_Extra.pkg.tar.xz">v1.4.2</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr>
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.99/libmediainfo-0.7.99-i686.Arch_Extra.pkg.tar.xz">v0.7.99</a></td>
    <td>requires libzen</td>
</tr>
<tr>
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-0.4.37-i686.Arch_Extra.pkg.tar.xz">v0.4.37</a></td>
    <td>&nbsp;</td>
</tr>
