<tr>
    <th rowspan="2" id="24">24</th>
    <th rowspan="1" id="24.x86_64">x86_64</th>
    <td>GUI</td>
    <td><a href="//mediaarea.net/download/snapshots/binary/dvanalyzer/20160928/dvanalyzer-1.4.1.20160928.x86_64.Fedora_24.rpm">v1.4.1.20160928</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="1" id="24.i686">i686</th>
    <td>GUI</td>
    <td><a href="//mediaarea.net/download/snapshots/binary/dvanalyzer/20160928/dvanalyzer-1.4.1.20160928.i686.Fedora_24.rpm">v1.4.1.20160928</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="1" id="23">23</th>
    <th rowspan="1" id="23.i686">i686</th>
    <td>GUI</td>
    <td><a href="//mediaarea.net/download/snapshots/binary/dvanalyzer/20160928/dvanalyzer-1.4.1.20160928.i686.Fedora_23.rpm">v1.4.1.20160928</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="2" id="22">22</th>
    <th rowspan="1" id="22.x86_64">x86_64</th>
    <td>GUI</td>
    <td><a href="//mediaarea.net/download/snapshots/binary/dvanalyzer/20160928/dvanalyzer-1.4.1.20160928.x86_64.Fedora_22.rpm">v1.4.1.20160928</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="1" id="22.i686">i686</th>
    <td>GUI</td>
    <td><a href="//mediaarea.net/download/snapshots/binary/dvanalyzer/20160928/dvanalyzer-1.4.1.20160928.i686.Fedora_22.rpm">v1.4.1.20160928</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="2" id="21">21</th>
    <th rowspan="1" id="21.x86_64">x86_64</th>
    <td>GUI</td>
    <td><a href="//mediaarea.net/download/snapshots/binary/dvanalyzer/20160928/dvanalyzer-1.4.1.20160928.x86_64.Fedora_21.rpm">v1.4.1.20160928</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="1" id="21.i686">i686</th>
    <td>GUI</td>
    <td><a href="//mediaarea.net/download/snapshots/binary/dvanalyzer/20160928/dvanalyzer-1.4.1.20160928.i686.Fedora_21.rpm">v1.4.1.20160928</a></td>
    <td>&nbsp;</td>
</tr>
