<tr>
    <th rowspan="2" id="5_standard">5</th>
    <th rowspan="1" id="5_standard.x86_64">x86_64</th>
    <td>GUI</td>
    <td><a href="//mediaarea.net/download/snapshots/binary/dvanalyzer/20160928/dvanalyzer-1.4.1.20160928.x86_64.Mageia_5_standard.rpm">v1.4.1.20160928</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="1" id="5_standard.i586">i586</th>
    <td>GUI</td>
    <td><a href="//mediaarea.net/download/snapshots/binary/dvanalyzer/20160928/dvanalyzer-1.4.1.20160928.i586.Mageia_5_standard.rpm">v1.4.1.20160928</a></td>
    <td>&nbsp;</td>
</tr>
