<tr>
    <th rowspan="1" id="Leap_42.1">Leap 42.1</th>
    <th rowspan="1" id="Leap_42.1.x86_64">x86_64</th>
    <td>GUI</td>
    <td><a href="//mediaarea.net/download/snapshots/binary/dvanalyzer/20160928/dvanalyzer-1.4.1.20160928.x86_64.openSUSE_Leap_42.1.rpm">v1.4.1.20160928</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="2" id="Tumbleweed">Tumbleweed</th>
    <th rowspan="1" id="Tumbleweed.x86_64">x86_64</th>
    <td>GUI</td>
    <td><a href="//mediaarea.net/download/snapshots/binary/dvanalyzer/20160928/dvanalyzer-1.4.1.20160928.x86_64.openSUSE_Tumbleweed.rpm">v1.4.1.20160928</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="1" id="Tumbleweed.i586">i586</th>
    <td>GUI</td>
    <td><a href="//mediaarea.net/download/snapshots/binary/dvanalyzer/20160928/dvanalyzer-1.4.1.20160928.i586.openSUSE_Tumbleweed.rpm">v1.4.1.20160928</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="1" id="Factory_ARM">Factory ARM</th>
    <th rowspan="1" id="Factory_ARM.aarch64">aarch64</th>
    <td>GUI</td>
    <td><a href="//mediaarea.net/download/snapshots/binary/dvanalyzer/20160928/dvanalyzer-1.4.1.20160928.aarch64.openSUSE_Factory_ARM.rpm">v1.4.1.20160928</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="2" id="13.2">13.2</th>
    <th rowspan="1" id="13.2.x86_64">x86_64</th>
    <td>GUI</td>
    <td><a href="//mediaarea.net/download/snapshots/binary/dvanalyzer/20160928/dvanalyzer-1.4.1.20160928.x86_64.openSUSE_13.2.rpm">v1.4.1.20160928</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="1" id="13.2.i586">i586</th>
    <td>GUI</td>
    <td><a href="//mediaarea.net/download/snapshots/binary/dvanalyzer/20160928/dvanalyzer-1.4.1.20160928.i586.openSUSE_13.2.rpm">v1.4.1.20160928</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="2" id="13.1">13.1</th>
    <th rowspan="1" id="13.1.x86_64">x86_64</th>
    <td>GUI</td>
    <td><a href="//mediaarea.net/download/snapshots/binary/dvanalyzer/20160928/dvanalyzer-1.4.1.20160928.x86_64.openSUSE_13.1.rpm">v1.4.1.20160928</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="1" id="13.1.i586">i586</th>
    <td>GUI</td>
    <td><a href="//mediaarea.net/download/snapshots/binary/dvanalyzer/20160928/dvanalyzer-1.4.1.20160928.i586.openSUSE_13.1.rpm">v1.4.1.20160928</a></td>
    <td>&nbsp;</td>
</tr>
