{% extends 'DVAnalyzerBundle::base.html.twig' %}

{% block title %}DV Analyzer - Download DV Analyzer for SLE{% endblock %}

{% block body %}
<h1>Download - SLE</h1>
{% image '@AppBundle/Resources/public/img/OS/Suse.png' %}
<img src="{{ asset_url }}" alt="Suse" title="Suse" width="165" height="100"><br />
{% endimage %}

<div class="table-responsive">
<table class="download table table-bordered table-condensed">
<table border="1" class="download">
<thead>
<tr class="table-header">
    <th>Version</th>
    <th>Architecture</th>
    <th>Interface</th>
    <td>Version</td>
    <td>Comment</td>
</tr>
</thead>
<tbody>
{% include 'DVAnalyzerBundle:Download:sleTable.html.twig' %}
</tbody>
</table>
</div>
{% endblock %}
