<tr>
    <th colspan="4">For automatic update and easiest installation, enable MediaArea softwares repository for SUSE Linux Entreprise<br>search for "DVAnalyzer" in your package manager<br>or "zypper install dvanalyzer-gui" (for GUI)<br> or "zypper install dvanalyzer" (for CLI)</th>
    <td><a href='{{ path('ma_repos') }}'>Activate MediaArea Repository</a></td>
</tr>

<tr>
    <th rowspan="4" id="12_SP2">12 SP2</th>
    <th rowspan="4" id="12_SP2.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/dvanalyzer-gui/1.4.2/dvanalyzer-gui-1.4.2.x86_64.SLE_12_SP2.rpm">v1.4.2</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/dvanalyzer/1.4.2/dvanalyzer-1.4.2.x86_64.SLE_12_SP2.rpm">v1.4.2</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.99/libmediainfo0-0.7.99.x86_64.SLE_12_SP2.rpm">v0.7.99</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.99/libmediainfo-devel-0.7.99.x86_64.SLE_12_SP2.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.99/libmediainfo-doc-0.7.99.x86_64.SLE_12_SP2.rpm">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen0-0.4.37.x86_64.SLE_12_SP2.rpm">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-devel-0.4.37.x86_64.SLE_12_SP2.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc-0.4.37.x86_64.SLE_12_SP2.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>

<tr>
    <th rowspan="4" id="12_SP1">12 SP1</th>
    <th rowspan="4" id="12_SP1.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/dvanalyzer-gui/1.4.2/dvanalyzer-gui-1.4.2.x86_64.SLE_12_SP1.rpm">v1.4.2</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/dvanalyzer/1.4.2/dvanalyzer-1.4.2.x86_64.SLE_12_SP1.rpm">v1.4.2</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.99/libmediainfo0-0.7.99.x86_64.SLE_12_SP1.rpm">v0.7.99</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.99/libmediainfo-devel-0.7.99.x86_64.SLE_12_SP1.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.99/libmediainfo-doc-0.7.99.x86_64.SLE_12_SP1.rpm">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen0-0.4.37.x86_64.SLE_12_SP1.rpm">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-devel-0.4.37.x86_64.SLE_12_SP1.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc-0.4.37.x86_64.SLE_12_SP1.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>

<tr>
    <th rowspan="8" id="11_SP4">11 SP4</th>
    <th rowspan="4" id="11_SP4.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/dvanalyzer-gui/1.4.2/dvanalyzer-gui-1.4.2.x86_64.SLE_11_SP4.rpm">v1.4.2</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/dvanalyzer/1.4.2/dvanalyzer-1.4.2.x86_64.SLE_11_SP4.rpm">v1.4.2</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.99/libmediainfo0-0.7.99.x86_64.SLE_11_SP4.rpm">v0.7.99</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.99/libmediainfo-devel-0.7.99.x86_64.SLE_11_SP4.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.99/libmediainfo-doc-0.7.99.x86_64.SLE_11_SP4.rpm">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen0-0.4.37.x86_64.SLE_11_SP4.rpm">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-devel-0.4.37.x86_64.SLE_11_SP4.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc-0.4.37.x86_64.SLE_11_SP4.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>

<tr>
    <th rowspan="4" id="11_SP4.i586">i586</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/dvanalyzer-gui/1.4.2/dvanalyzer-gui-1.4.2.i586.SLE_11_SP4.rpm">v1.4.2</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/dvanalyzer/1.4.2/dvanalyzer-1.4.2.i586.SLE_11_SP4.rpm">v1.4.2</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.99/libmediainfo0-0.7.99.i586.SLE_11_SP4.rpm">v0.7.99</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.99/libmediainfo-devel-0.7.99.i586.SLE_11_SP4.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.99/libmediainfo-doc-0.7.99.i586.SLE_11_SP4.rpm">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen0-0.4.37.i586.SLE_11_SP4.rpm">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-devel-0.4.37.i586.SLE_11_SP4.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc-0.4.37.i586.SLE_11_SP4.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>

