<tr>
    <th rowspan="1" id="12_SP1">12 SP1</th>
    <th rowspan="1" id="12_SP1.x86_64">x86_64</th>
    <td>GUI</td>
    <td><a href="//mediaarea.net/download/snapshots/binary/dvanalyzer/20160928/dvanalyzer-1.4.1.20160928.x86_64.SLE_12_SP1.rpm">v1.4.1.20160928</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="1" id="12">12</th>
    <th rowspan="1" id="12.x86_64">x86_64</th>
    <td>GUI</td>
    <td><a href="//mediaarea.net/download/snapshots/binary/dvanalyzer/20160928/dvanalyzer-1.4.1.20160928.x86_64.SLE_12.rpm">v1.4.1.20160928</a></td>
    <td>&nbsp;</td>
</tr>
