<tr>
    <th colspan="4">For automatic update and easiest installation, enable MediaArea softwares repository for Ubuntu<br />Search for "DVAnalyzer" in your package manager<br />or "apt-get install dvanalyzer-gui" (for GUI)<br /> or "apt-get install dvanalyzer" (for CLI)</th></th>
    <td><a href='{{ path('ma_repos') }}'>Activate MediaArea Repository</a></td>
</tr>
<tr>
    <th colspan="5">Notes for installing the packages below:<br />"sudo dpkg -i *deb"</th>
</tr>

<tr>
    <th rowspan="8" id="17.04">Ubuntu 17.04 (Zesty Zapus)</th>
    <th rowspan="4" id="17.04.amd64">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/dvanalyzer-gui/1.4.2/dvanalyzer-gui_1.4.2-1_amd64.xUbuntu_17.04.deb">v1.4.2</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/dvanalyzer/1.4.2/dvanalyzer_1.4.2-1_amd64.xUbuntu_17.04.deb">v1.4.2</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.99/libmediainfo0v5_0.7.99-1_amd64.xUbuntu_17.04.deb">v0.7.99</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.99/libmediainfo-dev_0.7.99-1_amd64.xUbuntu_17.04.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.99/libmediainfo-doc_0.7.99-1_amd64.xUbuntu_17.04.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen0v5_0.4.37-1_amd64.xUbuntu_17.04.deb">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-dev_0.4.37-1_amd64.xUbuntu_17.04.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc_0.4.37-1_amd64.xUbuntu_17.04.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>

<tr>
    <th rowspan="4" id="17.04.i386">i386</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/dvanalyzer-gui/1.4.2/dvanalyzer-gui_1.4.2-1_i386.xUbuntu_17.04.deb">v1.4.2</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/dvanalyzer/1.4.2/dvanalyzer_1.4.2-1_i386.xUbuntu_17.04.deb">v1.4.2</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.99/libmediainfo0v5_0.7.99-1_i386.xUbuntu_17.04.deb">v0.7.99</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.99/libmediainfo-dev_0.7.99-1_i386.xUbuntu_17.04.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.99/libmediainfo-doc_0.7.99-1_i386.xUbuntu_17.04.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen0v5_0.4.37-1_i386.xUbuntu_17.04.deb">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-dev_0.4.37-1_i386.xUbuntu_17.04.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc_0.4.37-1_i386.xUbuntu_17.04.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>

<tr>
    <th rowspan="8" id="16.10">Ubuntu 16.10 (Yakkety Yak)</th>
    <th rowspan="4" id="16.10.amd64">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/dvanalyzer-gui/1.4.2/dvanalyzer-gui_1.4.2-1_amd64.xUbuntu_16.10.deb">v1.4.2</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/dvanalyzer/1.4.2/dvanalyzer_1.4.2-1_amd64.xUbuntu_16.10.deb">v1.4.2</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.99/libmediainfo0v5_0.7.99-1_amd64.xUbuntu_16.10.deb">v0.7.99</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.99/libmediainfo-dev_0.7.99-1_amd64.xUbuntu_16.10.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.99/libmediainfo-doc_0.7.99-1_amd64.xUbuntu_16.10.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen0v5_0.4.37-1_amd64.xUbuntu_16.10.deb">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-dev_0.4.37-1_amd64.xUbuntu_16.10.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc_0.4.37-1_amd64.xUbuntu_16.10.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>

<tr>
    <th rowspan="4" id="16.10.i386">i386</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/dvanalyzer-gui/1.4.2/dvanalyzer-gui_1.4.2-1_i386.xUbuntu_16.10.deb">v1.4.2</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/dvanalyzer/1.4.2/dvanalyzer_1.4.2-1_i386.xUbuntu_16.10.deb">v1.4.2</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.99/libmediainfo0v5_0.7.99-1_i386.xUbuntu_16.10.deb">v0.7.99</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.99/libmediainfo-dev_0.7.99-1_i386.xUbuntu_16.10.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.99/libmediainfo-doc_0.7.99-1_i386.xUbuntu_16.10.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen0v5_0.4.37-1_i386.xUbuntu_16.10.deb">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-dev_0.4.37-1_i386.xUbuntu_16.10.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc_0.4.37-1_i386.xUbuntu_16.10.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>

<tr>
    <th rowspan="8" id="16.04">Ubuntu 16.04 (Xenial Xerus)</th>
    <th rowspan="4" id="16.04.amd64">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/dvanalyzer-gui/1.4.2/dvanalyzer-gui_1.4.2-1_amd64.xUbuntu_16.04.deb">v1.4.2</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/dvanalyzer/1.4.2/dvanalyzer_1.4.2-1_amd64.xUbuntu_16.04.deb">v1.4.2</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.99/libmediainfo0v5_0.7.99-1_amd64.xUbuntu_16.04.deb">v0.7.99</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.99/libmediainfo-dev_0.7.99-1_amd64.xUbuntu_16.04.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.99/libmediainfo-doc_0.7.99-1_amd64.xUbuntu_16.04.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen0v5_0.4.37-1_amd64.xUbuntu_16.04.deb">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-dev_0.4.37-1_amd64.xUbuntu_16.04.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc_0.4.37-1_amd64.xUbuntu_16.04.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>

<tr>
    <th rowspan="4" id="16.04.i386">i386</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/dvanalyzer-gui/1.4.2/dvanalyzer-gui_1.4.2-1_i386.xUbuntu_16.04.deb">v1.4.2</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/dvanalyzer/1.4.2/dvanalyzer_1.4.2-1_i386.xUbuntu_16.04.deb">v1.4.2</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.99/libmediainfo0v5_0.7.99-1_i386.xUbuntu_16.04.deb">v0.7.99</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.99/libmediainfo-dev_0.7.99-1_i386.xUbuntu_16.04.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.99/libmediainfo-doc_0.7.99-1_i386.xUbuntu_16.04.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen0v5_0.4.37-1_i386.xUbuntu_16.04.deb">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-dev_0.4.37-1_i386.xUbuntu_16.04.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc_0.4.37-1_i386.xUbuntu_16.04.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>

<tr>
    <th rowspan="8" id="14.04">Ubuntu 14.04 (Trusty Tahr)<br /><br />Linux Mint 17 (Qiana)<br /><br />Linux Mint 17.1 (Rebecca)<br /><br />Linux Mint 17.2 (Rafaela)<br /><br />Linux Mint 17.3 (Rosa)</th>
    <th rowspan="4" id="14.04.amd64">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/dvanalyzer-gui/1.4.2/dvanalyzer-gui_1.4.2-1_amd64.xUbuntu_14.04.deb">v1.4.2</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/dvanalyzer/1.4.2/dvanalyzer_1.4.2-1_amd64.xUbuntu_14.04.deb">v1.4.2</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.99/libmediainfo0_0.7.99-1_amd64.xUbuntu_14.04.deb">v0.7.99</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.99/libmediainfo-dev_0.7.99-1_amd64.xUbuntu_14.04.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.99/libmediainfo-doc_0.7.99-1_amd64.xUbuntu_14.04.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen0_0.4.37-1_amd64.xUbuntu_14.04.deb">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-dev_0.4.37-1_amd64.xUbuntu_14.04.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc_0.4.37-1_amd64.xUbuntu_14.04.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>

<tr>
    <th rowspan="4" id="14.04.i386">i386</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/dvanalyzer-gui/1.4.2/dvanalyzer-gui_1.4.2-1_i386.xUbuntu_14.04.deb">v1.4.2</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/dvanalyzer/1.4.2/dvanalyzer_1.4.2-1_i386.xUbuntu_14.04.deb">v1.4.2</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.99/libmediainfo0_0.7.99-1_i386.xUbuntu_14.04.deb">v0.7.99</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.99/libmediainfo-dev_0.7.99-1_i386.xUbuntu_14.04.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.99/libmediainfo-doc_0.7.99-1_i386.xUbuntu_14.04.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen0_0.4.37-1_i386.xUbuntu_14.04.deb">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-dev_0.4.37-1_i386.xUbuntu_14.04.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc_0.4.37-1_i386.xUbuntu_14.04.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>

<tr>
    <th rowspan="8" id="12.04">Ubuntu 12.04 (Precise Pangolin)<br /><br /> Linux Mint 13 (Maya)</th>
    <th rowspan="4" id="12.04.amd64">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/dvanalyzer-gui/1.4.2/dvanalyzer-gui_1.4.2-1_amd64.xUbuntu_12.04.deb">v1.4.2</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/dvanalyzer/1.4.2/dvanalyzer_1.4.2-1_amd64.xUbuntu_12.04.deb">v1.4.2</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.99/libmediainfo0_0.7.99-1_amd64.xUbuntu_12.04.deb">v0.7.99</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.99/libmediainfo-dev_0.7.99-1_amd64.xUbuntu_12.04.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.99/libmediainfo-doc_0.7.99-1_amd64.xUbuntu_12.04.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen0_0.4.37-1_amd64.xUbuntu_12.04.deb">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-dev_0.4.37-1_amd64.xUbuntu_12.04.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc_0.4.37-1_amd64.xUbuntu_12.04.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>

<tr>
    <th rowspan="4" id="12.04.i386">i386</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/dvanalyzer-gui/1.4.2/dvanalyzer-gui_1.4.2-1_i386.xUbuntu_12.04.deb">v1.4.2</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/dvanalyzer/1.4.2/dvanalyzer_1.4.2-1_i386.xUbuntu_12.04.deb">v1.4.2</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.99/libmediainfo0_0.7.99-1_i386.xUbuntu_12.04.deb">v0.7.99</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.99/libmediainfo-dev_0.7.99-1_i386.xUbuntu_12.04.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.99/libmediainfo-doc_0.7.99-1_i386.xUbuntu_12.04.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen0_0.4.37-1_i386.xUbuntu_12.04.deb">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-dev_0.4.37-1_i386.xUbuntu_12.04.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc_0.4.37-1_i386.xUbuntu_12.04.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
