<tr>
    <th rowspan="4">Vista, 7, 8, 10</th>
    <th rowspan="2">64 bit</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/snapshots/binary/dvanalyzer-gui/20160928/BWF_MetaEdit_GUI_1.4.1.20160928_Windows_x64.exe">v1.4.1.20160928 (32/64 bit)</a> <small>(<a href="//mediaarea.net/download/snapshots/binary/dvanalyzer-gui/20160928/BWF_MetaEdit_GUI_1.4.1.20160928_Windows_x64_WithoutInstaller.zip">64 bit only without installer</a>)</small></td>
    <td></td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/snapshots/binary/dvanalyzer/20160928/BWF_MetaEdit_CLI_1.4.1.20160928_Windows_x64.zip">v1.4.1.20160928 (32/64 bit)</a></td>
    <td></td>
</tr>
<tr>
    <th rowspan="2">32 bit</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/snapshots/binary/dvanalyzer-gui/20160928/BWF_MetaEdit_GUI_1.4.1.20160928_Windows_i386.exe">v1.4.1.20160928 (32/64 bit)</a> <small> (<a href="//mediaarea.net/download/snapshots/binary/dvanalyzer-gui/20160928/BWF_MetaEdit_GUI_1.4.1.20160928_Windows_i386_WithoutInstaller.zip">32 bit only without installer</a>)</small></td>
    <td></td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/snapshots/binary/dvanalyzer/20160928/BWF_MetaEdit_CLI_1.4.1.20160928_Windows_i386.zip">v1.4.1.20160928 (32/64 bit)</a></td>
    <td></td>
</tr>
