<tr>
    <th rowspan="4">Vista, 7, 8, 10</th>
    <th rowspan="2">64 bit</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/dvanalyzer-gui/1.4.2/DVAnalyzer_GUI_1.4.2_Windows_x64.exe">v1.4.2</a> <small>(<a href="//mediaarea.net/download/binary/dvanalyzer-gui/1.4.2/DVAnalyzer_GUI_1.4.2_Windows_x64_WithoutInstaller.7z">64 bit only without installer</a>)</small></td>
    <td></td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/dvanalyzer/1.4.2/DVAnalyzer_CLI_1.4.2_Windows_x64.zip">v1.4.2</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="2">32 bit</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/dvanalyzer-gui/1.4.2/DVAnalyzer_GUI_1.4.2_Windows_i386.exe">v1.4.2</a> <small> (<a href="//mediaarea.net/download/binary/dvanalyzer-gui/1.4.2/DVAnalyzer_GUI_1.4.2_Windows_i386_WithoutInstaller.7z">32 bit only without installer</a>)</small></td>
    <td></td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/dvanalyzer/1.4.2/DVAnalyzer_CLI_1.4.2_Windows_i386.zip">v1.4.2</a></td>
    <td>&nbsp;</td>
</tr>
