{% extends 'EmbARCBundle::base.html.twig' %}

{% block title %}embARC License{% endblock %}

{% block body %}
<h1>embARC License</h1>

<p>
As a work of the United States Government, this project is in the public domain within the United States.
</p>
<p>
Additionally, we waive copyright and related rights in the work worldwide through the CC0 1.0 Universal public domain dedication.
</p>
<p>
CC0 1.0 Universal Summary This is a human-readable summary of the Legal Code (read the full text: https://creativecommons.org/publicdomain/zero/1.0/legalcode).
</p>
<p>
No Copyright The person who associated a work with this deed has dedicated the work to the public domain by waiving all of his or her rights to the work worldwide under copyright law, including all related and neighboring rights, to the extent allowed by law.
</p>
<p>
You can copy, modify, distribute and perform the work, even for commercial purposes, all without asking permission.
</p>
<p>
Other Information In no way are the patent or trademark rights of any person affected by CC0, nor are the rights that other persons may have in the work or in how the work is used, such as publicity or privacy rights.
</p>
<p>
Unless expressly stated otherwise, the person who associated a work with this deed makes no warranties about the work, and disclaims liability for all uses of the work, to the fullest extent permitted by applicable law. When using or citing the work, you should not imply endorsement by the author or the affirmer.
</p>

<hr/>
<h3>Third party libraries</h3>
<p>
    The software relies on third party libraries. Such libraries have their own license:
</p>
<ul>
<li>
FontAwesome<br />
Copyright 2013-2016 Jens Deters http Licensed under the Apache License, Version 2.0 (the 'License'); you may not use this file except in compliance with the License. You may obtain a copy of the License athttp://www.apache.org/licenses/LICENSE-2.0 Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an 'AS IS' BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License.<br />
http://www.apache.org/licenses/LICENSE-2.0.txt<br />
</li>
<li>
Nitrite<br />
Copyright 2017-2018 Nitrite author or authors Licensed under the Apache License, Version 2.0 (the 'License'); you may not use this file except in compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an 'AS IS' BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License.<br />
http://www.apache.org/licenses/LICENSE-2.0.txt<br />
</li>
<li>
FFmpeg<br />
This software uses code of FFmpeg licensed under the LGPLv2.1 and its source can be downloaded at http://www.digitizationguidelines.gov/guidelines/embARC.html<br />
http://ffmpeg.org<br />
http://www.gnu.org/licenses/old-licenses/lgpl-2.1.html<br />
http://www.digitizationguidelines.gov/guidelines/embARC.html<br />
</li>
<li>
CRC32C<br />
Copyright 2017, The CRC32C Authors. Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:<br />
* Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.<br />
* Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution.<br />
* Neither the name of Google Inc. nor the names of its contributors may be used to endorse or promote products derived from this software without specific prior written permission. THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS 'AS IS' AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.<br />
https://github.com/google/crc32c/blob/master/LICENSE<br />
</li>
<li>
Apache Tika<br />
Copyright 2020 Apache Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an 'AS IS' BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License.<br />
</li>
<li>
Media Authoring with Java API (MAJ)<br />
Copyright 2020 Apache Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an 'AS IS' BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License.<br />
</li>
<li>
DROID (Digital Record Object Identification)<br />
Copyright (c) 2016, The National Archives <pronom@nationalarchives.gov.uk><br />
All rights reserved.<br />
Redistribution and use in source and binary forms, with or without<br />
modification, are permitted provided that the following<br />
conditions are met:<br />
 * Redistributions of source code must retain the above copyright<br />
   notice, this list of conditions and the following disclaimer.<br />
 * Redistributions in binary form must reproduce the above copyright<br />
   notice, this list of conditions and the following disclaimer in the<br />
   documentation and/or other materials provided with the distribution.<br />
 * Neither the name of the The National Archives nor the<br />
   names of its contributors may be used to endorse or promote products<br />
   derived from this software without specific prior written permission.<br />
THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"<br />
AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE<br />
IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR<br />
PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR<br />
CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,<br />
EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,<br />
PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR<br />
PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF<br />
LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING<br />
NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS<br />
SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.<br />
</li>
</ul>
{% endblock %}
