<tr>
    <th rowspan="2">Any Linux</th>
    <th rowspan="2">Any CPU</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/snapshots/branches/binary/embarc-gui/20260130_null/embARC_GUI_1.4.20260130_Mac.dmg">v1.4.20260130</a></td>
    <td>A Java Virtual Machine is required</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/snapshots/branches/binary/embarc/20260130_null/embARC_CLI_1.4.20260130_Linux_x64.zip">v1.4.20260130</a></td>
    <td>A Java Virtual Machine is required</td>
</tr>
