<tr>
    <th rowspan="2">macOS 10.12 or later</th>
    <th rowspan="2">Universal installer</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/snapshots/binary/embarc-gui/20260404/embARC_GUI_1.4.20260404_Mac.dmg">v1.4.20260404</a></td>
    <td>If you don't know which one to download, download this one</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/snapshots/binary/embarc/20260404/embARC_CLI_1.4.20260404_Mac.dmg">v1.4.20260404</a></td>
    <td>&nbsp;</td>
</tr>
