<tr>
    <th rowspan="2">macOS 10.12 or later</th>
    <th rowspan="2">Universal installer</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/snapshots/binary/embarc-gui/20251125/embARC_GUI_1.4.20251125_Mac.dmg">v1.4.20251125</a></td>
    <td>If you don't know which one to download, download this one</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td>&nbsp;</td>
    <td>Install the GUI, then do <code>sudo ln -s /Applications/embARC.app/Contents/Helpers/embarc-cli /usr/local/bin</code></td>
</tr>
