<tr>
    <th rowspan="3">Sources</th>
    <td class="table-OS" colspan="3">Source code</td>
</tr>
<tr>
    <td><a href="//github.com/LibraryOfCongress/embARC">Main branch</a></td>
    <td>Source code</td>
</tr>
