<tr>
    <th rowspan="2">Windows 10, 11</th>
    <th rowspan="2">Universal installer (Intel 32/64 bit, ARM 64 bit)</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/snapshots/branches/binary/embarc-gui/20260130_sign-4/embARC_GUI_1.4.20260130_Windows_x64.exe">v1.4.20260130</a></td>
    <td>If you don't know which one to download, download this one</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/snapshots/branches/binary/embarc/20260130_sign-4/embARC_CLI_1.4.20260130_Windows_x64.zip">v1.4.20260130</a></td>
    <td>&nbsp;</td>
</tr>
