<tr>
    <th rowspan="2" colspan="2"><a href="https://market.android.com/details?id=net.mediaarea.mediainfo">Google Play</a></th>
    <td class="table-OS">Android 4.1 to 11</td>
</tr>
<tr>
    <td colspan="2">Google Play is the simplest way to find and download apps for your Android device.<br><a href="https://market.android.com/details?id=net.mediaarea.mediainfo">Get MediaInfo v21.03 on Google Play!</a></td>
</tr>
<tr>
    <td colspan="3">&nbsp;<br>&nbsp;</td>
</tr>
<tr>
    <th>Android 4.1 to 11</th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/21.03/MediaInfo_GUI_21.03_Android.apk">v21.03</a></td>
    <td>&nbsp;</td>
</tr>
