<tr>
    <th rowspan="2" colspan="2"><a href="https://market.android.com/details?id=net.mediaarea.mediainfo">Google Play</a></th>
    <td class="table-OS">Android 4.1 to 12</td>
</tr>
<tr>
    <td colspan="2">Google Play is the simplest way to find and download apps for your Android device.<br><a href="https://market.android.com/details?id=net.mediaarea.mediainfo">Get MediaInfo v24.01 on Google Play!</a></td>
</tr>
<tr>
    <td colspan="3">&nbsp;<br>&nbsp;</td>
</tr>
<tr>
    <th>Android 4.1 to 12</th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/24.01/MediaInfo_GUI_24.01_Android.apk">v24.01</a></td>
    <td>&nbsp;</td>
</tr>
