<tr>
    <th>Android 5.0 to 16</th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/26.01/MediaInfo_GUI_26.01_Android.apk">v26.01</a><small> (<a href="//mediaarea.net/download/binary/mediainfo-gui/26.01/MediaInfo_GUI_26.01_Android_armeabi-v7a.apk">arm-v7</a>, <a href="//mediaarea.net/download/binary/mediainfo-gui/26.01/MediaInfo_GUI_26.01_Android_arm64-v8a.apk">arm64</a>, <a href="//mediaarea.net/download/binary/mediainfo-gui/26.01/MediaInfo_GUI_26.01_Android_x86.apk">x86</a>, <a href="//mediaarea.net/download/binary/mediainfo-gui/26.01/MediaInfo_GUI_26.01_Android_x86_64.apk">x86_64</a>)</small></td>
    <td>Google Play is the simplest way to find and download apps for your Android device.<br><a href="https://play.google.com/store/apps/details?id=net.mediaarea.mediainfo">Get MediaInfo v26.01 on Google Play!</a></td>
</tr>
