<tr>
    <th>Android 4.4 to 15</th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/25.07/MediaInfo_GUI_25.07_Android.apk">v25.07</a><small> (<a href="//mediaarea.net/download/binary/mediainfo-gui/25.07/MediaInfo_GUI_25.07_Android_armeabi-v7a.apk">arm-v7</a>, <a href="//mediaarea.net/download/binary/mediainfo-gui/25.07/MediaInfo_GUI_25.07_Android_arm64-v8a.apk">arm64</a>, <a href="//mediaarea.net/download/binary/mediainfo-gui/25.07/MediaInfo_GUI_25.07_Android_x86.apk">x86</a>, <a href="//mediaarea.net/download/binary/mediainfo-gui/25.07/MediaInfo_GUI_25.07_Android_x86_64.apk">x86_64</a>)</small></td>
    <td>Google Play is the simplest way to find and download apps for your Android device.<br><a href="https://play.google.com/store/apps/details?id=net.mediaarea.mediainfo">Get MediaInfo v25.07 on Google Play!</a></td>
</tr>
