<tr>
    <th colspan="4">Download the AppImage corresponding to your architecture then, e.g for mediainfo-gui:<br>- Make it executable "chmod +x mediainfo-gui-*.AppImage"<br>- Run the AppImage "./mediainfo-gui-*.AppImage"</th>
</tr>
<tr>
    <th rowspan="2">64 bit</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/18.08.1/mediainfo-gui-18.08.1.glibc2.3-x86_64.AppImage">v18.08.1</td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/18.08.1/mediainfo-18.08.1.glibc2.3-x86_64.AppImage">v18.08.1</td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="2">32 bit</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/18.08.1/mediainfo-gui-18.08.1.glibc2.3-i686.AppImage">v18.08.1</td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/18.08.1/mediainfo-18.08.1.glibc2.3-i686.AppImage">v18.08.1</td>
    <td>&nbsp;</td>
</tr>
