<tr>
    <th colspan="3">Official distribution packages<br>search for "MediaInfo" in your package manager<br>or "pacman -S mediainfo-gui" (for GUI)<br> or "pacman -S mediainfo" (for CLI)</th>
    <td><a href="https://www.archlinux.org/packages/?q=mediainfo">Arch Linux package database</a></td>
    <td>Is currently up to date</td>
</tr>
<tr>
    <th colspan="5">Notes for installing the packages below:<br>"pacman -U *pkg.tar.*"</th>
</tr>

<tr>
    <th rowspan="8" id="Extra">Extra</th>
    <th rowspan="4" id="Extra.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/23.03/mediainfo-gui-23.03-x86_64.Arch_Extra.pkg.tar.zst">v23.03</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/23.03/mediainfo-23.03-x86_64.Arch_Extra.pkg.tar.zst">v23.03</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr>
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/23.03/libmediainfo-23.03-x86_64.Arch_Extra.pkg.tar.zst">v23.03</a></td>
    <td>requires libzen</td>
</tr>
<tr>
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.40/libzen-0.4.40-x86_64.Arch_Extra.pkg.tar.zst">v0.4.40</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="Extra.i586">i586</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/17.10/mediainfo-gui-17.10-i686.Arch_Extra.pkg.tar.xz">v17.10</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/17.10/mediainfo-17.10-i686.Arch_Extra.pkg.tar.xz">v17.10</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/17.10/libmediainfo-17.10-i686.Arch_Extra.pkg.tar.xz">v17.10</a></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-0.4.37-i686.Arch_Extra.pkg.tar.xz">v0.4.37</a></td>
    <td>&nbsp;</td>
</tr>
