{% extends 'MediaInfoBundle::base.html.twig' %}

{% block title %}{% trans %}download.arch.page.title{% endtrans %}{% endblock %}
{% block description %}{% trans %}about.page.description{% endtrans %}{% endblock %}
{% block keywords %}{% trans %}about.page.keywords{% endtrans %}{% endblock %}

{% block body %}
<h1>{% trans %}download.arch.title{% endtrans %}</h1>
{% image '@AppBundle/Resources/public/img/OS/ArchLinux.png' %}
<img src="{{ asset_url }}" alt="Arch Linux" title="Arch Linux" width="350" height="103"><br />
{% endimage %}

<div class="table-responsive">
<table class="download table table-bordered table-condensed">
<thead>
<tr class="table-header">
    <th>Version</th>
    <th>Architecture</th>
    <th>Interface</th>
    <td>Version</td>
    <td>Comment</td>
</tr>
</thead>
<tbody>
{{ include('@MediaInfo/Download/archlinuxTable.html.twig') }}
</tbody>
</table>
</div>
{% endblock %}
