<tr>
    <th colspan="4">For automatic update and easiest installation, enable MediaArea software repository for Debian<br>Search for "MediaInfo" in your package manager<br>or "apt-get install mediainfo-gui" (for GUI)<br> or "apt-get install mediainfo" (for CLI)</th>
    <td><a href='{{ path('ma_repos') }}'>Activate MediaArea Repository</a></td>
</tr>
<tr>
    <th colspan="4">Official distribution packages (Debian 8 AKA Jessie)<br>Search for "MediaInfo" in your package manager<br>or "apt-get install mediainfo-gui" (for GUI)<br> or "apt-get install mediainfo" (for CLI)</th>
    <td><a href="https://packages.debian.org/search?suite=jessie&amp;searchon=names&amp;keywords=mediainfo">Debian Jessie package database</a></td>
</tr>

<tr>
    <th colspan="5">Notes for installing the packages below:<br>"sudo dpkg -i *deb"<br><br>If you get an error message, use:<br>"sudo apt-get -f install"</th>
</tr>

<tr>
    <th rowspan="8" id="9">9 (Stretch)</th>
    <th rowspan="4" id="9.amd64">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/18.12/mediainfo-gui_18.12-1_amd64.Debian_9.0.deb">v18.12</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/18.12/mediainfo_18.12-1_amd64.Debian_9.0.deb">v18.12</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/18.12/libmediainfo0v5_18.12-1_amd64.Debian_9.0.deb">v18.12</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/18.12/libmediainfo-dev_18.12-1_amd64.Debian_9.0.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/18.12/libmediainfo-doc_18.12-1_amd64.Debian_9.0.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen0v5_0.4.37-1_amd64.Debian_9.0.deb">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-dev_0.4.37-1_amd64.Debian_9.0.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc_0.4.37-1_amd64.Debian_9.0.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="4" id="9.i386">i386</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/18.12/mediainfo-gui_18.12-1_i386.Debian_9.0.deb">v18.12</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/18.12/mediainfo_18.12-1_i386.Debian_9.0.deb">v18.12</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/18.12/libmediainfo0v5_18.12-1_i386.Debian_9.0.deb">v18.12</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/18.12/libmediainfo-dev_18.12-1_i386.Debian_9.0.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/18.12/libmediainfo-doc_18.12-1_i386.Debian_9.0.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen0v5_0.4.37-1_i386.Debian_9.0.deb">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-dev_0.4.37-1_i386.Debian_9.0.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc_0.4.37-1_i386.Debian_9.0.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="8" id="8">8 (Jessie)</th>
    <th rowspan="4" id="8.amd64">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/18.12/mediainfo-gui_18.12-1_amd64.Debian_8.0.deb">v18.12</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/18.12/mediainfo_18.12-1_amd64.Debian_8.0.deb">v18.12</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/18.12/libmediainfo0_18.12-1_amd64.Debian_8.0.deb">v18.12</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/18.12/libmediainfo-dev_18.12-1_amd64.Debian_8.0.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/18.12/libmediainfo-doc_18.12-1_amd64.Debian_8.0.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen0_0.4.37-1_amd64.Debian_8.0.deb">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-dev_0.4.37-1_amd64.Debian_8.0.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc_0.4.37-1_amd64.Debian_8.0.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="4" id="8.i386">i386</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/18.12/mediainfo-gui_18.12-1_i386.Debian_8.0.deb">v18.12</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/18.12/mediainfo_18.12-1_i386.Debian_8.0.deb">v18.12</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/18.12/libmediainfo0_18.12-1_i386.Debian_8.0.deb">v18.12</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/18.12/libmediainfo-dev_18.12-1_i386.Debian_8.0.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/18.12/libmediainfo-doc_18.12-1_i386.Debian_8.0.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen0_0.4.37-1_i386.Debian_8.0.deb">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-dev_0.4.37-1_i386.Debian_8.0.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc_0.4.37-1_i386.Debian_8.0.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="8" id="7">7 (Wheezy)</th>
    <th rowspan="4" id="7.amd64">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/18.12/mediainfo-gui_18.12-1_amd64.Debian_7.0.deb">v18.12</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/18.12/mediainfo_18.12-1_amd64.Debian_7.0.deb">v18.12</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/18.12/libmediainfo0_18.12-1_amd64.Debian_7.0.deb">v18.12</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/18.12/libmediainfo-dev_18.12-1_amd64.Debian_7.0.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/18.12/libmediainfo-doc_18.12-1_amd64.Debian_7.0.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen0_0.4.37-1_amd64.Debian_7.0.deb">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-dev_0.4.37-1_amd64.Debian_7.0.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc_0.4.37-1_amd64.Debian_7.0.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="4" id="7.i386">i386</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/18.12/mediainfo-gui_18.12-1_i386.Debian_7.0.deb">v18.12</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/18.12/mediainfo_18.12-1_i386.Debian_7.0.deb">v18.12</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/18.12/libmediainfo0_18.12-1_i386.Debian_7.0.deb">v18.12</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/18.12/libmediainfo-dev_18.12-1_i386.Debian_7.0.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/18.12/libmediainfo-doc_18.12-1_i386.Debian_7.0.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen0_0.4.37-1_i386.Debian_7.0.deb">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-dev_0.4.37-1_i386.Debian_7.0.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc_0.4.37-1_i386.Debian_7.0.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="8" id="6">6 (Squeeze)</th>
    <th rowspan="4" id="6.amd64">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.94/mediainfo-gui_0.7.94-1_amd64.Debian_6.0.deb">v0.7.94</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.94/mediainfo_0.7.94-1_amd64.Debian_6.0.deb">v0.7.94</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo0_0.7.94-1_amd64.Debian_6.0.deb">v0.7.94</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-dev_0.7.94-1_amd64.Debian_6.0.deb">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen0_0.4.35-1_amd64.Debian_6.0.deb">v0.4.35</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-dev_0.4.35-1_amd64.Debian_6.0.deb">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="6.i386">i386</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.94/mediainfo-gui_0.7.94-1_i386.Debian_6.0.deb">v0.7.94</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.94/mediainfo_0.7.94-1_i386.Debian_6.0.deb">v0.7.94</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo0_0.7.94-1_i386.Debian_6.0.deb">v0.7.94</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-dev_0.7.94-1_i386.Debian_6.0.deb">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen0_0.4.35-1_i386.Debian_6.0.deb">v0.4.35</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-dev_0.4.35-1_i386.Debian_6.0.deb">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="8" id="5">5 (Lenny)</th>
    <th rowspan="4" id="5.amd64">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.62/mediainfo-gui_0.7.62-1_amd64.Debian_5.deb">v0.7.62</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.62/mediainfo_0.7.62-1_amd64.Debian_5.deb">v0.7.62</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.62/libmediainfo0_0.7.62-1_amd64.Debian_5.deb">v0.7.62</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.62/libmediainfo-dev_0.7.62-1_amd64.Debian_5.deb">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.28/libzen0_0.4.28-1_amd64.Debian_5.deb">v0.4.28</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.28/libzen-dev_0.4.28-1_amd64.Debian_5.deb">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="5.i386">i386</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.62/mediainfo-gui_0.7.62-1_i386.Debian_5.deb">v0.7.62</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.62/mediainfo_0.7.62-1_i386.Debian_5.deb">v0.7.62</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.62/libmediainfo0_0.7.62-1_i386.Debian_5.deb">v0.7.62</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.62/libmediainfo-dev_0.7.62-1_i386.Debian_5.deb">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.28/libzen0_0.4.28-1_i386.Debian_5.deb">v0.4.28</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.28/libzen-dev_0.4.28-1_i386.Debian_5.deb">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="8" id="4">4 (Etch)</th>
    <th rowspan="4" id="4.amd64">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.28/mediainfo-gui_0.7.28-1_amd64.Debian_4.deb">v0.7.28</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.28/mediainfo_0.7.28-1_amd64.Debian_4.deb">v0.7.28</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.28/libmediainfo0_0.7.28-1_amd64.Debian_4.deb">v0.7.28</a></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.9/libzen0_0.4.9-1_amd64.Debian_4.deb">v0.4.9</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="4.i386">i386</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.28/mediainfo-gui_0.7.28-1_i386.Debian_4.deb">v0.7.28</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.28/mediainfo_0.7.28-1_i386.Debian_4.deb">v0.7.28</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.28/libmediainfo0_0.7.28-1_i386.Debian_4.deb">v0.7.28</a></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.9/libzen0_0.4.9-1_i386.Debian_4.deb">v0.4.9</a></td>
    <td>&nbsp;</td>
</tr>
