<tr>
    <th colspan="4">For automatic update and easiest installation, enable MediaArea software repository for Fedora<br>search for "MediaInfo" in your package manager<br>or "yum install mediainfo-gui" (for GUI)<br> or "yum install mediainfo" (for CLI)</th>
    <td><a href='{{ path('ma_repos') }}'>Activate MediaArea Repository</a></td>
</tr>
<tr>
    <th colspan="4">Official distribution packages (Starting from Fedora 19)<br>search for "MediaInfo" in your package manager<br>or "yum install mediainfo-gui" (for GUI)<br> or "yum install mediainfo" (for CLI)</th>
    <td><a href="https://koji.fedoraproject.org/koji/packageinfo?packageID=18110">Fedora packages search</a></td>
</tr>
<tr>
    <th rowspan="8" id="38">38</th>
    <th rowspan="4" id="38.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/23.09/mediainfo-gui-23.09.x86_64.Fedora_38.rpm">v23.09</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/23.09/mediainfo-23.09.x86_64.Fedora_38.rpm">v23.09</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr>
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/23.09/libmediainfo-23.09.x86_64.Fedora_38.rpm">v23.09</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/23.09/libmediainfo-devel-23.09.x86_64.Fedora_38.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/23.09/libmediainfo-doc-23.09.x86_64.Fedora_38.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr>
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen-0.4.41.x86_64.Fedora_38.rpm">v0.4.41</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen-devel-0.4.41.x86_64.Fedora_38.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen-doc-0.4.41.x86_64.Fedora_38.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="4" id="38.aarch64">aarch64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/23.09/mediainfo-gui-23.09.aarch64.Fedora_38.rpm">v23.09</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/23.09/mediainfo-23.09.aarch64.Fedora_38.rpm">v23.09</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr>
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/23.09/libmediainfo-23.09.aarch64.Fedora_38.rpm">v23.09</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/23.09/libmediainfo-devel-23.09.aarch64.Fedora_38.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/23.09/libmediainfo-doc-23.09.aarch64.Fedora_38.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr>
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen-0.4.41.aarch64.Fedora_38.rpm">v0.4.41</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen-devel-0.4.41.aarch64.Fedora_38.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen-doc-0.4.41.aarch64.Fedora_38.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="8" id="37">37</th>
    <th rowspan="4" id="37.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/23.09/mediainfo-gui-23.09.x86_64.Fedora_37.rpm">v23.09</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/23.09/mediainfo-23.09.x86_64.Fedora_37.rpm">v23.09</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr>
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/23.09/libmediainfo-23.09.x86_64.Fedora_37.rpm">v23.09</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/23.09/libmediainfo-devel-23.09.x86_64.Fedora_37.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/23.09/libmediainfo-doc-23.09.x86_64.Fedora_37.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr>
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen-0.4.41.x86_64.Fedora_37.rpm">v0.4.41</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen-devel-0.4.41.x86_64.Fedora_37.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen-doc-0.4.41.x86_64.Fedora_37.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="4" id="37.aarch64">aarch64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/23.09/mediainfo-gui-23.09.aarch64.Fedora_37.rpm">v23.09</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/23.09/mediainfo-23.09.aarch64.Fedora_37.rpm">v23.09</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr>
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/23.09/libmediainfo-23.09.aarch64.Fedora_37.rpm">v23.09</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/23.09/libmediainfo-devel-23.09.aarch64.Fedora_37.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/23.09/libmediainfo-doc-23.09.aarch64.Fedora_37.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr>
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen-0.4.41.aarch64.Fedora_37.rpm">v0.4.41</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen-devel-0.4.41.aarch64.Fedora_37.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen-doc-0.4.41.aarch64.Fedora_37.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="8" id="36">36</th>
    <th rowspan="4" id="36.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/23.04/mediainfo-gui-23.04.x86_64.Fedora_36.rpm">v23.04</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/23.04/mediainfo-23.04.x86_64.Fedora_36.rpm">v23.04</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/23.04/libmediainfo-23.04.x86_64.Fedora_36.rpm">v23.04</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/23.04/libmediainfo-devel-23.04.x86_64.Fedora_36.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/23.04/libmediainfo-doc-23.04.x86_64.Fedora_36.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen-0.4.41.x86_64.Fedora_36.rpm">v0.4.41</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen-devel-0.4.41.x86_64.Fedora_36.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen-doc-0.4.41.x86_64.Fedora_36.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="36.aarch64">aarch64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/23.04/mediainfo-gui-23.04.aarch64.Fedora_36.rpm">v23.04</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/23.04/mediainfo-23.04.aarch64.Fedora_36.rpm">v23.04</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/23.04/libmediainfo-23.04.aarch64.Fedora_36.rpm">v23.04</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/23.04/libmediainfo-devel-23.04.aarch64.Fedora_36.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/23.04/libmediainfo-doc-23.04.aarch64.Fedora_36.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen-0.4.41.aarch64.Fedora_36.rpm">v0.4.41</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen-devel-0.4.41.aarch64.Fedora_36.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen-doc-0.4.41.aarch64.Fedora_36.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="8" id="35">35</th>
    <th rowspan="4" id="35.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/22.12/mediainfo-gui-22.12.x86_64.Fedora_35.rpm">v22.12</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/22.12/mediainfo-22.12.x86_64.Fedora_35.rpm">v22.12</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/22.12/libmediainfo-22.12.x86_64.Fedora_35.rpm">v22.12</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/22.12/libmediainfo-devel-22.12.x86_64.Fedora_35.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/22.12/libmediainfo-doc-22.12.x86_64.Fedora_35.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.40/libzen-0.4.40.x86_64.Fedora_35.rpm">v0.4.40</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.40/libzen-devel-0.4.40.x86_64.Fedora_35.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.40/libzen-doc-0.4.40.x86_64.Fedora_35.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="35.aarch64">aarch64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/22.12/mediainfo-gui-22.12.aarch64.Fedora_35.rpm">v22.12</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/22.12/mediainfo-22.12.aarch64.Fedora_35.rpm">v22.12</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/22.12/libmediainfo-22.12.aarch64.Fedora_35.rpm">v22.12</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/22.12/libmediainfo-devel-22.12.aarch64.Fedora_35.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/22.12/libmediainfo-doc-22.12.aarch64.Fedora_35.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.40/libzen-0.4.40.aarch64.Fedora_35.rpm">v0.4.40</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.40/libzen-devel-0.4.40.aarch64.Fedora_35.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.40/libzen-doc-0.4.40.aarch64.Fedora_35.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="12" id="34">34</th>
    <th rowspan="4" id="34.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/22.03/mediainfo-gui-22.03.x86_64.Fedora_34.rpm">v22.03</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/22.03/mediainfo-22.03.x86_64.Fedora_34.rpm">v22.03</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/22.03/libmediainfo-22.03.x86_64.Fedora_34.rpm">v22.03</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/22.03/libmediainfo-devel-22.03.x86_64.Fedora_34.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/22.03/libmediainfo-doc-22.03.x86_64.Fedora_34.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-0.4.39.x86_64.Fedora_34.rpm">v0.4.39</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-devel-0.4.39.x86_64.Fedora_34.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-doc-0.4.39.x86_64.Fedora_34.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="34.armv7l">armv7l</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/21.09/mediainfo-gui-21.09.armv7l.Fedora_34.rpm">v21.09</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/21.09/mediainfo-21.09.armv7l.Fedora_34.rpm">v21.09</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo-21.09.armv7l.Fedora_34.rpm">v21.09</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo-devel-21.09.armv7l.Fedora_34.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo-doc-21.09.armv7l.Fedora_34.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-0.4.39.armv7l.Fedora_34.rpm">v0.4.39</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-devel-0.4.39.armv7l.Fedora_34.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-doc-0.4.39.armv7l.Fedora_34.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="34.aarch64">aarch64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/22.03/mediainfo-gui-22.03.aarch64.Fedora_34.rpm">v22.03</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/22.03/mediainfo-22.03.aarch64.Fedora_34.rpm">v22.03</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/22.03/libmediainfo-22.03.aarch64.Fedora_34.rpm">v22.03</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/22.03/libmediainfo-devel-22.03.aarch64.Fedora_34.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/22.03/libmediainfo-doc-22.03.aarch64.Fedora_34.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-0.4.39.aarch64.Fedora_34.rpm">v0.4.39</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-devel-0.4.39.aarch64.Fedora_34.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-doc-0.4.39.aarch64.Fedora_34.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="12" id="33">33</th>
    <th rowspan="4" id="33.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/21.09/mediainfo-gui-21.09.x86_64.Fedora_33.rpm">v21.09</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/21.09/mediainfo-21.09.x86_64.Fedora_33.rpm">v21.09</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo-21.09.x86_64.Fedora_33.rpm">v21.09</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo-devel-21.09.x86_64.Fedora_33.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo-doc-21.09.x86_64.Fedora_33.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-0.4.39.x86_64.Fedora_33.rpm">v0.4.39</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-devel-0.4.39.x86_64.Fedora_33.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-doc-0.4.39.x86_64.Fedora_33.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="33.armv7l">armv7l</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/21.09/mediainfo-gui-21.09.armv7l.Fedora_33.rpm">v21.09</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/21.09/mediainfo-21.09.armv7l.Fedora_33.rpm">v21.09</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo-21.09.armv7l.Fedora_33.rpm">v21.09</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo-devel-21.09.armv7l.Fedora_33.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo-doc-21.09.armv7l.Fedora_33.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-0.4.39.armv7l.Fedora_33.rpm">v0.4.39</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-devel-0.4.39.armv7l.Fedora_33.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-doc-0.4.39.armv7l.Fedora_33.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="33.aarch64">aarch64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/21.09/mediainfo-gui-21.09.aarch64.Fedora_33.rpm">v21.09</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/21.09/mediainfo-21.09.aarch64.Fedora_33.rpm">v21.09</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo-21.09.aarch64.Fedora_33.rpm">v21.09</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo-devel-21.09.aarch64.Fedora_33.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo-doc-21.09.aarch64.Fedora_33.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-0.4.39.aarch64.Fedora_33.rpm">v0.4.39</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-devel-0.4.39.aarch64.Fedora_33.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-doc-0.4.39.aarch64.Fedora_33.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="12" id="32">32</th>
    <th rowspan="4" id="32.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/21.09/mediainfo-gui-21.09.x86_64.Fedora_32.rpm">v21.09</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/21.09/mediainfo-21.09.x86_64.Fedora_32.rpm">v21.09</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo-21.09.x86_64.Fedora_32.rpm">v21.09</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo-devel-21.09.x86_64.Fedora_32.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo-doc-21.09.x86_64.Fedora_32.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-0.4.39.x86_64.Fedora_32.rpm">v0.4.39</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-devel-0.4.39.x86_64.Fedora_32.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-doc-0.4.39.x86_64.Fedora_32.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="32.armv7l">armv7l</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/21.09/mediainfo-gui-21.09.armv7l.Fedora_32.rpm">v21.09</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/21.09/mediainfo-21.09.armv7l.Fedora_32.rpm">v21.09</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo-21.09.armv7l.Fedora_32.rpm">v21.09</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo-devel-21.09.armv7l.Fedora_32.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo-doc-21.09.armv7l.Fedora_32.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.38/libzen-0.4.38.armv7l.Fedora_32.rpm">v0.4.38</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.38/libzen-devel-0.4.38.armv7l.Fedora_32.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.38/libzen-doc-0.4.38.armv7l.Fedora_32.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="32.aarch64">aarch64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/21.09/mediainfo-gui-21.09.aarch64.Fedora_32.rpm">v21.09</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/21.09/mediainfo-21.09.aarch64.Fedora_32.rpm">v21.09</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo-21.09.aarch64.Fedora_32.rpm">v21.09</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo-devel-21.09.aarch64.Fedora_32.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo-doc-21.09.aarch64.Fedora_32.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-0.4.39.aarch64.Fedora_32.rpm">v0.4.39</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-devel-0.4.39.aarch64.Fedora_32.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-doc-0.4.39.aarch64.Fedora_32.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="12" id="31">31</th>
    <th rowspan="4" id="31.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/21.09/mediainfo-gui-21.09.x86_64.Fedora_31.rpm">v21.09</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/21.09/mediainfo-21.09.x86_64.Fedora_31.rpm">v21.09</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo-21.09.x86_64.Fedora_31.rpm">v21.09</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo-devel-21.09.x86_64.Fedora_31.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo-doc-21.09.x86_64.Fedora_31.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-0.4.39.x86_64.Fedora_31.rpm">v0.4.39</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-devel-0.4.39.x86_64.Fedora_31.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-doc-0.4.39.x86_64.Fedora_31.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="31.armv7l">armv7l</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/21.09/mediainfo-gui-21.09.armv7l.Fedora_31.rpm">v21.09</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/21.09/mediainfo-21.09.armv7l.Fedora_31.rpm">v21.09</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo-21.09.armv7l.Fedora_31.rpm">v21.09</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo-devel-21.09.armv7l.Fedora_31.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo-doc-21.09.armv7l.Fedora_31.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-0.4.39.armv7l.Fedora_31.rpm">v0.4.39</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-devel-0.4.39.armv7l.Fedora_31.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-doc-0.4.39.armv7l.Fedora_31.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="31.aarch64">aarch64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/21.09/mediainfo-gui-21.09.aarch64.Fedora_31.rpm">v21.09</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/21.09/mediainfo-21.09.aarch64.Fedora_31.rpm">v21.09</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo-21.09.aarch64.Fedora_31.rpm">v21.09</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo-devel-21.09.aarch64.Fedora_31.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo-doc-21.09.aarch64.Fedora_31.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-0.4.39.aarch64.Fedora_31.rpm">v0.4.39</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-devel-0.4.39.aarch64.Fedora_31.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-doc-0.4.39.aarch64.Fedora_31.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="16" id="30">30</th>
    <th rowspan="4" id="30.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/21.09/mediainfo-gui-21.09.x86_64.Fedora_30.rpm">v21.09</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/21.09/mediainfo-21.09.x86_64.Fedora_30.rpm">v21.09</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo-21.09.x86_64.Fedora_30.rpm">v21.09</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo-devel-21.09.x86_64.Fedora_30.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo-doc-21.09.x86_64.Fedora_30.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-0.4.39.x86_64.Fedora_30.rpm">v0.4.39</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-devel-0.4.39.x86_64.Fedora_30.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-doc-0.4.39.x86_64.Fedora_30.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="30.i686">i686</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/21.09/mediainfo-gui-21.09.i686.Fedora_30.rpm">v21.09</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/21.09/mediainfo-21.09.i686.Fedora_30.rpm">v21.09</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo-21.09.i686.Fedora_30.rpm">v21.09</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo-devel-21.09.i686.Fedora_30.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo-doc-21.09.i686.Fedora_30.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-0.4.39.i686.Fedora_30.rpm">v0.4.39</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-devel-0.4.39.i686.Fedora_30.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-doc-0.4.39.i686.Fedora_30.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="30.armv7l">armv7l</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/21.09/mediainfo-gui-21.09.armv7l.Fedora_30.rpm">v21.09</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/21.09/mediainfo-21.09.armv7l.Fedora_30.rpm">v21.09</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo-21.09.armv7l.Fedora_30.rpm">v21.09</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo-devel-21.09.armv7l.Fedora_30.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo-doc-21.09.armv7l.Fedora_30.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-0.4.39.armv7l.Fedora_30.rpm">v0.4.39</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-devel-0.4.39.armv7l.Fedora_30.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-doc-0.4.39.armv7l.Fedora_30.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="30.aarch64">aarch64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/21.09/mediainfo-gui-21.09.aarch64.Fedora_30.rpm">v21.09</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/21.09/mediainfo-21.09.aarch64.Fedora_30.rpm">v21.09</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo-21.09.aarch64.Fedora_30.rpm">v21.09</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo-devel-21.09.aarch64.Fedora_30.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo-doc-21.09.aarch64.Fedora_30.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-0.4.39.aarch64.Fedora_30.rpm">v0.4.39</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-devel-0.4.39.aarch64.Fedora_30.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-doc-0.4.39.aarch64.Fedora_30.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="16" id="29">29</th>
    <th rowspan="4" id="29.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/19.09/mediainfo-gui-19.09.x86_64.Fedora_29.rpm">v19.09</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/19.09/mediainfo-19.09.x86_64.Fedora_29.rpm">v19.09</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/19.09/libmediainfo-19.09.x86_64.Fedora_29.rpm">v19.09</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/19.09/libmediainfo-devel-19.09.x86_64.Fedora_29.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/19.09/libmediainfo-doc-19.09.x86_64.Fedora_29.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-0.4.37.x86_64.Fedora_29.rpm">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-devel-0.4.37.x86_64.Fedora_29.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc-0.4.37.x86_64.Fedora_29.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="29.i686">i686</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/18.12/mediainfo-gui-18.12.i686.Fedora_29.rpm">v18.12</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/18.12/mediainfo-18.12.i686.Fedora_29.rpm">v18.12</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/18.12/libmediainfo-18.12.i686.Fedora_29.rpm">v18.12</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/18.12/libmediainfo-devel-18.12.i686.Fedora_29.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/18.12/libmediainfo-doc-18.12.i686.Fedora_29.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-0.4.37.i686.Fedora_29.rpm">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-devel-0.4.37.i686.Fedora_29.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc-0.4.37.i686.Fedora_29.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="29.armv7l">armv7l</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/19.09/mediainfo-gui-19.09.armv7l.Fedora_29.rpm">v19.09</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/19.09/mediainfo-19.09.armv7l.Fedora_29.rpm">v19.09</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/19.09/libmediainfo-19.09.armv7l.Fedora_29.rpm">v19.09</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/19.09/libmediainfo-devel-19.09.armv7l.Fedora_29.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/19.09/libmediainfo-doc-19.09.armv7l.Fedora_29.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-0.4.37.armv7l.Fedora_29.rpm">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-devel-0.4.37.armv7l.Fedora_29.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc-0.4.37.armv7l.Fedora_29.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="29.aarch64">aarch64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/19.09/mediainfo-gui-19.09.aarch64.Fedora_29.rpm">v19.09</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/19.09/mediainfo-19.09.aarch64.Fedora_29.rpm">v19.09</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/19.09/libmediainfo-19.09.aarch64.Fedora_29.rpm">v19.09</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/19.09/libmediainfo-devel-19.09.aarch64.Fedora_29.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/19.09/libmediainfo-doc-19.09.aarch64.Fedora_29.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-0.4.37.aarch64.Fedora_29.rpm">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-devel-0.4.37.aarch64.Fedora_29.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc-0.4.37.aarch64.Fedora_29.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="28">28</th>
    <th rowspan="4" id="28.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/19.09/mediainfo-gui-19.09.x86_64.Fedora_28.rpm">v19.09</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/19.09/mediainfo-19.09.x86_64.Fedora_28.rpm">v19.09</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/19.09/libmediainfo-19.09.x86_64.Fedora_28.rpm">v19.09</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/19.09/libmediainfo-devel-19.09.x86_64.Fedora_28.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/19.09/libmediainfo-doc-19.09.x86_64.Fedora_28.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-0.4.37.x86_64.Fedora_28.rpm">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-devel-0.4.37.x86_64.Fedora_28.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc-0.4.37.x86_64.Fedora_28.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="27">27</th>
    <th rowspan="4" id="27.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/19.09/mediainfo-gui-19.09.x86_64.Fedora_27.rpm">v19.09</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/19.09/mediainfo-19.09.x86_64.Fedora_27.rpm">v19.09</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/19.09/libmediainfo-19.09.x86_64.Fedora_27.rpm">v19.09</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/19.09/libmediainfo-devel-19.09.x86_64.Fedora_27.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/19.09/libmediainfo-doc-19.09.x86_64.Fedora_27.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-0.4.37.x86_64.Fedora_27.rpm">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-devel-0.4.37.x86_64.Fedora_27.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc-0.4.37.x86_64.Fedora_27.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="26">26</th>
    <th rowspan="4" id="26.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/19.09/mediainfo-gui-19.09.x86_64.Fedora_26.rpm">v19.09</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/19.09/mediainfo-19.09.x86_64.Fedora_26.rpm">v19.09</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/19.09/libmediainfo-19.09.x86_64.Fedora_26.rpm">v19.09</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/19.09/libmediainfo-devel-19.09.x86_64.Fedora_26.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/19.09/libmediainfo-doc-19.09.x86_64.Fedora_26.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-0.4.37.x86_64.Fedora_26.rpm">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-devel-0.4.37.x86_64.Fedora_26.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc-0.4.37.x86_64.Fedora_26.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="8" id="25">25</th>
    <th rowspan="4" id="25.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/18.05/mediainfo-gui-18.05.x86_64.Fedora_25.rpm">v18.05</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/18.05/mediainfo-18.05.x86_64.Fedora_25.rpm">v18.05</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/18.05/libmediainfo-18.05.x86_64.Fedora_25.rpm">v18.05</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/18.05/libmediainfo-devel-18.05.x86_64.Fedora_25.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/18.05/libmediainfo-doc-18.05.x86_64.Fedora_25.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-0.4.37.x86_64.Fedora_25.rpm">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-devel-0.4.37.x86_64.Fedora_25.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc-0.4.37.x86_64.Fedora_25.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="25.i686">i686</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/18.05/mediainfo-gui-18.05.i686.Fedora_25.rpm">v18.05</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/18.05/mediainfo-18.05.i686.Fedora_25.rpm">v18.05</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/18.05/libmediainfo-18.05.i686.Fedora_25.rpm">v18.05</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/18.05/libmediainfo-devel-18.05.i686.Fedora_25.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/18.05/libmediainfo-doc-18.05.i686.Fedora_25.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-0.4.37.i686.Fedora_25.rpm">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-devel-0.4.37.i686.Fedora_25.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc-0.4.37.i686.Fedora_25.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="8" id="24">24</th>
    <th rowspan="4" id="24.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/18.05/mediainfo-gui-18.05.x86_64.Fedora_24.rpm">v18.05</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/18.05/mediainfo-18.05.x86_64.Fedora_24.rpm">v18.05</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/18.05/libmediainfo-18.05.x86_64.Fedora_24.rpm">v18.05</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/18.05/libmediainfo-devel-18.05.x86_64.Fedora_24.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/18.05/libmediainfo-doc-18.05.x86_64.Fedora_24.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-0.4.37.x86_64.Fedora_24.rpm">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-devel-0.4.37.x86_64.Fedora_24.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc-0.4.37.x86_64.Fedora_24.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="24.i686">i686</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/18.05/mediainfo-gui-18.05.i686.Fedora_24.rpm">v18.05</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/18.05/mediainfo-18.05.i686.Fedora_24.rpm">v18.05</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/18.05/libmediainfo-18.05.i686.Fedora_24.rpm">v18.05</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/18.05/libmediainfo-devel-18.05.i686.Fedora_24.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/18.05/libmediainfo-doc-18.05.i686.Fedora_24.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-0.4.37.i686.Fedora_24.rpm">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-devel-0.4.37.i686.Fedora_24.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc-0.4.37.i686.Fedora_24.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="8" id="23">23</th>
    <th rowspan="4" id="23.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.94/mediainfo-gui-0.7.94.x86_64.Fedora_23.rpm">v0.7.94</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.94/mediainfo-0.7.94.x86_64.Fedora_23.rpm">v0.7.94</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-0.7.94.x86_64.Fedora_23.rpm">v0.7.94</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-devel-0.7.94.x86_64.Fedora_23.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-doc-0.7.94.x86_64.Fedora_23.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-0.4.35.x86_64.Fedora_23.rpm">v0.4.35</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-devel-0.4.35.x86_64.Fedora_23.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-doc-0.4.35.x86_64.Fedora_23.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="23.i686">i686</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.94/mediainfo-gui-0.7.94.i686.Fedora_23.rpm">v0.7.94</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.94/mediainfo-0.7.94.i686.Fedora_23.rpm">v0.7.94</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-0.7.94.i686.Fedora_23.rpm">v0.7.94</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-devel-0.7.94.i686.Fedora_23.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-doc-0.7.94.i686.Fedora_23.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-0.4.35.i686.Fedora_23.rpm">v0.4.35</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-devel-0.4.35.i686.Fedora_23.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-doc-0.4.35.i686.Fedora_23.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="8" id="22">22</th>
    <th rowspan="4" id="22.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.94/mediainfo-gui-0.7.94.x86_64.Fedora_22.rpm">v0.7.94</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.94/mediainfo-0.7.94.x86_64.Fedora_22.rpm">v0.7.94</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-0.7.94.x86_64.Fedora_22.rpm">v0.7.94</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-devel-0.7.94.x86_64.Fedora_22.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-doc-0.7.94.x86_64.Fedora_22.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-0.4.35.x86_64.Fedora_22.rpm">v0.4.35</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-devel-0.4.35.x86_64.Fedora_22.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-doc-0.4.35.x86_64.Fedora_22.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="22.i686">i686</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.94/mediainfo-gui-0.7.94.i686.Fedora_22.rpm">v0.7.94</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.94/mediainfo-0.7.94.i686.Fedora_22.rpm">v0.7.94</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-0.7.94.i686.Fedora_22.rpm">v0.7.94</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-devel-0.7.94.i686.Fedora_22.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-doc-0.7.94.i686.Fedora_22.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-0.4.35.i686.Fedora_22.rpm">v0.4.35</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-devel-0.4.35.i686.Fedora_22.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-doc-0.4.35.i686.Fedora_22.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="8" id="21">21</th>
    <th rowspan="4" id="21.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.94/mediainfo-gui-0.7.94.x86_64.Fedora_21.rpm">v0.7.94</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.94/mediainfo-0.7.94.x86_64.Fedora_21.rpm">v0.7.94</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-0.7.94.x86_64.Fedora_21.rpm">v0.7.94</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-devel-0.7.94.x86_64.Fedora_21.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-doc-0.7.94.x86_64.Fedora_21.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-0.4.35.x86_64.Fedora_21.rpm">v0.4.35</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-devel-0.4.35.x86_64.Fedora_21.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-doc-0.4.35.x86_64.Fedora_21.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="21.i686">i686</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.94/mediainfo-gui-0.7.94.i686.Fedora_21.rpm">v0.7.94</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.94/mediainfo-0.7.94.i686.Fedora_21.rpm">v0.7.94</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-0.7.94.i686.Fedora_21.rpm">v0.7.94</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-devel-0.7.94.i686.Fedora_21.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-doc-0.7.94.i686.Fedora_21.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-0.4.35.i686.Fedora_21.rpm">v0.4.35</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-devel-0.4.35.i686.Fedora_21.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-doc-0.4.35.i686.Fedora_21.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="8" id="20">20 (Heisenbug)</th>
    <th rowspan="4" id="20.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.94/mediainfo-gui-0.7.94.x86_64.Fedora_20.rpm">v0.7.94</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.94/mediainfo-0.7.94.x86_64.Fedora_20.rpm">v0.7.94</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-0.7.94.x86_64.Fedora_20.rpm">v0.7.94</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-devel-0.7.94.x86_64.Fedora_20.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-doc-0.7.94.x86_64.Fedora_20.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-0.4.35.x86_64.Fedora_20.rpm">v0.4.35</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-devel-0.4.35.x86_64.Fedora_20.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-doc-0.4.35.x86_64.Fedora_20.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="20.i686">i686</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.94/mediainfo-gui-0.7.94.i686.Fedora_20.rpm">v0.7.94</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.94/mediainfo-0.7.94.i686.Fedora_20.rpm">v0.7.94</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-0.7.94.i686.Fedora_20.rpm">v0.7.94</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-devel-0.7.94.i686.Fedora_20.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-doc-0.7.94.i686.Fedora_20.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-0.4.35.i686.Fedora_20.rpm">v0.4.35</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-devel-0.4.35.i686.Fedora_20.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-doc-0.4.35.i686.Fedora_20.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>

<tr class="old-files">
    <th rowspan="8">19<br>(Schrdinger's Cat)</th>
    <th rowspan="4">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.73/mediainfo-gui-0.7.73-1.x86_64.Fedora_19.rpm">v0.7.73</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.73/mediainfo-0.7.73-1.x86_64.Fedora_19.rpm">v0.7.73</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.73/libmediainfo0-0.7.73-1.x86_64.Fedora_19.rpm">v0.7.73</a><small> (<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.73/libmediainfo-devel-0.7.73-1.x86_64.Fedora_19.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.73/libmediainfo-doc-0.7.73-1.x86_64.Fedora_19.rpm">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.31/libzen0-0.4.31-1.x86_64.Fedora_19.rpm">v0.4.31</a><small> (<a href="//mediaarea.net/download/binary/libzen0/0.4.31/libzen-devel-0.4.31-1.x86_64.Fedora_19.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.31/libzen-doc-0.4.31-1.x86_64.Fedora_19.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4">i686</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.73/mediainfo-gui-0.7.73-1.i686.Fedora_19.rpm">v0.7.73</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.73/mediainfo-0.7.73-1.i686.Fedora_19.rpm">v0.7.73</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.73/libmediainfo0-0.7.73-1.i686.Fedora_19.rpm">v0.7.73</a><small> (<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.73/libmediainfo-devel-0.7.73-1.i686.Fedora_19.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.73/libmediainfo-doc-0.7.73-1.i686.Fedora_19.rpm">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.31/libzen0-0.4.31-1.i686.Fedora_19.rpm">v0.4.31</a><small> (<a href="//mediaarea.net/download/binary/libzen0/0.4.31/libzen-devel-0.4.31-1.i686.Fedora_19.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.31/libzen-doc-0.4.31-1.i686.Fedora_19.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="8">18<br>(Spherical Cow)</th>
    <th rowspan="4">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.72/mediainfo-gui-0.7.72-1.x86_64.Fedora_18.rpm">v0.7.72</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.72/mediainfo-0.7.72-1.x86_64.Fedora_18.rpm">v0.7.72</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.72/libmediainfo0-0.7.72-1.x86_64.Fedora_18.rpm">v0.7.72</a><small> (<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.72/libmediainfo-devel-0.7.72-1.x86_64.Fedora_18.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.72/libmediainfo-doc-0.7.72-1.x86_64.Fedora_18.rpm">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.30/libzen0-0.4.30-1.x86_64.Fedora_18.rpm">v0.4.30</a><small> (<a href="//mediaarea.net/download/binary/libzen0/0.4.30/libzen-devel-0.4.30-1.x86_64.Fedora_18.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.30/libzen-doc-0.4.30-1.x86_64.Fedora_18.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4">i686</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.72/mediainfo-gui-0.7.72-1.i686.Fedora_18.rpm">v0.7.72</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.72/mediainfo-0.7.72-1.i686.Fedora_18.rpm">v0.7.72</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.72/libmediainfo0-0.7.72-1.i686.Fedora_18.rpm">v0.7.72</a><small> (<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.72/libmediainfo-devel-0.7.72-1.i686.Fedora_18.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.72/libmediainfo-doc-0.7.72-1.i686.Fedora_18.rpm">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.30/libzen0-0.4.30-1.i686.Fedora_18.rpm">v0.4.30</a><small> (<a href="//mediaarea.net/download/binary/libzen0/0.4.30/libzen-devel-0.4.30-1.i686.Fedora_18.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.30/libzen-doc-0.4.30-1.i686.Fedora_18.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="8">17<br>(Beefy Miracle)</th>
    <th rowspan="4">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.72/mediainfo-gui-0.7.72-1.x86_64.Fedora_17.rpm">v0.7.72</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.72/mediainfo-0.7.72-1.x86_64.Fedora_17.rpm">v0.7.72</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.72/libmediainfo0-0.7.72-1.x86_64.Fedora_17.rpm">v0.7.72</a><small> (<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.72/libmediainfo-devel-0.7.72-1.x86_64.Fedora_17.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.72/libmediainfo-doc-0.7.72-1.x86_64.Fedora_17.rpm">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.30/libzen0-0.4.30-1.x86_64.Fedora_17.rpm">v0.4.30</a><small> (<a href="//mediaarea.net/download/binary/libzen0/0.4.30/libzen-devel-0.4.30-1.x86_64.Fedora_17.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.30/libzen-doc-0.4.30-1.x86_64.Fedora_17.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4">i686</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.72/mediainfo-gui-0.7.72-1.i686.Fedora_17.rpm">v0.7.72</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.72/mediainfo-0.7.72-1.i686.Fedora_17.rpm">v0.7.72</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.72/libmediainfo0-0.7.72-1.i686.Fedora_17.rpm">v0.7.72</a><small> (<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.72/libmediainfo-devel-0.7.72-1.i686.Fedora_17.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.72/libmediainfo-doc-0.7.72-1.i686.Fedora_17.rpm">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.30/libzen0-0.4.30-1.i686.Fedora_17.rpm">v0.4.30</a><small> (<a href="//mediaarea.net/download/binary/libzen0/0.4.30/libzen-devel-0.4.30-1.i686.Fedora_17.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.30/libzen-doc-0.4.30-1.i686.Fedora_17.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="8">16<br>(Verne)</th>
    <th rowspan="4">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.62/mediainfo-gui-0.7.62-1.x86_64.Fedora_16.rpm">v0.7.62</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.62/mediainfo-0.7.62-1.x86_64.Fedora_16.rpm">v0.7.62</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.62/libmediainfo0-0.7.62-1.x86_64.Fedora_16.rpm">v0.7.62</a><small> (<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.62/libmediainfo-devel-0.7.62-1.x86_64.Fedora_16.rpm">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="https://downloads.sourceforge.net/zenlib/libzen0-0.4.28-1.x86_64.Fedora_16.rpm">v0.4.28</a><small> (<a href="https://downloads.sourceforge.net/zenlib/libzen-devel-0.4.28-1.x86_64.Fedora_16.rpm">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4">i686</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.62/mediainfo-gui-0.7.62-1.i686.Fedora_16.rpm">v0.7.62</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.62/mediainfo-0.7.62-1.i686.Fedora_16.rpm">v0.7.62</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.62/libmediainfo0-0.7.62-1.i686.Fedora_16.rpm">v0.7.62</a><small> (<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.62/libmediainfo-devel-0.7.62-1.i686.Fedora_16.rpm">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="https://downloads.sourceforge.net/zenlib/libzen0-0.4.28-1.i686.Fedora_16.rpm">v0.4.28</a><small> (<a href="https://downloads.sourceforge.net/zenlib/libzen-devel-0.4.28-1.i686.Fedora_16.rpm">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="8">15<br>(Lovelock)</th>
    <th rowspan="4">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/mediainfo-gui-0.7.58-1.x86_64.Fedora_15.rpm">v0.7.58</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/mediainfo-0.7.58-1.x86_64.Fedora_15.rpm">v0.7.58</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/libmediainfo0-0.7.58-1.x86_64.Fedora_15.rpm">v0.7.58</a><small> (<a href="https://downloads.sourceforge.net/mediainfo/libmediainfo-devel-0.7.58-1.x86_64.Fedora_15.rpm">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="https://downloads.sourceforge.net/zenlib/libzen0-0.4.26-1.x86_64.Fedora_15.rpm">v0.4.26</a><small> (<a href="https://downloads.sourceforge.net/zenlib/libzen-devel-0.4.26-1.x86_64.Fedora_15.rpm">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4">i686</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/mediainfo-gui-0.7.58-1.i386.Fedora_15.rpm">v0.7.58</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/mediainfo-0.7.58-1.i386.Fedora_15.rpm">v0.7.58</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/libmediainfo0-0.7.58-1.i386.Fedora_15.rpm">v0.7.58</a><small> (<a href="https://downloads.sourceforge.net/mediainfo/libmediainfo-devel-0.7.58-1.i386.Fedora_15.rpm">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="https://downloads.sourceforge.net/zenlib/libzen0-0.4.26-1.i386.Fedora_15.rpm">v0.4.26</a><small> (<a href="https://downloads.sourceforge.net/zenlib/libzen-devel-0.4.26-1.i386.Fedora_15.rpm">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="8">14<br>(Laughlin)</th>
    <th rowspan="4">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/mediainfo-gui-0.7.53-1.x86_64.Fedora_14.rpm">v0.7.53</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/mediainfo-0.7.53-1.x86_64.Fedora_14.rpm">v0.7.53</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/libmediainfo0-0.7.53-1.x86_64.Fedora_14.rpm">v0.7.53</a><small> (<a href="https://downloads.sourceforge.net/mediainfo/libmediainfo-devel-0.7.53-1.x86_64.Fedora_14.rpm">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="https://downloads.sourceforge.net/zenlib/libzen0-0.4.24-1.x86_64.Fedora_14.rpm">v0.4.24</a><small> (<a href="https://downloads.sourceforge.net/zenlib/libzen-devel-0.4.24-1.x86_64.Fedora_14.rpm">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4">i686</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/mediainfo-gui-0.7.53-1.i386.Fedora_14.rpm">v0.7.53</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/mediainfo-0.7.53-1.i386.Fedora_14.rpm">v0.7.53</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/libmediainfo0-0.7.53-1.i386.Fedora_14.rpm">v0.7.53</a><small> (<a href="https://downloads.sourceforge.net/mediainfo/libmediainfo-devel-0.7.53-1.i386.Fedora_14.rpm">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="https://downloads.sourceforge.net/zenlib/libzen0-0.4.24-1.i386.Fedora_14.rpm">v0.4.24</a><small> (<a href="https://downloads.sourceforge.net/zenlib/libzen-devel-0.4.24-1.i386.Fedora_14.rpm">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="8">13<br>(Goddard)</th>
    <th rowspan="4">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/mediainfo-gui-0.7.45-1.x86_64.Fedora_13.rpm">v0.7.45</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/mediainfo-0.7.45-1.x86_64.Fedora_13.rpm">v0.7.45</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/libmediainfo0-0.7.45-1.x86_64.Fedora_13.rpm">v0.7.45</a><small> (<a href="https://downloads.sourceforge.net/mediainfo/libmediainfo-devel-0.7.45-1.x86_64.Fedora_13.rpm">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="https://downloads.sourceforge.net/zenlib/libzen0-0.4.24-1.x86_64.Fedora_13.rpm">v0.4.24</a><small> (<a href="https://downloads.sourceforge.net/zenlib/libzen-devel-0.4.24-1.x86_64.Fedora_13.rpm">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4">i686</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/mediainfo-gui-0.7.45-1.i386.Fedora_13.rpm">v0.7.45</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/mediainfo-0.7.45-1.i386.Fedora_13.rpm">v0.7.45</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/libmediainfo0-0.7.45-1.i386.Fedora_13.rpm">v0.7.45</a><small> (<a href="https://downloads.sourceforge.net/mediainfo/libmediainfo-devel-0.7.45-1.i386.Fedora_13.rpm">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="https://downloads.sourceforge.net/zenlib/libzen0-0.4.24-1.i386.Fedora_13.rpm">v0.4.24</a><small> (<a href="https://downloads.sourceforge.net/zenlib/libzen-devel-0.4.24-1.i386.Fedora_13.rpm">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="8">12<br>(Constantine)</th>
    <th rowspan="4">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/mediainfo-gui-0.7.45-1.x86_64.Fedora_12.rpm">v0.7.45</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/mediainfo-0.7.45-1.x86_64.Fedora_12.rpm">v0.7.45</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/libmediainfo0-0.7.45-1.x86_64.Fedora_12.rpm">v0.7.45</a><small> (<a href="https://downloads.sourceforge.net/mediainfo/libmediainfo-devel-0.7.45-1.x86_64.Fedora_12.rpm">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="https://downloads.sourceforge.net/zenlib/libzen0-0.4.24-1.x86_64.Fedora_12.rpm">v0.4.24</a><small> (<a href="https://downloads.sourceforge.net/zenlib/libzen-devel-0.4.24-1.x86_64.Fedora_12.rpm">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4">i686</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/mediainfo-gui-0.7.45-1.i386.Fedora_12.rpm">v0.7.45</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/mediainfo-0.7.45-1.i386.Fedora_12.rpm">v0.7.45</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/libmediainfo0-0.7.45-1.i386.Fedora_12.rpm">v0.7.45</a><small> (<a href="https://downloads.sourceforge.net/mediainfo/libmediainfo-devel-0.7.45-1.i386.Fedora_12.rpm">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="https://downloads.sourceforge.net/zenlib/libzen0-0.4.24-1.i386.Fedora_12.rpm">v0.4.24</a><small> (<a href="https://downloads.sourceforge.net/zenlib/libzen-devel-0.4.24-1.i386.Fedora_12.rpm">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="8">11<br>(Leonidas)</th>
    <th rowspan="4">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/mediainfo-gui-0.7.34-1.x86_64.Fedora_11.rpm">v0.7.34</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/mediainfo-0.7.34-1.x86_64.Fedora_11.rpm">v0.7.34</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/libmediainfo0-0.7.34-1.x86_64.Fedora_11.rpm">v0.7.34</a><small> (<a href="https://downloads.sourceforge.net/mediainfo/libmediainfo-devel-0.7.34-1.x86_64.Fedora_11.rpm">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="https://downloads.sourceforge.net/zenlib/libzen0-0.4.14-1.x86_64.Fedora_11.rpm">v0.4.14</a><small> (<a href="https://downloads.sourceforge.net/zenlib/libzen-devel-0.4.14-1.x86_64.Fedora_11.rpm">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4">i686</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/mediainfo-gui-0.7.34-1.i386.Fedora_11.rpm">v0.7.34</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/mediainfo-0.7.34-1.i386.Fedora_11.rpm">v0.7.34</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/libmediainfo0-0.7.34-1.i386.Fedora_11.rpm">v0.7.34</a><small> (<a href="https://downloads.sourceforge.net/mediainfo/libmediainfo-devel-0.7.34-1.i386.Fedora_11.rpm">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="https://downloads.sourceforge.net/zenlib/libzen0-0.4.14-1.i386.Fedora_11.rpm">v0.4.14</a><small> (<a href="https://downloads.sourceforge.net/zenlib/libzen-devel-0.4.14-1.i386.Fedora_11.rpm">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="8">10<br>(Cambridge)</th>
    <th rowspan="4">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/mediainfo-gui-0.7.34-1.x86_64.Fedora_10.rpm">v0.7.34</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/mediainfo-0.7.34-1.x86_64.Fedora_10.rpm">v0.7.34</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/libmediainfo0-0.7.34-1.x86_64.Fedora_10.rpm">v0.7.34</a><small> (<a href="https://downloads.sourceforge.net/mediainfo/libmediainfo-devel-0.7.34-1.x86_64.Fedora_10.rpm">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="https://downloads.sourceforge.net/zenlib/libzen0-0.4.14-1.x86_64.Fedora_10.rpm">v0.4.14</a><small> (<a href="https://downloads.sourceforge.net/zenlib/libzen-devel-0.4.14-1.x86_64.Fedora_10.rpm">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4">i686</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/mediainfo-gui-0.7.34-1.i386.Fedora_10.rpm">v0.7.34</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/mediainfo-0.7.34-1.i386.Fedora_10.rpm">v0.7.34</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/libmediainfo0-0.7.34-1.i386.Fedora_10.rpm">v0.7.34</a><small> (<a href="https://downloads.sourceforge.net/mediainfo/libmediainfo-devel-0.7.34-1.i386.Fedora_10.rpm">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="https://downloads.sourceforge.net/zenlib/libzen0-0.4.14-1.i386.Fedora_10.rpm">v0.4.14</a><small> (<a href="https://downloads.sourceforge.net/zenlib/libzen-devel-0.4.14-1.i386.Fedora_10.rpm">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="8">9<br>(Sulphur)</th>
    <th rowspan="4">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/mediainfo-gui-0.7.34-1.x86_64.Fedora_9.rpm">v0.7.34</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/mediainfo-0.7.34-1.x86_64.Fedora_9.rpm">v0.7.34</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/libmediainfo0-0.7.34-1.x86_64.Fedora_9.rpm">v0.7.34</a><small> (<a href="https://downloads.sourceforge.net/mediainfo/libmediainfo-devel-0.7.34-1.x86_64.Fedora_9.rpm">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="https://downloads.sourceforge.net/zenlib/libzen0-0.4.14-1.x86_64.Fedora_9.rpm">v0.4.14</a><small> (<a href="https://downloads.sourceforge.net/zenlib/libzen-devel-0.4.14-1.x86_64.Fedora_9.rpm">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4">i686</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/mediainfo-gui-0.7.34-1.i386.Fedora_9.rpm">v0.7.34</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/mediainfo-0.7.34-1.i386.Fedora_9.rpm">v0.7.34</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/libmediainfo0-0.7.34-1.i386.Fedora_9.rpm">v0.7.34</a><small> (<a href="https://downloads.sourceforge.net/mediainfo/libmediainfo-devel-0.7.34-1.i386.Fedora_9.rpm">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="https://downloads.sourceforge.net/zenlib/libzen0-0.4.14-1.i386.Fedora_9.rpm">v0.4.14</a><small> (<a href="https://downloads.sourceforge.net/zenlib/libzen-devel-0.4.14-1.i386.Fedora_9.rpm">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="8">8<br>(Wereworlf)</th>
    <th rowspan="4">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/mediainfo-gui-0.7.11-1.x86_64.Fedora_8.rpm">v0.7.11</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/mediainfo-0.7.11-1.x86_64.Fedora_8.rpm">v0.7.11</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/libmediainfo0-0.7.11-1.x86_64.Fedora_8.rpm">v0.7.11</a><small> (<a href="https://downloads.sourceforge.net/mediainfo/libmediainfo-devel-0.7.11-1.x86_64.Fedora_8.rpm">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="https://downloads.sourceforge.net/zenlib/libzen0-0.3.8-1.x86_64.Fedora_8.rpm">v0.3.8</a><small> (<a href="https://downloads.sourceforge.net/zenlib/libzen-devel-0.3.8-1.x86_64.Fedora_8.rpm">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4">i686</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/mediainfo-gui-0.7.11-1.i386.Fedora_8.rpm">v0.7.11</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/mediainfo-0.7.11-1.i386.Fedora_8.rpm">v0.7.11</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/libmediainfo0-0.7.11-1.i386.Fedora_8.rpm">v0.7.11</a><small> (<a href="https://downloads.sourceforge.net/mediainfo/libmediainfo-devel-0.7.11-1.i386.Fedora_8.rpm">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="https://downloads.sourceforge.net/zenlib/libzen0-0.3.8-1.i386.Fedora_8.rpm">v0.3.8</a><small> (<a href="https://downloads.sourceforge.net/zenlib/libzen-devel-0.3.8-1.i386.Fedora_8.rpm">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
