<tr>
    <th>JavaScript module</th>
    <th><abbr title="Dynamic Link Library">DLL</abbr></th>
    <td>&nbsp;</td>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/25.03/MediaInfo_DLL_25.03_JavaScript.zip">v25.03</a></td>
    <td>&nbsp;</td>
</tr>
