<tr>
    <th>JavaScript module</th>
    <th><abbr title="Dynamic Link Library">DLL</abbr></th>
    <td>&nbsp;</td>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/21.03/MediaInfo_DLL_21.03_JavaScript.zip">v21.03</a></td>
    <td>&nbsp;</td>
</tr>
