<tr>
    <th>JavaScript module</th>
    <th><abbr title="Dynamic Link Library">DLL</abbr></th>
    <td>&nbsp;</td>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/21.09/MediaInfo_DLL_21.09_JavaScript.zip">v21.09</a></td>
    <td>&nbsp;</td>
</tr>
