<tr>
    <th>JavaScript module</th>
    <th><abbr title="Dynamic Link Library">DLL</abbr></th>
    <td>&nbsp;</td>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/19.04/MediaInfo_DLL_19.04_JavaScript.zip">v19.04</a></td>
    <td>&nbsp;</td>
</tr>
