<tr>
    <th>JavaScript module</th>
    <th><abbr title="Dynamic Link Library">DLL</abbr></th>
    <td>&nbsp;</td>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/22.06/MediaInfo_DLL_22.06_JavaScript.zip">v22.06</a></td>
    <td>&nbsp;</td>
</tr>
