<tr>
    <th>JavaScript module</th>
    <th><abbr title="Dynamic Link Library">DLL</abbr></th>
    <td>&nbsp;</td>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/23.11/MediaInfo_DLL_23.11_JavaScript.zip">v23.11</a></td>
    <td>&nbsp;</td>
</tr>
