<tr>
    <th>JavaScript module</th>
    <th><abbr title="Dynamic Link Library">DLL</abbr></th>
    <td>&nbsp;</td>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/18.05/MediaInfo_DLL_18.05_JavaScript.zip">v18.05</a></td>
    <td>&nbsp;</td>
</tr>
