<tr>
    <th>JavaScript module</th>
    <th><abbr title="Dynamic Link Library">DLL</abbr></th>
    <td>&nbsp;</td>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/20.09/MediaInfo_DLL_20.09_JavaScript.zip">v20.09</a></td>
    <td>&nbsp;</td>
</tr>
