<tr>
    <th>JavaScript module</th>
    <th><abbr title="Dynamic Link Library">DLL</abbr></th>
    <td>&nbsp;</td>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/18.03/MediaInfo_DLL_18.03_JavaScript.zip">v18.03</a></td>
    <td>&nbsp;</td>
</tr>
