<tr>
    <th>JavaScript module</th>
    <th><abbr title="Dynamic Link Library">DLL</abbr></th>
    <td>&nbsp;</td>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/24.01/MediaInfo_DLL_24.01_JavaScript.zip">v24.01</a></td>
    <td>&nbsp;</td>
</tr>
