<tr>
    <th>JavaScript module</th>
    <th><abbr title="Dynamic Link Library">DLL</abbr></th>
    <td>&nbsp;</td>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/23.04/MediaInfo_DLL_23.04_JavaScript.zip">v23.04</a></td>
    <td>&nbsp;</td>
</tr>
