<tr>
    <th>JavaScript module</th>
    <th><abbr title="Dynamic Link Library">DLL</abbr></th>
    <td>&nbsp;</td>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/25.09/MediaInfo_DLL_25.09_JavaScript.zip">v25.09</a></td>
    <td>&nbsp;</td>
</tr>
