<tr>
    <th>JavaScript module</th>
    <th><abbr title="Dynamic Link Library">DLL</abbr></th>
    <td>&nbsp;</td>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/25.10/MediaInfo_DLL_25.10_JavaScript.zip">v25.10</a></td>
    <td>&nbsp;</td>
</tr>
