<tr>
    <th>JavaScript module</th>
    <th><abbr title="Dynamic Link Library">DLL</abbr></th>
    <td>&nbsp;</td>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/17.10/MediaInfo_DLL_17.10_JavaScript.zip">v17.10</a></td>
    <td>&nbsp;</td>
</tr>
