<tr>
    <th>JavaScript module</th>
    <th><abbr title="Dynamic Link Library">DLL</abbr></th>
    <td>&nbsp;</td>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/23.06/MediaInfo_DLL_23.06_JavaScript.zip">v23.06</a></td>
    <td>&nbsp;</td>
</tr>
