<tr>
    <th>JavaScript module</th>
    <th><abbr title="Dynamic Link Library">DLL</abbr></th>
    <td>&nbsp;</td>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/17.12/MediaInfo_DLL_17.12_JavaScript.zip">v17.12</a></td>
    <td>&nbsp;</td>
</tr>
