{% extends 'MediaInfoBundle::base.html.twig' %}

{% block title %}{% trans %}download.javascript.page.title{% endtrans %}{% endblock %}
{% block description %}{% trans %}about.page.description{% endtrans %}{% endblock %}
{% block keywords %}{% trans %}about.page.keywords{% endtrans %}{% endblock %}

{% block body %}
<h1>{% trans %}download.javascript.title{% endtrans %}</h1>

<div class="table-responsive">
<table class="download table table-bordered table-condensed">
<thead>
<tr class="table-header">
    <th>Version</th>
    <th>Interface</th>
    <th>&nbsp;</th>
    <th>Version</th>
    <th>Comment</th>
</tr>
</thead>
<tbody>
{{ include('@MediaInfo/Download/javascriptTable.html.twig') }}
</tbody>
</table>
</div>
{% endblock %}
