<tr>
    <th>JavaScript module</th>
    <th><abbr title="Dynamic Link Library">DLL</abbr></th>
    <td>&nbsp;</td>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/20.08/MediaInfo_DLL_20.08_JavaScript.zip">v20.08</a></td>
    <td>&nbsp;</td>
</tr>
