<tr>
    <th>JavaScript module</th>
    <th><abbr title="Dynamic Link Library">DLL</abbr></th>
    <td>&nbsp;</td>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/26.01/MediaInfo_DLL_26.01_JavaScript.zip">v26.01</a></td>
    <td>&nbsp;</td>
</tr>
