<tr>
    <th>JavaScript module</th>
    <th><abbr title="Dynamic Link Library">DLL</abbr></th>
    <td>&nbsp;</td>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/18.08/MediaInfo_DLL_18.08_JavaScript.zip">v18.08</a></td>
    <td>&nbsp;</td>
</tr>
