<tr>
    <th>JavaScript module</th>
    <th><abbr title="Dynamic Link Library">DLL</abbr></th>
    <td>&nbsp;</td>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/18.12/MediaInfo_DLL_18.12_JavaScript.zip">v18.12</a></td>
    <td>&nbsp;</td>
</tr>
