<tr>
    <th colspan="4">Download the CLI or Library archive and import it as a layer into your AWS lambda console</th>
</tr>
<tr>
    <th rowspan="2">x86_64</th>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/23.04/MediaInfo_CLI_23.04_Lambda_x86_64.zip">v23.04</td>
    <td>Binary path is /opt/bin/mediainfo</td>
</tr>
<tr>
    <th><abbr title="Dynamic Link Library">DLL</abbr></th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/23.04/MediaInfo_DLL_23.04_Lambda_x86_64.zip">v23.04</td>
    <td>Library path is /opt/lib/libmediainfo.so</td>
</tr>
<tr>
    <th rowspan="2">arm64</th>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/23.04/MediaInfo_CLI_23.04_Lambda_arm64.zip">v23.04</td>
    <td>Binary path is /opt/bin/mediainfo</td>
</tr>
<tr>
    <th><abbr title="Dynamic Link Library">DLL</abbr></th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/23.04/MediaInfo_DLL_23.04_Lambda_arm64.zip">v23.04</td>
    <td>Library path is /opt/lib/libmediainfo.so</td>
</tr>
