<tr>
    <th colspan="4">Download the CLI or Library archive and import it as a layer into your AWS lambda console</th>
</tr>
<tr>
    <th rowspan="2">64 bit</th>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/20.03/MediaInfo_CLI_20.03_Lambda.zip">v20.03</td>
    <td>Binary path is /opt/bin/mediainfo</td>
</tr>
<tr>
    <th><abbr title="Dynamic Link Library">DLL</abbr></th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/20.03/MediaInfoLib_DLL_20.03_Lambda.zip">v20.03</td>
    <td>Library path is /opt/lib/libmediainfo.so</td>
</tr>
