<tr>
    <th colspan="4">Download the CLI or Library archive and import it as a layer into your AWS lambda console</th>
</tr>
<tr>
    <th rowspan="2">64 bit</th>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/21.09/MediaInfo_CLI_21.09_Lambda.zip">v21.09</td>
    <td>Binary path is /opt/bin/mediainfo</td>
</tr>
<tr>
    <th><abbr title="Dynamic Link Library">DLL</abbr></th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/21.09/MediaInfo_DLL_21.09_Lambda.zip">v21.09</td>
    <td>Library path is /opt/lib/libmediainfo.so</td>
</tr>
