{% extends 'MediaInfoBundle::base.html.twig' %}

{% block title %}{% trans %}download.mac.page.title{% endtrans %}{% endblock %}
{% block description %}{% trans %}about.page.description{% endtrans %}{% endblock %}
{% block keywords %}{% trans %}about.page.keywords{% endtrans %}{% endblock %}

{% block body %}
<h1>{% trans %}download.mac.title{% endtrans %}</h1>
{% image '@AppBundle/Resources/public/img/OS/Mac_OS.png' %}
<img src="{{ asset_url }}" alt="macOS" title="macOS" width="250" height="100"><br />
{% endimage %}

<div class="table-responsive">
<table class="download table table-bordered table-condensed">
<thead>
<tr class="table-header">
    <th>Version</th>
    <th>Architecture</th>
    <th>Interface</th>
    <th>Version</th>
    <th>Comment</th>
</tr>
</thead>
<tbody>
{% include 'MediaInfoBundle:Download:macTable.html.twig' %}
</tbody>
</table>
</div>
{% endblock %}
