<tr>
    <th rowspan="2" colspan="2"><a href="https://geo.itunes.apple.com/app/mediainfo/id510620098">Mac App Store</a></th>
    <td class="table-OS" colspan="3">macOS 10.10 to 13, x86_64 and arm64</td>
</tr>
<tr>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td colspan="2">Mac App Store is the simplest way to find and download apps for your Mac.<br><a href="https://geo.itunes.apple.com/app/mediainfo/id510620098">Get MediaInfo v23.06 from Mac App Store!</a><br>(there is a small fee)</td>
</tr>
<tr>
    <td colspan="5">&nbsp;<br>&nbsp;</td>
</tr>
<tr>
    <th rowspan="3">macOS 10.10 to 13</th>
    <th rowspan="3">x86_64,<br>arm64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/23.06/MediaInfo_GUI_23.06_Mac.dmg">v23.06</a></td>
    <td>(free of charge GUI, but it is not well integrated in your OS: it is the old-style GUI I first used. Prefer the Mac App Store version)</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/23.06/MediaInfo_CLI_23.06_Mac.dmg">v23.06</a><small> Graph v23.06 (installer: <a href="//mediaarea.net/download/binary/mediainfo-graph-plugin/23.06/MediaInfo_GraphPlugin_CLI_23.06_Mac.dmg">dmg</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th><abbr title="Dynamic Library">DyLib</abbr></th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/23.06/MediaInfo_DLL_23.06_Mac_x86_64+arm64.tar.bz2">v23.06</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="3">macOS 10.6 to 10.9</th>
    <th rowspan="3">i386,<br>x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/20.09/MediaInfo_GUI_20.09_Mac.dmg">v20.09</a></td>
    <td>The GUI is x86_64 only.<br>(free of charge GUI, but it is not well integrated in your OS: it is the old-style GUI I first used. Prefer the Mac App Store version)</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/20.09/MediaInfo_CLI_20.09_Mac.dmg">v20.09</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th><abbr title="Dynamic Library">DyLib</abbr></th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/20.09/MediaInfo_DLL_20.09_Mac_i386+x86_64.tar.bz2">v20.09</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="3">10.4 (Tiger),<br>10.5 (Leopard)</th>
    <th rowspan="3">PPC,<br>i386</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.60/MediaInfo_GUI_0.7.60_Mac_Universal.dmg">v0.7.60</a></td>
    <td>(free of charge GUI, but it is not well integrated in your OS: it is the old-style GUI I first used.)</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.60/MediaInfo_CLI_0.7.60_Mac_Universal.dmg">v0.7.60</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th><abbr title="Dynamic Library">DyLib</abbr></th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.60/MediaInfo_DLL_0.7.60_Mac_Universal.tar.bz2">v0.7.60</a></td>
    <td>&nbsp;</td>
</tr>
