<tr>
    <th rowspan="4" id="9">9</th>
    <th rowspan="4" id="9.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/25.09/mediainfo-gui-25.09.x86_64.Mageia_9.rpm">v25.09</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/25.09/mediainfo-25.09.x86_64.Mageia_9.rpm">v25.09</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/25.09/libmediainfo0-25.09.x86_64.Mageia_9.rpm">v25.09</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/25.09/libmediainfo-devel-25.09.x86_64.Mageia_9.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/25.09/libmediainfo-doc-25.09.x86_64.Mageia_9.rpm">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen0-0.4.41.x86_64.Mageia_9.rpm">v0.4.41</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen-devel-0.4.41.x86_64.Mageia_9.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen-doc-0.4.41.x86_64.Mageia_9.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="8">8</th>
    <th rowspan="4" id="8.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/24.06/mediainfo-gui-24.06.x86_64.Mageia_8.rpm">v24.06</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/24.06/mediainfo-24.06.x86_64.Mageia_8.rpm">v24.06</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/24.06/libmediainfo0-24.06.x86_64.Mageia_8.rpm">v24.06</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/24.06/libmediainfo-devel-24.06.x86_64.Mageia_8.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/24.06/libmediainfo-doc-24.06.x86_64.Mageia_8.rpm">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen0-0.4.41.x86_64.Mageia_8.rpm">v0.4.41</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen-devel-0.4.41.x86_64.Mageia_8.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen-doc-0.4.41.x86_64.Mageia_8.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="7">7</th>
    <th rowspan="4" id="7.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/21.09/mediainfo-gui-21.09.x86_64.Mageia_7.rpm">v21.09</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/21.09/mediainfo-21.09.x86_64.Mageia_7.rpm">v21.09</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo0-21.09.x86_64.Mageia_7.rpm">v21.09</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo-devel-21.09.x86_64.Mageia_7.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo-doc-21.09.x86_64.Mageia_7.rpm">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen0-0.4.39.x86_64.Mageia_7.rpm">v0.4.39</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-devel-0.4.39.x86_64.Mageia_7.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-doc-0.4.39.x86_64.Mageia_7.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="8" id="6">6</th>
    <th rowspan="4" id="6.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/19.09/mediainfo-gui-19.09.x86_64.Mageia_6.rpm">v19.09</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/19.09/mediainfo-19.09.x86_64.Mageia_6.rpm">v19.09</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/19.09/libmediainfo0-19.09.x86_64.Mageia_6.rpm">v19.09</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/19.09/libmediainfo-devel-19.09.x86_64.Mageia_6.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/19.09/libmediainfo-doc-19.09.x86_64.Mageia_6.rpm">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen0-0.4.37.x86_64.Mageia_6.rpm">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-devel-0.4.37.x86_64.Mageia_6.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc-0.4.37.x86_64.Mageia_6.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="6.i586">i586</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/19.09/mediainfo-gui-19.09.i586.Mageia_6.rpm">v19.09</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/19.09/mediainfo-19.09.i586.Mageia_6.rpm">v19.09</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/19.09/libmediainfo0-19.09.i586.Mageia_6.rpm">v19.09</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/19.09/libmediainfo-devel-19.09.i586.Mageia_6.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/19.09/libmediainfo-doc-19.09.i586.Mageia_6.rpm">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen0-0.4.37.i586.Mageia_6.rpm">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-devel-0.4.37.i586.Mageia_6.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc-0.4.37.i586.Mageia_6.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="8" id="5_standard">5</th>
    <th rowspan="4" id="5_standard.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/18.05/mediainfo-gui-18.05.x86_64.Mageia_5_standard.rpm">v18.05</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/18.05/mediainfo-18.05.x86_64.Mageia_5_standard.rpm">v18.05</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/18.05/libmediainfo0-18.05.x86_64.Mageia_5_standard.rpm">v18.05</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/18.05/libmediainfo-devel-18.05.x86_64.Mageia_5_standard.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/18.05/libmediainfo-doc-18.05.x86_64.Mageia_5_standard.rpm">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen0-0.4.37.x86_64.Mageia_5_standard.rpm">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-devel-0.4.37.x86_64.Mageia_5_standard.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc-0.4.37.x86_64.Mageia_5_standard.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="5_standard.i586">i586</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/18.05/mediainfo-gui-18.05.i586.Mageia_5_standard.rpm">v18.05</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/18.05/mediainfo-18.05.i586.Mageia_5_standard.rpm">v18.05</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/18.05/libmediainfo0-18.05.i586.Mageia_5_standard.rpm">v18.05</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/18.05/libmediainfo-devel-18.05.i586.Mageia_5_standard.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/18.05/libmediainfo-doc-18.05.i586.Mageia_5_standard.rpm">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen0-0.4.37.i586.Mageia_5_standard.rpm">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-devel-0.4.37.i586.Mageia_5_standard.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc-0.4.37.i586.Mageia_5_standard.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
