<tr>
    <th rowspan="8" id="6">6</th>
    <th rowspan="4" id="6.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.98/mediainfo-gui-0.7.98.x86_64.Mageia_6.rpm">v0.7.98</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.98/mediainfo-0.7.98.x86_64.Mageia_6.rpm">v0.7.98</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.98/libmediainfo0-0.7.98.x86_64.Mageia_6.rpm">v0.7.98</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.98/libmediainfo-devel-0.7.98.x86_64.Mageia_6.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.98/libmediainfo-doc-0.7.98.x86_64.Mageia_6.rpm">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.36/libzen0-0.4.36.x86_64.Mageia_6.rpm">v0.4.36</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.36/libzen-devel-0.4.36.x86_64.Mageia_6.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.36/libzen-doc-0.4.36.x86_64.Mageia_6.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="4" id="6.i586">i586</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.98/mediainfo-gui-0.7.98.i586.Mageia_6.rpm">v0.7.98</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.98/mediainfo-0.7.98.i586.Mageia_6.rpm">v0.7.98</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.98/libmediainfo0-0.7.98.i586.Mageia_6.rpm">v0.7.98</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.98/libmediainfo-devel-0.7.98.i586.Mageia_6.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.98/libmediainfo-doc-0.7.98.i586.Mageia_6.rpm">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.36/libzen0-0.4.36.i586.Mageia_6.rpm">v0.4.36</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.36/libzen-devel-0.4.36.i586.Mageia_6.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.36/libzen-doc-0.4.36.i586.Mageia_6.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="8" id="5_standard">5</th>
    <th rowspan="4" id="5_standard.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.98/mediainfo-gui-0.7.98.x86_64.Mageia_5_standard.rpm">v0.7.98</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.98/mediainfo-0.7.98.x86_64.Mageia_5_standard.rpm">v0.7.98</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.98/libmediainfo0-0.7.98.x86_64.Mageia_5_standard.rpm">v0.7.98</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.98/libmediainfo-devel-0.7.98.x86_64.Mageia_5_standard.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.98/libmediainfo-doc-0.7.98.x86_64.Mageia_5_standard.rpm">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.36/libzen0-0.4.36.x86_64.Mageia_5_standard.rpm">v0.4.36</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.36/libzen-devel-0.4.36.x86_64.Mageia_5_standard.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.36/libzen-doc-0.4.36.x86_64.Mageia_5_standard.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="4" id="5_standard.i586">i586</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.98/mediainfo-gui-0.7.98.i586.Mageia_5_standard.rpm">v0.7.98</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.98/mediainfo-0.7.98.i586.Mageia_5_standard.rpm">v0.7.98</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.98/libmediainfo0-0.7.98.i586.Mageia_5_standard.rpm">v0.7.98</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.98/libmediainfo-devel-0.7.98.i586.Mageia_5_standard.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.98/libmediainfo-doc-0.7.98.i586.Mageia_5_standard.rpm">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.36/libzen0-0.4.36.i586.Mageia_5_standard.rpm">v0.4.36</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.36/libzen-devel-0.4.36.i586.Mageia_5_standard.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.36/libzen-doc-0.4.36.i586.Mageia_5_standard.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
