<tr class="old-files">
    <th rowspan="10">2011</th>
    <th rowspan="5">i586</th>
    <td class="table-OS" colspan="3" id="2011.i586">Mandriva 2011, i586</td>
</tr>
<tr class="old-files">
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.73/mediainfo-gui-0.7.73-1.i586.Mandriva_2011.rpm">v0.7.73</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.73/mediainfo-0.7.73-1.i586.Mandriva_2011.rpm">v0.7.73</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.73/libmediainfo0-0.7.73-1.i586.Mandriva_2011.rpm">v0.7.73</a><small> (<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.73/libmediainfo-devel-0.7.73-1.i586.Mandriva_2011.rpm">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.31/libzen0-0.4.31-1.i586.Mandriva_2011.rpm">v0.4.31</a><small> (<a href="//mediaarea.net/download/binary/libzen0/0.4.31/libzen-devel-0.4.31-1.i586.Mandriva_2011.rpm">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="5">x86_64</th>
    <td class="table-OS" colspan="3" id="2011.x86_64">Mandriva 2011, x86_64</td>
</tr>
<tr class="old-files">
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.73/mediainfo-gui-0.7.73-1.x86_64.Mandriva_2011.rpm">v0.7.73</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.73/mediainfo-0.7.73-1.x86_64.Mandriva_2011.rpm">v0.7.73</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.73/libmediainfo0-0.7.73-1.x86_64.Mandriva_2011.rpm">v0.7.73</a><small> (<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.73/libmediainfo-devel-0.7.73-1.x86_64.Mandriva_2011.rpm">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.31/libzen0-0.4.31-1.x86_64.Mandriva_2011.rpm">v0.4.31</a><small> (<a href="//mediaarea.net/download/binary/libzen0/0.4.31/libzen-devel-0.4.31-1.x86_64.Mandriva_2011.rpm">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="10">2010.1</th>
    <th rowspan="5">i586</th>
    <td class="table-OS" colspan="3" id="2010.1.i586">Mandriva 2010.1, i586</td>
</tr>
<tr class="old-files">
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.72/mediainfo-gui-0.7.72-1.i586.Mandriva_2010.1.rpm">v0.7.72</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.72/mediainfo-0.7.72-1.i586.Mandriva_2010.1.rpm">v0.7.72</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.72/libmediainfo0-0.7.72-1.i586.Mandriva_2010.1.rpm">v0.7.72</a><small> (<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.72/libmediainfo-devel-0.7.72-1.i586.Mandriva_2010.1.rpm">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.30/libzen0-0.4.30-1.i586.Mandriva_2010.1.rpm">v0.4.30</a><small> (<a href="//mediaarea.net/download/binary/libzen0/0.4.30/libzen-devel-0.4.30-1.i586.Mandriva_2010.1.rpm">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="5">x86_64</th>
    <td class="table-OS" colspan="3" id="2010.1.x86_64">Mandriva 2010.1, x86_64</td>
</tr>
<tr class="old-files">
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.72/mediainfo-gui-0.7.72-1.x86_64.Mandriva_2010.1.rpm">v0.7.72</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.72/mediainfo-0.7.72-1.x86_64.Mandriva_2010.1.rpm">v0.7.72</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.72/libmediainfo0-0.7.72-1.x86_64.Mandriva_2010.1.rpm">v0.7.72</a><small> (<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.72/libmediainfo-devel-0.7.72-1.x86_64.Mandriva_2010.1.rpm">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.30/libzen0-0.4.30-1.x86_64.Mandriva_2010.1.rpm">v0.4.30</a><small> (<a href="//mediaarea.net/download/binary/libzen0/0.4.30/libzen-devel-0.4.30-1.x86_64.Mandriva_2010.1.rpm">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="10">2010</th>
    <th rowspan="5">i586</th>
    <td class="table-OS" colspan="3" id="2010.i586">Mandriva 2010, i586</td>
</tr>
<tr class="old-files">
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.72/mediainfo-gui-0.7.72-1.i586.Mandriva_2010.rpm">v0.7.72</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.72/mediainfo-0.7.72-1.i586.Mandriva_2010.rpm">v0.7.72</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.72/libmediainfo0-0.7.72-1.i586.Mandriva_2010.rpm">v0.7.72</a><small> (<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.72/libmediainfo-devel-0.7.72-1.i586.Mandriva_2010.rpm">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.30/libzen0-0.4.30-1.i586.Mandriva_2010.rpm">v0.4.30</a><small> (<a href="//mediaarea.net/download/binary/libzen0/0.4.30/libzen-devel-0.4.30-1.i586.Mandriva_2010.rpm">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="5">x86_64</th>
    <td class="table-OS" colspan="3" id="2010.x86_64">Mandriva 2010, x86_64</td>
</tr>
<tr class="old-files">
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.72/mediainfo-gui-0.7.72-1.x86_64.Mandriva_2010.rpm">v0.7.72</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.72/mediainfo-0.7.72-1.x86_64.Mandriva_2010.rpm">v0.7.72</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.72/libmediainfo0-0.7.72-1.x86_64.Mandriva_2010.rpm">v0.7.72</a><small> (<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.72/libmediainfo-devel-0.7.72-1.x86_64.Mandriva_2010.rpm">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.30/libzen0-0.4.30-1.x86_64.Mandriva_2010.rpm">v0.4.30</a><small> (<a href="//mediaarea.net/download/binary/libzen0/0.4.30/libzen-devel-0.4.30-1.x86_64.Mandriva_2010.rpm">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="10">2009.1</th>
    <th rowspan="5">i586</th>
    <td class="table-OS" colspan="3" id="2009.1.i586">Mandriva 2009.1, i586</td>
</tr>
<tr class="old-files">
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.72/mediainfo-gui-0.7.72-1.i586.Mandriva_2009.1.rpm">v0.7.72</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.72/mediainfo-0.7.72-1.i586.Mandriva_2009.1.rpm">v0.7.72</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.72/libmediainfo0-0.7.72-1.i586.Mandriva_2009.1.rpm">v0.7.72</a><small> (<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.72/libmediainfo-devel-0.7.72-1.i586.Mandriva_2009.1.rpm">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.30/libzen0-0.4.30-1.i586.Mandriva_2009.1.rpm">v0.4.30</a><small> (<a href="//mediaarea.net/download/binary/libzen0/0.4.30/libzen-devel-0.4.30-1.i586.Mandriva_2009.1.rpm">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="5">x86_64</th>
    <td class="table-OS" colspan="3" id="2009.1.x86_64">Mandriva 2009.1, x86_64</td>
</tr>
<tr class="old-files">
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.72/mediainfo-gui-0.7.72-1.x86_64.Mandriva_2009.1.rpm">v0.7.72</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.72/mediainfo-0.7.72-1.x86_64.Mandriva_2009.1.rpm">v0.7.72</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.72/libmediainfo0-0.7.72-1.x86_64.Mandriva_2009.1.rpm">v0.7.72</a><small> (<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.72/libmediainfo-devel-0.7.72-1.x86_64.Mandriva_2009.1.rpm">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.30/libzen0-0.4.30-1.x86_64.Mandriva_2009.1.rpm">v0.4.30</a><small> (<a href="//mediaarea.net/download/binary/libzen0/0.4.30/libzen-devel-0.4.30-1.x86_64.Mandriva_2009.1.rpm">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="10">2009</th>
    <th rowspan="5">i586</th>
    <td class="table-OS" colspan="3" id="2009.i586">Mandriva 2009, i586</td>
</tr>
<tr class="old-files">
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="http://downloads.sourceforge.net/mediainfo/mediainfo-gui-0.7.33-1.i586.Mandriva_2009.rpm">v0.7.33</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="http://downloads.sourceforge.net/mediainfo/mediainfo-0.7.33-1.i586.Mandriva_2009.rpm">v0.7.33</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="http://downloads.sourceforge.net/mediainfo/libmediainfo0-0.7.33-1.i586.Mandriva_2009.rpm">v0.7.33</a><small> (<a href="http://downloads.sourceforge.net/mediainfo/libmediainfo-devel-0.7.33-1.i586.Mandriva_2009.rpm">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="http://downloads.sourceforge.net/zenlib/libzen0-0.4.14-1.i586.Mandriva_2009.rpm">v0.4.14</a><small> (<a href="http://downloads.sourceforge.net/zenlib/libzen-devel-0.4.14-1.i586.Mandriva_2009.rpm">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="5">x86_64</th>
    <td class="table-OS" colspan="3" id="2009.x86_64">Mandriva 2009, x86_64</td>
</tr>
<tr class="old-files">
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="http://downloads.sourceforge.net/mediainfo/mediainfo-gui-0.7.33-1.x86_64.Mandriva_2009.rpm">v0.7.33</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="http://downloads.sourceforge.net/mediainfo/mediainfo-0.7.33-1.x86_64.Mandriva_2009.rpm">v0.7.33</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="http://downloads.sourceforge.net/mediainfo/libmediainfo0-0.7.33-1.x86_64.Mandriva_2009.rpm">v0.7.33</a><small> (<a href="http://downloads.sourceforge.net/mediainfo/libmediainfo-devel-0.7.33-1.x86_64.Mandriva_2009.rpm">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="http://downloads.sourceforge.net/zenlib/libzen0-0.4.14-1.x86_64.Mandriva_2009.rpm">v0.4.14</a><small> (<a href="http://downloads.sourceforge.net/zenlib/libzen-devel-0.4.14-1.x86_64.Mandriva_2009.rpm">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="10">2008</th>
    <th rowspan="5">i586</th>
    <td class="table-OS" colspan="3" id="2008.i586">Mandriva 2008, i586</td>
</tr>
<tr class="old-files">
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="http://downloads.sourceforge.net/mediainfo/mediainfo-gui-0.7.37-1.i586.Mandriva_2008.rpm">v0.7.37</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="http://downloads.sourceforge.net/mediainfo/mediainfo-0.7.37-1.i586.Mandriva_2008.rpm">v0.7.37</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="http://downloads.sourceforge.net/mediainfo/libmediainfo0-0.7.37-1.i586.Mandriva_2008.rpm">v0.7.37</a><small> (<a href="http://downloads.sourceforge.net/mediainfo/libmediainfo-devel-0.7.37-1.i586.Mandriva_2008.rpm">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="http://downloads.sourceforge.net/zenlib/libzen0-0.4.14-1.i586.Mandriva_2008.rpm">v0.4.14</a><small> (<a href="http://downloads.sourceforge.net/zenlib/libzen-devel-0.4.14-1.i586.Mandriva_2008.rpm">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="5">x86_64</th>
    <td class="table-OS" colspan="3" id="2008.x86_64">Mandriva 2008, x86_64</td>
</tr>
<tr class="old-files">
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td>Not available</td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td>Not available</td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="http://downloads.sourceforge.net/mediainfo/libmediainfo0-0.7.37-1.x86_64.Mandriva_2008.rpm">v0.7.37</a><small> (<a href="http://downloads.sourceforge.net/mediainfo/libmediainfo-devel-0.7.37-1.x86_64.Mandriva_2008.rpm">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="http://downloads.sourceforge.net/zenlib/libzen0-0.4.14-1.x86_64.Mandriva_2008.rpm">v0.4.14</a><small> (<a href="http://downloads.sourceforge.net/zenlib/libzen-devel-0.4.14-1.x86_64.Mandriva_2008.rpm">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
