<tr>
    <th colspan="4">For automatic update and easiest installation, enable MediaArea software repository for Raspbian<br>Search for "MediaInfo" in your package manager<br>or "apt-get install mediainfo-gui" (for GUI)<br> or "apt-get install mediainfo" (for CLI)</th>
    <td><a href='{{ path('ma_repos') }}'>Activate MediaArea Repository</a></td>
</tr>

<tr>
    <th colspan="5">Notes for installing the packages below:<br>"sudo dpkg -i *deb"<br><br>If you get an error message, use:<br>"sudo apt-get -f install"</th>
</tr>

<tr>
    <th rowspan="8" id="9">9 (Stretch)</th>
    <th rowspan="4" id="9.armv7l">armv7l</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/19.04/mediainfo-gui_19.04-1_armv7l.Raspbian_9.0.deb">v19.04</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/19.04/mediainfo_19.04-1_armv7l.Raspbian_9.0.deb">v19.04</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/19.04/libmediainfo0v5_19.04-1_armv7l.Raspbian_9.0.deb">v19.04</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/19.04/libmediainfo-dev_19.04-1_armv7l.Raspbian_9.0.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/19.04/libmediainfo-doc_19.04-1_armv7l.Raspbian_9.0.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen0v5_0.4.37-1_armv7l.Raspbian_9.0.deb">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-dev_0.4.37-1_armv7l.Raspbian_9.0.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc_0.4.37-1_armv7l.Raspbian_9.0.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="4" id="9.aarch64">aarch64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/19.04/mediainfo-gui_19.04-1_aarch64.Raspbian_9.0.deb">v19.04</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/19.04/mediainfo_19.04-1_aarch64.Raspbian_9.0.deb">v19.04</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/19.04/libmediainfo0v5_19.04-1_aarch64.Raspbian_9.0.deb">v19.04</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/19.04/libmediainfo-dev_19.04-1_aarch64.Raspbian_9.0.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/19.04/libmediainfo-doc_19.04-1_aarch64.Raspbian_9.0.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen0v5_0.4.37-1_aarch64.Raspbian_9.0.deb">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-dev_0.4.37-1_aarch64.Raspbian_9.0.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc_0.4.37-1_aarch64.Raspbian_9.0.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
