<tr>
    <th colspan="4">For automatic update and easiest installation, enable MediaArea software repository for Raspbian<br>Search for "MediaInfo" in your package manager<br>or "apt-get install mediainfo-gui" (for GUI)<br> or "apt-get install mediainfo" (for CLI)</th>
    <td><a href='{{ path('ma_repos') }}'>Activate MediaArea Repository</a></td>
</tr>

<tr>
    <th colspan="5">Notes for installing the packages below:<br>"sudo dpkg -i *deb"<br><br>If you get an error message, use:<br>"sudo apt-get -f install"</th>
</tr>
<tr>
    <th rowspan="8" id="11">11 (Bullseye)</th>
    <th rowspan="4" id="11.armhf">armhf</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/24.05/mediainfo-gui_24.05-1_armhf.Raspbian_11.deb">v24.05</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/24.05/mediainfo_24.05-1_armhf.Raspbian_11.deb">v24.05</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/24.05/libmediainfo0v5_24.05-1_armhf.Raspbian_11.deb">v24.05</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/24.05/libmediainfo-dev_24.05-1_armhf.Raspbian_11.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/24.05/libmediainfo-doc_24.05-1_armhf.Raspbian_11.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen0v5_0.4.41-1_armhf.Raspbian_11.deb">v0.4.41</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen-dev_0.4.41-1_armhf.Raspbian_11.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen-doc_0.4.41-1_armhf.Raspbian_11.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="4" id="11.arm64">arm64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/24.05/mediainfo-gui_24.05-1_arm64.Raspbian_11.deb">v24.05</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/24.05/mediainfo_24.05-1_arm64.Raspbian_11.deb">v24.05</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/24.05/libmediainfo0v5_24.05-1_arm64.Raspbian_11.deb">v24.05</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/24.05/libmediainfo-dev_24.05-1_arm64.Raspbian_11.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/24.05/libmediainfo-doc_24.05-1_arm64.Raspbian_11.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen0v5_0.4.41-1_arm64.Raspbian_11.deb">v0.4.41</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen-dev_0.4.41-1_arm64.Raspbian_11.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen-doc_0.4.41-1_arm64.Raspbian_11.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="8" id="10">10 (Buster)</th>
    <th rowspan="4" id="10.armhf">armhf</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/24.05/mediainfo-gui_24.05-1_armhf.Raspbian_10.deb">v24.05</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/24.05/mediainfo_24.05-1_armhf.Raspbian_10.deb">v24.05</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/24.05/libmediainfo0v5_24.05-1_armhf.Raspbian_10.deb">v24.05</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/24.05/libmediainfo-dev_24.05-1_armhf.Raspbian_10.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/24.05/libmediainfo-doc_24.05-1_armhf.Raspbian_10.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen0v5_0.4.41-1_armhf.Raspbian_10.deb">v0.4.41</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen-dev_0.4.41-1_armhf.Raspbian_10.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen-doc_0.4.41-1_armhf.Raspbian_10.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="4" id="10.arm64">arm64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/24.05/mediainfo-gui_24.05-1_arm64.Raspbian_10.deb">v24.05</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/24.05/mediainfo_24.05-1_arm64.Raspbian_10.deb">v24.05</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/24.05/libmediainfo0v5_24.05-1_arm64.Raspbian_10.deb">v24.05</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/24.05/libmediainfo-dev_24.05-1_arm64.Raspbian_10.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/24.05/libmediainfo-doc_24.05-1_arm64.Raspbian_10.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen0v5_0.4.41-1_arm64.Raspbian_10.deb">v0.4.41</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen-dev_0.4.41-1_arm64.Raspbian_10.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen-doc_0.4.41-1_arm64.Raspbian_10.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="8" id="9">9 (Stretch)</th>
    <th rowspan="4" id="9.armv7l">armv7l</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/22.03/mediainfo-gui_22.03-1_armv7l.Raspbian_9.0.deb">v22.03</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/22.03/mediainfo_22.03-1_armv7l.Raspbian_9.0.deb">v22.03</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/22.03/libmediainfo0v5_22.03-1_armv7l.Raspbian_9.0.deb">v22.03</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/22.03/libmediainfo-dev_22.03-1_armv7l.Raspbian_9.0.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/22.03/libmediainfo-doc_22.03-1_armv7l.Raspbian_9.0.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen0v5_0.4.39-1_armv7l.Raspbian_9.0.deb">v0.4.39</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-dev_0.4.39-1_armv7l.Raspbian_9.0.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-doc_0.4.39-1_armv7l.Raspbian_9.0.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="9.aarch64">aarch64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/22.03/mediainfo-gui_22.03-1_aarch64.Raspbian_9.0.deb">v22.03</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/22.03/mediainfo_22.03-1_aarch64.Raspbian_9.0.deb">v22.03</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/22.03/libmediainfo0v5_22.03-1_aarch64.Raspbian_9.0.deb">v22.03</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/22.03/libmediainfo-dev_22.03-1_aarch64.Raspbian_9.0.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/22.03/libmediainfo-doc_22.03-1_aarch64.Raspbian_9.0.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen0v5_0.4.39-1_aarch64.Raspbian_9.0.deb">v0.4.39</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-dev_0.4.39-1_aarch64.Raspbian_9.0.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-doc_0.4.39-1_aarch64.Raspbian_9.0.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
