<tr>
    <th colspan="4">For automatic update and easiest installation, enable MediaArea software repository for Rocky Linux<br>search for "MediaInfo" in your package manager<br>or "yum install mediainfo-gui" (for GUI)<br> or "yum install mediainfo" (for CLI)</th>
    <td><a href='{{ path('ma_repos') }}'>Activate MediaArea Repository</a></td>
</tr>
<tr>
    <th colspan="4">EPEL distribution packages<br>search for "MediaInfo" in your package manager<br>or "yum install mediainfo-gui" (for GUI)<br> or "yum install mediainfo" (for CLI)</th>
    <td><a href="https://fedoraproject.org/wiki/EPEL">How to install EPEL</a></td>
</tr>
<tr>
    <th colspan="5">For up-to-date packages please check <a href="AlmaLinux">AlmaLinux releases</a></th>
</tr>
<tr class="old-files">
    <th rowspan=10" id="10">10</th>
    <th rowspan="5" id="10.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/25.10/mediainfo-gui-25.10.x86_64.RockyLinux_10.rpm">v25.10</a></td>
    <td>requires libmediainfo, wxGTK3</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/25.10/mediainfo-25.10.x86_64.RockyLinux_10.rpm">v25.10</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/25.10/libmediainfo-25.10.x86_64.RockyLinux_10.rpm">v25.10</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/25.10/libmediainfo-devel-25.10.x86_64.RockyLinux_10.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/25.10/libmediainfo-doc-25.10.x86_64.RockyLinux_10.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen-0.4.41.x86_64.RockyLinux_10.rpm">v0.4.41</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen-devel-0.4.41.x86_64.RockyLinux_10.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen-doc-0.4.41.x86_64.RockyLinux_10.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th>wxGTK3</th>
    <td><a href="//mediaarea.net/download/binary/wxGTK3/3.0.4/wxGTK3-3.0.4-1.x86_64.RockyLinux_10.rpm">v3.0.4</a><small> (<a href="//mediaarea.net/download/binary/wxGTK3/3.0.4/wxGTK3-devel-3.0.4-1.x86_64.RockyLinux_10.rpm">devel</a>)</small></td>
    <td>home made version, use your own version if possible</td>
</tr>
<tr class="old-files">
    <th rowspan="5" id="9.aarch64">aarch64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/25.10/mediainfo-gui-25.10.aarch64.RockyLinux_10.rpm">v25.10</a></td>
    <td>requires libmediainfo, wxGTK3</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/25.10/mediainfo-25.10.aarch64.RockyLinux_10.rpm">v25.10</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/25.10/libmediainfo-25.10.aarch64.RockyLinux_10.rpm">v25.10</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/25.10/libmediainfo-devel-25.10.aarch64.RockyLinux_10.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/25.10/libmediainfo-doc-25.10.aarch64.RockyLinux_10.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen-0.4.41.aarch64.RockyLinux_10.rpm">v0.4.41</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen-devel-0.4.41.aarch64.RockyLinux_10.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen-doc-0.4.41.aarch64.RockyLinux_10.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th>wxGTK3</th>
    <td><a href="//mediaarea.net/download/binary/wxGTK3/3.0.4/wxGTK3-3.0.4-1.aarch64.RockyLinux_10.rpm">v3.0.4</a><small> (<a href="//mediaarea.net/download/binary/wxGTK3/3.0.4/wxGTK3-devel-3.0.4-1.aarch64.RockyLinux_10.rpm">devel</a>)</small></td>
    <td>home made version, use your own version if possible</td>
</tr>

<tr class="old-files">
    <th rowspan=10" id="9">9</th>
    <th rowspan="5" id="9.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/25.10/mediainfo-gui-25.10.x86_64.RockyLinux_9.rpm">v25.10</a></td>
    <td>requires libmediainfo, wxGTK3</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/25.10/mediainfo-25.10.x86_64.RockyLinux_9.rpm">v25.10</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/25.10/libmediainfo-25.10.x86_64.RockyLinux_9.rpm">v25.10</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/25.10/libmediainfo-devel-25.10.x86_64.RockyLinux_9.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/25.10/libmediainfo-doc-25.10.x86_64.RockyLinux_9.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen-0.4.41.x86_64.RockyLinux_9.rpm">v0.4.41</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen-devel-0.4.41.x86_64.RockyLinux_9.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen-doc-0.4.41.x86_64.RockyLinux_9.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th>wxGTK3</th>
    <td><a href="//mediaarea.net/download/binary/wxGTK3/3.0.4/wxGTK3-3.0.4-1.x86_64.RockyLinux_9.rpm">v3.0.4</a><small> (<a href="//mediaarea.net/download/binary/wxGTK3/3.0.4/wxGTK3-devel-3.0.4-1.x86_64.RockyLinux_9.rpm">devel</a>)</small></td>
    <td>home made version, use your own version if possible</td>
</tr>
<tr class="old-files">
    <th rowspan="5" id="9.aarch64">aarch64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/25.10/mediainfo-gui-25.10.aarch64.RockyLinux_9.rpm">v25.10</a></td>
    <td>requires libmediainfo, wxGTK3</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/25.10/mediainfo-25.10.aarch64.RockyLinux_9.rpm">v25.10</a></td>
    <td>requires libmediainfo</td>
</tr>
<tr class="old-files">
    <th>libmediainfo</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/25.10/libmediainfo-25.10.aarch64.RockyLinux_9.rpm">v25.10</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/25.10/libmediainfo-devel-25.10.aarch64.RockyLinux_9.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/25.10/libmediainfo-doc-25.10.aarch64.RockyLinux_9.rpm">doc</a>)</small></td>
    <td>requires libzen</td>
</tr>
<tr class="old-files">
    <th>libzen</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen-0.4.41.aarch64.RockyLinux_9.rpm">v0.4.41</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen-devel-0.4.41.aarch64.RockyLinux_9.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.41/libzen-doc-0.4.41.aarch64.RockyLinux_9.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th>wxGTK3</th>
    <td><a href="//mediaarea.net/download/binary/wxGTK3/3.0.4/wxGTK3-3.0.4-1.aarch64.RockyLinux_9.rpm">v3.0.4</a><small> (<a href="//mediaarea.net/download/binary/wxGTK3/3.0.4/wxGTK3-devel-3.0.4-1.aarch64.RockyLinux_9.rpm">devel</a>)</small></td>
    <td>home made version, use your own version if possible</td>
</tr>

<tr>
    <th id="8">8</th>
    <td colspan="3">Check <a href="CentOS#8">CentOS releases</a>.</td>
</tr>
