<tr>
    <td colspan="5">Note: these packages are unofficial, no support is provided</td>
</tr>
<tr class="old-files">
    <th rowspan="10">12.2</th>
    <th rowspan="5">i686</th>
    <td class="table-OS" colspan="3" id="5.i386">Slackware, i686</td>
</tr>
<tr class="old-files">
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="http://sourceforge.net/projects/mediainfo/files/binary/mediainfo-gui/0.7.27/mediainfo-gui-0.7.27-1.i686.Slackware_12.2.tgz/download">v0.7.27</a></td>
    <td>All in one (mediainfo-gui, libmediainfo0, libzen0)</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td>Not available</td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td>Not available</td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td>Not available</td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="5">x86_64</th>
    <td class="table-OS" colspan="3" id="5.x86_64">Slackware, x86_64</td>
</tr>
<tr class="old-files">
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="https://sourceforge.net/projects/mediainfo/files/binary/mediainfo-gui/0.7.27/mediainfo-gui-0.7.27-1.x86_64.Slackware_12.2.tgz/download">v0.7.27</a></td>
    <td>All in one (mediainfo-gui, libmediainfo0, libzen0)</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td>Not available</td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td>Not available</td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td>Not available</td>
    <td>&nbsp;</td>
</tr>
