{% extends 'MediaInfoBundle::base.html.twig' %}

{% block title %}{% trans %}download.slackware.page.title{% endtrans %}{% endblock %}
{% block description %}{% trans %}about.page.description{% endtrans %}{% endblock %}
{% block keywords %}{% trans %}about.page.keywords{% endtrans %}{% endblock %}

{% block body %}
<h1>{% trans %}download.slackware.title{% endtrans %}</h1>
{% image '@AppBundle/Resources/public/img/OS/Slackware.png' %}
<img src="{{ asset_url }}" alt="Slackware" title="Slackware" width="238" height="67"><br />
{% endimage %}

<div class="table-responsive">
<table class="download table table-bordered table-condensed">
<thead>
<tr class="table-header">
    <th>Version</th>
    <th>CPU</th>
    <th>Interface</th>
    <td>Version</td>
    <td>Comment</td>
</tr>
</thead>
<tbody>
<tr>
    <th colspan="3">SlackBuild packages<br/>for installing MediaInfo, download the latests mediainfo, libmediainfo and libzen SlackBuild archives from <a href="https://slackbuilds.org/result/?search=mediainfo">https://slackbuilds.org/result/?search=mediainfo</a> and follow the <a href="https://slackbuilds.org/howto/">SlackBuild Usage HOWTO</a> installation steps.</th>
    <td></td>
    <td>Is currently up to date</td>
</tr>
<tr>
    <th colspan="3">No officialy supported packages are available</th>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
</tr>
</tbody>
</table>
</div>
{% endblock %}
