<tr>
    <th colspan="4">For automatic update and easiest installation, enable MediaArea software repository for SUSE Linux Entreprise<br>search for "MediaInfo" in your package manager<br>or "zypper install mediainfo-gui" (for GUI)<br> or "zypper install mediainfo" (for CLI)</th>
    <td><a href='{{ path('ma_repos') }}'>Activate MediaArea Repository</a></td>
</tr>
<tr>
    <th rowspan="4" id="15">15</th>
    <th rowspan="4" id="15.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/18.08/mediainfo-gui-18.08.x86_64.SLE_15.rpm">v18.08</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/18.08/mediainfo-18.08.x86_64.SLE_15.rpm">v18.08</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/18.08/libmediainfo0-18.08.x86_64.SLE_15.rpm">v18.08</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/18.08/libmediainfo-devel-18.08.x86_64.SLE_15.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/18.08/libmediainfo-doc-18.08.x86_64.SLE_15.rpm">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen0-0.4.37.x86_64.SLE_15.rpm">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-devel-0.4.37.x86_64.SLE_15.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc-0.4.37.x86_64.SLE_15.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="4" id="12_SP4">12 SP4</th>
    <th rowspan="4" id="12_SP4.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/18.08/mediainfo-gui-18.08.x86_64.SLE_12_SP4.rpm">v18.08</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/18.08/mediainfo-18.08.x86_64.SLE_12_SP4.rpm">v18.08</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/18.08/libmediainfo0-18.08.x86_64.SLE_12_SP4.rpm">v18.08</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/18.08/libmediainfo-devel-18.08.x86_64.SLE_12_SP4.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/18.08/libmediainfo-doc-18.08.x86_64.SLE_12_SP4.rpm">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen0-0.4.37.x86_64.SLE_12_SP4.rpm">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-devel-0.4.37.x86_64.SLE_12_SP4.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc-0.4.37.x86_64.SLE_12_SP4.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="12_SP3">12 SP3</th>
    <th rowspan="4" id="12_SP3.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/18.05/mediainfo-gui-18.05.x86_64.SLE_12_SP3.rpm">v18.05</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/18.05/mediainfo-18.05.x86_64.SLE_12_SP3.rpm">v18.05</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/18.05/libmediainfo0-18.05.x86_64.SLE_12_SP3.rpm">v18.05</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/18.05/libmediainfo-devel-18.05.x86_64.SLE_12_SP3.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/18.05/libmediainfo-doc-18.05.x86_64.SLE_12_SP3.rpm">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen0-0.4.37.x86_64.SLE_12_SP3.rpm">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-devel-0.4.37.x86_64.SLE_12_SP3.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc-0.4.37.x86_64.SLE_12_SP3.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="12_SP2">12 SP2</th>
    <th rowspan="4" id="12_SP2.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/18.05/mediainfo-gui-18.05.x86_64.SLE_12_SP2.rpm">v18.05</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/18.05/mediainfo-18.05.x86_64.SLE_12_SP2.rpm">v18.05</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/18.05/libmediainfo0-18.05.x86_64.SLE_12_SP2.rpm">v18.05</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/18.05/libmediainfo-devel-18.05.x86_64.SLE_12_SP2.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/18.05/libmediainfo-doc-18.05.x86_64.SLE_12_SP2.rpm">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen0-0.4.37.x86_64.SLE_12_SP2.rpm">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-devel-0.4.37.x86_64.SLE_12_SP2.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc-0.4.37.x86_64.SLE_12_SP2.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="12_SP1">12 SP1</th>
    <th rowspan="4" id="12_SP1.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/18.05/mediainfo-gui-18.05.x86_64.SLE_12_SP1.rpm">v18.05</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/18.05/mediainfo-18.05.x86_64.SLE_12_SP1.rpm">v18.05</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/18.05/libmediainfo0-18.05.x86_64.SLE_12_SP1.rpm">v18.05</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/18.05/libmediainfo-devel-18.05.x86_64.SLE_12_SP1.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/18.05/libmediainfo-doc-18.05.x86_64.SLE_12_SP1.rpm">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen0-0.4.37.x86_64.SLE_12_SP1.rpm">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-devel-0.4.37.x86_64.SLE_12_SP1.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc-0.4.37.x86_64.SLE_12_SP1.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="12">12</th>
    <th rowspan="4" id="12.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.94/mediainfo-gui-0.7.94.x86_64.SLE_12.rpm">v0.7.94</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.94/mediainfo-0.7.94.x86_64.SLE_12.rpm">v0.7.94</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo0-0.7.94.x86_64.SLE_12.rpm">v0.7.94</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-devel-0.7.94.x86_64.SLE_12.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-doc-0.7.94.x86_64.SLE_12.rpm">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen0-0.4.35.x86_64.SLE_12.rpm">v0.4.35</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-devel-0.4.35.x86_64.SLE_12.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-doc-0.4.35.x86_64.SLE_12.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="8" id="11_SP4">11 SP4</th>
    <th rowspan="4" id="11_SP4.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/18.08/mediainfo-gui-18.08.x86_64.SLE_11_SP4.rpm">v18.08</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/18.08/mediainfo-18.08.x86_64.SLE_11_SP4.rpm">v18.08</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/18.08/libmediainfo0-18.08.x86_64.SLE_11_SP4.rpm">v18.08</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/18.08/libmediainfo-devel-18.08.x86_64.SLE_11_SP4.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/18.08/libmediainfo-doc-18.08.x86_64.SLE_11_SP4.rpm">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen0-0.4.37.x86_64.SLE_11_SP4.rpm">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-devel-0.4.37.x86_64.SLE_11_SP4.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc-0.4.37.x86_64.SLE_11_SP4.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="4" id="11_SP4.i586">i586</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/18.08/mediainfo-gui-18.08.i586.SLE_11_SP4.rpm">v18.08</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/18.08/mediainfo-18.08.i586.SLE_11_SP4.rpm">v18.08</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/18.08/libmediainfo0-18.08.i586.SLE_11_SP4.rpm">v18.08</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/18.08/libmediainfo-devel-18.08.i586.SLE_11_SP4.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/18.08/libmediainfo-doc-18.08.i586.SLE_11_SP4.rpm">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen0-0.4.37.i586.SLE_11_SP4.rpm">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-devel-0.4.37.i586.SLE_11_SP4.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc-0.4.37.i586.SLE_11_SP4.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="8" id="11_SP3">11 SP3</th>
    <th rowspan="4" id="11_SP3.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.94/mediainfo-gui-0.7.94.x86_64.SLE_11_SP3.rpm">v0.7.94</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.94/mediainfo-0.7.94.x86_64.SLE_11_SP3.rpm">v0.7.94</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo0-0.7.94.x86_64.SLE_11_SP3.rpm">v0.7.94</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-devel-0.7.94.x86_64.SLE_11_SP3.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-doc-0.7.94.x86_64.SLE_11_SP3.rpm">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen0-0.4.35.x86_64.SLE_11_SP3.rpm">v0.4.35</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-devel-0.4.35.x86_64.SLE_11_SP3.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-doc-0.4.35.x86_64.SLE_11_SP3.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="11_SP3.i586">i586</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.94/mediainfo-gui-0.7.94.i586.SLE_11_SP3.rpm">v0.7.94</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.94/mediainfo-0.7.94.i586.SLE_11_SP3.rpm">v0.7.94</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo0-0.7.94.i586.SLE_11_SP3.rpm">v0.7.94</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-devel-0.7.94.i586.SLE_11_SP3.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-doc-0.7.94.i586.SLE_11_SP3.rpm">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen0-0.4.35.i586.SLE_11_SP3.rpm">v0.4.35</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-devel-0.4.35.i586.SLE_11_SP3.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-doc-0.4.35.i586.SLE_11_SP3.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="12" id="11_SP2">11 SP2</th>
    <th rowspan="4" id="11_SP2.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.94/mediainfo-gui-0.7.94.x86_64.SLE_11_SP2.rpm">v0.7.94</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.94/mediainfo-0.7.94.x86_64.SLE_11_SP2.rpm">v0.7.94</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo0-0.7.94.x86_64.SLE_11_SP2.rpm">v0.7.94</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-devel-0.7.94.x86_64.SLE_11_SP2.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-doc-0.7.94.x86_64.SLE_11_SP2.rpm">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen0-0.4.35.x86_64.SLE_11_SP2.rpm">v0.4.35</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-devel-0.4.35.x86_64.SLE_11_SP2.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-doc-0.4.35.x86_64.SLE_11_SP2.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="11_SP2.i586">i586</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.94/mediainfo-gui-0.7.94.i586.SLE_11_SP2.rpm">v0.7.94</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.94/mediainfo-0.7.94.i586.SLE_11_SP2.rpm">v0.7.94</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo0-0.7.94.i586.SLE_11_SP2.rpm">v0.7.94</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-devel-0.7.94.i586.SLE_11_SP2.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-doc-0.7.94.i586.SLE_11_SP2.rpm">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen0-0.4.35.i586.SLE_11_SP2.rpm">v0.4.35</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-devel-0.4.35.i586.SLE_11_SP2.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-doc-0.4.35.i586.SLE_11_SP2.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="11_SP2.ppc64">ppc64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.94/mediainfo-gui-0.7.94.ppc64.SLE_11_SP2.rpm">v0.7.94</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.94/mediainfo-0.7.94.ppc64.SLE_11_SP2.rpm">v0.7.94</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo0-0.7.94.ppc64.SLE_11_SP2.rpm">v0.7.94</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-devel-0.7.94.ppc64.SLE_11_SP2.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-doc-0.7.94.ppc64.SLE_11_SP2.rpm">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen0-0.4.35.ppc64.SLE_11_SP2.rpm">v0.4.35</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-devel-0.4.35.ppc64.SLE_11_SP2.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-doc-0.4.35.ppc64.SLE_11_SP2.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="8" id="11_SP1">11 SP1</th>
    <th rowspan="4" id="11_SP1.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.94/mediainfo-gui-0.7.94.x86_64.SLE_11_SP1.rpm">v0.7.94</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.94/mediainfo-0.7.94.x86_64.SLE_11_SP1.rpm">v0.7.94</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo0-0.7.94.x86_64.SLE_11_SP1.rpm">v0.7.94</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-devel-0.7.94.x86_64.SLE_11_SP1.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-doc-0.7.94.x86_64.SLE_11_SP1.rpm">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen0-0.4.35.x86_64.SLE_11_SP1.rpm">v0.4.35</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-devel-0.4.35.x86_64.SLE_11_SP1.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-doc-0.4.35.x86_64.SLE_11_SP1.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="11_SP1.i586">i586</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.94/mediainfo-gui-0.7.94.i586.SLE_11_SP1.rpm">v0.7.94</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.94/mediainfo-0.7.94.i586.SLE_11_SP1.rpm">v0.7.94</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo0-0.7.94.i586.SLE_11_SP1.rpm">v0.7.94</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-devel-0.7.94.i586.SLE_11_SP1.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-doc-0.7.94.i586.SLE_11_SP1.rpm">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen0-0.4.35.i586.SLE_11_SP1.rpm">v0.4.35</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-devel-0.4.35.i586.SLE_11_SP1.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-doc-0.4.35.i586.SLE_11_SP1.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="8" id="11">11</th>
    <th rowspan="4" id="11.x86_64">x86_64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.94/mediainfo-gui-0.7.94.x86_64.SLE_11.rpm">v0.7.94</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.94/mediainfo-0.7.94.x86_64.SLE_11.rpm">v0.7.94</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo0-0.7.94.x86_64.SLE_11.rpm">v0.7.94</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-devel-0.7.94.x86_64.SLE_11.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-doc-0.7.94.x86_64.SLE_11.rpm">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen0-0.4.35.x86_64.SLE_11.rpm">v0.4.35</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-devel-0.4.35.x86_64.SLE_11.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-doc-0.4.35.x86_64.SLE_11.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="11.i586">i586</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.94/mediainfo-gui-0.7.94.i586.SLE_11.rpm">v0.7.94</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.94/mediainfo-0.7.94.i586.SLE_11.rpm">v0.7.94</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo0-0.7.94.i586.SLE_11.rpm">v0.7.94</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-devel-0.7.94.i586.SLE_11.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-doc-0.7.94.i586.SLE_11.rpm">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen0-0.4.35.i586.SLE_11.rpm">v0.4.35</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-devel-0.4.35.i586.SLE_11.rpm">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-doc-0.4.35.i586.SLE_11.rpm">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
