<tr>
    <th colspan="4">Download the Snap corresponding to your architecture then, e.g for mediainfo-gui:<br>Install the Snap package "snap install --dangerous mediainfo-gui*.snap"<br>then run the application "snap run mediainfo-gui"</th>
</tr>
<tr>
    <th rowspan="2">64 bit</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/23.11/mediainfo-gui_23.11_amd64.snap">v23.11</td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/23.11/mediainfo_23.11_amd64.snap">v23.11</td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="2">32 bit</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/23.11/mediainfo-gui_23.11_i386.snap">v23.11</td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/23.11/mediainfo_23.11_i386.snap">v23.11</td>
    <td>&nbsp;</td>
</tr>
