<tr>
    <th colspan="4">Snapcraft.io is the simplest way to find and download snap applications.</th>
</tr>
<tr>
    <th rowspan="2">64 bit,<br/>32 bit</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="https://snapcraft.io/mediainfo-gui">Get on snapcraft.io</a><br/></td>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="https://snapcraft.io/mediainfo">Get on snapcraft.io</a><br/></td>
</tr>
<tr>
    <td colspan="4">&nbsp;<br>&nbsp;</td>
</tr>
<tr>
    <th colspan="4">Download the Snap corresponding to your architecture then, e.g for mediainfo-gui:<br>Install the Snap package "snap install --dangerous mediainfo-gui*.snap"<br>then run the application "snap run mediainfo-gui"</th>
</tr>
<tr>
    <th rowspan="2">64 bit</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/20.03/mediainfo-gui_20.03_amd64.snap">v20.03</td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/20.03/mediainfo_20.03_amd64.snap">v20.03</td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="2">32 bit</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/20.03/mediainfo-gui_20.03_i386.snap">v20.03</td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/20.03/mediainfo_20.03_i386.snap">v20.03</td>
    <td>&nbsp;</td>
</tr>
