<tr>
    <th colspan="4">Download the Snap corresponding to your architecture then, e.g for mediainfo-gui:<br>Install the Snap package "snap install --dangerous mediainfo-gui*.snap"<br>then run the application "snap run mediainfo-gui"</th>
</tr>
<tr>
    <th rowspan="2">64 bit</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/26.01/mediainfo-gui_26.01_amd64.snap">v26.01</td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/26.01/mediainfo_26.01_amd64.snap">v26.01</td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="2">32 bit</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/25.03/mediainfo-gui_25.03_i386.snap">v25.03</td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/25.03/mediainfo_25.03_i386.snap">v25.03</td>
    <td>&nbsp;</td>
</tr>
