<tr>
    <th colspan="4">For automatic update and easiest installation, enable MediaArea software repository for Ubuntu<br>Search for "MediaInfo" in your package manager<br>or "apt-get install mediainfo-gui" (for GUI)<br> or "apt-get install mediainfo" (for CLI)</th></th>
    <td><a href='{{ path('ma_repos') }}'>Activate MediaArea Repository</a></td>
</tr>
<tr>
    <th colspan="4">Official distribution packages (Starting from Ubuntu 12.04)<br>Search for "MediaInfo" in your package manager<br>or "apt-get install mediainfo-gui" (for GUI)<br> or "apt-get install mediainfo" (for CLI)</th>
    <td><a href="https://packages.ubuntu.com/search?searchon=names&amp;keywords=mediainfo">Ubuntu packages search</a></td>
</tr>

<tr>
    <th colspan="5">Notes for installing the packages below:<br>"sudo dpkg -i *deb"<br><br>If you get an error message, use:<br>"sudo apt-get -f install"</th>
</tr>
<tr>
    <th rowspan="4" id="22.10">Ubuntu 22.10 (Kinetic Kudu)</th>
    <th rowspan="4" id="22.10.amd64">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/22.12/mediainfo-gui_22.12-1_amd64.Ubuntu_22.10.deb">v22.12</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/22.12/mediainfo_22.12-1_amd64.Ubuntu_22.10.deb">v22.12</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/22.12/libmediainfo0v5_22.12-1_amd64.Ubuntu_22.10.deb">v22.12</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/22.12/libmediainfo-dev_22.12-1_amd64.Ubuntu_22.10.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/22.12/libmediainfo-doc_22.12-1_amd64.Ubuntu_22.10.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.40/libzen0v5_0.4.40-1_amd64.Ubuntu_22.10.deb">v0.4.40</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.40/libzen-dev_0.4.40-1_amd64.Ubuntu_22.10.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.40/libzen-doc_0.4.40-1_amd64.Ubuntu_22.10.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="4" id="22.04">Ubuntu 22.04 (Jammy Jellyfish)</th>
    <th rowspan="4" id="22.04.amd64">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/22.12/mediainfo-gui_22.12-1_amd64.xUbuntu_22.04.deb">v22.12</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/22.12/mediainfo_22.12-1_amd64.xUbuntu_22.04.deb">v22.12</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/22.12/libmediainfo0v5_22.12-1_amd64.xUbuntu_22.04.deb">v22.12</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/22.12/libmediainfo-dev_22.12-1_amd64.xUbuntu_22.04.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/22.12/libmediainfo-doc_22.12-1_amd64.xUbuntu_22.04.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.40/libzen0v5_0.4.40-1_amd64.xUbuntu_22.04.deb">v0.4.40</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.40/libzen-dev_0.4.40-1_amd64.xUbuntu_22.04.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.40/libzen-doc_0.4.40-1_amd64.xUbuntu_22.04.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="4" id="22.04">Ubuntu 21.10 (Impish Indri)</th>
    <th rowspan="4" id="21.10.amd64">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/22.12/mediainfo-gui_22.12-1_amd64.xUbuntu_21.10.deb">v22.12</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/22.12/mediainfo_22.12-1_amd64.xUbuntu_21.10.deb">v22.12</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/22.12/libmediainfo0v5_22.12-1_amd64.xUbuntu_21.10.deb">v22.12</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/22.12/libmediainfo-dev_22.12-1_amd64.xUbuntu_21.10.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/22.12/libmediainfo-doc_22.12-1_amd64.xUbuntu_21.10.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.40/libzen0v5_0.4.40-1_amd64.xUbuntu_21.10.deb">v0.4.40</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.40/libzen-dev_0.4.40-1_amd64.xUbuntu_21.10.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.40/libzen-doc_0.4.40-1_amd64.xUbuntu_21.10.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="21.04">Ubuntu 21.04 (Hirsute Hippo)</th>
    <th rowspan="4" id="21.04.amd64">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/21.09/mediainfo-gui_21.09-1_amd64.xUbuntu_21.04.deb">v21.09</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/21.09/mediainfo_21.09-1_amd64.xUbuntu_21.04.deb">v21.09</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo0v5_21.09-1_amd64.xUbuntu_21.04.deb">v21.09</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo-dev_21.09-1_amd64.xUbuntu_21.04.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo-doc_21.09-1_amd64.xUbuntu_21.04.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen0v5_0.4.39-1_amd64.xUbuntu_21.04.deb">v0.4.39</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-dev_0.4.39-1_amd64.xUbuntu_21.04.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-doc_0.4.39-1_amd64.xUbuntu_21.04.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="20.10">Ubuntu 20.10 (Groovy Gorilla)</th>
    <th rowspan="4" id="20.10.amd64">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/21.09/mediainfo-gui_21.09-1_amd64.xUbuntu_20.10.deb">v21.09</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/21.09/mediainfo_21.09-1_amd64.xUbuntu_20.10.deb">v21.09</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo0v5_21.09-1_amd64.xUbuntu_20.10.deb">v21.09</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo-dev_21.09-1_amd64.xUbuntu_20.10.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo-doc_21.09-1_amd64.xUbuntu_20.10.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen0v5_0.4.39-1_amd64.xUbuntu_20.10.deb">v0.4.39</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-dev_0.4.39-1_amd64.xUbuntu_20.10.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-doc_0.4.39-1_amd64.xUbuntu_20.10.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="4" id="20.04">Ubuntu 20.04 (Focal Fossa)<br>Linux Mint 20.x</th>
    <th rowspan="4" id="20.04.amd64">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/22.12/mediainfo-gui_22.12-1_amd64.xUbuntu_20.04.deb">v22.12</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/22.12/mediainfo_22.12-1_amd64.xUbuntu_20.04.deb">v22.12</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/22.12/libmediainfo0v5_22.12-1_amd64.xUbuntu_20.04.deb">v22.12</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/22.12/libmediainfo-dev_22.12-1_amd64.xUbuntu_20.04.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/22.12/libmediainfo-doc_22.12-1_amd64.xUbuntu_20.04.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.40/libzen0v5_0.4.40-1_amd64.xUbuntu_20.04.deb">v0.4.40</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.40/libzen-dev_0.4.40-1_amd64.xUbuntu_20.04.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.40/libzen-doc_0.4.40-1_amd64.xUbuntu_20.04.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="19.10">Ubuntu 19.10 (Eoan Ermine)</th>
    <th rowspan="4" id="19.10.amd64">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/21.09/mediainfo-gui_21.09-1_amd64.xUbuntu_19.10.deb">v21.09</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/21.09/mediainfo_21.09-1_amd64.xUbuntu_19.10.deb">v21.09</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo0v5_21.09-1_amd64.xUbuntu_19.10.deb">v21.09</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo-dev_21.09-1_amd64.xUbuntu_19.10.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo-doc_21.09-1_amd64.xUbuntu_19.10.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen0v5_0.4.39-1_amd64.xUbuntu_19.10.deb">v0.4.39</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-dev_0.4.39-1_amd64.xUbuntu_19.10.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-doc_0.4.39-1_amd64.xUbuntu_19.10.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="19.04">Ubuntu 19.04 (Disco Dingo)</th>
    <th rowspan="4" id="19.04.amd64">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/20.03/mediainfo-gui_20.03-1_amd64.xUbuntu_19.04.deb">v20.03</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/20.03/mediainfo_20.03-1_amd64.xUbuntu_19.04.deb">v20.03</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/20.03/libmediainfo0v5_20.03-1_amd64.xUbuntu_19.04.deb">v20.03</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/20.03/libmediainfo-dev_20.03-1_amd64.xUbuntu_19.04.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/20.03/libmediainfo-doc_20.03-1_amd64.xUbuntu_19.04.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.38/libzen0v5_0.4.38-1_amd64.xUbuntu_19.04.deb">v0.4.38</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.38/libzen-dev_0.4.38-1_amd64.xUbuntu_19.04.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.38/libzen-doc_0.4.38-1_amd64.xUbuntu_19.04.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="18.10">Ubuntu 18.10 (Cosmic Cuttlefish)</th>
    <th rowspan="4" id="18.10.amd64">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/20.03/mediainfo-gui_20.03-1_amd64.xUbuntu_18.10.deb">v20.03</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/20.03/mediainfo_20.03-1_amd64.xUbuntu_18.10.deb">v20.03</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/20.03/libmediainfo0v5_20.03-1_amd64.xUbuntu_18.10.deb">v20.03</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/20.03/libmediainfo-dev_20.03-1_amd64.xUbuntu_18.10.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/20.03/libmediainfo-doc_20.03-1_amd64.xUbuntu_18.10.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.38/libzen0v5_0.4.38-1_amd64.xUbuntu_18.10.deb">v0.4.38</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.38/libzen-dev_0.4.38-1_amd64.xUbuntu_18.10.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.38/libzen-doc_0.4.38-1_amd64.xUbuntu_18.10.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="8" id="18.04">Ubuntu 18.04 (Bionic Beaver)<br>Linux Mint 19.x</th>
    <th rowspan="4" id="18.04.amd64">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/22.12/mediainfo-gui_22.12-1_amd64.xUbuntu_18.04.deb">v22.12</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/22.12/mediainfo_22.12-1_amd64.xUbuntu_18.04.deb">v22.12</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/22.12/libmediainfo0v5_22.12-1_amd64.xUbuntu_18.04.deb">v22.12</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/22.12/libmediainfo-dev_22.12-1_amd64.xUbuntu_18.04.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/22.12/libmediainfo-doc_22.12-1_amd64.xUbuntu_18.04.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.40/libzen0v5_0.4.40-1_amd64.xUbuntu_18.04.deb">v0.4.40</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.40/libzen-dev_0.4.40-1_amd64.xUbuntu_18.04.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.40/libzen-doc_0.4.40-1_amd64.xUbuntu_18.04.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="4" id="18.04.i386">i386</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/22.12/mediainfo-gui_22.12-1_i386.xUbuntu_18.04.deb">v22.12</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/22.12/mediainfo_22.12-1_i386.xUbuntu_18.04.deb">v22.12</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr>
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/22.12/libmediainfo0v5_22.12-1_i386.xUbuntu_18.04.deb">v22.12</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/22.12/libmediainfo-dev_22.12-1_i386.xUbuntu_18.04.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/22.12/libmediainfo-doc_22.12-1_i386.xUbuntu_18.04.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr>
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.40/libzen0v5_0.4.40-1_i386.xUbuntu_18.04.deb">v0.4.40</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.40/libzen-dev_0.4.40-1_i386.xUbuntu_18.04.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.40/libzen-doc_0.4.40-1_i386.xUbuntu_18.04.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="8" id="17.10">Ubuntu 17.10 (Artful Aardvark)</th>
    <th rowspan="4" id="17.10.amd64">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/19.09/mediainfo-gui_19.09-1_amd64.xUbuntu_17.10.deb">v19.09</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/19.09/mediainfo_19.09-1_amd64.xUbuntu_17.10.deb">v19.09</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/19.09/libmediainfo0v5_19.09-1_amd64.xUbuntu_17.10.deb">v19.09</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/19.09/libmediainfo-dev_19.09-1_amd64.xUbuntu_17.10.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/19.09/libmediainfo-doc_19.09-1_amd64.xUbuntu_17.10.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen0v5_0.4.37-1_amd64.xUbuntu_17.10.deb">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-dev_0.4.37-1_amd64.xUbuntu_17.10.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc_0.4.37-1_amd64.xUbuntu_17.10.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="17.10.i386">i386</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/19.09/mediainfo-gui_19.09-1_i386.xUbuntu_17.10.deb">v19.09</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/19.09/mediainfo_19.09-1_i386.xUbuntu_17.10.deb">v19.09</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/19.09/libmediainfo0v5_19.09-1_i386.xUbuntu_17.10.deb">v19.09</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/19.09/libmediainfo-dev_19.09-1_i386.xUbuntu_17.10.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/19.09/libmediainfo-doc_19.09-1_i386.xUbuntu_17.10.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen0v5_0.4.37-1_i386.xUbuntu_17.10.deb">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-dev_0.4.37-1_i386.xUbuntu_17.10.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc_0.4.37-1_i386.xUbuntu_17.10.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="8" id="17.04">Ubuntu 17.04 (Zesty Zapus)</th>
    <th rowspan="4" id="17.04.amd64">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/18.05/mediainfo-gui_18.05-1_amd64.xUbuntu_17.04.deb">v18.05</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/18.05/mediainfo_18.05-1_amd64.xUbuntu_17.04.deb">v18.05</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/18.05/libmediainfo0v5_18.05-1_amd64.xUbuntu_17.04.deb">v18.05</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/18.05/libmediainfo-dev_18.05-1_amd64.xUbuntu_17.04.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/18.05/libmediainfo-doc_18.05-1_amd64.xUbuntu_17.04.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen0v5_0.4.37-1_amd64.xUbuntu_17.04.deb">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-dev_0.4.37-1_amd64.xUbuntu_17.04.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc_0.4.37-1_amd64.xUbuntu_17.04.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="17.04.i386">i386</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/18.05/mediainfo-gui_18.05-1_i386.xUbuntu_17.04.deb">v18.05</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/18.05/mediainfo_18.05-1_i386.xUbuntu_17.04.deb">v18.05</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/18.05/libmediainfo0v5_18.05-1_i386.xUbuntu_17.04.deb">v18.05</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/18.05/libmediainfo-dev_18.05-1_i386.xUbuntu_17.04.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/18.05/libmediainfo-doc_18.05-1_i386.xUbuntu_17.04.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen0v5_0.4.37-1_i386.xUbuntu_17.04.deb">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-dev_0.4.37-1_i386.xUbuntu_17.04.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc_0.4.37-1_i386.xUbuntu_17.04.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="8" id="16.10">Ubuntu 16.10 (Yakkety Yak)</th>
    <th rowspan="4" id="16.10.amd64">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/18.05/mediainfo-gui_18.05-1_amd64.xUbuntu_16.10.deb">v18.05</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/18.05/mediainfo_18.05-1_amd64.xUbuntu_16.10.deb">v18.05</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/18.05/libmediainfo0v5_18.05-1_amd64.xUbuntu_16.10.deb">v18.05</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/18.05/libmediainfo-dev_18.05-1_amd64.xUbuntu_16.10.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/18.05/libmediainfo-doc_18.05-1_amd64.xUbuntu_16.10.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen0v5_0.4.37-1_amd64.xUbuntu_16.10.deb">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-dev_0.4.37-1_amd64.xUbuntu_16.10.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc_0.4.37-1_amd64.xUbuntu_16.10.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="16.10.i386">i386</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/18.05/mediainfo-gui_18.05-1_i386.xUbuntu_16.10.deb">v18.05</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/18.05/mediainfo_18.05-1_i386.xUbuntu_16.10.deb">v18.05</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/18.05/libmediainfo0v5_18.05-1_i386.xUbuntu_16.10.deb">v18.05</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/18.05/libmediainfo-dev_18.05-1_i386.xUbuntu_16.10.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/18.05/libmediainfo-doc_18.05-1_i386.xUbuntu_16.10.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen0v5_0.4.37-1_i386.xUbuntu_16.10.deb">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-dev_0.4.37-1_i386.xUbuntu_16.10.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc_0.4.37-1_i386.xUbuntu_16.10.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="8" id="16.04">Ubuntu 16.04 (Xenial Xerus)<br>Linux Mint 18.3 (Sylvia)</th>
    <th rowspan="4" id="16.04.amd64">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/21.09/mediainfo-gui_21.09-1_amd64.xUbuntu_16.04.deb">v21.09</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/21.09/mediainfo_21.09-1_amd64.xUbuntu_16.04.deb">v21.09</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo0v5_21.09-1_amd64.xUbuntu_16.04.deb">v21.09</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo-dev_21.09-1_amd64.xUbuntu_16.04.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo-doc_21.09-1_amd64.xUbuntu_16.04.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen0v5_0.4.39-1_amd64.xUbuntu_16.04.deb">v0.4.39</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-dev_0.4.39-1_amd64.xUbuntu_16.04.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-doc_0.4.39-1_amd64.xUbuntu_16.04.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="16.04.i386">i386</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/21.09/mediainfo-gui_21.09-1_i386.xUbuntu_16.04.deb">v21.09</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/21.09/mediainfo_21.09-1_i386.xUbuntu_16.04.deb">v21.09</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo0v5_21.09-1_i386.xUbuntu_16.04.deb">v21.09</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo-dev_21.09-1_i386.xUbuntu_16.04.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/21.09/libmediainfo-doc_21.09-1_i386.xUbuntu_16.04.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen0v5_0.4.39-1_i386.xUbuntu_16.04.deb">v0.4.39</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-dev_0.4.39-1_i386.xUbuntu_16.04.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.39/libzen-doc_0.4.39-1_i386.xUbuntu_16.04.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="8" id="15.10">Ubuntu 15.10 (Wily Werewolf)</th>
    <th rowspan="4" id="15.10.amd64">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.94/mediainfo-gui_0.7.94-1_amd64.xUbuntu_15.10.deb">v0.7.94</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.94/mediainfo_0.7.94-1_amd64.xUbuntu_15.10.deb">v0.7.94</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo0v5_0.7.94-1_amd64.xUbuntu_15.10.deb">v0.7.94</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-dev_0.7.94-1_amd64.xUbuntu_15.10.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-doc_0.7.94-1_amd64.xUbuntu_15.10.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen0v5_0.4.35-1_amd64.xUbuntu_15.10.deb">v0.4.35</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-dev_0.4.35-1_amd64.xUbuntu_15.10.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-doc_0.4.35-1_amd64.xUbuntu_15.10.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="15.10.i386">i386</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.94/mediainfo-gui_0.7.94-1_i386.xUbuntu_15.10.deb">v0.7.94</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.94/mediainfo_0.7.94-1_i386.xUbuntu_15.10.deb">v0.7.94</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo0v5_0.7.94-1_i386.xUbuntu_15.10.deb">v0.7.94</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-dev_0.7.94-1_i386.xUbuntu_15.10.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-doc_0.7.94-1_i386.xUbuntu_15.10.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen0v5_0.4.35-1_i386.xUbuntu_15.10.deb">v0.4.35</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-dev_0.4.35-1_i386.xUbuntu_15.10.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-doc_0.4.35-1_i386.xUbuntu_15.10.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="8" id="15.04">Ubuntu 15.04 (Vivid Vervet)</th>
    <th rowspan="4" id="15.04.amd64">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.94/mediainfo-gui_0.7.94-1_amd64.xUbuntu_15.04.deb">v0.7.94</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.94/mediainfo_0.7.94-1_amd64.xUbuntu_15.04.deb">v0.7.94</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo0_0.7.94-1_amd64.xUbuntu_15.04.deb">v0.7.94</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-dev_0.7.94-1_amd64.xUbuntu_15.04.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-doc_0.7.94-1_amd64.xUbuntu_15.04.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen0_0.4.35-1_amd64.xUbuntu_15.04.deb">v0.4.35</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-dev_0.4.35-1_amd64.xUbuntu_15.04.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-doc_0.4.35-1_amd64.xUbuntu_15.04.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="15.04.i386">i386</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.94/mediainfo-gui_0.7.94-1_i386.xUbuntu_15.04.deb">v0.7.94</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.94/mediainfo_0.7.94-1_i386.xUbuntu_15.04.deb">v0.7.94</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo0_0.7.94-1_i386.xUbuntu_15.04.deb">v0.7.94</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-dev_0.7.94-1_i386.xUbuntu_15.04.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-doc_0.7.94-1_i386.xUbuntu_15.04.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen0_0.4.35-1_i386.xUbuntu_15.04.deb">v0.4.35</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-dev_0.4.35-1_i386.xUbuntu_15.04.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-doc_0.4.35-1_i386.xUbuntu_15.04.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="8" id="14.10">Ubuntu 14.10 (Utopic Unicorn)</th>
    <th rowspan="4" id="14.10.amd64">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.94/mediainfo-gui_0.7.94-1_amd64.xUbuntu_14.10.deb">v0.7.94</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.94/mediainfo_0.7.94-1_amd64.xUbuntu_14.10.deb">v0.7.94</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo0_0.7.94-1_amd64.xUbuntu_14.10.deb">v0.7.94</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-dev_0.7.94-1_amd64.xUbuntu_14.10.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-doc_0.7.94-1_amd64.xUbuntu_14.10.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen0_0.4.35-1_amd64.xUbuntu_14.10.deb">v0.4.35</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-dev_0.4.35-1_amd64.xUbuntu_14.10.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-doc_0.4.35-1_amd64.xUbuntu_14.10.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="14.10.i386">i386</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.94/mediainfo-gui_0.7.94-1_i386.xUbuntu_14.10.deb">v0.7.94</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.94/mediainfo_0.7.94-1_i386.xUbuntu_14.10.deb">v0.7.94</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo0_0.7.94-1_i386.xUbuntu_14.10.deb">v0.7.94</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-dev_0.7.94-1_i386.xUbuntu_14.10.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-doc_0.7.94-1_i386.xUbuntu_14.10.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen0_0.4.35-1_i386.xUbuntu_14.10.deb">v0.4.35</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-dev_0.4.35-1_i386.xUbuntu_14.10.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-doc_0.4.35-1_i386.xUbuntu_14.10.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="8" id="14.04">Ubuntu 14.04 (Trusty Tahr)<br><br>Linux Mint 17 (Qiana)<br><br>Linux Mint 17.1 (Rebecca)<br><br>Linux Mint 17.2 (Rafaela)<br><br>Linux Mint 17.3 (Rosa)</th>
    <th rowspan="4" id="14.04.amd64">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/19.09/mediainfo-gui_19.09-1_amd64.xUbuntu_14.04.deb">v19.09</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/19.09/mediainfo_19.09-1_amd64.xUbuntu_14.04.deb">v19.09</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/19.09/libmediainfo0_19.09-1_amd64.xUbuntu_14.04.deb">v19.09</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/19.09/libmediainfo-dev_19.09-1_amd64.xUbuntu_14.04.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/19.09/libmediainfo-doc_19.09-1_amd64.xUbuntu_14.04.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen0_0.4.37-1_amd64.xUbuntu_14.04.deb">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-dev_0.4.37-1_amd64.xUbuntu_14.04.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc_0.4.37-1_amd64.xUbuntu_14.04.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4" id="14.04.i386">i386</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/19.09/mediainfo-gui_19.09-1_i386.xUbuntu_14.04.deb">v19.09</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/19.09/mediainfo_19.09-1_i386.xUbuntu_14.04.deb">v19.09</a></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/19.09/libmediainfo0_19.09-1_i386.xUbuntu_14.04.deb">v19.09</a> <small>(<a href="//mediaarea.net/download/binary/libmediainfo0/19.09/libmediainfo-dev_19.09-1_i386.xUbuntu_14.04.deb">devel</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/19.09/libmediainfo-doc_19.09-1_i386.xUbuntu_14.04.deb">doc</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen0_0.4.37-1_i386.xUbuntu_14.04.deb">v0.4.37</a> <small>(<a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-dev_0.4.37-1_i386.xUbuntu_14.04.deb">devel</a>, <a href="//mediaarea.net/download/binary/libzen0/0.4.37/libzen-doc_0.4.37-1_i386.xUbuntu_14.04.deb">doc</a>)</small></td>
    <td>&nbsp;</td>
</tr>

<tr class="old-files">
    <th rowspan="8">Ubuntu 13.10<br>(Saucy Salamander)<br><br>Linux Mint 16<br>(Petra)</th>
    <th rowspan="4">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.73/mediainfo-gui_0.7.73-1_amd64.Debian_7.0.deb">v0.7.73</a><small> (Debian 7.0 package)</small></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.73/mediainfo_0.7.73-1_amd64.Debian_7.0.deb">v0.7.73</a><small> (Debian 7.0 package)</small></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.73/libmediainfo0_0.7.73-1_amd64.xUbuntu_13.10.deb">v0.7.73</a><small> (<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.73/libmediainfo-dev_0.7.73-1_amd64.xUbuntu_13.10.deb">devel</a>)</small></td>
    <td>requires libzen0</td>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.31/libzen0_0.4.31-1_amd64.xUbuntu_13.10.deb">v0.4.31</a><small> (<a href="//mediaarea.net/download/binary/libzen0/0.4.31/libzen-dev_0.4.31-1_amd64.xUbuntu_13.10.deb">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
</tr>
<tr class="old-files">
    <th rowspan="4">i386</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.73/mediainfo-gui_0.7.73-1_i386.Debian_7.0.deb">v0.7.73</a><small> (Debian 7.0 package)</small></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.73/mediainfo_0.7.73-1_i386.Debian_7.0.deb">v0.7.73</a><small> (Debian 7.0 package)</small></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.73/libmediainfo0_0.7.73-1_i386.xUbuntu_13.10.deb">v0.7.73</a><small> (<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.73/libmediainfo-dev_0.7.73-1_i386.xUbuntu_13.10.deb">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.31/libzen0_0.4.31-1_i386.xUbuntu_13.10.deb">v0.4.31</a><small> (<a href="//mediaarea.net/download/binary/libzen0/0.4.31/libzen-dev_0.4.31-1_i386.xUbuntu_13.10.deb">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="8">Ubuntu 13.04<br>(Raring Ringtail)<br><br>Linux Mint 15<br>(Olivia)</th>
    <th rowspan="4">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.73/mediainfo-gui_0.7.73-1_amd64.Debian_7.0.deb">v0.7.73</a><small> (Debian 7.0 package)</small></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.73/mediainfo_0.7.73-1_amd64.Debian_7.0.deb">v0.7.73</a><small> (Debian 7.0 package)</small></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.73/libmediainfo0_0.7.73-1_amd64.xUbuntu_13.04.deb">v0.7.73</a><small> (<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.73/libmediainfo-dev_0.7.73-1_amd64.xUbuntu_13.04.deb">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.31/libzen0_0.4.31-1_amd64.xUbuntu_13.04.deb">v0.4.31</a><small> (<a href="//mediaarea.net/download/binary/libzen0/0.4.31/libzen-dev_0.4.31-1_amd64.xUbuntu_13.04.deb">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4">i386</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.73/mediainfo-gui_0.7.73-1_i386.Debian_7.0.deb">v0.7.73</a><small> (Debian 7.0 package)</small></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.73/mediainfo_0.7.73-1_i386.Debian_7.0.deb">v0.7.73</a><small> (Debian 7.0 package)</small></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.73/libmediainfo0_0.7.73-1_i386.xUbuntu_13.04.deb">v0.7.73</a><small> (<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.73/libmediainfo-dev_0.7.73-1_i386.xUbuntu_13.04.deb">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.31/libzen0_0.4.31-1_i386.xUbuntu_13.04.deb">v0.4.31</a><small> (<a href="//mediaarea.net/download/binary/libzen0/0.4.31/libzen-dev_0.4.31-1_i386.xUbuntu_13.04.deb">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="8">Ubuntu 12.10<br>(Quantal Quetzal)<br><br>Linux Mint 14<br>(Nadia)</th>
    <th rowspan="4">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.73/mediainfo-gui_0.7.73-1_amd64.Debian_6.0.deb">v0.7.73</a><small> (Debian 6.0 package)</small></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.73/mediainfo_0.7.73-1_amd64.Debian_6.0.deb">v0.7.73</a><small> (Debian 6.0 package)</small></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.73/libmediainfo0_0.7.73-1_amd64.xUbuntu_12.10.deb">v0.7.73</a><small> (<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.73/libmediainfo-dev_0.7.73-1_amd64.xUbuntu_12.10.deb">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.31/libzen0_0.4.31-1_amd64.xUbuntu_12.10.deb">v0.4.31</a><small> (<a href="//mediaarea.net/download/binary/libzen0/0.4.31/libzen-dev_0.4.31-1_amd64.xUbuntu_12.10.deb">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4">i386</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.73/mediainfo-gui_0.7.73-1_i386.Debian_6.0.deb">v0.7.73</a><small> (Debian 6.0 package)</small></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.73/mediainfo_0.7.73-1_i386.Debian_6.0.deb">v0.7.73</a><small> (Debian 6.0 package)</small></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.73/libmediainfo0_0.7.73-1_i386.xUbuntu_12.10.deb">v0.7.73</a><small> (<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.73/libmediainfo-dev_0.7.73-1_i386.xUbuntu_12.10.deb">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.31/libzen0_0.4.31-1_i386.xUbuntu_12.10.deb">v0.4.31</a><small> (<a href="//mediaarea.net/download/binary/libzen0/0.4.31/libzen-dev_0.4.31-1_i386.xUbuntu_12.10.deb">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="8">Ubuntu 12.04<br>(Precise Pangolin)<br><br>Linux Mint 13<br>(Maya)</th>
    <th rowspan="4">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.94/mediainfo-gui_0.7.94-1_amd64.Debian_6.0.deb">v0.7.94</a><small> (Debian 6.0 package)</small></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.94/mediainfo_0.7.94-1_amd64.Debian_6.0.deb">v0.7.94</a><small> (Debian 6.0 package)</small></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo0_0.7.94-1_amd64.xUbuntu_12.04.deb">v0.7.94</a><small> (<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-dev_0.7.94-1_amd64.xUbuntu_12.04.deb">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen0_0.4.35-1_amd64.xUbuntu_12.04.deb">v0.4.35</a><small> (<a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-dev_0.4.35-1_amd64.xUbuntu_12.04.deb">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4">i386</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.94/mediainfo-gui_0.7.94-1_i386.Debian_6.0.deb">v0.7.94</a><small> (Debian 6.0 package)</small></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.94/mediainfo_0.7.94-1_i386.Debian_6.0.deb">v0.7.94</a><small> (Debian 6.0 package)</small></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo0_0.7.94-1_i386.xUbuntu_12.04.deb">v0.7.94</a><small> (<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.94/libmediainfo-dev_0.7.94-1_i386.xUbuntu_12.04.deb">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen0_0.4.35-1_i386.xUbuntu_12.04.deb">v0.4.35</a><small> (<a href="//mediaarea.net/download/binary/libzen0/0.4.35/libzen-dev_0.4.35-1_i386.xUbuntu_12.04.deb">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="8">Ubuntu 11.10<br>(Oneiric Ocelot)<br><br>Linux Mint 12<br>(Lisa)</th>
    <th rowspan="4">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.73/mediainfo-gui_0.7.73-1_amd64.Debian_6.0.deb">v0.7.73</a><small> (Debian 6.0 package)</small></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.73/mediainfo_0.7.73-1_amd64.Debian_6.0.deb">v0.7.73</a><small> (Debian 6.0 package)</small></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.73/libmediainfo0_0.7.73-1_amd64.xUbuntu_11.10.deb">v0.7.73</a><small> (<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.73/libmediainfo-dev_0.7.73-1_amd64.xUbuntu_11.10.deb">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.31/libzen0_0.4.31-1_amd64.xUbuntu_11.10.deb">v0.4.31</a><small> (<a href="//mediaarea.net/download/binary/libzen0/0.4.31/libzen-dev_0.4.31-1_amd64.xUbuntu_11.10.deb">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4">i386</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.73/mediainfo-gui_0.7.73-1_i386.Debian_6.0.deb">v0.7.73</a><small> (Debian 6.0 package)</small></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.73/mediainfo_0.7.73-1_i386.Debian_6.0.deb">v0.7.73</a><small> (Debian 6.0 package)</small></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.73/libmediainfo0_0.7.73-1_i386.xUbuntu_11.10.deb">v0.7.73</a><small> (<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.73/libmediainfo-dev_0.7.73-1_i386.xUbuntu_11.10.deb">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.31/libzen0_0.4.31-1_i386.xUbuntu_11.10.deb">v0.4.31</a><small> (<a href="//mediaarea.net/download/binary/libzen0/0.4.31/libzen-dev_0.4.31-1_i386.xUbuntu_11.10.deb">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="8">Ubuntu 11.04<br>(Natty)<br><br>Linux Mint 11<br>(Katya)</th>
    <th rowspan="4">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.62/mediainfo-gui_0.7.62-1_amd64.Debian_5.deb">v0.7.62</a><small> (Debian 5 package)</small></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.62/mediainfo_0.7.62-1_amd64.Debian_5.deb">v0.7.62</a><small> (Debian 5 package)</small></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.62/libmediainfo0_0.7.62-1_amd64.Ubuntu_11.04.deb">v0.7.62</a><small> (<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.62/libmediainfo-dev_0.7.62-1_amd64.Ubuntu_11.04.deb">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.28/libzen0_0.4.28-1_amd64.Ubuntu_11.04.deb">v0.4.28</a><small> (<a href="//mediaarea.net/download/binary/libzen0/0.4.28/libzen-dev_0.4.28-1_amd64.Ubuntu_11.04.deb">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4">i386</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.62/mediainfo-gui_0.7.62-1_i386.Debian_5.deb">v0.7.62</a><small> (Debian 5 package)</small></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.62/mediainfo_0.7.62-1_i386.Debian_5.deb">v0.7.62</a><small> (Debian 5 package)</small></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.62/libmediainfo0_0.7.62-1_i386.Ubuntu_11.04.deb">v0.7.62</a><small> (<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.62/libmediainfo-dev_0.7.62-1_i386.Ubuntu_11.04.deb">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.28/libzen0_0.4.28-1_i386.Ubuntu_11.04.deb">v0.4.28</a><small> (<a href="//mediaarea.net/download/binary/libzen0/0.4.28/libzen-dev_0.4.28-1_i386.Ubuntu_11.04.deb">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="8">Ubuntu 10.10<br>(Maverick)<br><br>Linux Mint 10<br>(Julia)</th>
    <th rowspan="4">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.62/mediainfo-gui_0.7.62-1_amd64.Debian_5.deb">v0.7.62</a><small> (Debian 5 package)</small></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.62/mediainfo_0.7.62-1_amd64.Debian_5.deb">v0.7.62</a><small> (Debian 5 package)</small></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.62/libmediainfo0_0.7.62-1_amd64.Ubuntu_10.10.deb">v0.7.62</a><small> (<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.62/libmediainfo-dev_0.7.62-1_i386.Ubuntu_10.10.deb">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.28/libzen0_0.4.28-1_amd64.Ubuntu_10.10.deb">v0.4.28</a><small> (<a href="//mediaarea.net/download/binary/libzen0/0.4.28/libzen-dev_0.4.28-1_i386.Ubuntu_10.10.deb">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4">i386</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.62/mediainfo-gui_0.7.62-1_i386.Debian_5.deb">v0.7.62</a><small> (Debian 5 package)</small></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.62/mediainfo_0.7.62-1_i386.Debian_5.deb">v0.7.62</a><small> (Debian 5 package)</small></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.62/libmediainfo0_0.7.62-1_i386.Ubuntu_10.10.deb">v0.7.62</a><small> (<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.62/libmediainfo-dev_0.7.62-1_i386.Ubuntu_10.10.deb">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.28/libzen0_0.4.28-1_i386.Ubuntu_10.10.deb">v0.4.28</a><small> (<a href="//mediaarea.net/download/binary/libzen0/0.4.28/libzen-dev_0.4.28-1_i386.Ubuntu_10.10.deb">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="8">Ubuntu 10.04<br>(Lucid)<br><br>Linux Mint 9<br>(Isadora)</th>
    <th rowspan="4">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.74/mediainfo-gui_0.7.74-1_amd64.Debian_6.0.deb">v0.7.74</a><small> (Debian 6.0 package)</small></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.74/mediainfo_0.7.74-1_amd64.Debian_6.0.deb">v0.7.74</a><small> (Debian 6.0 package)</small></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.74/libmediainfo0_0.7.74-1_amd64.xUbuntu_10.04.deb">v0.7.74</a><small> (<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.74/libmediainfo-dev_0.7.74-1_i386.xUbuntu_10.04.deb">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.31/libzen0_0.4.31-1_amd64.xUbuntu_10.04.deb">v0.4.31</a><small> (<a href="//mediaarea.net/download/binary/libzen0/0.4.31/libzen-dev_0.4.31-1_i386.xUbuntu_10.04.deb">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4">i386</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.74/mediainfo-gui_0.7.74-1_i386.Debian_6.0.deb">v0.7.74</a><small> (Debian 6.0 package)</small></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.74/mediainfo_0.7.74-1_i386.Debian_6.0.deb">v0.7.74</a><small> (Debian 6.0 package)</small></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.74/libmediainfo0_0.7.74-1_i386.xUbuntu_10.04.deb">v0.7.74</a><small> (<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.74/libmediainfo-dev_0.7.74-1_i386.xUbuntu_10.04.deb">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.31/libzen0_0.4.31-1_i386.xUbuntu_10.04.deb">v0.4.31</a><small> (<a href="//mediaarea.net/download/binary/libzen0/0.4.31/libzen-dev_0.4.31-1_i386.xUbuntu_10.04.deb">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="8">Ubuntu 9.10<br>(Karmic)<br><br>Linux Mint 8<br>(Helena)</th>
    <th rowspan="4">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.62/mediainfo-gui_0.7.62-1_amd64.Debian_5.deb">v0.7.62</a><small> (Debian 5 package)</small></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.62/mediainfo_0.7.62-1_amd64.Debian_5.deb">v0.7.62</a><small> (Debian 5 package)</small></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.62/libmediainfo0_0.7.62-1_amd64.Ubuntu_9.10.deb">v0.7.62</a><small> (<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.62/libmediainfo-dev_0.7.62-1_i386.Ubuntu_9.10.deb">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.28/libzen0_0.4.28-1_amd64.Ubuntu_9.10.deb">v0.4.28</a><small> (<a href="//mediaarea.net/download/binary/libzen0/0.4.28/libzen-dev_0.4.28-1_i386.Ubuntu_9.10.deb">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4">i386</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.62/mediainfo-gui_0.7.62-1_i386.Debian_5.deb">v0.7.62</a><small> (Debian 5 package)</small></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.62/mediainfo_0.7.62-1_i386.Debian_5.deb">v0.7.62</a><small> (Debian 5 package)</small></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.62/libmediainfo0_0.7.62-1_i386.Ubuntu_9.10.deb">v0.7.62</a><small> (<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.62/libmediainfo-dev_0.7.62-1_i386.Ubuntu_9.10.deb">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.28/libzen0_0.4.28-1_i386.Ubuntu_9.10.deb">v0.4.28</a><small> (<a href="//mediaarea.net/download/binary/libzen0/0.4.28/libzen-dev_0.4.28-1_i386.Ubuntu_9.10.deb">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="8">Ubuntu 9.04<br>(Jaunty)<br><br>Linux Mint 7<br>(Gloria)</th>
    <th rowspan="4">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.62/mediainfo-gui_0.7.62-1_amd64.Debian_5.deb">v0.7.62</a><small> (Debian 5 package)</small></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.62/mediainfo_0.7.62-1_amd64.Debian_5.deb">v0.7.62</a><small> (Debian 5 package)</small></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.62/libmediainfo0_0.7.62-1_amd64.Ubuntu_9.04.deb">v0.7.62</a><small> (<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.62/libmediainfo-dev_0.7.62-1_i386.Ubuntu_9.04.deb">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="https://downloads.sourceforge.net/zenlib/libzen0_0.4.26-1_amd64.Ubuntu_9.04.deb">v0.4.26</a><small> (<a href="https://downloads.sourceforge.net/zenlib/libzen-dev_0.4.26-1_i386.Ubuntu_9.04.deb">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4">i386</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.62/mediainfo-gui_0.7.62-1_i386.Debian_5.deb">v0.7.62</a><small> (Debian 5 package)</small></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.62/mediainfo_0.7.62-1_i386.Debian_5.deb">v0.7.62</a><small> (Debian 5 package)</small></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.62/libmediainfo0_0.7.62-1_i386.Ubuntu_9.04.deb">v0.7.62</a><small> (<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.62/libmediainfo-dev_0.7.62-1_i386.Ubuntu_9.04.deb">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="//mediaarea.net/download/binary/libzen0/0.4.28/libzen0_0.4.28-1_i386.Ubuntu_9.04.deb">v0.4.28</a><small> (<a href="//mediaarea.net/download/binary/libzen0/0.4.28/libzen-dev_0.4.28-1_i386.Ubuntu_9.04.deb">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="8">Ubuntu 8.10<br>(Intrepid)</th>
    <th rowspan="4">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/mediainfo-gui_0.7.28-1_amd64.Debian_5.deb">v0.7.28</a><small> (Debian 5 package)</small></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/mediainfo_0.7.28-1_amd64.Debian_5.deb">v0.7.28</a><small> (Debian 5 package)</small></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/libmediainfo0_0.7.28-1_amd64.Ubuntu_8.10.deb">v0.7.28</a><small> (<a href="https://downloads.sourceforge.net/mediainfo/libmediainfo-dev_0.7.28-1_i386.Ubuntu_8.10.deb">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="https://downloads.sourceforge.net/zenlib/libzen0_0.4.14-1_amd64.Ubuntu_8.10.deb">v0.4.14</a><small> (<a href="https://downloads.sourceforge.net/zenlib/libzen-dev_0.4.14-1_i386.Ubuntu_8.10.deb">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4">i386</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/mediainfo-gui_0.7.28-1_i386.Debian_5.deb">v0.7.28</a><small> (Debian 5 package)</small></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/mediainfo_0.7.28-1_i386.Debian_5.deb">v0.7.28</a><small> (Debian 5 package)</small></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/libmediainfo0_0.7.28-1_i386.Ubuntu_8.10.deb">v0.7.28</a><small> (<a href="https://downloads.sourceforge.net/mediainfo/libmediainfo-dev_0.7.28-1_i386.Ubuntu_8.10.deb">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="https://downloads.sourceforge.net/zenlib/libzen0_0.4.14-1_i386.Ubuntu_8.10.deb">v0.4.14</a><small> (<a href="https://downloads.sourceforge.net/zenlib/libzen-dev_0.4.14-1_i386.Ubuntu_8.10.deb">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="8">Ubuntu 8.04<br>(Hardy)</th>
    <th rowspan="4">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/mediainfo-gui_0.7.58-1_amd64.Debian_4.deb">v0.7.58</a><small> (Debian 4 package)</small></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/mediainfo_0.7.58-1_amd64.Debian_4.deb">v0.7.58</a><small> (Debian 4 package)</small></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/libmediainfo0_0.7.58-1_amd64.Ubuntu_8.04.deb">v0.7.58</a><small> (<a href="https://downloads.sourceforge.net/mediainfo/libmediainfo-dev_0.7.58-1_amd64.Ubuntu_8.04.deb">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="https://downloads.sourceforge.net/zenlib/libzen0_0.4.26-1_amd64.Ubuntu_8.04.deb">v0.4.26</a><small> (<a href="https://downloads.sourceforge.net/zenlib/libzen-dev_0.4.26-1_amd64.Ubuntu_8.04.deb">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4">i386</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/mediainfo-gui_0.7.58-1_i386.Debian_4.deb">v0.7.58</a><small> (Debian 4 package)</small></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/mediainfo_0.7.58-1_i386.Debian_4.deb">v0.7.58</a><small> (Debian 4 package)</small></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/libmediainfo0_0.7.58-1_i386.Ubuntu_8.04.deb">v0.7.58</a><small> (<a href="https://downloads.sourceforge.net/mediainfo/libmediainfo-dev_0.7.58-1_i386.Ubuntu_8.04.deb">devel</a>)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="https://downloads.sourceforge.net/zenlib/libzen0_0.4.26-1_i386.Ubuntu_8.04.deb">v0.4.26</a><small> (<a href="https://downloads.sourceforge.net/zenlib/libzen-dev_0.4.26-1_i386.Ubuntu_8.04.deb">devel</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="8">Ubuntu 7.10<br>(Gusty)</th>
    <th rowspan="4">amd64</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/mediainfo-gui_0.7.28-1_amd64.Debian_4.deb">v0.7.28</a><small> (Debian 4 package)</small></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/mediainfo_0.7.28-1_amd64.Debian_4.deb">v0.7.28</a><small> (Debian 4 package)</small></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/libmediainfo0_0.7.28-1_amd64.Debian_4.deb">v0.7.28</a><small> (<a href="https://downloads.sourceforge.net/mediainfo/libmediainfo-dev_0.7.28-1_amd64.Debian_4.deb">devel</a>)</small><small> (Debian 4 package)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="https://downloads.sourceforge.net/zenlib/libzen0_0.4.14-1_amd64.Debian_4.deb">v0.4.14</a><small> (<a href="https://downloads.sourceforge.net/zenlib/libzen-dev_0.4.14-1_amd64.Debian_4.deb">devel</a>)</small><small> (Debian 4 package)</small></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th rowspan="4">i386</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/mediainfo-gui_0.7.28-1_i386.Debian_4.deb">v0.7.28</a><small> (Debian 4 package)</small></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/mediainfo_0.7.28-1_i386.Debian_4.deb">v0.7.28</a><small> (Debian 4 package)</small></td>
    <td>requires libmediainfo0</td>
</tr>
<tr class="old-files">
    <th>libmediainfo0</th>
    <td><a href="https://downloads.sourceforge.net/mediainfo/libmediainfo0_0.7.28-1_i386.Debian_4.deb">v0.7.28</a><small> (<a href="https://downloads.sourceforge.net/mediainfo/libmediainfo-dev_0.7.28-1_i386.Debian_4.deb">devel</a>)</small><small> (Debian 4 package)</small></td>
    <td>requires libzen0</td>
</tr>
<tr class="old-files">
    <th>libzen0</th>
    <td><a href="https://downloads.sourceforge.net/zenlib/libzen0_0.4.14-1_i386.Debian_4.deb">v0.4.14</a><small> (<a href="https://downloads.sourceforge.net/zenlib/libzen-dev_0.4.14-1_i386.Debian_4.deb">devel</a>)</small><small> (Debian 4 package)</small></td>
    <td>&nbsp;</td>
</tr>
