{% if 'Y' == app.request.attributes.get('donated') or (app.user and app.user.isDonor) %}
    {% set downloadLink = '//mediaarea.net/download/donors/25.03/MediaInfo_GUI_25.03_Windows.exe' %}
{% elseif 1 <= app.request.attributes.get('donated', -1) %}
    {% set downloadLink = '//mediaarea.net/download/current/MediaInfo_GUI_25.03_Windows.exe' %}
{% else %}
    {% set downloadLink = '//mediaarea.net/download/binary/mediainfo-gui/25.03/MediaInfo_GUI_25.03_Windows.exe' %}
{% endif %}
<tr>
    <th rowspan="15">Windows Vista, 7, 8, 10, 11</th>
    <th>Universal installer (Intel 32/64 bit, ARM 64 bit)</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="{{ downloadLink }}">v25.03</a></td>
    <td>If you don't know which one to download, download this one</td>
</tr>
<tr>
    <th rowspan="5">Intel 64 bit</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="{{ downloadLink }}">v25.03 Universal (32/64 bit)</a><small> (<a href="//mediaarea.net/download/binary/mediainfo-gui/25.03/MediaInfo_GUI_25.03_Windows_x64.exe">64 bit only installer</a>), </small><small>(<a href="//mediaarea.net/download/binary/mediainfo-gui/25.03/MediaInfo_GUI_25.03_Windows_x64_WithoutInstaller.7z">64 bit only without installer</a>)</small></td>
    <td></td>
</tr>
<tr>
    <th><abbr title="Graph visualization plugin for the GUI (3D audio only)">Graph</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-graph-plugin/24.11/MediaInfo_GraphPlugin_24.11_Windows_x64.exe">v24.11</a></td>
    <td>Manual download in case the automatic install from the GUI does not work.</td>
</tr>
<tr>
    <th><abbr title="FFmpeg plugin for the GUI">FFmpeg plugin</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-ffmpeg-plugin/6.1/MediaInfo_FFmpegPlugin_6.1_Windows.exe">v6.1</a></td>
    <td>Manual download in case the automatic install from the GUI does not work.</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/25.03/MediaInfo_CLI_25.03_Windows_x64.zip">v25.03</a><small> (graph plugin: <a href="//mediaarea.net/download/binary/mediainfo-graph-plugin/24.11/MediaInfo_GraphPlugin_CLI_24.11_Windows_x64.zip">zip</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th><abbr title="Dynamic Link Library">DLL</abbr></th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/25.03/MediaInfo_DLL_25.03_Windows_x64.exe">v25.03</a><small> (without installer: <a href="//mediaarea.net/download/binary/libmediainfo0/25.03/MediaInfo_DLL_25.03_Windows_x64_WithoutInstaller.7z">7z</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/25.03/MediaInfo_DLL_25.03_Windows_x64_WithoutInstaller.zip">zip</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="4">Intel 32 bit</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="{{ downloadLink }}">v25.03 Universal (Intel 32/64 bit)</a><small> (<a href="//mediaarea.net/download/binary/mediainfo-gui/25.03/MediaInfo_GUI_25.03_Windows_i386.exe">32 bit only installer</a>), </small><small>(<a href="//mediaarea.net/download/binary/mediainfo-gui/25.03/MediaInfo_GUI_25.03_Windows_i386_WithoutInstaller.7z">32 bit only without installer</a>)</small></td>
    <td></td>
</tr>
<tr>
    <th><abbr title="Graph visualization plugin for the GUI (3D audio only)">Graph</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-graph-plugin/24.11/MediaInfo_GraphPlugin_24.11_Windows_i386.exe">v24.11</a></td>
    <td>Manual download in case the automatic install from the GUI does not work.</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/25.03/MediaInfo_CLI_25.03_Windows_i386.zip">v25.03</a><small> (graph plugin: <a href="//mediaarea.net/download/binary/mediainfo-graph-plugin/24.11/MediaInfo_GraphPlugin_CLI_24.11_Windows_i386.zip">zip</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th><abbr title="Dynamic Link Library">DLL</abbr></th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/25.03/MediaInfo_DLL_25.03_Windows_i386.exe">v25.03</a><small> (without installer: <a href="//mediaarea.net/download/binary/libmediainfo0/25.03/MediaInfo_DLL_25.03_Windows_i386_WithoutInstaller.7z">7z</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/25.03/MediaInfo_DLL_25.03_Windows_i386_WithoutInstaller.zip">zip</a>)</small></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th rowspan="5">ARM 64 bit</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="{{ downloadLink }}">v25.03 Universal (32/64 bit)</a><small> (<a href="//mediaarea.net/download/binary/mediainfo-gui/25.03/MediaInfo_GUI_25.03_Windows_ARM64.exe">ARM 64 bit only installer</a>), </small><small>(<a href="//mediaarea.net/download/binary/mediainfo-gui/25.03/MediaInfo_GUI_25.03_Windows_ARM64_WithoutInstaller.7z">ARM 64 bit only without installer</a>)</small></td>
    <td></td>
</tr>
<tr>
    <th><abbr title="Graph visualization plugin for the GUI (3D audio only)">Graph</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-graph-plugin/24.11/MediaInfo_GraphPlugin_24.11_Windows_x64.exe">v24.11</a></td>
    <td>Manual download in case the automatic install from the GUI does not work.</td>
</tr>
<tr>
    <th><abbr title="FFmpeg plugin for the GUI">FFmpeg plugin</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-ffmpeg-plugin/6.1/MediaInfo_FFmpegPlugin_6.1_Windows.exe">v6.1</a></td>
    <td>Manual download in case the automatic install from the GUI does not work.</td>
</tr>
<tr>
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/25.03/MediaInfo_CLI_25.03_Windows_ARM64.zip">v25.03</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <th><abbr title="Dynamic Link Library">DLL</abbr></th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/25.03/MediaInfo_DLL_25.03_Windows_ARM64.exe">v25.03</a><small> (without installer: <a href="//mediaarea.net/download/binary/libmediainfo0/25.03/MediaInfo_DLL_25.03_Windows_ARM64_WithoutInstaller.7z">7z</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/25.03/MediaInfo_DLL_25.03_Windows_ARM64_WithoutInstaller.zip">zip</a>)</small></td>
    <td>&nbsp;</td>
</tr>

<tr class="old-files">
    <th rowspan="7">Windows XP</th>
    <th>Universal installer (32/64 bit)</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/21.03/MediaInfo_GUI_21.03_Windows.exe">v21.03</a></td>
    <td>If you don't know which one to download, download this one</td>
</tr>
<tr class="old-files">
    <th rowspan="3">64 bit</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/21.03/MediaInfo_GUI_21.03_Windows.exe">v21.03 Universal (32/64 bit)</a> <small>(<a href="//mediaarea.net/download/binary/mediainfo-gui/21.03/MediaInfo_GUI_21.03_Windows_x64_WithoutInstaller.7z">64 bit only without installer</a>)</small></td>
    <td></td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/21.03/MediaInfo_CLI_21.03_Windows_x64.zip">v21.03</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th><abbr title="Dynamic Link Library">DLL</abbr></th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/21.03/MediaInfo_DLL_21.03_Windows_x64.exe">v21.03</a><small> (without installer: <a href="//mediaarea.net/download/binary/libmediainfo0/21.03/MediaInfo_DLL_21.03_Windows_x64_WithoutInstaller.7z">7z</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/21.03/MediaInfo_DLL_21.03_Windows_x64_WithoutInstaller.zip">zip</a>)</small></td>
    <td>&nbsp;</td>
</tr>

<tr class="old-files">
    <th rowspan="3">32 bit</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/21.03/MediaInfo_GUI_21.03_Windows.exe">v21.03 Universal (32/64 bit)</a> <small> (<a href="//mediaarea.net/download/binary/mediainfo-gui/21.03/MediaInfo_GUI_21.03_Windows_i386_WithoutInstaller.7z">32 bit only without installer</a>)</small></td>
    <td></td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/21.03/MediaInfo_CLI_21.03_Windows_i386.zip">v21.03</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th><abbr title="Dynamic Link Library">DLL</abbr></th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/21.03/MediaInfo_DLL_21.03_Windows_i386.exe">v21.03</a><small> (without installer: <a href="//mediaarea.net/download/binary/libmediainfo0/21.03/MediaInfo_DLL_21.03_Windows_i386_WithoutInstaller.7z">7z</a>, <a href="//mediaarea.net/download/binary/libmediainfo0/21.03/MediaInfo_DLL_21.03_Windows_i386_WithoutInstaller.zip">zip</a>)</small></td>
    <td>&nbsp;</td>
</tr>

<tr class="old-files">
    <th rowspan="3">Windows 95 to 2000</th>
    <th rowspan="3">32 bit</th>
    <th><abbr title="Graphical User Interface">GUI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.60/MediaInfo_GUI_0.7.60_Windows_i386.exe">v0.7.60</a> <small> (<a href="//mediaarea.net/download/binary/mediainfo-gui/0.7.60/MediaInfo_GUI_0.7.60_Windows_i386_WithoutInstaller.7z">without installer</a>)</small></td>
    <td></td>
</tr>
<tr class="old-files">
    <th><abbr title="Command Line Interface">CLI</abbr></th>
    <td><a href="//mediaarea.net/download/binary/mediainfo/0.7.60/MediaInfo_CLI_0.7.60_Windows_i386.zip">v0.7.60</a></td>
    <td>&nbsp;</td>
</tr>
<tr class="old-files">
    <th><abbr title="Dynamic Link Library">DLL</abbr></th>
    <td><a href="//mediaarea.net/download/binary/libmediainfo0/0.7.60/MediaInfo_DLL_0.7.60_Windows_i386.exe">v0.7.60</a><small> (<a href="//mediaarea.net/download/binary/libmediainfo0/0.7.60/MediaInfo_DLL_0.7.60_Windows_i386_WithoutInstaller.7z">without installer</a>)</small></td>
    <td>&nbsp;</td>
</tr>
