{% extends 'DVAnalyzerBundle::base.html.twig' %}

{% block title %}DV Analyzer - Video Error Concealment{% endblock %}

{% block body %}
<h1>DV Analyzer Case Study: Video Error Concealment</h1>

<p>Video Error Concealment is one of the most commonly identified preservation issues in the digitization of DV content from tape to file because of the invasive effect the process has on the image. The issues that result from error concealment are often termed as blocking or glitchiness, or described as areas where groups of pixels are shifted out of their expected position.</p>
<p> This file presents a very apparent use of video error concealment. On nearly every frame video data from a prior frame is copied to cover an error in a subsequent frame.</p>

<div>
	<video src="//www.archive.org/download/DvAnalyzerSampleDvVideoErrorConcealment/DV_Analyzer_Sample_Video_Error_Concealment_original_512kb.mp4" controls width="400" height="280"></video>
</div>

<p> As the decks reads tape-based data it utilizes <strong>parity data</strong> to ensure that the tape is being read correctly. Parity data acts as a secondary data source to be referenced if the primary data is damaged or unreadable. If the data is read improperly and cannot be recovered in the very short amount of time that the deck has to read that section, then the deck will note and write into the file the use of concealment and the strategy applied to the dv stream that is output from the deck.</p>
<p> Strategies employed to conceal the missing video data include:</p>
<p>Type &#8220;2&#8221; or &#8220;A&#8221;: Replace area with the same corresponding pixels of the previous frame (most common).<br/>
Type &#8220;4&#8221; or &#8220;C&#8221;: Replace area with the same corresponding pixels of the next frame.<br/>
Type &#8220;6&#8221; or &#8220;E&#8221;: Unspecified concealment<br/>
Type &#8220;F&#8221;: This typically manifests as groups of grey blocks appearing where the pixels should be.</p>
<p> The letters here represent the hexadecimal value used in the dv stream to categorize error concealment strategies. These values are written into the file and can be parsed out in order to determine exactly where errors are occurring and how they are being handled.</p>
<p> Often video error concealment strategies work so well that their use is not noticed in the resulting file, which is especially true in static frame shots that contain a high degree of repeated visual data from one frame to another. If a pixel remains the same over multiple frames, its replacement from a prior frame is not noticeable. In the example above, however, there is lots of movement within the foreground. As the speaker moves his head, the position of those &#8220;head&#8221; pixels relocate from frame to frame. Pixels replaced with &#8220;head&#8221; information from the prior frame where there should now be &#8220;background&#8221; pixels cause the image to appear glitchy.</p>
<p> When DV Analyzer is run on a DV file it will report on the occurrences and extant of video error concealment so that the user can decide whether to make a second capture attempt. These concealments can be analyzed to determine at what point in the workflow chain the error is being caused, whether it may be recorded into the tape or occurring during playback/transfer. Commonly, misaligned or unmaintained playback decks will cause a greater degree of video error concealment, so potentially trying to capture again in another deck may improve the results.</p>
<p> What would a DV video look like without the application of video error concealment? In order to demonstrate the effect, we took this sample file and replaced all of the compressed <strong>macro blocks</strong> (groups of pixels) that noted video error concealment with white pixels. The results demonstrates a substantially different experience from the version with concealment:</p>

<div>
	<video src="//www.archive.org/download/DvAnalyzerSampleDvVideoErrorConcealment/DV_Analyzer_Sample_Video_Error_Concealment_unconcealed_512kb.mp4" controls width="400" height="280"></video>
</div>

<p> The following presents the two versions side by side, that with error concealment and that with suppression of error concealment:</p>

<div>
	<video src="//www.archive.org/download/DvAnalyzerSampleDvVideoErrorConcealment/DV_Analyzer_Sample_Video_Error_Concealment_side-by-side.mp4" controls width="640" height="280"></video>
</div>

<p>There is a certain aesthetic quality to the version with the error concealment suppressed, almost like seeing the scratches and damage on a film. In this way we can begin to think about dv in a more physical way that may be easier to comprehend than imagining everything happening virtually outside of any mechanical process. Using DV Analyzer we are able to better isolate and assess those points of damage, decay, and playback issues that are more apparent to the eye with film.</p>
<p>These files referred to within this article are avilable for download from the <a href="//www.archive.org/details/DvAnalyzerSampleDvVideoErrorConcealment" target="_blank">Internet Archive</a>.</p>
{% endblock %}
