{% extends 'RAWcookedBundle::base.html.twig' %}

{% block title %}RAWcooked(1){% endblock %}

{% block body %}

<style>
  table.head, table.foot { width: 100%; }
  td.head-rtitle, td.foot-os { text-align: right; }
  td.head-vol { text-align: center; }
  div.Pp { margin: 1ex 0ex; }
  div.Nd, div.Bf, div.Op { display: inline; }
  span.Pa, span.Ad { font-style: italic; }
  span.Ms { font-weight: bold; }
  dl.Bl-diag > dt { font-weight: bold; }
  code.Nm, code.Fl, code.Cm, code.Ic, code.In, code.Fd, code.Fn,
  code.Cd { font-weight: bold; font-family: inherit; }
</style>

<table class="head">
  <tr>
    <td class="head-ltitle">RAWcooked(1)</td>
    <td class="head-vol">Bit-by-bit fidelity</td>
    <td class="head-rtitle">RAWcooked(1)</td>
  </tr>
</table>
<div class="manual-text">
<h1 class="Sh" title="Sh" id="NAME"><a class="permalink" href="#NAME">NAME</a></h1>
<b>RAWcooked</b> - encode and decode audio-visual RAW data with Matroska, FFV1
  and FLAC
<h1 class="Sh" title="Sh" id="SYNOPSIS"><a class="permalink" href="#SYNOPSIS">SYNOPSIS</a></h1>
<b>rawcooked </b>[<i>option</i> ...] (<i>folder</i> | <i>file</i> ...)
  [<i>option</i> ...]
<h1 class="Sh" title="Sh" id="DESCRIPTION"><a class="permalink" href="#DESCRIPTION">DESCRIPTION</a></h1>
<dl class="Bl-tag">
  <dt><b>RAWcooked</b> easily encodes RAW audio-visual sequences into a lossless
    video stream, reducing the file size by between one and two thirds. FFmpeg
    encodes the audio-visual data into a Matroska container (.mkv) using the
    video codec FFV1, and audio codec FLAC. The metadata accompanying the RAW
    data is fully preserved, along with additional sidecar files such as MD5
    checksums, LUT or XML if desired. This allows for the management of these
    audio-visual file formats in an effective and transparent way. The lossless
    Matroska video stream can be played in VLC or MPV media players, and writing
    and retrieving from storage devices such as LTO is significantly
    quicker.</dt>
  <dd></dd>
</dl>
<dl class="Bl-tag">
  <dt>If you need to use the RAW source in its original form, one line of code
    will easily restore it <b>bit-by-bit</b>, faster than retrieving the same
    file from LTO tape storage.</dt>
  <dd></dd>
</dl>
<dl class="Bl-tag">
  <dt><i>folder</i></dt>
  <dd>Every image file within the sequence's <i>folder</i> is encoded into a
      single FFV1 video stream, and each audio track within the same
      <i>folder</i> is encoded to the FLAC codec. Both the FFV1 and FLAC
      contents are then muxed into a single Matroska container (.mkv).
    <div>&#x00A0;</div>
    The image filenames must end in a complete number sequence, so that
      <b>RAWcooked</b> can parse each image within the sequence in the correct
      order.</dd>
</dl>
<dl class="Bl-tag">
  <dt><i>file</i></dt>
  <dd><b>contains RAW data (e.g. a .dpx or .wav file):</b>
    <div>&#x00A0;</div>
    Every image within a sequence folder containing the <i>file</i> is encoded
      into a single FFV1 video stream, and each audio track within the folder
      containing the same <i>file</i> is encoded to the FLAC codec. Both the
      FFV1 and FLAC contents are then muxed into a single Matroska container
      (.mkv).
    <div>&#x00A0;</div>
    The image filenames must end in a complete number sequence. By entering one
      <i>file</i> within this sequence <b>RAWcooked</b> will parse every image
      in the correct order.</dd>
</dl>
<dl class="Bl-tag">
  <dt><i>file</i></dt>
  <dd><b>is a Matroska container (.mkv):</b>
    <div>&#x00A0;</div>
    Decodes the Matroska file back to the original RAW image sequence, including
      restoration of the original metadata and sidecar files. It is important to
      stress that the encoded files can be fully decoded, and that this process
      will create bit-by-bit identical files to the originals. Not only is the
      image and audio content fully restored, but also all enclosed metadata and
      all of the file's characteristics. Therefore, an encoded and decoded RAW
      file cannot be differentiated from its original.</dd>
</dl>
<h1 class="Sh" title="Sh" id="OPTIONS"><a class="permalink" href="#OPTIONS">OPTIONS</a></h1>
<h2 class="Ss" title="Ss" id="GENERAL_OPTIONS"><a class="permalink" href="#GENERAL_OPTIONS">GENERAL
  OPTIONS</a></h2>
<dl class="Bl-tag">
  <dt><b>--help |<b> -h</b></b></dt>
  <dd>Displays the help guide.</dd>
</dl>
<dl class="Bl-tag">
  <dt><b>--version</b></dt>
  <dd>Tells you which installed version you are using.</dd>
</dl>
<dl class="Bl-tag">
  <dt><b>--store-license value</b></dt>
  <dd>Set the license key to value and store on hard drive. (license is stored
      in ~/.config/RAWcooked/Config.txt on Linux/Mac,
      %APPDATA%/RAWcooked/Config.txt on Windows)</dd>
</dl>
<dl class="Bl-tag">
  <dt><b>--show-license</b></dt>
  <dd>Displays information about the installed license.</dd>
</dl>
<dl class="Bl-tag">
  <dt><b>--attachment-max-size <i>value</i> | <b>-s </b><i>value</i></b></dt>
  <dd>Set maximum size of attachments to <i>value</i> (in bytes).
    <div>&#x00A0;</div>
    The default value is <i>1048576</i>.</dd>
</dl>
<dl class="Bl-tag">
  <dt><b>--check <i>value</i></b></dt>
  <dd>Switch the check function on or off. Be aware check function can be
      demanding of time and processor usage.
    <div>&#x00A0;</div>
     <i>partial</i> (or <i>0</i>) is quicker but may lead to partial
      reversibility with files that do not conform.
    <div>&#x00A0;</div>
     <i>full</i> (or <i>1</i>) is slower but guarantees reversibility, for
      example with DPX where the bits do not have any zero padding included.
    <div>&#x00A0;</div>
    The default value is 'partial'.</dd>
</dl>
<dl class="Bl-tag">
  <dt><b>--display-command |<b> -d</b></b></dt>
  <dd>When an external encoder/decoder is used, display the command to launch
      instead of just launching it.</dd>
</dl>
<dl class="Bl-tag">
  <dt><b>--output-name <i>value</i> | <b>-o </b><i>value</i></b></dt>
  <dd>Set the name of the output file or folder to <i>value</i>.
    <div>&#x00A0;</div>
    The default output value is opposite to the input. Expect
      <i>${Input}.mkv</i> if the input is a folder, or <i>${Input}.RAWcooked</i>
      if input is a file, such as a DPX.</dd>
</dl>
<dl class="Bl-tag">
  <dt><b>--rawcooked-file-name <i>value</i> | <b>-r </b><i>value</i></b></dt>
  <dd>Set during encoding, or retrieve by decoding, the name of the
      <b>RAWcooked</b> reversibility data file to <i>value</i>.
    <div>&#x00A0;</div>
    The default name is <i>${Input}.rawcooked_reversibility_data</i>.
    <div>&#x00A0;</div>
     <b>Note:</b> This file is deleted after encoding if the <b>RAWcooked</b>
      reversibility data file is embedded in the output Matroska wrapper during
      encoding.
    <div>&#x00A0;</div>
     <b>Note:</b> Not yet implemented for decoding.</dd>
</dl>
<dl class="Bl-tag">
  <dt><b>--quiet</b></dt>
  <dd>Do not show information related to RAWcooked.
    <div>&#x00A0;</div>
    External encoder or decoder may need an additional option.</dd>
</dl>
<dl class="Bl-tag">
  <dt><b>-y</b></dt>
  <dd>Automatic yes to prompts.
    <div>&#x00A0;</div>
    Assume <i>yes</i> in answer to all prompts, and run non-interactively.</dd>
</dl>
<dl class="Bl-tag">
  <dt><b>-n</b></dt>
  <dd>Automatic no to prompts.
    <div>&#x00A0;</div>
    Assume <i>no</i> as answer to all prompts, and run non-interactively.</dd>
</dl>
<h2 class="Ss" title="Ss" id="ACTIONS"><a class="permalink" href="#ACTIONS">ACTIONS</a></h2>
<dl class="Bl-tag">
  <dt><b>--all</b></dt>
  <dd>Same as --info --decode --encode --hash --conch --coherency
      --check-padding --check (see below)</dd>
</dl>
<dl class="Bl-tag">
  <dt><b>--none</b></dt>
  <dd>Same as --no-info --no-decode --no-encode --no-hash --no-conch
      --no-coherency --quick-check-padding --quick-check (see below)</dd>
</dl>
<dl class="Bl-tag">
  <dt><b>--check</b></dt>
  <dd>Check that the encoded file can be correctly decoded.
    <div>&#x00A0;</div>
    If input is raw content, encode then check that output would be same as the
      input content.
    <div>&#x00A0;</div>
    If input is compressed content, check that output would be same as the
      original content.
    <div>&#x00A0;</div>
    Disable decoding.</dd>
</dl>
<dl class="Bl-tag">
  <dt><b>--quick-check</b></dt>
  <dd>Do quick coherency checks of the encoded file. It permits to check that
      the file seems healthy without the time and processor usage of the full
      check.
    <div>&#x00A0;</div>
    Is ignored in case of compressed content.
    <div>&#x00A0;</div>
    This is the default, but may change in the future.</dd>
</dl>
<dl class="Bl-tag">
  <dt><b>--no-check</b></dt>
  <dd>Don't run any checks (see above).
    <div>&#x00A0;</div>
    This is the default, but may change in the future.</dd>
</dl>
<dl class="Bl-tag">
  <dt><b>--info</b></dt>
  <dd>Provide extra information about the compresssed file, for example the
      presence of hash of the raw data.
    <div>&#x00A0;</div>
    Disable decoding.</dd>
</dl>
<dl class="Bl-tag">
  <dt><b>--no-info</b></dt>
  <dd>Don't provide extra information (see above).
    <div>&#x00A0;</div>
    This is the default, but may change in the future.</dd>
</dl>
<dl class="Bl-tag">
  <dt><b>--check-padding</b></dt>
  <dd>Run padding checks. Be aware check function can be demanding of time and
      processor usage.
    <div>&#x00A0;</div>
    It is a slower process but guarantees reversibility, for example with DPX
      files that have bits with no zero padding.</dd>
</dl>
<dl class="Bl-tag">
  <dt><b>--quick-check-padding</b></dt>
  <dd>Switch to --check-padding or --no-check-padding depending on what is found
      in the first image.
    <div>&#x00A0;</div>
    The program will stop with an error code if --check is not used at the same
      time and zero-padding bits are in the content, asking to choose what to
      do.
    <div>&#x00A0;</div>
    This is the default, but may change in the future.</dd>
</dl>
<dl class="Bl-tag">
  <dt><b>--no-check-padding</b></dt>
  <dd>Do not run padding checks, as they are demanding of time and processor
      usage.
    <div>&#x00A0;</div>
    This method is quicker, but be aware it may lead to partial reversibility
      with files that do no conform.</dd>
</dl>
<dl class="Bl-tag">
  <dt><b>--coherency</b></dt>
  <dd>Checks that the package and contents are coherent.
    <div>&#x00A0;</div>
    This is currently partially implemented.
    <div>&#x00A0;</div>
    This is default, but may change in the future.</dd>
</dl>
<dl class="Bl-tag">
  <dt><b>--no-coherency</b></dt>
  <dd>Do not carry out coherency check (see above).</dd>
</dl>
<dl class="Bl-tag">
  <dt><b>--conch</b></dt>
  <dd>Conformance check of the format, effective only when format is supported.
    <div>&#x00A0;</div>
    This is currently partially implemented for DPX.</dd>
</dl>
<dl class="Bl-tag">
  <dt><b>--no-conch</b></dt>
  <dd>Do not carry out conformance check (see above).
    <div>&#x00A0;</div>
    This is default, but may change in the future.</dd>
</dl>
<dl class="Bl-tag">
  <dt><b>--decode</b></dt>
  <dd>Encode a compressed stream into audio-visual RAW data.
    <div>&#x00A0;</div>
    This is default.</dd>
</dl>
<dl class="Bl-tag">
  <dt><b>--no-decode</b></dt>
  <dd>Do not carry out decode (see above).</dd>
</dl>
<dl class="Bl-tag">
  <dt><b>--encode</b></dt>
  <dd>Encode audio-visual RAW data into a compressed stream.
    <div>&#x00A0;</div>
    This is default.</dd>
</dl>
<dl class="Bl-tag">
  <dt><b>--no-encode</b></dt>
  <dd>Do not carry out encode (see above).</dd>
</dl>
<dl class="Bl-tag">
  <dt><b>--hash</b></dt>
  <dd>Compute the hash of audio-visual RAW data files.
    <div>&#x00A0;</div>
    This permits a reversibility check without the original files.</dd>
</dl>
<dl class="Bl-tag">
  <dt><b>--no-hash</b></dt>
  <dd>Do not compute or test the hash of the file (see above).
    <div>&#x00A0;</div>
    This is default, but may change in the future.</dd>
</dl>
<dl class="Bl-tag">
  <dt><b>--framemd5</b></dt>
  <dd>Compute the framemd5 of input frames and store it to a sidecar file.
    <div>&#x00A0;</div>
    See FFmpeg framemd5 documentation for more information.</dd>
</dl>
<dl class="Bl-tag">
  <dt><b>--framemd5-name <i>value</i></b></dt>
  <dd>Set the name of the framemd5 file to <i>value</i>.
    <div>&#x00A0;</div>
    Default value is <i>${Input}.framemd5</i>.</dd>
</dl>
<dl class="Bl-tag">
  <dt><b>--no-framemd5</b></dt>
  <dd>Do not compute of framemd5 of input frames. (see above).&quot;
    <div>&#x00A0;</div>
    Is default.</dd>
</dl>
<h2 class="Ss" title="Ss" id="INPUT_RELATED_OPTIONS"><a class="permalink" href="#INPUT_RELATED_OPTIONS">INPUT
  RELATED OPTIONS</a></h2>
<dl class="Bl-tag">
  <dt><b>--file</b></dt>
  <dd>Unlock the compression of files, for example with .dpx or .wav.</dd>
</dl>
<dl class="Bl-tag">
  <dt><b>-framerate <i>value</i></b></dt>
  <dd>Force the video frame rate value to <i>value</i>.
    <div>&#x00A0;</div>
    Default frame rate value is found in the image file metadata, if available.
      Otherwise it will default to <i>24</i>.</dd>
</dl>
<h2 class="Ss" title="Ss" id="ENCODING_RELATED_OPTIONS"><a class="permalink" href="#ENCODING_RELATED_OPTIONS">ENCODING
  RELATED OPTIONS</a></h2>
<dl class="Bl-tag">
  <dt><b>-c:a <i>value</i></b></dt>
  <dd>Use this command to force the audio encoding format to <i>value</i>:
      <i>copy</i> (for example copy PCM to PCM, without modification),
      <i>FLAC</i>
    <div>&#x00A0;</div>
    The default value is <i>FLAC</i>.</dd>
</dl>
<dl class="Bl-tag">
  <dt><b>-c:v <i>value</i></b></dt>
  <dd>Force the video encoding format <i>value</i>: only <i>ffv1</i> is
      currently allowed, which is the default value.</dd>
</dl>
<dl class="Bl-tag">
  <dt><b>-coder <i>value</i></b></dt>
  <dd>If video encoding format is <i>ffv1</i>, set the Coder to <i>value</i>:
      <i>0</i> (Golomb-Rice), <i>1</i> (Range Coder), <i>2</i> (Range Coder with
      custom state transition table).
    <div>&#x00A0;</div>
    The default value is <i>1</i>.</dd>
</dl>
<dl class="Bl-tag">
  <dt><b>-context <i>value</i></b></dt>
  <dd>If the video encoding format is <i>ffv1</i>, set the Context to
      <i>value</i>: <i>0</i> (small), <i>1</i> (large).
    <div>&#x00A0;</div>
    The default value is <i>0</i>.</dd>
</dl>
<dl class="Bl-tag">
  <dt><b>-format <i>value</i></b></dt>
  <dd>Set the container format to <i>value</i>: only <i>matroska</i> is
      currently allowed, which is the default value.</dd>
</dl>
<dl class="Bl-tag">
  <dt><b>-g <i>value</i></b></dt>
  <dd>If video encoding format is <i>ffv1</i>, set the GOP size to <i>value</i>
      <i>1</i> (generates a strict intra-frame bitstream), <i>0</i> (allows
      adaptable context model across frames).
    <div>&#x00A0;</div>
    The default value is <i>1</i>. Ensure you leave the setting at <i>1</i> for
      archival use.</dd>
</dl>
<dl class="Bl-tag">
  <dt><b>-level <i>value</i></b></dt>
  <dd>The video encoding format <i>ffv1</i> can have Version set to
      <i>value</i>: <i>0</i>, <i>1</i>, <i>3</i>.
    <div>&#x00A0;</div>
    The default value is the latest version <i>3</i>.</dd>
</dl>
<dl class="Bl-tag">
  <dt><b>-slicecrc <i>value</i></b></dt>
  <dd>If video encoding format is <i>ffv1</i>, you can set the CRC checksum to
      <i>value</i>: <i>0</i> (CRC checksums off), <i>1</i> (CRC checksum on).
    <div>&#x00A0;</div>
    The default value is <i>1</i>.</dd>
</dl>
<dl class="Bl-tag">
  <dt><b>-slices <i>value</i></b></dt>
  <dd>If the video encoding format is <i>ffv1</i>, you can set the multithreaded
      encoding slices to <i>value</i>: any integer over 1 (it is recommended to
      use a figure divisible by your workstations CPU core processors such as 2,
      4, 6, 9, 16, 24...).
    <div>&#x00A0;</div>
    The default value is variable between <i>16</i> and <i>512</i>, depending on
      the video frame size and depth.</dd>
</dl>
<h1 class="Sh" title="Sh" id="COPYRIGHT"><a class="permalink" href="#COPYRIGHT">COPYRIGHT</a></h1>
Copyright (c) 2018-2020 MediaArea.net SARL &amp; AV Preservation by reto.ch
<h1 class="Sh" title="Sh" id="LICENSE"><a class="permalink" href="#LICENSE">LICENSE</a></h1>
<b>RAWcooked</b> is released under a BSD License.
<h1 class="Sh" title="Sh" id="DISCLAIMER"><a class="permalink" href="#DISCLAIMER">DISCLAIMER</a></h1>
<b>RAWcooked</b> is provided &quot;as is&quot; without warranty or support of
  any kind.</div>
<div>
<br>
<table class="foot">
  <tr>
    <td class="foot-date">https://mediaarea.net/RAWcooked</td>
    <td class="foot-os">23.12</td>
  </tr>
</table>
</div>
{% endblock %}
