{% extends 'AppBundle::base.html.twig' %}

{% block title %}MediaArea - Events{% endblock %}
{% block description %}{% trans %}about.page.description{% endtrans %}{% endblock %}
{% block keywords %}{% trans %}about.page.keywords{% endtrans %}{% endblock %}

{% block body %}
<h1>MediaArea Events</h1>
<ul class="events-list">
    <li>
        <h2><strong>2018-02-13, MediaConch at <a href="https://humantalks.com/talks/1176-mediaconch-un-projet-finance-par-l-union-europeenn">Human Talks (Montpellier - France)</a>, Guillaume Roques</strong></h2>
        <div class="media-body media-middle">
            <a href="/Events/2018-02-13_HumanTalks/index.html">MediaConch (Slides HTML)</a><br>
        </div>
    </li>
    <li>
        <h2><strong>2018-02-03, RAWcooked - DPX to FFV1 without loosing metadata at FOSDEM, Jérôme Martinez</strong></h2>
        <div class="media-body media-middle">
            <a href="/Events/2018-02-03_FOSDEM/">Slides (HTML)</a><br>
            <a href="https://fosdem.org/2018/schedule/event/om_rawcooked/" target="_blank">Video</a>
        </div>
    </li>
    <li>
        <h2><strong>2017-11-10, MediaConch - conformance checker at <a href="https://mediaarea.net/MediaConch/notimetowait2.html">No Time To Wait 2</a>, Jérôme Martinez</strong></h2>
        <div class="media-body media-middle">
            <a href="/Events/2017-11-10_NTTW/index.html">MediaConch (Slides HTML)</a><br>
        </div>
    </li>
    <li>
        <h2><strong>2017-11-10, RAWcooked - DPX to FFV1 without loosing metadata at <a href="https://mediaarea.net/MediaConch/notimetowait2.html">No Time To Wait 2</a>, Jérôme Martinez</strong></h2>
        <div class="media-body media-middle">
            <a href="/Events/2017-11-10_NTTW_RAWcooked/index.html">RAWcooked (Slides HTML)</a>
        </div>
    </li>
    <li>
        <h2><strong>2017-09-20, Checking Audiovisual Conformance at <a href="http://2017.iasa-web.org/">IASA</a>, Dave Rice &amp; Jérôme Martinez</strong></h2>
        <div class="media-left media-middle">
            <a href="https://twitter.com/fileformatology/status/910582200013393928"><img src="/Events/Photos/2017-09-20_IASA_DKMJr0dWkAEGsdU_small.jpg" /></a>
        </div>
        <div class="media-body media-middle">
            <a href="/Events/2017-09-20_IASA/2017-09-20_IASA_Checking_Audiovisual_Conformance.pptx">Slides (Powerpoint)</a><br>
            <a href="/Events/PDF/2017-09-20_IASA_Checking_Audiovisual_Conformance.pdf">Slides (PDF)</a>
        </div>
    </li>
    <li>
        <h2><strong>2017-07-21, State of FFV1 specifications at <a href="https://ietf.org/meeting/99/index">IETF</a>, Jérôme Martinez</strong></h2>
        <div class="media-left media-middle">
            <img src="/Events/Photos/2017-07-21_IETF.png" />
        </div>
        <div class="media-body media-middle">
            <a href="/Events/2017-07-21_IETF/2017-07-21_IETF.html">Slides (HTML)</a><br>
            <a href="/Events/PDF/2017-07-21_IETF.pdf">Slides (PDF)</a>
        </div>
    </li>
    <li>
        <h2><strong>2017-06-27, BWF/MXF/IMF to EBUCore/FIMS at <a href="https://tech.ebu.ch/mdn2017">EBU MDN workshop</a>, Jérôme Martinez</strong></h2>
        <div class="media-body media-middle">
            <a href="/Events/2017-06-27_MDN/">Slides (HTML)</a>
        </div>
    </li>
    <li>
        <h2><strong>2017-05-30, MediaConch at <a href="https://www.eyefilm.nl/en/themes/eye-international-conference">The Reel Thing XL</a>, Jérôme Martinez</strong></h2>
        <div class="media-left media-middle">
            <a href="/Events/Photos/2017-05-30_TRTXL_DBD1STCXUAARAC5.jpg"><img src="/Events/Photos/2017-05-30_TRTXL_DBD1STCXUAARAC5_small.jpg" /></a>
        </div>
        <div class="media-body media-middle">
            <a href="/Events/2017-05-30_TRTXL/">Slides (HTML)</a>
        </div>
    </li>
    <li>
        <h2><strong>2017-03-07, MediaConch at <a href="http://www.preforma-project.eu/workshop-in-padua.html">PREFORMA Innovation Workshop</a>, Jérôme Martinez</strong></h2>
        <div class="media-left media-middle">
            <img src="/Events/2016-04-06_PREFORMA/img/pfo_logo.png" />
        </div>
        <div class="media-body media-middle">
            <a href="/Events/2017-03-07_PREFORMA">Slides (HTML)</a>
        </div>
    </li>
    <li>
        <h2><strong>2017-02-05, Media Analysis Tools at FOSDEM, Jérôme Martinez</strong></h2>
        <div class="media-body media-middle">
            <a href="/Events/2017-02-05_FOSDEM/">Slides (HTML)</a>
        </div>
    </li>
    <li>
        <h2><strong>2016-11-23, MediaConch at <a href="http://preforma-project.eu/experience-workshop.html">PREFORMA Experience Workshop</a>, Jérôme Martinez</strong></h2>
        <div class="media-left media-middle">
            <img src="/Events/2016-04-06_PREFORMA/img/pfo_logo.png" />
        </div>
        <div class="media-body media-middle">
            <a href="/Events/2016-11-23_PREFORMA">Slides (HTML)</a><br/><a href="/Events/PDF/2016-11-23_PREFORMA.pdf">Slides (PDF)</a>
        </div>
    </li>
    <li>
        <h2><strong>2016-10-05, PREFORMA and MediaConch at <a href="http://www.ipres2016.ch/">IPRES 2016</a>, Ashley Blewer</strong></h2>
        <div class="media">
            <div class="media-left media-middle">
                <img src="/Events/Photos/2016-10-05_iPRES.png" class="media-object"/>
            </div>
            <div class="media-body media-middle">
                <a href="https://docs.google.com/presentation/d/1i31RE5pQM0SHm8Y_OYm9mt9RtH-OVmvjRjVayDr7vzw">Slides (Google Docs)</a><br/><a href="/Events/PDF/2016-10-03_iPRES.pdf">Slides (PDF)</a><br/><a href="/Events/PDF/2016-10-03_iPRES_Status_of_CELLAR.pdf">Status of CELLAR (PDF)</a>
            </div>
        </div>
    </li>
    <li>
        <h2><strong>2016-09-27, CELLAR / Matroska / FFV1 at <a href="http://2016.iasa-web.org/">IASA</a>, Dave Rice</strong></h2>
        <div class="media-left media-middle">
            <a href="/Events/Photos/2016-09-27_IASA_CtXVDRPWYAAaCtK.jpg"><img src="/Events/Photos/2016-09-27_IASA_CtXVDRPWYAAaCtK_small.jpg" /></a>
        </div>
        <div class="media-body media-middle">
            <a href="https://docs.google.com/presentation/d/1ptxACW8r3pWmzp-YSnyzMgznpoSTNF5l0xntzeXB8Ho">Slides (Google Docs)</a><br/><a href="/Events/PDF/2016-09-27_IASA.pdf">Slides (PDF)</a>
        </div>
    </li>
    <li>
        <h2><strong>2016-09-10, MediaInfo at IBC (<a href="https://tech.ebu.ch/oss-meetup-2016">EBU booth, Open Source Meetup</a>), Jérôme Martinez</strong></h2>
        <div class="media-left media-middle">
            <a href="/Events/Photos/2016-09-11_IBC_CsAAfGHWcAAi1ky.jpg"><img height="128" src="/Events/Photos/2016-09-11_IBC_CsAAfGHWcAAi1ky_small.jpg" /></a>
        </div>
        <div class="media-body media-middle">
            <a href="/Events/2016-09-10_IBC_MediaInfo">Slides (HTML)</a> (<a href="/Events/PDF/2016-09-10_IBC_MediaInfo.zip">zip</a>)<br/><a href="/Events/PDF/2016-09-10_IBC_MediaInfo.pdf">Slides (PDF)</a>
        </div>
    </li>
    <li>
        <h2><strong>2016-09-10, MediaInfo and FIMS at IBC (<a href="https://tech.ebu.ch/events/2016/ibc-2016">EBU booth</a>), Jérôme Martinez</strong></h2>
        <div class="media-left media-middle">
            <img height="96" src="/Events/2016-09-10_IBC_MediaInfo/img/ebu.png" />
        </div>
        <div class="media-body media-middle">
            <a href="/Events/2016-09-10_IBC_MediaInfoAndFIMS">Slides (HTML)</a><br/><a href="/Events/PDF/2016-09-10_IBC_MediaInfoAndFIMS.pdf">Slides (PDF)</a>
        </div>
    </li>
    <li>
        <h2><strong>2016-07-18, MediaConch at <a href="https://mediaarea.net/MediaConch/notimetowait.html">No time to wait! symposium</a>, Jérôme Martinez</strong></h2>
        <div class="media-left media-middle">
            <a href="/Events/Photos/2016-07-18_Symposium_28330692522_2db9300a82_k.jpg"><img height="128" src="/Events/Photos/2016-07-18_Symposium_28330692522_2db9300a82_k_small.jpg" /></a>
        </div>
        <div class="media-body media-middle">
            <a href="/Events/2016-07-18_Symposium">Slides (HTML)</a><br/><a href="/Events/PDF/2016-07-18_Symposium.pdf">Slides (PDF)</a>
        </div>
    </li>
    <li>
        <h2><strong>2016-04-07, MediaConch at <a href="http://www.preforma-project.eu/open-source-workshop.html">PREFORMA Open Source Preservation Workshop</a>, Jérôme Martinez</strong></h2>
        <div class="media-left media-middle">
            <a href="/Events/Photos/2016-04-06_PREFORMA_CfcZ4lMUIAEaDpJ.jpg"><img src="/Events/Photos/2016-04-06_PREFORMA_CfcZ4lMUIAEaDpJ_small.jpg" /></a>
        </div>
        <div class="media-body media-middle">
            <a href="/Events/2016-04-06_PREFORMA">Slides (HTML)</a><br/><a href="/Events/PDF/2016-01-30_FOSDEM.pdf">Slides (PDF)</a>
        </div>
    </li>
    <li>
        <h2><strong>2016-03-10, MediaConch at Code4Lib, Ashley Blewer</strong></h2>
        <div class="media-left media-middle">
            <a href="//youtu.be/pSlJr8L8dpA?t=53m2s"><img src="/Events/Photos/2016-03-10_Code4Lib_small.jpg" /></a>
        </div>
        <div class="media-body media-middle">
            <a href="/Events/2016-03-10_Code4Lib">Slides (HTML)</a><br/><a href="//youtu.be/pSlJr8L8dpA?t=53m2s">Video</a>
        </div>
    </li>
    <li>
        <h2><strong>2016-03-08, MediaConch at <a href="http://www.jts2016.org/">JTS</a>, Erwin Verbruggen</strong></h2>
        <div class="media-left media-middle">
            <a href="/Events/Photos/2016-03-08_JTS.jpg"><img src="/Events/Photos/2016-03-08_JTS_small.jpg" /></a>
        </div>
        <div class="media-body media-middle">
            <a href="/Events/2016-03-08_JTS/20160308_preforma-jts_everbruggen.pptx">Slides (Powerpoint)</a><br/><a href="http://fr.slideshare.net/everbruggen/check-your-standard-preforma-and-mediaconch">Slides (Online)</a><br/><a href="/Events/PDF/2016-03-08_JTS.pdf">Slides (PDF)</a>
        </div>
    </li>
    <li>
        <h2><strong>2016-01-30, MediaConch at FOSDEM, Jérôme Martinez</strong></h2>
        <div class="media-left media-middle">
            <a href="//ftp.fau.de/fosdem/2016/h2214/mediaconch.mp4"><img src="/Events/Photos/2016-01-30_FOSDEM_small.jpg" /></a>
        </div>
        <div class="media-body media-middle">
            <a href="/Events/2016-01-30_FOSDEM/">Slides (HTML)</a><br/><a href="/Events/PDF/2016-01-30_FOSDEM.pdf">Slides (PDF)</a><br /><a href="//ftp.fau.de/fosdem/2016/h2214/mediaconch.mp4">Video</a>
        </div>
    </li>
    <li>
        <h2><strong>2015-11-20, MediaConch at AMIA, Ashley Blewer / Dave Rice</strong></h2>
        <div class="media-left media-middle">
            <a href="/Events/Photos/2015-11-20_AMIA.html"><img src="/Events/Photos/2015-11-20_AMIA_small.jpg" /></a>
        </div>
        <div class="media-body media-middle">
            <a href="/Events/2015-11-20_AMIA/">Slides (HTML)</a><br/> <a href="/Events/PDF/2015-11-20_AMIA.pdf">Slides (PDF)</a>
        </div>
    </li>
    <li>
        <h2><strong>2015-10-08, FFV1 and MediaConch at FIAT/IFTA, Tessa Fallon / Bert Lemmens / Peter Bubestinger</strong></h2>
        <div class="media-body media-middle">
            <a href="//mediaarea.net/MediaConch/2015/11/04/MediaArea-presents-at-FIAT-IFTA/">Blog post about the workshop</a>
        </div>
    </li>
    <li>
        <h2><strong>2015-09-27, MediaConch at IASA, Herman Lewetz</strong></h2>
        <div class="media-body media-middle">
            <a href="/Events/2015-09-27_IASA/2015-09-27_IASA.pptx">Slides (Powerpoint)</a>, <a href="/Events/PDF/2015-09-27_IASA.pdf">Slides (PDF)</a>, <a href="//mediaarea.net/MediaConch/2015/10/22/iasa-presentation/">Paper (HTML)</a>
        </div>
    </li>
    <li>
        <h2><strong>2015-07-22, IETF standardization of FFV1 and Matroska, Tessa Fallon</strong></h2>
        <div class="media-body media-middle">
            <a href="//datatracker.ietf.org/meeting/93/agenda/dispatch/">IETF Agenda</a>
        </div>
    </li>
    <li>
        <h2><strong>2015-06-10, MediaInfo at Metadata Developer Network (MDN), Jérôme Martinez</strong></h2>
        <div class="media-body media-middle">
            <a href="/Events/2015-06-10_MDN">Slides (HTML)</a>, <a href="/Events/PDF/2015-06-10_MDN.pdf">Slides (PDF)</a>
        </div>
    </li>
    <li>
        <h2><strong>2015-02-11, PREFORMA at Code4Lib, Ashley Blewer</strong></h2>
        <div class="media-body media-middle">
            <a href="/Events/2015-02-11_Code4Lib">Slides (HTML)</a>, <a href="//www.youtube.com/watch?v=G7kgcZh2zeY&feature=youtu.be&t=2h20m47s> ">Video</a>
        </div>
    </li>
    <li>
        <h2><strong>2015-01-31, Enabling Preservation by means of Open Source at FOSDEM, Dave Rice</strong></h2>
        <div class="media-body media-middle">
            <a href="/Events/PDF/2015-01-31_FOSDEM.pdf">Slides (PDF)</a>, <a href="//video.fosdem.org/2015/devroom-open_media/enabling_video_preservation.mp4> ">Video</a>
        </div>
    </li>
  </ul>
{% endblock %}
