{% extends 'AppBundle::base.html.twig' %}

{% block title %}MediaArea - Legal{% endblock %}
{% block description %}{% trans %}about.page.description{% endtrans %}{% endblock %}
{% block keywords %}{% trans %}about.page.keywords{% endtrans %}{% endblock %}

{% block body %}
<h2>MediaArea</h2>
<a href="http://societe.com/societe/mediaarea-net-500291844.html">MediaArea.net</a> <a href="https://en.wikipedia.org/wiki/Societe_a_responsabilite_limitee">SARL</a> (French for limited liability company) is a French company.<br>
<div class="address">
    <b>MediaArea.net</b><br>
    RCS Chambery : 500 291 844 00016<br>
    Address : Chemin du Vernay – 73190 Curienne  – France
</div>

<h2>Hosting</h2>
MediaArea.net website is hosted on multi providers :<br>
<div class="address">
    <b>OVH</b><br>
    SAS au capital de 10 069 020 €<br>
    RCS Lille Métropole 424 761 419 00045<br>
    Address : 2 rue Kellermann – 59100 Roubaix – France<br>
</div>
<br>
<div class="address">
    <b>Linode</b><br>
    LLC<br>
    Address : 329 E. Jimmie Leeds Rd, Ste. A – Galloway, NJ 08205 – USA<br>
</div>
<br>
<div class="address">
    <b>Exigent</b><br>
    ABN: 93 612 205 446<br>
    Address : PO Box 463, Springwood, QLD, 4127 – Australia
</div>

<h2>Website</h2>
Theme : inspired by <a href="https://code.videolan.org/VideoLAN.org/websites/tree/master/www.videolan.org" target="_blank">VideoLAN website</a>, which has been designed by <a href="http://www.madebyargon.com" target="_blank">Made By Argon</a>.<br>
Development and maintenance : <a href="https://www.sysndev.fr" target="_blank">SysnDev</a>
{% endblock %}
