{% extends 'AppBundle::base.html.twig' %}

{% block title %}MediaArea - Professional services{% endblock %}
{% block description %}Professional services offered by MediaArea{% endblock %}
{% block keywords %}professional services development consulting support{% endblock %}

{% block body %}
<div class="table-responsive">
<table class="download table table-bordered table-condensed prices">
 <tbody>
  <tr>
   <th>(VAT excluded)</th>
   <th>EUR</th>
   <th>GBP</th>
   <th>USD</th>
  </tr>
  <tr>
   <th colspan="4" class="noMargin"><h2>Development and consulting</h2></th>
  </tr>
  <tr>
   <td>
    Per hour, <acronym title="Code remains the property of MediaArea.net, as such it can be included in future releases of the tool">shared copyright (including open-source version)</acronym>
   </td>
   <td class="text-center">125&#x202F;€</td>
   <td class="text-center">£&#x202F;115</td>
   <td class="text-center">$&#x202F;140</td>
  </tr>
  <tr>
   <td>
    Medium priority project (within 1 month + duration of the project, 10 hours per week)
   </td>
   <td colspan="3" class="text-center">+25%</td>
  </tr>
  <tr>
   <td>
    High priority project (within 2 weeks + duration of the project, 20 hours per week)
   </td>
   <td colspan="3" class="text-center">+50%</td>
  </tr>
  <tr>
   <td>
    <acronym title="Code remains the property of the client, it cannot be reused or published without Client's authorization">Copyright to client</acronym> or not useful for the project (at the own discretion of the project leader)
   </td>
   <td colspan="3" class="text-center">+50%</td>
  </tr>
  <tr>
   <th colspan="4" class="noMargin"><h2>Support with guaranty of service</h2></th>
  </tr>
  <tr>
   <td colspan="4">
    <ul>
     <li>To be used within a year. Customer selects the support starting date.</li>
     <li>Defects only (no feature request, except if it consumes less than 10 hours).</li>
     <li>Balance Notification: Following the completion of each activity, a Balance Notification is sent (time per activity and remaining hours).</li>
     <li>When the number of reserved hours is used up, the contract is terminated and another package must be bought if the customer wants more support</li>
     <li>If the complete number of hours is not used up within a year, half of the remaining hours can be used for feature development (at low priority)</li>
    </ul>
   </td>
  </tr>
  <tr id="basic">
   <td>
    <table class="download table table-bordered table-condensed">
     <tbody>
      <tr>
       <th>Basic support</th>
       <th width="5%">&nbsp;</th>
       <th colspan="3" class="Accent">Severity</th>
      </tr>
      <tr>
       <th>4 hours of support to be used within a year.</th>
       <th>&nbsp;</th>
       <th>Critical</th>
       <th>Major</th>
       <th>Minor</th>
      </tr>
      <tr>
       <td>First response time (receipt notice, review, work estimate)</td>
       <td>&nbsp;</td>
       <td>1&nbsp;week</td>
       <td>1&nbsp;week</td>
       <td>1&nbsp;week</td>
      </tr>
      <tr>
       <td>After validation of the proposal by the customer, correction if the bug <b>can</b> be reproduced in the MediaArea.net SARL laboratory with a penalty of 25&#x202F;€/day (limited to 50% of the price per year) for failure to deliver.</td>
       <td>&nbsp;</td>
       <td>2&nbsp;week</td>
       <td>4&nbsp;weeks</td>
       <td>Next&nbsp;release</td>
      </tr>
      <tr>
       <td>Time commitment toward resolution if the bug <b>cannot</b> be reproduced in the MediaArea.net SARL laboratory. Client must provide SSH access to the machine with the problem, a compiler and the necessary access authorizations.</td>
       <td>&nbsp;</td>
       <td>2&nbsp;hours&nbsp;per&nbsp;week</td>
       <td>1&nbsp;hour&nbsp;per&nbsp;week</td>
       <td>Next&nbsp;release</td>
      </tr>
     <tbody>
    </table>
   </td>
   <td class="text-center">600&#x202F;€</td>
   <td class="text-center">£&#x202F;550</td>
   <td class="text-center">$&#x202F;650</td>
  </tr>
  <tr id="bronze">
   <td>
    <table class="download table table-bordered table-condensed">
     <tbody>
      <tr>
       <th>Bronze support</th>
       <th width="5%">&nbsp;</th>
       <th colspan="3" class="Accent">Severity</th>
      </tr>
      <tr>
       <th>15 hours of support to be used within a year.</th>
       <th>&nbsp;</th>
       <th>Critical</th>
       <th>Major</th>
       <th>Minor</th>
      </tr>
      <tr>
       <td>First response time (receipt notice, review, work estimate)</td>
       <td>&nbsp;</td>
       <td>3&nbsp;days</td>
       <td>3&nbsp;days</td>
       <td>3&nbsp;days</td>
      </tr>
      <tr>
       <td>After validation of the proposal by the customer, correction if the bug <b>can</b> be reproduced in the MediaArea.net SARL laboratory with a penalty of 50&#x202F;€/day (limited to 50% of the price per year) for failure to deliver.</td>
       <td>&nbsp;</td>
       <td>1&nbsp;week</td>
       <td>2&nbsp;weeks</td>
       <td>Next&nbsp;release</td>
      </tr>
      <tr>
       <td>Time commitment toward resolution if the bug <b>cannot</b> be reproduced in the MediaArea.net SARL laboratory. Client must provide SSH access to the machine with the problem, a compiler and the necessary access authorizations.</td>
       <td>&nbsp;</td>
       <td>1&nbsp;day&nbsp;per&nbsp;week</td>
       <td>4&nbsp;hours&nbsp;per&nbsp;week</td>
       <td>Next&nbsp;release</td>
      </tr>
     <tbody>
    </table>
   </td>
   <td class="text-center">1&#x202F;800&#x202F;€</td>
   <td class="text-center">£&#x202F;1&#x202F;650</td>
   <td class="text-center">$&#x202F;1&#x202F;950</td>
  </tr>
  <tr id="silver">
   <td>
    <table class="download table table-bordered table-condensed">
     <tbody>
      <tr>
       <th>Silver support</th>
       <th width="5%">&nbsp;</th>
       <th colspan="3" class="Accent">Severity</th>
      </tr>
      <tr>
       <th>40 hours of support to be used within a year.</th>
       <th>&nbsp;</th>
       <th>Critical</th>
       <th>Major</th>
       <th>Minor</th>
      </tr>
      <tr>
       <td>First response time (receipt notice, review, work estimate)</td>
       <td>&nbsp;</td>
       <td>2&nbsp;days</td>
       <td>2&nbsp;days</td>
       <td>2&nbsp;days</td>
      </tr>
      <tr>
       <td>After validation of the proposal by the customer, correction if the bug <b>can</b> be reproduced in the MediaArea.net SARL laboratory with a penalty of 100&#x202F;€/day (limited to 50% of the price per year) for failure to deliver.</td>
       <td>&nbsp;</td>
       <td>1&nbsp;week</td>
       <td>2&nbsp;weeks</td>
       <td>Next&nbsp;release</td>
      </tr>
      <tr>
       <td>Time commitment toward resolution if the bug <b>cannot</b> be reproduced in the MediaArea.net SARL laboratory. Client must provide SSH access to the machine with the problem, a compiler and the necessary access authorizations.</td>
       <td>&nbsp;</td>
       <td>2&nbsp;days&nbsp;per&nbsp;week</td>
       <td>1&nbsp;day&nbsp;per&nbsp;week</td>
       <td>Next&nbsp;release</td>
      </tr>
     <tbody>
    </table>
   </td>
   <td class="text-center">4&#x202F;800&#x202F;€</td>
   <td class="text-center">£&#x202F;4&#x202F;400</td>
   <td class="text-center">$&#x202F;5&#x202F;200</td>
  </tr>
  <tr id="gold">
   <td>
    <table class="download table table-bordered table-condensed">
     <tbody>
      <tr>
       <th>Gold support</th>
       <th width="5%">&nbsp;</th>
       <th colspan="3" class="Accent">Severity</th>
      </tr>
      <tr>
       <th>80 hours of support to be used within a year.</th>
       <th>&nbsp;</th>
       <th>Critical</th>
       <th>Major</th>
       <th>Minor</th>
      </tr>
      <tr>
       <td>First response time (receipt notice, review, work estimate)</td>
       <td>&nbsp;</td>
       <td>1&nbsp;day</td>
       <td>1&nbsp;day</td>
       <td>1&nbsp;day</td>
      </tr>
      <tr>
       <td>After validation of the proposal by the customer, correction if the bug <b>can</b> be reproduced in the MediaArea.net SARL laboratory with a penalty of 150&#x202F;€/day (limited to 50% of the price per year) for failure to deliver.</td>
       <td>&nbsp;</td>
       <td>3&nbsp;days</td>
       <td>1&nbsp;week</td>
       <td>Next&nbsp;release</td>
      </tr>
      <tr>
       <td>Time commitment toward resolution if the bug <b>cannot</b> be reproduced in the MediaArea.net SARL laboratory. Client must provide SSH access to the machine with the problem, a compiler and the necessary access authorizations.</td>
       <td>&nbsp;</td>
       <td>3&nbsp;days&nbsp;per&nbsp;week</td>
       <td>2&nbsp;days&nbsp;per&nbsp;week</td>
       <td>Next&nbsp;release</td>
      </tr>
     <tbody>
    </table>
   </td>
   <td class="text-center">12&#x202F;000&#x202F;€</td>
   <td class="text-center">£&#x202F;11&#x202F;000</td>
   <td class="text-center">$&#x202F;13&#x202F;000</td>
  </tr>
  <tr>
   <td>
    Non-regression tests<br/>
    Per year<br/>
    Before each official release, MediaArea.net SARL does internal tests with the exact client environment, in order to maintain the client software binding in proper working condition<br/>
    Client must provide an autonomous environment test for MediaArea.net SARL laboratory or must provide SSH access to a bed test machine, with a compiler and needed authorizations<br/>
   </td>
   <td class="text-center">2&nbsp;000&nbsp;€</td>
   <td class="text-center">£&#x202F;1&nbsp;800</td>
   <td class="text-center">$&nbsp;2&nbsp;200</td>
  </tr>
 </tbody>
</table>
</div>
{% endblock %}
