{% extends 'AppBundle::base.html.twig' %}

{% block title %}{% trans %}repos.page.title{% endtrans %}{% endblock %}
{% block description %}{% trans %}about.page.description{% endtrans %}{% endblock %}
{% block keywords %}{% trans %}about.page.keywords{% endtrans %}{% endblock %}

{% block body %}
<h1>{% trans %}repos.title{% endtrans %}</h1>

<p>MediaArea softwares repositories are available for automatic update of our softwares for the distributions listed below.<br>
</p>

<p>You can also enable snapshots repository to get the latest development builds of our softwares.</p>
<p>Repositories key fingerprint is: C5CD F62C 7AE0 5CC8 4765 7390 C10E 1109 0EC0 E438</p>
<p>Up to date packages are: mediainfo, mediainfo-gui, mediaconch, mediaconch-gui, qctools, qcli.</p>

<div id='rpm'>
<h2>Commands for rpm based distributions</h2>
<p>For releases repository, download and install <a href='https://mediaarea.net/repo/rpm/releases/repo-MediaArea-1.0-13.noarch.rpm'>this package</a><br>or type the following command in a root terminal:</p>
<table class="download table table-bordered table-condensed">
<thead>
  <tr class="table-header">
    <th style='width: 8%'>Repository</th>
    <th>Command</th>
  </tr>
</thead>
<tbody>
  <tr>
    <th>Releases</th>
    <td><pre>rpm -Uvh https://mediaarea.net/repo/rpm/releases/repo-MediaArea-1.0-13.noarch.rpm</pre></td>
  </tr>
  <tr>
    <th>Snapshots</th>
    <td><pre>rpm -Uvh https://mediaarea.net/repo/rpm/snapshots/repo-MediaArea-snapshots-1.0-13.noarch.rpm</pre></td>
  </tr>
</tbody>
</table>
</div>

<div id='deb'>
<h2>Commands for deb based distributions</h2>
<p>For releases repository, download and install <a href='https://mediaarea.net/repo/deb/repo-mediaarea_1.0-13_all.deb'>this package</a> (don't forget to do 'apt-get update' before trying to install something)<br> or type the following command in a root terminal: </p>
<table class="download table table-bordered table-condensed">
<thead>
<tr class="table-header">
    <th style='width: 8%'>Repository</th>
    <th>Command</th>
</tr>
</thead>
<tbody>
<tr>
    <th>Releases</th>
    <td><pre>wget https://mediaarea.net/repo/deb/repo-mediaarea_1.0-13_all.deb && dpkg -i repo-mediaarea_1.0-13_all.deb && apt-get update</pre></td>
</tr>
<tr>
    <th>Snapshots</th>
    <td><pre>wget https://mediaarea.net/repo/deb/repo-mediaarea-snapshots_1.0-13_all.deb && dpkg -i repo-mediaarea-snapshots_1.0-13_all.deb && apt-get update</pre></td>
</tr>
</tbody>
</table>
</div>

<h2>Supported distributions versions and architectures</h2>
<div id='Debian'>
<h3>Debian</h3>
<table class="download table table-bordered table-condensed">
<thead>
<tr class="table-header">
    <th style='width: 20%'>Version</th>
    <th>Architecture</th>
</tr>
</thead>
<tbody>

<tr>
<td>10 (Buster)</td>
<td>i586, x86_64</td>
</tr>
<tr>
<td>9 (Stretch)</td>
<td>i586, x86_64</td>
</tr>
<tr>
<td>8 (Jessie)</td>
<td>x86_64, i586</td>
</tr>
</tbody>
</table>
</div>
<div id='Raspbian'>
<h3>Raspbian</h3>
<table class="download table table-bordered table-condensed">
<thead>
<tr class="table-header">
    <th style='width: 20%'>Version</th>
    <th>Architecture</th>
</tr>
</thead>
<tbody>
<tr>
<td>10 (Buster)</td>
<td>armv7l, aarch64</td>
</tr>
<tr>
<td>9 (Stretch)</td>
<td>armv7l, aarch64</td>
</tr>
</tbody>
</table>
</div>
<div id='Ubuntu/LinuxMint'>
<h3>Ubuntu/LinuxMint</h3>
<table class="download table table-bordered table-condensed">
<thead>
<tr class="table-header">
    <th style='width: 20%'>Version</th>
    <th>Architecture</th>
</tr>
</thead>
<tbody>

<tr>
<td>Ubuntu 20.04 (Focal Fossa)</td>
<td>x86_64, armv7l aarch64</td>
</tr>
<tr>
<td>Ubuntu 19.10 (Eoan Ermine)</td>
<td>x86_64</td>
</tr>
<tr>
<td>Ubuntu 19.04 (Disco Dingo)</td>
<td>x86_64</td>
</tr>
<tr>
<td>Ubuntu 18.04 (Bionic Beaver)</td>
<td>x86_64, i586</td>
</tr>
<tr>
<td>Ubuntu 16.04 (Xenial Xerus)<br>Linux Mint 18.3 (Sylvia)</td>
<td>i586, x86_64</td>
</tr>
</tbody>
</table>
</div>
<div id='CentOS'>
<h3>CentOS</h3>
<table class="download table table-bordered table-condensed">
<thead>
<tr class="table-header">
    <th style='width: 20%'>Version</th>
    <th>Architecture</th>
</tr>
</thead>
<tbody>

<tr>
<td>8</td>
<td>x86_64</td>
</tr>
<tr>
<td>7</td>
<td>x86_64</td>
</tr>
<tr>
<td>6</td>
<td>x86_64, i586</td>
</tr>
</tbody>
</table>
</div>
<div id='RHEL'>
<h3>RHEL</h3>
<table class="download table table-bordered table-condensed">
<thead>
<tr class="table-header">
    <th style='width: 20%'>Version</th>
    <th>Architecture</th>
</tr>
</thead>
<tbody>

<tr>
<td>7</td>
<td>ppc64, x86_64</td>
</tr>
<tr>
<td>6</td>
<td>i586, x86_64</td>
</tr>
</tbody>
</table>
</div>
<div id='Fedora'>
<h3>Fedora</h3>
<table class="download table table-bordered table-condensed">
<thead>
<tr class="table-header">
    <th style='width: 20%'>Version</th>
    <th>Architecture</th>
</tr>
</thead>
<tbody>

<tr>
<td>32</td>
<td>x86_64, armv7l, aarch64, ppc64le</td>
</tr>
<tr>
<td>31</td>
<td>x86_64, armv7l, aarch64, ppc64le</td>
</tr>
<tr>
<td>30</td>
<td>x86_64, i586, armv7l, aarch64, ppc64le</td>
</tr>
</tbody>
</table>
</div>
<div id='SLE'>
<h3>SLE</h3>
<table class="download table table-bordered table-condensed">
<thead>
<tr class="table-header">
    <th style='width: 20%'>Version</th>
    <th>Architecture</th>
</tr>
</thead>
<tbody>

<tr>
<td>15 SP1</td>
<td>x86_64</td>
</tr>
<tr>
<td>12 SP5</td>
<td>x86_64</td>
</tr>
<tr>
<td>11 SP4</td>
<td>x86_64, i586</td>
</tr>
</tbody>
</table>
</div>
<div id='openSUSE'>
<h3>openSUSE</h3>
<table class="download table table-bordered table-condensed">
<thead>
<tr class="table-header">
    <th style='width: 20%'>Version</th>
    <th>Architecture</th>
</tr>
</thead>
<tbody>

<tr>
<td>Tumbleweed</td>
<td>x86_64, i586</td>
</tr>
<tr>
<td>15.2</td>
<td>x86_64</td>
</tr>
<tr>
<td>Leap 15.1</td>
<td>x86_64</td>
</tr>
</tbody>
</table>
</div>
{% endblock %}
