{% extends 'AppBundle::base.html.twig' %}

{% block title %}Team rules{% endblock %}

{% block body %}
<h1>Team rules</h1>

<p>A team member is an individual liking to work with other MediaArea team members, in cooperation and offering competences for improving and/or advocating open source media analysis tools.</p>

<p>As in October 2017, rules are:</p>
<ul>
<li>Name inclusion is at the sole discretion of Jérôme Martinez with approval of new team member, maybe after suggestion from a team member, don’t ask yourself for inclusion to be a team member</li>
<li>No commitment from the team to provide work to any team member</li>
<li>No commitment from the team member to provide work to the team</li>
<li>Name can be removed or moved to “former team members” page unilaterally by Jérôme Martinez</li>
<li>Team member name can be removed unilaterally by the team member</li>
<li>If someone contacts MediaArea with an hint about a team member, mail is redirected to the team member or is in copy of the answer</li>
<li>Team member agrees to the <a href="https://mediaarea.net/Conduct">code of conduct</a></li>
<li>These terms are non-transferable</li>
</ul>

{% endblock %}
