.mediainfo-file-drop {
    border: 3px dashed #e7e7e7;
    margin: 10px 0;
}

.mediainfo-file-drop p {
    margin: 10px;
}

#mediainfo-format-list.form-control {
    display: inline-block;
    width: inherit;
}

.dropdown-menu {
    width: auto;
    height: auto;
}

.mediainfo-format-list-download-container ul li {
    list-style-type: none;
    margin-left: 0;
}

.mediainfo-tools-container, .mediainfo-tools-container-temp {
    margin-bottom: 10px;
}

.mediainfo-tools-container-temp {
    height: 34px;
}

.mediainfo-report-container .hljs, .mediainfo-report-container h2 {
    background: #f5f5f5;
}

.mediainfo-report-container td {
    padding-left: 5px;
}

.mediainfo-report-container table {
    margin-top: -50px;
}

.mediainfo-report-container table:first-of-type {
    margin-top: -90px;
}

.mediainfo-report-container table:last-of-type {
    margin-bottom: -90px;
}

@media (max-width: 991px) {
    .mediainfo-format-list-download-container, .mediainfo-copy-to-clipboard-container {
        margin-top: 10px;
    }

    .mediainfo-format-list-download-container {
        margin-right: 10px;
    }
}

/* MediaBin */
.mediabin-container {
    margin-bottom: 10px;
}

.mediabin-create-container {
    margin-top: 10px;
}

.mediabin-create-container label {
    padding-right: 0;
}

.mediabin-alert .alert {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 16px;
    padding: 6px 12px;
    line-height: 1.42857143;
}

.mediabin-success a {
    text-decoration: underline;
}

.mediabin-container .panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}
.mediabin-container .panel-heading a.collapsed:after {
    content:"\e080";
}

.mediabin-expiration-with-edit {
    display: inline-block;
    width: inherit;
}

.mediabin-expiration-edit {
    padding-top: 7px;
    display: inline-block;
    cursor: pointer;
}

.mediabin-expiration-cancel {
    cursor: pointer;
}

.mediabin-url-copy-container label {
    line-height: 34px;
    margin-right: 5px;
}

@media (max-width: 991px) {
    .mediabin-url-copy-container {
        margin-top: 15px;
    }
}

#compare.table {
    margin-bottom: 0;
}

#compare.table > tbody > tr > th {
    padding: 2px;
}

.remove-file {
    cursor: pointer;
}

.truncate-cell > div {
	position: relative;
	overflow: hidden;
	height: 24px;
}

.truncate-cell > div > span {
	display: block;
	position: absolute;
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
    line-height: 24px;
}

.truncate-cell > div:after {
	content: attr(title);
	overflow: hidden;
	height: 0;
	display: block;
}

#compare-filter-container {
    min-height: 35px;
}
